
<div class="modal fade my-modal" id="calendarActivityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
    <div style="width: 838px;" class="modal-dialog" data-bind="with:$root.selectedActivity">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Event <span data-bind="visible: $root.createdByUserName"> Created By (<span data-bind="text:$root.createdByUserName"> </span>)</span>  </h4>
            </div>
            <div class="col-lg-12 form-horizontal outerDiv-Padding">
                <div class="col-lg-7">
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                             <label for="owner" class="control-label text-right tooltip-float">To be actioned by</label>
                        </div>
                        <div class="col-lg-7">
                            <select class="form-control" id="owner" data-bind="options: $root.systemUsers, optionsText: 'FullName', optionsValue: 'SystemUserId',value:systemUserId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <label for="activity" class="control-label text-right tooltip-float">Activity Type </label>
                        </div>
                        <div class="col-lg-7">
                            <select class="form-control" id="activity" data-bind="options: $root.activityTypes, optionsText: 'ActivityName', optionsValue: 'ActivityTypeId',value:activityTypeId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <label for="flag" class="control-label text-right tooltip-float">Flag</label>
                        </div>
                        <div class="col-lg-7">
                            <select style="width: 271px !important;" id="flag" data-bind="select2: { formatResult: $root.formatResult,formatSelection: $root.formatSelection }, value: flagId, foreach: $root.sectionFlags">
                                <option style="width: 271px !important;" data-bind="text: FlagName, attr: { 'data-color': FlagColor, value: SectionFlagId }"></option>
                            </select>
                            <i class="fa fa-sort-desc" style="float: right; padding-right: 8px; position: relative; bottom: 25px;"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                          
                        </div>
                        <div class="col-lg-7">
                            <textarea class="form-control bkg-color" placeholder="Description" id="description" rows="4" data-bind="value:activityNotes,validationTooltip:activityNotes"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                             <label for="startDateTime" class="control-label text-right tooltip-float">Start Date </label>
                        </div>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="startDateTime" data-bind="datetimepicker:startDateTime">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <label for="endDateTime" class="control-label text-right tooltip-float">End Date</label>
                        </div>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="endDateTime" data-bind="datetimepicker:endDateTime">
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible:$root.loggedInUserId()===systemUserId()">
                        <div class="col-lg-5 text-right">
                            <label class="control-label text-right tooltip-float"></label>
                        </div>
                        <div class="col-lg-7">
                            <div class="checkbox-nice">
                                <input type="checkbox" id="privateToContact" data-bind="checked:isPrivate" />
                                <label for="privateToContact">Mark as Private </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <label class="control-label text-right tooltip-float">Assign to Contact</label>
                        </div>
                        <div class="col-lg-3">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="linkToContact" data-bind="checked:isCustomerActivity">
                                <label class="onoffswitch-label" for="linkToContact">
                                    <div class="onoffswitch-inner"></div>
                                    <div class="onoffswitch-switch"></div>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <form data-bind="submit: $root.getContactList, visible:isCustomerActivity">
                                <div class="filter-block pull-right" style="margin-top: 0px !important">
                                    <div class="form-group pull-left" style="margin-right:0px!important" >
                                        <input type="text" class="form-control" placeholder="Search..." data-bind="value:$root.searchContactFilter">
                                        <i class="fa fa-search search-icon" data-bind="submit: $root.getContactList"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-group" >
                        <div class="col-lg-5 text-right">

                            <label class="control-label text-right tooltip-float"></label>
                        </div>
                        <div class="col-lg-3" data-bind=" visible:isCustomerActivity">
                            <label class="control-label" data-bind="text:companyName,visible:companyName()!=undefined">
                            </label>
                        </div>
                        <div class="col-lg-4">
                            <div class="btn-group pull-right" data-bind="click:$root.addContact,visible:isCustomerActivity">
                                <button class="btn btn-primary">
                                    <i class="fa  fa-lg"></i>&nbsp;Add New Contact
                                </button>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group" data-bind="visible:isCustomerActivity">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                   
                                </a>
                            </div>
                            <label class="control-label text-right tooltip-float"></label>
                        </div>
                        <div class="col-lg-6">
                            <div class="btn-group pull-right" data-bind="click:$root.addContact">
                                <button class="btn btn-primary">
                                    <i class="fa  fa-lg"></i>&nbsp;Add Contact
                                </button>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-12 form-horizontal">
                <h3 style="margin-left:8px;margin-right:10px;">Marketing information</h3>
                <div class="form-group">
                    <div class="col-lg-3 text-right">
                        <label for="product" class="control-label text-right tooltip-float">Inquiry for</label>
                    </div>
                    <div class="col-lg-4">
                        <select class="form-control" id="product" data-bind="options: $root.pipeLineProducts, optionsText: 'Description', optionsValue: 'ProductId',value:productTypeId"></select>
                    </div>
                   
                </div>
                <div class="form-group">
                    <div class="col-lg-3 text-right">
                        <label for="product" class="control-label text-right tooltip-float">Source</label>
                    </div>
                    <div class="col-lg-4">
                        <select class="form-control" id="product" data-bind="options: $root.pipeLineSources, optionsText: 'Description', optionsValue: 'SourceId',value:sourceId"></select>
                    </div>
                   
                </div>
            </div>
            <div class="modal-footer" style="padding-left:0px;padding-right:0px;">
                <hr style="margin-bottom:15px;" />
                <div style="padding-left:8px;padding-right:8px;">
                    <button type="button" class="btn btn-danger pull-left" data-bind="click:$root.onDeleteActivity,enable:id()!==undefined">Delete</button>
                    <button type="button" class="btn btn-primary" data-bind="click:$root.onSaveActivity,css: { 'btn-warning': hasChanges}, enable:hasChanges ">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left: 0px;">Close</button>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/CRM/Views/Home/_ContactSelector.cshtml")
   

</div>

@* Wizard Popup ends here*@