
@{
    ViewBag.Title = "Add Edit Territory";
}

<div class="modal fade" id="myTerritorySetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
    <div style="width: 838px;" class="modal-dialog">
        <div class="modal-content" data-bind="with: $root.selectedCompanyTerritory">
            <div class="modal-header" id="dialgHeaderPadding">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add/Edit Territory</h4>
            </div>
            <div class="col-lg-12 form-horizontal outerDiv-Padding">
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        <div class="bs-example-tooltips tooltip-float-width">
                            <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Territory Name" data-original-title="" title="">
                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                            </a>
                        </div>

                        <label for="txtSortOrder" class="control-label text-right tooltip-float">Territory Name</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txtTerritoryName" data-bind="value: territoryName, validationTooltip: territoryName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        <div class="bs-example-tooltips tooltip-float-width">
                            <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Territory Code" data-original-title="" title="">
                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                            </a>
                        </div>

                        <label for="txtSortOrder" class="control-label text-right tooltip-float">Territory Code</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txtTerritoryCode" data-bind="value: territoryCode, validationTooltip: territoryCode">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        <div class="bs-example-tooltips tooltip-float-width">
                            <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Check If Is Default Territory" data-original-title="" title="">
                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                            </a>
                        </div>
                        <label for="switchIsTDefault" class="control-label text-right tooltip-float">Is Default</label>
                    </div>
                    <div class="col-lg-6">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchIsTDefault" data-bind="checked: isDefault">
                            <label class="onoffswitch-label" for="switchIsTDefault">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </label>
                        </div>
                        <span class="help-block text-right"></span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <hr />
                <button type="button" class="btn btn-primary" data-bind="click: $root.onSaveCompanyTerritory, enable: hasChanges, css: { 'btn-warning': hasChanges }">Save</button>
                <button type="button" class="btn btn-default" data-bind="click: $root.onCloseCompanyTerritory" style="margin-left: 0px;">Close</button>
            </div>
        </div>
    </div>
</div>

@* Wizard Popup ends here*@