
<div class="modal fade my-modal" id="calendarActivityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
    <div style="width: 838px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Activity Detail</h4>
            </div>

            <div class="col-lg-12 form-horizontal outerDiv-Padding">

                <div class="col-lg-7">
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label for="owner" class="control-label text-right tooltip-float">Owner</label>
                        </div>
                        <div class="col-lg-7">
                            <select class="form-control" id="owner" data-bind="options: $root.systemUsers, optionsText: 'UserName', optionsValue: 'SystemUserId'"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label for="subject" class="control-label text-right tooltip-float">Subject</label>
                        </div>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="txtItemUrl">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label for="activity" class="control-label text-right tooltip-float">Activity</label>
                        </div>
                        <div class="col-lg-7">
                            <select class="form-control" id="activity" data-bind="options: $root.systemUsers, optionsText: 'UserName', optionsValue: 'SystemUserId'"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label class="control-label text-right tooltip-float">Activity For</label>
                        </div>
                        <div class="col-lg-7">
                            <div class="col-lg-4">
                                <div class="radio">
                                    <input type="radio" name="activityFor" value="1" id="customer" />
                                    <label for="customer">Customer</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="radio">
                                    <input type="radio" name="activityFor" value="2" id="supplier" />
                                    <label for="supplier">Supplier</label>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="radio">
                                    <input type="radio" name="activityFor" value="3" id="prospect" /> @*data-bind="checked: paperTypeId"*@
                                    <label for="prospect">Prospect</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label for="customer" class="control-label text-right tooltip-float">Customer</label>
                        </div>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="customer" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label for="contact" class="control-label text-right tooltip-float">Contact</label>
                        </div>
                        <div class="col-lg-7">
                            <select class="form-control" id="contact" data-bind="options: $root.companyContacts, optionsText: 'Name', optionsValue: 'ContactId'"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label for="product" class="control-label text-right tooltip-float">Product Type</label>
                        </div>
                        <div class="col-lg-7">
                            <select class="form-control" id="product" data-bind="options: $root.pipeLineProducts, optionsText: 'Description', optionsValue: 'ProductId'"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label for="description" class="control-label text-right tooltip-float">Description</label>
                        </div>
                        <div class="col-lg-7">
                            <textarea class="form-control" id="description" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label for="flag" class="control-label text-right tooltip-float">Flag</label>
                        </div>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="txtItemUrl">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label for="startDateTime" class="control-label text-right tooltip-float">Start Date Time</label>
                        </div>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="startDateTime">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label for="endDateTime" class="control-label text-right tooltip-float">End Date Time</label>
                        </div>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="endDateTime">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    @*<span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>*@
                                </a>
                            </div>
                            <label class="control-label text-right tooltip-float"></label>
                        </div>
                        <div class="col-lg-7">
                            <div class="checkbox-nice">
                                <input type="checkbox" id="linkToContact" />
                                <label for="linkToContact">Link to Contact</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-left">
                            <div class="col-lg-2">
                                <div class="btn btn-primary pull-left" data-bind="click:$root.showCompanyDialog">
                                    ...
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="checkbox-nice">
                                <input type="checkbox" id="privateToContact" />
                                <label for="privateToContact">Private Contact</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label for="product" class="control-label text-right tooltip-float">Source</label>
                        </div>
                        <div class="col-lg-7">
                            <select class="form-control" id="product" data-bind="options: $root.pipeLineSources, optionsText: 'Description', optionsValue: 'SourceId'"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <hr />
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left: 0px;">Close</button>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/Stores/Views/Shared/_SelectCompany.cshtml")
</div>


@* Wizard Popup ends here*@