@{
    ViewBag.Title = "User Profile ";
}

<div class="modal fade my-modal" id="myContactProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
    <div style="width: 838px;" class="modal-dialog" data-bind="with: $root.selectedCompanyContact">
        <div class="modal-content">
            <div class="modal-header" id="dialgHeaderPadding">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Add/Edit Profile</h4>
            </div>
            <div class="col-lg-12 clearfix" style="margin-top:8px;">
                <div class="row" id="user-profile">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="main-box clearfix" style="border:1px solid silver;margin-bottom:10px;" id="tabsHeader">
                            <div class="tabs-wrapper profile-tabs">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab-UserProfileinfoForContact" data-toggle="tab">Profile</a></li>
                                    <li><a href="#tab-UserAddressInfoForContact" data-toggle="tab">Address Info</a></li>

                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="tab-UserProfileinfoForContact">
                                        <div class="col-lg-12">
                                            <div class=" form-horizontal clearfix">
                                                <div class="col-lg-12 clearfix">
                                                    <div class="col-lg-6">
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtFName" class="control-label text-right tooltip-float">First Name</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtFName" data-bind="value: firstName,validationTooltip: firstName">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtLName" class="control-label text-right tooltip-float">Last Name</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtLName" data-bind="value: lastName">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtJTitle" class="control-label text-right tooltip-float">Job Title</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtJTitle" data-bind="value:jobTitle">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtCellNo" class="control-label text-right tooltip-float">Cell Number</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtCellNo" data-bind="value:mobile">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtDirectL" class="control-label text-right tooltip-float">Direct Line</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtDirectL" data-bind="value:homeTel1">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtUFax" class="control-label text-right tooltip-float">Fax</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtUFax" data-bind="value:fAX">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtEmail" class="control-label text-right tooltip-float">Email</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtEmail" data-bind="value: secondaryEmail">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="switchNewsLetter" class="control-label text-right tooltip-float">Newsletter Subscription</label>
                                                            </div>
                                                            <div class="col-lg-7">
                                                                <div class="onoffswitch">
                                                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchNewsLetter" data-bind="checked: isNewsLetterSubscription">
                                                                    <label class="onoffswitch-label" for="switchNewsLetter">
                                                                        <div class="onoffswitch-inner"></div>
                                                                        <div class="onoffswitch-switch"></div>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="switchMailLetter" class="control-label text-right tooltip-float">Mail Subscription</label>
                                                            </div>
                                                            <div class="col-lg-7">
                                                                <div class="onoffswitch">
                                                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchMailLetter" data-bind="checked: isEmailSubscription">
                                                                    <label class="onoffswitch-label" for="switchMailLetter">
                                                                        <div class="onoffswitch-inner"></div>
                                                                        <div class="onoffswitch-switch"></div>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @*<div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Role" data-original-title="" title="">
                                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                        </a>
                                                                    </div>
                                                                    <label for="ddUserRole" class="control-label text-right tooltip-float">Role</label>
                                                                </div>
                                                                <div class="col-lg-7">
                                                                    <select class="form-control col-lg-4" data-bind="options:$root.roles,optionsText:'roleName',optionsValue:'roleId', value: contactRoleId"></select>
                                                                </div>
                                                            </div>*@
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group" style="margin-bottom: 0px">
                                                            <div class="col-lg-5 text-right">

                                                            </div>
                                                            <div class="col-lg-6" style="text-align: center;">
                                                                <!-- ko ifnot: image() -->
                                                                <img style="margin-left:17%" src="/mis/Content/Images/Company_Default.png">
                                                                <!--/ko-->
                                                                <!--ko if: image()-->
                                                                <div style="min-height: 130px; width: 220px; max-width: 95%">
                                                                    <img style="max-height: 130px;max-width: 220px; -o-object-fit: contain; object-fit: contain;" data-bind="attr: { src: image }" />  @*height: 130px; width: 220px;*@
                                                                </div>
                                                                <!--/ko-->
                                                                <div style="width:220px;">
                                                                    <div class="fileUpload btn btn-primary marginT5">
                                                                        <span>Upload</span>
                                                                        <input type="file" class="upload" id="image_files" multiple data-bind="files: { onLoaded: $root.UserProfileImageFileLoadedCallback, fileFilter: 'image.*'}" />
                                                                    </div>
                                                                </div>
                                                                <div style="width:220px;text-align:center;">
                                                                    <span class="help-block">Upload an image (PNG,JPG,GIF) for contact profile. This image is also used in Designer tool where contact image placeholder is used</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtEmail" class="control-label text-right tooltip-float">UserName</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtEmail" data-bind="value: email,validationTooltip: email">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtPassword" class="control-label text-right tooltip-float">Password</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="password" class="form-control" id="txtPassword" data-bind="value: password, validationTooltip: password">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtCPassword" class="control-label text-right tooltip-float">Confirm Password</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="password" class="form-control" id="txtCPassword" data-bind="value: confirmPassword, validationTooltip: confirmPassword">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="SecQuesID" class="control-label text-right tooltip-float">Secret Question</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <select class="form-control col-lg-4" data-bind="options:$root.registrationQuestions,optionsText:'question',optionsValue:'questionId', value: secretQuestion"></select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtSecrtAns" class="control-label text-right tooltip-float">Secret Answer</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtSecrtAns" data-bind="value: secretAnswer">
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group ">
                                                    </div>
                                                </div>
                                                @*<h3 class="group-header">Smart form CRM variables that can be auto populated on templates</h3>*@
                                                @*<div class="col-lg-12 clearfix">
                                                        <div class="col-lg-6">
                                                            <div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <label for="txtQName" class="control-label text-right tooltip-float">Your Name</label>
                                                                </div>
                                                                <div class="col-lg-7" style="padding-right:4px;">
                                                                    <input type="text" class="form-control" id="txtQName" data-bind="value: quickFullName">
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <label for="txtQJobTitle" class="control-label text-right tooltip-float">Job Title</label>
                                                                </div>
                                                                <div class="col-lg-7" style="padding-right:4px;">
                                                                    <input type="text" class="form-control" id="txtQJobTitle" data-bind="value: quickTitle">
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <label for="txtQCompName" class="control-label text-right tooltip-float">Company Name</label>
                                                                </div>
                                                                <div class="col-lg-7" style="padding-right:4px;">
                                                                    <input type="text" class="form-control" id="txtQCompName" data-bind="value: quickCompanyName">
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <label for="txtQTele" class="control-label text-right tooltip-float">Telephone</label>
                                                                </div>
                                                                <div class="col-lg-7" style="padding-right:4px;">
                                                                    <input type="text" class="form-control" id="txtQTele" data-bind="value: quickPhone">
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <label for="txtQfax" class="control-label text-right tooltip-float">Fax</label>
                                                                </div>
                                                                <div class="col-lg-7" style="padding-right:4px;">
                                                                    <input type="text" class="form-control" id="txtQfax" data-bind="value: quickFax">
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <label for="txtQEmail" class="control-label text-right tooltip-float">Email</label>
                                                                </div>
                                                                <div class="col-lg-7" style="padding-right:4px;">
                                                                    <input type="text" class="form-control" id="txtQEmail" data-bind="value: quickEmail">
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <label for="txtQWebAdd" class="control-label text-right tooltip-float">Website Address</label>
                                                                </div>
                                                                <div class="col-lg-7" style="padding-right:4px;">
                                                                    <input type="text" class="form-control" id="txtQWebAdd" data-bind="value: quickWebsite">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <label for="txtQAddress" class="control-label text-right tooltip-float">Address</label>
                                                                </div>
                                                                <div class="col-lg-7" style="padding-right:4px;">
                                                                    <input type="text" class="form-control" id="txtQAddress" data-bind="value:quickAddress1">
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <label for="txtQCompMesg" class="control-label text-right tooltip-float">Company Message</label>
                                                                </div>
                                                                <div class="col-lg-7" style="padding-right:4px;">
                                                                    <input type="text" class="form-control" id="txtQCompMesg" data-bind="value:quickCompMessage">
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <label for="txtQMble" class="control-label text-right tooltip-float">Mobile Number</label>
                                                                </div>
                                                                <div class="col-lg-7" style="padding-right:4px;">
                                                                    <input type="text" class="form-control" id="txtQMble" data-bind="value:quickMobileNumber">
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <label for="txtQTwitterId" class="control-label text-right tooltip-float">Twitter ID</label>
                                                                </div>
                                                                <div class="col-lg-7" style="padding-right:4px;">
                                                                    <input type="text" class="form-control" id="txtQTwitterId" data-bind="value:quickTwitterId">
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <label for="txtQFBId" class="control-label text-right tooltip-float">Facebook ID</label>
                                                                </div>
                                                                <div class="col-lg-7" style="padding-right:4px;">
                                                                    <input type="text" class="form-control" id="txtQFBId" data-bind="value:quickFacebookId">
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <label for="txtLinkedQID" class="control-label text-right tooltip-float">LinkedIn Id</label>
                                                                </div>
                                                                <div class="col-lg-7" style="padding-right:4px;">
                                                                    <input type="text" class="form-control" id="txtLinkedQID" data-bind="value:quickLinkedInId">
                                                                </div>
                                                            </div>
                                                            <div class="form-group ">
                                                                <div class="col-lg-5 text-right">
                                                                    <label for="txtQOtherID" class="control-label text-right tooltip-float">Other ID</label>
                                                                </div>
                                                                <div class="col-lg-7" style="padding-right:4px;">
                                                                    <input type="text" class="form-control" id="txtQOtherID" data-bind="value:quickOtherId">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                        </div>
                                                    </div>*@
                                                <h3 class="group-header">Additional Information</h3>
                                                <p style="font-size: 12px; padding-bottom: 5px; margin-left: 5px; margin-top: 0px;">Additional Fields that can be used on Smart Forms & VDP templates</p>
                                                <div class="col-lg-12 clearfix">
                                                    <div class="col-lg-6">
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtLinkUrl" class="control-label text-right tooltip-float">Linked In URL</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtLinkUrl" data-bind="value:linkedinURL">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtSkypId" class="control-label text-right tooltip-float">Skype ID</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtSkypId" data-bind="value:skypeId">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtFbID" class="control-label text-right tooltip-float">Facebook URL</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtFbID" data-bind="value:facebookURL">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtTwitterID" class="control-label text-right tooltip-float">Twitter URL</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtTwitterID" data-bind="value:twitterURL">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtAddIn1" class="control-label text-right tooltip-float">Additional Info 1</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtAddIn1" data-bind="value:additionalField1">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtAddIn2" class="control-label text-right tooltip-float">Additional Info 2</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtAddIn2" data-bind="value:additionalField2">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtAddIn3" class="control-label text-right tooltip-float">Additional Info 3</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtAddIn3" data-bind="value:additionalField3">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtAddIn4" class="control-label text-right tooltip-float">Additional Info 4</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtAddIn4" data-bind="value:additionalField4">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtAddIn5" class="control-label text-right tooltip-float">Additional Info 5</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtAddIn5" data-bind="value:additionalField5">
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtPoBoxAdd" class="control-label text-right tooltip-float">PO Box Address</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtPoBoxAdd" data-bind="value:pOBoxAddress">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtCorpUnit" class="control-label text-right tooltip-float">Corporate Unit</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtCorpUnit" data-bind="value:corporateUnit">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtOfficeTradName" class="control-label text-right tooltip-float">Trading Name</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtOfficeTradName" data-bind="value:officeTradingName">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtBPay" class="control-label text-right tooltip-float">BPay CRN</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtBPay" data-bind="value: bPayCRN">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtACN" class="control-label text-right tooltip-float">ACN</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtACN" data-bind="value:aCN">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtContractorName" class="control-label text-right tooltip-float">Contractor Name</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtContractorName" data-bind="value:contractorName">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtABN" class="control-label text-right tooltip-float">ABN</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <input type="text" class="form-control" id="txtABN" data-bind="value: aBN">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-lg-5 text-right">
                                                                <label for="txtNotes" class="control-label text-right tooltip-float">Notes</label>
                                                            </div>
                                                            <div class="col-lg-7" style="padding-right:4px;">
                                                                <textarea rows="3" class="form-control bkg-color" id="txtNotes" data-bind="value: notes"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-UserAddressInfoForContact">
                                        <div class="col-lg-12">
                                            <div class=" form-horizontal clearfix">

                                                <div class="col-lg-6">

                                                    <div class="form-group ">
                                                        <div class="col-lg-4 text-right">
                                                            <label for="ddbussinessAddress" class="control-label">Business Address</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <select class="form-control " id="ddTerritory" data-bind="options:$root.bussinessAddresses,optionsText:'addressName',optionsValue:'addressId',value: bussinessAddressId, validationToolTip: bussinessAddressId"></select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <div class="col-lg-4 text-right">
                                                            <label for="txtBAredd" class="control-label text-right tooltip-float">Address</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="form-control" id="txtBAredd" disabled="disabled" data-bind="value: $root.selectedBussinessAddress() != undefined && $root.selectedBussinessAddress().addressName() != undefined ? $root.selectedBussinessAddress().addressName():''">
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <div class="col-lg-4 text-right">
                                                            <label for="txtBAddCity" class="control-label text-right tooltip-float">City</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="form-control" id="txtBAddCity" disabled="disabled" data-bind="value: $root.selectedBussinessAddress()!= undefined && $root.selectedBussinessAddress().city() != undefined ? $root.selectedBussinessAddress().city():''">
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <div class="col-lg-4 text-right">
                                                            <label for="txtBAddState" class="control-label text-right tooltip-float">State</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="form-control" id="txtBAddState" disabled="disabled" data-bind="value: $root.selectedBussinessAddress()!= undefined && $root.selectedBussinessAddress().stateName() != undefined ? $root.selectedBussinessAddress().stateNamenCode():''">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group ">
                                                        <div class="col-lg-4 text-right">
                                                            <label for="ddshippingAddress" class="control-label">Shipping Address</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <select class="form-control " id="ddTerritory" data-bind="options:$root.shippingAddresses,optionsText:'addressName',optionsValue:'addressId',value: shippingAddressId"></select>  @*,optionsCaption: 'Choose...'*@
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <div class="col-lg-4 text-right">
                                                            <label for="txtShipAddDetail" class="control-label text-right tooltip-float">Address</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="form-control" id="txtShipAddDetail" disabled="disabled" data-bind="value: $root.selectedShippingAddress() != undefined && $root.selectedShippingAddress().addressName() != undefined ? $root.selectedShippingAddress().addressName():''">
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <div class="col-lg-4 text-right">
                                                            <label for="txtShippAddCity" class="control-label text-right tooltip-float">City</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="form-control" id="txtShippAddCity" disabled="disabled" data-bind="value: $root.selectedShippingAddress()!= undefined && $root.selectedShippingAddress().city() != undefined ? $root.selectedShippingAddress().city():''">
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <div class="col-lg-4 text-right">
                                                            <label for="txtShippAddState" class="control-label text-right tooltip-float">State</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="form-control" id="txtShippAddState" disabled="disabled" data-bind="value: $root.selectedShippingAddress()!= undefined && $root.selectedShippingAddress().stateName() != undefined ? $root.selectedShippingAddress().stateNamenCode():''">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer col-xs-12" style="padding-left:4px;">
                <button type="button" class="btn btn-primary btn-warning" data-bind="click: $root.onSaveCompanyContact, enable: hasChanges, css: { 'btn-warning': hasChanges }">Save</button>
                <button type="button" class="btn btn-default" data-bind="click: $root.onCloseCompanyContact" style="margin-left:0px;">Close</button>
                <button type="button" class="btn btn-danger archiveButton" data-bind="click:$root.onDeleteCompanyContact">Archive</button>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
</div>

@* Wizard Popup ends here*@
