@{
    ViewBag.Title = "MIS 2014 Calender";
}
@section leftmenue {
}
<div class="row" id="fullCalendarBinding">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active"><span>Calendar</span></li>
                </ol>
                <h1>Calendar</h1>
                @*<div class="col-lg-6">
                        <select class="form-control" data-bind="select2: { formatResult: formatResult,formatSelection: formatSelection }, value: $root.selected, foreach: $root.sectionFlags">
                            <option class="form-control" data-bind="text: FlagName, attr: { 'data-color': FlagColor, value: SectionFlagId }"></option>
                        </select>
                    </div>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="main-box">
                    <div class="main-box-body clearfix">
                        @*<div id="calendar"></div>*@
                        <div id="calendar" data-bind="fullCalendar: $root.mycCalender, itemsList: $root.items" data-eventclass="label-primary"> </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("~/Areas/CRM/Views/Home/_AddEditCalendarActivity.cshtml")

    </div>
</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_CompanySelector.cshtml")
<!-- /ko -->
@section Scripts {
    @*<script src="~/Content/themes/Centaurus/js/fullcalendar.min.js"></script>*@
    <script>
        require(["calendar/calendar.view", "common/companySelector.view"]);

    </script>
}
