@{
    ViewBag.Title = "Company Contacts";
}
@section leftmenue {
}
<div class="row" id="contactsBindingRoot">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="~/Dashboard/Index">Home</a></li>
                    <li class="active"><span>Contacts</span></li>
                </ol>
                <div class="clearfix">
                    <h1 class="pull-left">Contacts</h1>
                </div>

                <div id="addStore">
                    &nbsp;
                </div> <br />
                <!-- ko template: { name: 'filterTemplate' } -->
                <!-- /ko -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table class="table user-list span12">
                                <thead>
                                    <tr class="span12">
                                        <th class="col-lg-1"></th>
                                        <th class="col-lg-3"><span>Name</span></th>
                                        <th class="col-lg-3"><span>Email</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ko  foreach: $root.companyContactsForListView  -->
                                    <tr>
                                        <td>
                                            <img data-bind="attr: { src: image }" alt="" />
                                        </td>
                                        <td>
                                            <a class="user-link" href="#" data-bind="text: firstName, click: $root.editContactbuttonHandler "></a>
                                            @*<span data-bind="text: email"></span>*@
                                        </td>
                                        <td>
                                            <span data-bind="text:email"></span> <br /> <span data-bind="text:quickPhone"></span>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="pagerDiv" class="pull-right">
                    <!-- ko with: pager -->
                    @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <script id="filterTemplate" type="text/html">
            <div class="filter-body" id="filter">
                <form data-bind="submit: $root.searchButtonHandler">
                    <div class="filter-block pull-right">
                        <div class="form-group pull-left">
                            <input type="text" class="form-control" placeholder="Search..." data-bind="value: $root.searchFilter">
                            <i class="fa fa-search search-icon" data-bind="click: searchButtonHandler"></i>
                        </div>
                    </div>
                </form>
                <div class="clearfix">
                </div>
            </div>
        </script>
    </div>

        @Html.Partial("~/Areas/CRM/Views/Home/_UserProfileDetailsForContact.cshtml")
</div>



<!-- ko stopBinding: true -->
    @Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->

@section Scripts{
    <script>
        require(["crm/contacts.view", "common/confirmation.view"]);
        $(function () {
            $('#licrm').addClass('active');
        });
    </script>
}
