

<div class="row" id="inventoryEditor" data-bind="visible: isInventoryEditorVisible" style="display: none;">

    <div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="~/Dashboard/Index" class="my-navigator">Home</a></li>
                        <li><a href="~/Settings/MIS/Inventory" class="my-navigator">Inventory</a></li>
                        <li class="active"><span>Inventory Detail</span></li>
                    </ol>
                    <div data-bind="with:selectedInventory">
                        <div class="clearfix dynamicNameHeading">
                            <h1 class="pull-left" data-bind="text:itemName">&nbsp;</h1>
                        </div>
                        <div class="pull-left validationSummaryContainer">
                            <a class="validationSummaryLink" data-bind="visible: $root.errorList().length > 0, bootstrapPopover: { html: true, title: 'Please fix following errors', elementNode: 'validationSummaryPopup', popoverId: 'validationSummaryPopoverBody' }" style="display: none">Invalid data: Click here to see details.</a>
                            <div class="well well-small validationSummaryModal" id="validationSummaryPopup" style="display: none">
                                <div id="validationSummaryPopoverBody">
                                    <ul data-bind="foreach: $root.errorList">
                                        <li>
                                            <a data-bind="click: $root.gotoElement.bind($data.element)"><span data-bind="text: name"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right top-page-ui">
                            <button class="btn  btn-info" id="saveBtn" data-bind="click:$root.onSaveInventory, enable: hasChanges, css: { 'btn-warning': hasChanges }">Save</button>
                            <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeInventoryEditor">Close</button>
                        </div>
                        <div id="detailArea">
                            &nbsp;
                        </div>

                    </div>
                    <br />
                </div>
            </div>
            <div class="row" data-bind="with:selectedInventory">
                <div class="col-lg-12">
                    <div class="main-box no-header clearfix">
                        <h3 class="group-header">Inventory Detail</h3>
                        <div class="main-box-body clearfix">
                            <form class="form-horizontal">
                                <div class="col-lg-6">
                                    <div class="form-group ">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-content="Enter Stock Name" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="name" class="control-label text-right tooltip-float">Stock Name</label>
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" id="name" data-bind="value:itemName, validationTooltip: itemName, validationOnElement:itemName" />
                                        </div>
                                    </div>
                                    <div class="form-group " data-bind="visible:itemId()!==0">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-content="Enter Stock Code" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="code" class="control-label text-right tooltip-float">Stock Code</label>
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" id="code" data-bind="value:itemCode, validationTooltip: itemCode, validationOnElement:itemCode" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-content="Select Stock Category" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="category" class="control-label text-right tooltip-float">Stock Category</label>
                                        </div>
                                        <div class="col-lg-7">
                                            <select id="category" class="form-control" data-bind="disable:(itemId()!==0),options: $root.categories, optionsText: 'Name', optionsValue: 'CategoryId',value:categoryId, validationTooltip: categoryId, validationOnElement:categoryId"></select>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-content="Select Sub Category" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="category" class="control-label text-right tooltip-float">Sub Category</label>
                                        </div>
                                        <div class="col-lg-7">
                                            <select id="subCategory" class="form-control" data-bind="options: $root.subCategories, optionsText: 'Name', optionsValue: 'SubCategoryId',value:subCategoryId, validationTooltip: subCategoryId, validationOnElement:subCategoryId"></select>
                                        </div>
                                    </div>
                                    <div class="form-group " data-bind="visible:itemId()===0">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Stock Location" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="location" class="control-label text-right tooltip-float">Stock Located At</label>
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" id="location" data-bind="value:stockLocation" />
                                        </div>
                                    </div>
                                    <div class="form-group " data-bind="visible:itemId()!==0">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Paper Type" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="paperType" class="control-label text-right tooltip-float">Paper Type</label>
                                        </div>
                                        <div class="col-lg-7">
                                            <label class="control-label" id="paperType" data-bind="text:paperType"></label>
                                        </div>
                                    </div>
                                    <div class="form-group " data-bind="visible:itemId()!==0">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-content="Creation Date" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="paperType" class="control-label text-right tooltip-float">Creation Date</label>
                                        </div>
                                        <div class="col-lg-7">
                                            <label class="control-label" data-bind="text:createdDate"></label>
                                        </div>
                                    </div>
                                    <div class="form-group " data-bind="visible:itemId()!== 0">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Description" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="description" class="control-label text-right tooltip-float">Description</label>
                                        </div>
                                        <div class="col-lg-7">
                                            <textarea class="form-control" rows="4" id="description" data-bind="value: description, valueUpdate: 'keyup'"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group ">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Supplier" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="supplier" class="control-label text-right tooltip-float">Supplier</label>
                                        </div>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" id="supplier" disabled data-bind="value:supplierName, validationTooltip: supplierName, validationOnElement:supplierName" />
                                        </div>
                                        <div class="col-lg-1">

                                            <div class="col-xs-6">
                                                <a href="#" class="btn btn-primary" data-bind="click:$root.onAddSupplier">
                                                    <i class="fa fa-lg"></i>&nbsp;....
                                                </a>
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Bar Code" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="barCode" class="control-label text-right tooltip-float">Bar Code</label>
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" id="barCode" data-bind="value:barCode, validationTooltip: barCode, validationOnElement:barCode" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Section Flag" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="flag" class="control-label text-right tooltip-float">Section Flag</label>
                                        </div>
                                        <div class="col-lg-7">
                                            <select id="flag" class="form-control" data-bind="options: $root.sectionFlags, optionsText: 'FlagName', optionsValue: 'SectionFlagId',value:flagId, validationTooltip: flagId"></select>
                                        </div>
                                    </div>
                                    <div class="form-group " data-bind="visible:itemId()!== 0">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Status" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="status" class="control-label text-right tooltip-float">Status</label>
                                        </div>
                                        <div class="col-lg-7">
                                            <select id="status" class="form-control" data-bind="options: $root.statusList, optionsText: 'Text', optionsValue: 'Id',value:statusId, validationTooltip: statusId"></select>
                                        </div>
                                    </div>
                                    <div class="form-group " data-bind="visible:itemId()!== 0">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Opening Stock" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="openingStock" class="control-label text-right tooltip-float">Opening Stock</label>
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" id="openingStock" data-bind="value:inStock, validationTooltip: inStock" />
                                        </div>
                                    </div>
                                    <div class="form-group " data-bind="visible:itemId()!== 0">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Choose Disabled" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="disabled" class="control-label text-right tooltip-float">Disabled</label>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="checkbox-nice">
                                                <input type="checkbox" data-bind="checked: isDisabled" id="isDisabled">
                                                <label for="isDisabled"></label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="main-box clearfix">
                                        <div class="tabs-wrapper profile-tabs" id="tabsHeader">
                                            <ul class="nav nav-tabs" id="myTab">
                                                <li class="active"><a href="#tab-CostPrice" data-toggle="tab">Cost / Price</a></li>
                                                <li><a href="#tab-Properties" data-toggle="tab">Properties</a></li>
                                                <li><a href="#tab-StockControl" data-toggle="tab">Stock Control</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active" id="tab-CostPrice">
                                                    <div class="main-box-body clearfix">
                                                        <div class="col-md-12 form-horizontal">
                                                            @*<h3 class="group-header">Cost / Price</h3>*@

                                                            <div class="col-lg-12">
                                                                <div class="col-lg-6" data-bind="visible:itemId()===0">
                                                                    <div class="form-group">

                                                                    </div>
                                                                    <div class="form-group ">
                                                                        <div class="col-lg-5 text-right">
                                                                            <div class="bs-example-tooltips tooltip-float-width">
                                                                                <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Paper Type" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                </a>
                                                                            </div>
                                                                            <label for="name" class="control-label text-right tooltip-float">Paper Type</label>
                                                                        </div>
                                                                        <div class="col-lg-7">
                                                                            <div class="col-lg-12" data-bind="visible:itemId()===0">
                                                                                <div class="radio">
                                                                                    <input type="radio" name="paperType" value="1" data-bind="checked: paperTypeId" id="sheet" />
                                                                                    <label for="sheet">Sheet</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-5" data-bind="visible:itemId()===0">
                                                                                <div class="radio">
                                                                                    <input type="radio" name="paperType" value=2 data-bind="checked: paperTypeId" id="paperSheet" />
                                                                                    <label for="paperSheet">Roll Paper</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="table-bordered">
                                                                <div class="form-group">
                                                                    <label class="control-label h5 col-sm-2"><b>Dimensions</b></label>
                                                                </div>
                                                                @*In case of Sheet*@

                                                                <div class="form-group" data-bind="visible:paperTypeId()===1 ">
                                                                    <div class="col-lg-2 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Paper Size" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label class="control-label text-right tooltip-float">Size</label>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <select class="form-control" data-bind="options: $root.paperSizes, optionsText: 'Name', optionsValue: 'PaperSizeId',disable:itemSizeCustom,value:itemSizeId"></select>
                                                                    </div>

                                                                    <div class="col-lg-2 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Height" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label id="height" class="control-label text-right tooltip-float">Height</label>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <input type="text" class="form-control" id="height" data-bind="value:itemSizeHeight,enable:itemSizeCustom, validationTooltip: itemSizeHeight, validationOnElement:itemSizeHeight" />
                                                                    </div>
                                                                    <div class="col-lg-1 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Width" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label id="width" class="control-label text-right tooltip-float">Width</label>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <input type="text" class="form-control" id="width" data-bind="value:itemSizeWidth,enable:itemSizeCustom, validationTooltip: itemSizeWidth, validationOnElement:itemSizeWidth" />
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <select class="form-control" data-bind="options: $root.lengthUnits, optionsText: 'UnitName', optionsValue: 'Id',enable:itemSizeCustom,value:itemSizeSelectedUnitId "></select>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group" data-bind="visible:paperTypeId()===1 ">
                                                                    <div class="col-lg-2 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Custom" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label class="control-label text-right tooltip-float">Custom</label>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <div class="checkbox-nice">
                                                                            <input type="checkbox" data-bind="checked: itemSizeCustom" id="itemSizeCustom">
                                                                            <label for="itemSizeCustom"></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*In case of Roll Paper*@
                                                                <div class="form-group" data-bind="visible:paperTypeId()===2 ">
                                                                    @*<div class="col-md-6">
                                                                        </div>*@
                                                                    <div class="col-lg-2 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Width" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label class="control-label text-right tooltip-float">Width</label>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <input type="text" class="form-control" id="width" data-bind="value:rollWidth, validationTooltip: rollWidth, validationOnElement:rollWidth" />
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <select class="form-control" data-bind="options: $root.lengthUnits, optionsText: 'UnitName', optionsValue: 'Id',value:itemSizeSelectedUnitId "></select>
                                                                    </div>
                                                                    <div class="col-lg-2 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Length" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label class="control-label text-right tooltip-float">Length</label>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <input type="text" class="form-control" id="length" data-bind="value:rollLength, validationTooltip: rollLength, validationOnElement:rollLength" />
                                                                    </div>
                                                                    <label for="width" class="control-label">Meter</label>
                                                                </div>
                                                                <br />
                                                            </div>
                                                            <div class="table-bordered">
                                                                <div class="form-group">
                                                                    <label class="control-label h5 col-sm-2"><b>Cost / Price</b></label>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-lg-2 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Per Quantity" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label class="control-label text-right tooltip-float">Per</label>
                                                                    </div>
                                                                    <div class="col-md-2" data-bind="visible:perQtyType()!==2 && perQtyType()!==3">
                                                                        <input type="text" class="form-control" id="size" data-bind="value:perQtyQty, validationTooltip: perQtyQty, validationOnElement:perQtyQty" />
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <select class="form-control" data-bind="options: $root.filteredUnits, optionsText: 'Text', optionsValue: 'Id',value:perQtyType"></select>
                                                                    </div>
                                                                    <div class="col-lg-2 text-right" data-bind="visible:perQtyType()!==2 && perQtyType()!==3">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Package Quantity" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="packedin" class="control-label text-right tooltip-float">Packed In</label>
                                                                    </div>
                                                                    <div class="col-md-1" data-bind="visible:perQtyType()!==2 && perQtyType()!==3">
                                                                        <input type="text" class="form-control" id="packedin" data-bind="value:packageQty, validationTooltip: packageQty, validationOnElement:packageQty" />
                                                                    </div>

                                                                </div>
                                                                <br />
                                                                <div class="table-bordered col-md-6 form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="control-label h5 col-sm-6"><b>Cost</b></label>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="filter-block pull-right" style="margin-right: 13px;">
                                                                            <a href="#" class="btn btn-primary pull-right" data-bind="click: $root.createCostItem">
                                                                                <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add
                                                                            </a>
                                                                        </div>

                                                                    </div>

                                                                    <div class="clearfix ">
                                                                        <div class="inlineGrid">
                                                                            <div class="table-responsive">
                                                                                <table id="costTablle" class="table table-striped table-hover">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th style="width: 28%"> <span>Cost/ <span data-bind="text:headerComputedValue"></span></span></th>
                                                                                            <th style="width: 22%"> <span>From<span></span></span></th>
                                                                                            <th style="width: 22%"> <span>To<span></span></span></th>
                                                                                            <th style="width: 22%"> <span>Pack Cost<span></span></span></th>
                                                                                            <th style="width: 5%">&nbsp;</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <!-- ko template: { name: $root.templateToUse , foreach: $root.costPriceList } -->
                                                                                        <!-- /ko -->
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                </div>
                                                                <div class="table-bordered col-md-6 form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="control-label h5 col-sm-6"><b>Selling Price</b></label>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <div class="filter-block pull-right" style="margin-right: 13px;">
                                                                            <a href="#" class="btn btn-primary pull-right" data-bind="click: $root.createPriceItem">
                                                                                <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add
                                                                            </a>
                                                                        </div>
                                                                    </div>

                                                                    <div class="clearfix">
                                                                        <div class="table-responsive">
                                                                            <table id="costTablle" class="table table-striped table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th style="width: 28%"> <span>Price/ <span data-bind="text:headerComputedValue"></span></span></th>
                                                                                        <th style="width: 22%"> <span>From<span></span></span></th>
                                                                                        <th style="width: 22%"> <span>To<span></span></span></th>
                                                                                        <th style="width: 22%"> <span>Pack Cost<span></span></span></th>
                                                                                        <th style="width: 5%">&nbsp;</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <!-- ko template: { name: $root.templateToUseForPrice , foreach: $root.costPriceList } -->
                                                                                    <!-- /ko -->
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab-Properties">
                                                    <div class="main-box-body clearfix">
                                                        <div class="col-md-12 form-horizontal">
                                                            <h3 class="group-header">Properties</h3>
                                                            <div class="col-lg-6">
                                                                <div class="form-group ">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Weight" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="weight" class="control-label text-right tooltip-float">Weight</label>
                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <input type="text" class="form-control" id="weight" data-bind="value:itemWeight, validationTooltip: itemWeight, validationOnElement:itemWeight" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group ">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Color" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="color" class="control-label text-right tooltip-float">
                                                                            <label for="weight" class="control-label text-right tooltip-float">Color</label>
                                                                        </label>
                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <input type="text" class="form-control" id="color" data-bind="value:itemColour" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group ">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Ink Absorption" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="color" class="control-label text-right tooltip-float">
                                                                            <label for="weight" class="control-label text-right tooltip-float">Ink Absorption</label>
                                                                        </label>
                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <input type="text" class="form-control" id="color" data-bind="value:inkAbsorption, validationTooltip: inkAbsorption, validationOnElement:inkAbsorption" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group ">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Paper Basis Area" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="color" class="control-label text-right tooltip-float">
                                                                            <label class="control-label text-right tooltip-float">Paper Basis Area</label>
                                                                        </label>
                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <select class="form-control" data-bind="options: $root.paperBasisAreas, optionsText: 'Name', optionsValue: 'PaperBasisAreaId',value:paperBasicAreaId "></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group ">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Choose Coated" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="color" class="control-label text-right tooltip-float">
                                                                            <label class="control-label text-right tooltip-float">Coated</label>
                                                                        </label>
                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <div class="col-lg-3">

                                                                            <div class="checkbox-nice">
                                                                                <input type="checkbox" id="coated" data-bind="checked:itemCoated" />
                                                                                <label for="coated"></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-lg-5">

                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <div class="col-lg-3">
                                                                            <div class="radio">
                                                                                <input type="radio" name="coted" value=1 data-bind="checked:itemCoatedType ,enable:itemCoated" id="gloss" />
                                                                                <label for="gloss">Gloss</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <div class="radio">
                                                                                <input type="radio" name="coted" value=2 data-bind="checked:itemCoatedType ,enable:itemCoated" id="matt" />
                                                                                <label for="matt">Matt</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="col-lg-4">
                                                                    <select class="form-control" data-bind="options: $root.weightUnits, optionsText: 'UnitName', optionsValue: 'Id',value:itemWeightSelectedUnit "></select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab-StockControl">
                                                    <div class="main-box-body clearfix">
                                                        <div class="col-md-12 form-horizontal">
                                                            <h3 class="group-header">Stock Control</h3>
                                                            <div class="col-lg-6">
                                                                <div class="form-group " data-bind="visible:itemId()!==0">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="In Stock" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="weight" class="control-label text-right tooltip-float">In Stock</label>
                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <label id="inStock" class="control-label" data-bind="text:inStock"></label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group " data-bind="visible:itemId()!==0">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Free Stock" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="weight" class="control-label text-right tooltip-float">Free Stock</label>
                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <label id="inStock" class="control-label" data-bind="text:inStock"></label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group " data-bind="visible:itemId()!==0">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Allocated" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="weight" class="control-label text-right tooltip-float">Allocated</label>
                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <label id="inStock" class="control-label" data-bind="text:allocated"></label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group " data-bind="visible:itemId()!==0">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="On Order" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="weight" class="control-label text-right tooltip-float">On Order</label>
                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <label id="inStock" class="control-label" data-bind="text:onOrder"></label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group ">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Reorder Level" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="weight" class="control-label text-right tooltip-float">Reorder Level</label>
                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <input type="text" id="inStock" class="form-control" data-bind="value:reOrderLevel, validationTooltip: reOrderLevel, validationOnElement:reOrderLevel" />
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group " data-bind="visible:itemId()!==0">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Last Qty Order" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="weight" class="control-label text-right tooltip-float">Last Qty Order</label>
                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <label id="inStock" class="control-label" data-bind="text:lastOrderQty"></label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group " data-bind="visible:itemId()!==0">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Last Order Date" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="weight" class="control-label text-right tooltip-float">Last Order Date</label>
                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <label id="inStock" class="control-label" data-bind="text:lastOrderDate"></label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group " data-bind="visible:itemId()!==0">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Location" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="weight" class="control-label text-right tooltip-float">Location</label>
                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <input type="text" id="inStock" class="form-control" data-bind="value:stockLocation" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group ">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Reorder Quantity" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label for="weight" class="control-label text-right tooltip-float">Reorder Quantity</label>
                                                                    </div>
                                                                    <div class="col-lg-7">
                                                                        <input type="text" id="inStock" class="form-control" data-bind="value:reorderQty, validationTooltip: reorderQty, validationOnElement:reorderQty" />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@**For Cost Items*@
<script id="deleteActionCostItemTemplate" type="text/html">
    <a href="#" class="table-link danger" data-bind="click: $root.onDeleteCostItem" title="Delete">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</script>
<script id="editCostTemplate" type="text/html">
    <tr data-bind="css: { selectedRow: $data === $root.selectedCostItem() }">
        <td style="padding-left:2px;padding-right: 0px;">
            <div class="col-md-4 control-label"><span class="control-label" data-bind="text:$root.currencySymbol"></span></div>
            <div class="col-md-8" style="padding-right: 2px;padding-left: 2px;">
                <input class="form-control" style="padding-right: 0px;padding-left: 0px;" data-bind="value: costPrice, validationTooltip: costPrice, validationOnElement:costPrice" />
            </div>
        </td>
        <td style="padding-left:2px;padding-right: 0px;">
            <div class="col-md-11" style="padding-right: 0px;padding-left: 2px;">
                <input class="form-control" type="text" data-bind="datepicker: fromDate, validationTooltip: fromDate,css: { errorFill: isInvalidPeriod }, validationOnElement:fromDate" />
            </div>
        </td>
        <td style="padding-left:2px;padding-right: 0px;">
            <div class="col-md-11" style="padding-right: 0px;padding-left: 2px;">
                <input class="form-control" type="text" data-bind="datepicker: toDate, validationTooltip: toDate,css: { errorFill: isInvalidPeriod }, validationOnElement:toDate" />
            </div>
        </td>
        <td style="padding-left:2px;padding-right: 0px;">
            <div class="col-md-4"><span class="control-label" data-bind="text:$root.currencySymbol"></span></div>
            <div class="col-md-8" style="padding-right: 0px;padding-left: 2px;">
                <span data-bind="text: packCostPrice"></span>
            </div>
        </td>
        <td>
            <!-- ko template: { name: 'deleteActionCostItemTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
<script id="itemCostTemplate" type="text/html">
    <tr data-bind="if: (costOrPriceIdentifier() == 0), click: $root.selectCostItem, css: { selectedRow: $data === $root.selectedCostItem() }">
        <td>
            <span class="control-label" data-bind=" text:$root.currencySymbol"></span>
            <span data-bind="text: ' '"></span>
            <span data-bind="text: costPrice"></span>
        </td>
        <td data-bind="dateString: fromDate"></td>
        <td data-bind="dateString: toDate"></td>
        <td>
            <span class="control-label" data-bind="text:$root.currencySymbol"></span>
            <span data-bind="text: ' '"></span>
            <span data-bind="text: packCostPrice"></span>
        </td>
        <td>
            <!-- ko template: { name: 'deleteActionCostItemTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
@*For Price Items*@
<script id="deleteActionPriceItemTemplate" type="text/html">
    <a href="#" class="table-link danger" data-bind="click: $root.onDeletePriceItem" title="Delete">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</script>
<script id="editPriceTemplate" type="text/html">
    <tr data-bind="css: { selectedRow: $data === $root.selectedPriceItem() }">
        <td style="padding-left:2px;padding-right: 0px;">
            <div class="col-md-4 control-label"><span class="control-label" data-bind="text:$root.currencySymbol"></span></div>
            <div class="col-md-8" style="padding-right: 2px;padding-left: 2px;">
                <input class="form-control" style="padding-right: 0px;padding-left: 0px;" data-bind="value: costPrice, validationTooltip: costPrice, validationOnElement:costPrice" />
            </div>
        </td>
        <td style="padding-left:2px;padding-right: 0px;">
            <div class="col-md-11" style="padding-right: 0px;padding-left: 2px;">
                <input class="form-control" type="text" style="padding-right: 0px;padding-left: 0px;" data-bind="datepicker: fromDate, validationTooltip: fromDate,css: { errorFill: isInvalidPeriod }, validationOnElement:fromDate" />
            </div>
        </td>
        <td style="padding-left:2px;padding-right: 0px;">
            <div class="col-md-11" style="padding-right: 0px;padding-left: 2px;">
                <input class="form-control" style="padding-right: 0px;padding-left: 0px;" type="text" data-bind="datepicker: toDate, validationTooltip: toDate,css: { errorFill: isInvalidPeriod }, validationOnElement:toDate" />
            </div>
        </td>
        <td style="padding-left:2px;padding-right: 0px;">
            <div class="col-md-4"><span class="control-label" data-bind="text:$root.currencySymbol"></span></div>
            <div class="col-md-8" style="padding-right: 0px;padding-left: 2px;">
                <span data-bind="text: packCostPrice"></span>
            </div>
        </td>
        <td>
            <!-- ko template: { name: 'deleteActionPriceItemTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
<script id="itemPriceTemplate" type="text/html">
    <tr data-bind="if: (costOrPriceIdentifier() == -1), click: $root.selectPriceItem, css: { selectedRow: $data === $root.selectedPriceItem() }">
        <td>
            <span class="control-label" data-bind="text:$root.currencySymbol"></span>
            <span data-bind="text: ' '"></span>
            <span data-bind="text: costPrice"></span>
        </td>
        <td data-bind="dateString: fromDate"></td>
        <td data-bind="dateString: toDate"></td>
        <td>
            <span class="control-label" data-bind="text:$root.currencySymbol"></span>
            <span data-bind="text: ' '"></span>
            <span data-bind="text: packCostPrice"></span>
        </td>
        <td>
            <!-- ko template: { name: 'deleteActionPriceItemTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>

