

<div class="row" id="inventoryEditor" data-bind="visible: isInventoryEditorVisible" style="display: none;">

    <div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb" style="padding-left:7px;">
                        <li><a href="~/Dashboard/Index" class="my-navigator">Home</a></li>
                        <li><a href="~/Settings" class="my-navigator">Settings</a></li>
                        <li><a href="~/Settings/MIS/Inventory" class="my-navigator">Paper & Inks</a></li>
                        <li class="active"><span>Paper & Inks Detail</span></li>
                    </ol>
                    <div data-bind="with:selectedInventory" style="padding-left:7px;">
                        <div class="clearfix dynamicNameHeading">
                            <h1 class="pull-left" data-bind="text:itemName" style="padding-left:0px;">&nbsp;</h1>
                        </div>
                        <div class="pull-left validationSummaryContainer">
                            <a class="validationSummaryLink" data-bind="visible: $root.errorList().length > 0, bootstrapPopover: { html: true, title: 'Please fix following errors', elementNode: 'validationSummaryPopup', popoverId: 'validationSummaryPopoverBody' }" style="display: none">Invalid data: Click here to see details.</a>
                            <div class="well well-small validationSummaryModal" id="validationSummaryPopup" style="display: none">
                                <div id="validationSummaryPopoverBody">
                                    <ul data-bind="foreach: $root.errorList">
                                        <li>
                                            <a data-bind="click: $root.gotoElement.bind($data.element)"><span data-bind="text: name"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right top-page-ui" style="padding-right:10PX;">
                            <div style="margin-top:-2px;">
                                <button class="btn btn-danger" id="delButton" data-bind="click: $root.onArchiveStock, visible:itemId()!== 0">Archive</button>

                                <button class="btn  btn-info" id="saveBtn" data-bind="click:$root.onSaveInventory, enable: $root.hasChangesOnInventory, css: { 'btn-warning': $root.hasChangesOnInventory }">Save</button>
                                <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeInventoryEditor">Close</button>
                            </div>
                        </div>
                        <div id="detailArea">
                            &nbsp;
                        </div>

                    </div>
                    <br />
                </div>
            </div>
            <div class="row" data-bind="with:selectedInventory" style="padding-left:7px;padding-right:10px;margin-top:17px;">
                <div class="col-lg-12" style="padding-left:10px;">
                    <div class="main-box no-header clearfix">

                        <div style="padding-left:10px;padding-right:10px;">
                            <form class="form-horizontal">
                                <div class="col-lg-9">
                                    <div class="form-group ">
                                        <div class="col-lg-3 text-right" style="margin-top:12px;">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-content="Enter Stock Name" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>*@
                                            </div>
                                            <label for="name" class="control-label text-right tooltip-float">Inventory Name</label>
                                        </div>
                                        <div class="col-lg-6" style="padding-left:13px;">
                                            <input type="text" style="height:60px;" class="form-control font24px" placeholder="Enter Inventory Name" id="name" data-bind="value:itemName, validationTooltip: itemName, validationOnElement:itemName" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-content="Select Stock Category" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>*@
                                            </div>
                                            <label for="category" class="control-label text-right tooltip-float">Inventory Category</label>
                                        </div>
                                        <div class="col-lg-6" style="padding-left:13px;">
                                            <select id="category" class="form-control" data-bind="disable:(itemId()!==0 && $root.isStockCatEditable() == false),options: $root.categories, optionsText: 'Name', optionsValue: 'CategoryId',value:categoryId, validationTooltip: categoryId, validationOnElement:categoryId"></select>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-content="Select Stock Sub Category" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>*@
                                            </div>
                                            <label for="subcategory" class="control-label text-right tooltip-float">Inventory Sub Category</label>
                                        </div>
                                        <div class="col-lg-6" style="padding-left:13px;">
                                            <select id="subcategory" class="form-control" data-bind="options: $root.filteredSubCategoriesForDetail, optionsText: 'Name', optionsValue: 'SubCategoryId',value:subCategoryId, validationTooltip: subCategoryId, validationOnElement:subCategoryId"></select>
                                        </div>
                                    </div>

                                    <div class="form-group " data-bind="visible:itemId()!== 0">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Description" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>*@
                                            </div>
                                            <label for="description" class="control-label text-right tooltip-float">Description</label>
                                        </div>
                                        <div class="col-lg-6" style="padding-left:14px;">
                                            <textarea class="form-control notes" rows="4" id="description" data-bind="value: description, valueUpdate: 'keyup'"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="col-lg-9">
                                        <div class="form-group ">
                                            <div class="col-lg-3 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Flag" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>*@
                                                </div>
                                                <label for="flag" class="control-label text-right tooltip-float">Flag</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select style="width: 100% !important;" id="flag" data-bind="select2: { formatResult: $root.formatResult,formatSelection: $root.formatSelection }, value: flagId, foreach: $root.sectionFlags">
                                                    <option style="width: 100% !important;" data-bind="text: FlagName, attr: { 'data-color': FlagColor, value: SectionFlagId }"></option>
                                                </select>
                                                <i class="fa fa-sort-desc" style="float: right;padding-right: 9px;position: relative;bottom: 25px;"></i>
                                                @*<select id="flag" class="form-control" data-bind="options: $root.sectionFlags, optionsText: 'FlagName', optionsValue: 'SectionFlagId',value:flagId, validationTooltip: flagId"></select>*@
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12" data-bind="visible:categoryId() === 1">
                                    <div class="col-lg-9">
                                        <div class="form-group ">
                                            <div class="col-lg-3 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Paper Type" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>*@
                                                </div>
                                                <label for="flag" class="control-label text-right tooltip-float">Paper Type</label>
                                            </div>
                                            <div class="col-lg-7">
                                                <!-- ko if: itemId() <= 0-->
                                                <div class="col-sm-4" style="padding-left:0px;">
                                                    <div class="radio">
                                                        <input type="radio" name="optionsRadiosPaperType" id="optionsRadiosSheet" value="1" data-bind="checked: paperTypeId, visible : itemId() <= 0">
                                                        <label for="optionsRadiosSheet">
                                                            Sheet
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="radio">
                                                        <input type="radio" name="optionsRadiosPaperType" id="optionsRadiosRoll" value="2" data-bind="checked: paperTypeId, visible: itemId() <= 0">
                                                        <label for="optionsRadiosRoll">
                                                            Roll Paper
                                                        </label>
                                                    </div>
                                                </div>
                                                <!-- /ko -->
                                                <!-- ko if: itemId() > 0-->
                                                <!-- ko if: paperTypeId()==1-->
                                                <label id="inStock" class="control-label">Sheet</label>
                                                <!-- /ko -->
                                                <!-- ko if: paperTypeId()==2-->
                                                <label id="inStock" class="control-label">Roll Paper</label>
                                                <!-- /ko -->
                                                <!-- /ko -->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12" data-bind="visible:categoryId() === 4">
                                    <div class="col-lg-9">
                                        <div class="form-group ">
                                            <div class="col-lg-3 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">

                                                </div>
                                                <label for="flag" class="control-label text-right tooltip-float">Plate Run Length</label>
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="text" style="text-align:right;" class="form-control" id="weight" data-bind="value:plateRunLength" />

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    @*<div class="form-group " data-bind="visible:itemId()!== 0">
                                            <div class="col-lg-5 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Status" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="status" class="control-label text-right tooltip-float">Availability Status</label>
                                            </div>
                                            <div class="col-lg-7" style="padding-left:14px;">
                                                <select id="status" class="form-control" data-bind="options: $root.statusList, optionsText: 'Text', optionsValue: 'Id',value:statusId, validationTooltip: statusId"></select>
                                            </div>
                                        </div>*@
                                    @*<div class="form-group " data-bind="visible:itemId()!== 0">
                                            <div class="col-lg-5 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Choose Disabled" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="disabled" class="control-label text-right tooltip-float">Disable</label>
                                            </div>
                                            <div class="col-lg-7" style="padding-top:5px;padding-left:14px;">
                                                <div class="checkbox-nice">
                                                    <input type="checkbox" data-bind="checked: isDisabled" id="isDisabled">
                                                    <label for="isDisabled"></label>
                                                </div>
                                            </div>
                                        </div>*@


                                </div> <!--this one -->
                            </form>
                            <div class="col-lg-12 form-horizontal">
                                <h3 class="group-header">Buy-in Dimensions & Pack Size</h3>
                                <div class="col-lg-9">
                                    <div class="form-group" data-bind="visible:paperTypeId() !== '2'">
                                        <div class="col-lg-3 text-right" data-bind="visible:perQtyType()!==2 && perQtyType()!==3">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                            </div>
                                            <label for="packedin" class="control-label text-right tooltip-float">Packed In</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="" data-bind="visible:perQtyType()!==2 && perQtyType()!==3">
                                                <input type="text" style="text-align:right;" class="form-control" id="packedin" data-bind="value:packageQty, validationTooltip: packageQty, validationOnElement:packageQty" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3" data-bind="visible:categoryId()=== 1">
                                            <select class="form-control" data-bind="options: $root.filteredUnits, optionsText: 'Text', optionsValue: 'Id',value:perQtyType"></select>
                                        </div>
                                        <div class="col-lg-3" data-bind="visible:(categoryId()!== 1 && categoryId()!== 2)">
                                            <label class="control-label">Units</label>
                                        </div>
                                    </div>
                                    <div class="form-group" data-bind="visible:(categoryId() === 1 && paperTypeId()=== '1')">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">

                                            </div>
                                            <label class="control-label text-right tooltip-float">Sheet Size</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <select class="form-control" data-bind="options: $root.paperSizes, optionsText: 'Name', optionsValue: 'PaperSizeId',disable:itemSizeCustom,value:itemSizeId"></select>
                                        </div>
                                    </div>
                                    <div class="form-group" data-bind="visible:(categoryId() === 1 && paperTypeId()=== '2')" style="margin-bottom: 0px;">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">

                                            </div>
                                            <label class="control-label text-right tooltip-float"></label>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" style="text-align:right;" data-bind="value:itemSizeWidth" />
                                        </div>
                                        <div class="col-lg-1" style="text-align: center;">

                                            <label class="control-label">X</label>

                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" style="text-align:right;" data-bind="value:itemSizeHeight" />
                                        </div>
                                    </div>
                                    <div class="form-group" data-bind="visible:(categoryId() === 1 && paperTypeId()=== '2')">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">

                                            </div>
                                            <label class="control-label text-right tooltip-float"></label>
                                        </div>
                                        <div class="col-lg-3" style="text-align: center;">
                                            <label class="control-label">(Width in Meters)</label>
                                        </div>
                                        <div class="col-lg-1">
                                            <div class="col-lg-1" style="padding-left: 4%;">

                                            </div>
                                        </div>
                                        <div class="col-lg-3" style="text-align: center;">
                                            <label class="control-label">(Length in Meters)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--new portion-->
                            <div class="col-lg-12 form-horizontal" data-bind="visible:( categoryId()=== 1 ||categoryId()=== 2)">
                                <h3 class="group-header">Inventory Attributes</h3>
                                <div class="col-lg-9">
                                    <div class="form-group" data-bind="visible:categoryId() !== 2">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Set your standard average of paper weights, starting at your average lowest weight and up to the guillotines average max weight" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="weight" class="control-label text-right tooltip-float">Paper / Board weight</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" style="text-align:right;" class="form-control" id="weight" data-bind="value:itemWeight, validationTooltip: itemWeight, validationOnElement:itemWeight" />
                                        </div>
                                        <div class="col-lg-4">
                                            (<label class="control-label" data-bind="text: $root.weightLabel"></label>)
                                            @*<select class="form-control" data-bind="options: $root.weightUnits, optionsText: 'UnitName', optionsValue: 'Id',value:itemWeightSelectedUnit "></select>*@
                                        </div>
                                    </div>

                                    @*<div class="form-group" data-bind="visible:categoryId() !== 2 && IsImperical() === true">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Paper Basis Area" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label class="control-label text-right tooltip-float">Paper Basis Area</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <select class="form-control" data-bind="options: $root.paperBasisAreas, optionsText: 'Name', optionsValue: 'PaperBasisAreaId',value:paperBasicAreaId "></select>
                                        </div>
                                    </div>*@
                                    <div class="form-group " data-bind="visible:categoryId() === 2">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Paper Basis Area" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label class="control-label text-right tooltip-float">Color</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" id="color" class="form-control" data-bind="value:itemColour" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--New portion-->
                            <div class="col-lg-12 form-horizontal">
                                <h3 class="group-header">Stock Control</h3>
                                <div class="col-lg-9">
                                    @*<div class="form-group " data-bind="visible:itemId()!== 0">
                                            <div class="col-lg-5 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">

                                                </div>
                                                <label for="openingStock" class="control-label text-right tooltip-float">Opening Stock count</label>
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="text" style="text-align:right;" class="form-control" id="openingStock" data-bind="value:inStock, validationTooltip: inStock" />
                                            </div>
                                        </div>
                                        <div class="form-group " data-bind="visible:itemId()!==0">
                                            <div class="col-lg-5 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">

                                                </div>
                                                <label for="weight" class="control-label text-right tooltip-float">In Stock</label>
                                            </div>
                                            <div class="col-lg-7">
                                                <label id="inStock" class="control-label" data-bind="text:inStock"></label>
                                            </div>
                                        </div>
                                        <div class="form-group " data-bind="visible:itemId()!==0">
                                            <div class="col-lg-5 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Free Stock" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="weight" class="control-label text-right tooltip-float">Free Stock</label>
                                            </div>
                                            <div class="col-lg-7">
                                                <label id="inStock" class="control-label" data-bind="text:inStock"></label>
                                            </div>
                                        </div>*@
                                    @*<div class="form-group " data-bind="visible:itemId()!==0">
                                            <div class="col-lg-5 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Allocated" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="weight" class="control-label text-right tooltip-float">Allocated Stock</label>
                                            </div>
                                            <div class="col-lg-7">
                                                <label id="inStock" class="control-label" data-bind="text:allocated"></label>
                                            </div>
                                        </div>
                                        <div class="form-group " data-bind="visible:itemId()!==0">
                                            <div class="col-lg-5 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="On Order" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="weight" class="control-label text-right tooltip-float">On Order</label>
                                            </div>
                                            <div class="col-lg-7">
                                                <label id="inStock" class="control-label" data-bind="text:onOrder"></label>
                                            </div>
                                        </div>*@
                                    <div class="form-group ">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="When an inventory item reaches this level a purchase order will be generated to the selected supplier to replenish the stock level.  Enter the quantity required for replenishment in default Reorder Quantity" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="weight" class="control-label text-right tooltip-float">Reorder Level</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" style="text-align:right;" id="inStock" class="form-control" data-bind="value:reOrderLevel, validationTooltip: reOrderLevel, validationOnElement:reOrderLevel" />
                                        </div>
                                    </div>
                                    <div class="form-group " data-bind="visible:itemId()!==0">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Last Qty Order" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>*@
                                            </div>
                                            <label for="weight" class="control-label text-right tooltip-float">Last Quantity Ordered</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label id="inStock" class="control-label" data-bind="text:lastOrderQty"></label>
                                        </div>
                                    </div>
                                    <div class="form-group " data-bind="visible:itemId()!==0">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Last Order Date" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>*@
                                            </div>
                                            <label for="weight" class="control-label text-right tooltip-float">Last Order Date</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label id="inStock" class="control-label" data-bind="text:lastOrderDate"></label>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="This is the amount that will be reordered through the selected supplier once the reorder level has been reached.  NOTE: because this stock monitoring is automatic you may choose to hold less stock or buy more to reduce your cost of goods" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="weight" class="control-label text-right tooltip-float">Reorder Quantity</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" style="text-align:right;" id="inStock" class="form-control" data-bind="value:reorderQty, validationTooltip: reorderQty, validationOnElement:reorderQty" />
                                        </div>
                                    </div>
                                    <div class="form-group " data-bind="visible:itemId()!==0">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Location" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="weight" class="control-label text-right tooltip-float">Bin/Shelf Location</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" id="inStock" class="form-control" data-bind="value:stockLocation" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Quantity in Stock" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="weight" class="control-label text-right tooltip-float">Quantity in Stock</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" style="text-align:right;" id="inStock" disabled class="form-control" data-bind="value:inStock, validationTooltip: inStock, validationOnElement:inStock" />
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="btn-group" style="float: left;">
                                                <a href="#" class="btn btn-success" data-bind="click: $root.addStockQuantity">
                                                    Add Stock Quantity
                                                </a>
                                            </div>
                                            <div class="btn-group" style="float: left;margin-left:5px;">
                                                <a href="#" class="btn btn-danger" data-bind="click: $root.removeStockQuantity">
                                                    Remove Stock Quantity
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Threshold Quantity" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="weight" class="control-label text-right tooltip-float">Threshold Quantity</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" style="text-align:right;" id="inStock" class="form-control" data-bind="value:thresholdLevel, validationTooltip: thresholdLevel, validationOnElement:thresholdLevel" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-3 text-right">

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="checkbox-nice">
                                                <input type="checkbox" id="allowBack" data-bind="checked:isAllowBackOrder">
                                                <label for="allowBack">
                                                    Allow Back Order
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 form-horizontal" style="padding-left:0px;">
                                <div class="col-lg-12" style="padding-left:3%;padding-right:0px;margin-bottom:20px;">
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-10" style="padding-right:0px;">
                                        <div style="background-color:#DCDCDC;padding:20px;">
                                            <div class="inlineGrid">
                                                <div class="table-responsive">
                                                    <span style="font-size:16px">Stock Level History</span>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <table id="Tablle" class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-lg-3"> <span>Action<span></span></span></th>
                                                                <th class="col-lg-2"> <span>Action Qty<span></span></span></th>
                                                                <th class="col-lg-2"> <span>Modify Date<span></span></span></th>
                                                                <th class="col-lg-3"> <span>Modify By<span></span></span></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- ko template: { name: 'itemStockUpdateHistoryTemplate' , foreach: itemStockUpdateHistories } -->
                                                            <!-- /ko -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--New portion-->
                            <div class="col-lg-12 form-horizontal">
                                <h3 class="group-header">Buy-in Price from Supplier</h3>
                                <div class="col-lg-9">
                                    <div class="form-group" style="margin-bottom:8px;">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">

                                            </div>
                                            <label for="supplier" class="control-label text-right tooltip-float">Supplier Name</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="supplier" disabled data-bind="value:supplierName, validationTooltip: supplierName, validationOnElement:supplierName" />
                                        </div>
                                        <div class="col-lg-1" style="padding-left:0px;">

                                            <div class="col-xs-6">
                                                <a href="#" class="btn btn-primary" data-bind="click:$root.onAddSupplier">
                                                    <i class="fa fa-user"></i>
                                                </a>
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group " data-bind="visible:itemId()!==0">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-content="Stock code auto generated from prefixes of the system." data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="code" class="control-label text-right tooltip-float">Internal Product Code</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="code" data-bind="value:itemCode, enable: false, validationTooltip: itemCode, validationOnElement:itemCode" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">

                                            </div>
                                            <label for="barCode" class="control-label text-right tooltip-float">Supplier Product Code</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="barCode" data-bind="value:barCode, validationTooltip: barCode, validationOnElement:barCode" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--new portion-->
                            <div class="col-lg-9 form-horizontal">
                                <div class="form-group">
                                    <div class="col-lg-3 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">


                                        </div>
                                        <label class="control-label text-right tooltip-float">Buy Price is Per</label>
                                    </div>
                                    <div class="col-lg-3" style="padding-left:14px;" data-bind="visible:perQtyType()!==2 && perQtyType()!==3">
                                        <input type="text" style="text-align:right;" class="form-control" id="size" data-bind="value:perQtyQty, validationTooltip: perQtyQty, validationOnElement:perQtyQty" />
                                    </div>
                                    <div class="col-lg-1" style="margin-left: 5px">
                                        <label class="control-label" data-bind="visible:categoryId()===1">Sheets</label>
                                        <label class="control-label" data-bind="visible:categoryId()===2,text:$root.weightLabel"></label>
                                        <label class="control-label" data-bind="visible:(categoryId()!==2 && categoryId()!==1)">Units</label>
                                    </div>

                                </div>
                                <div class="form-group" data-bind="visible:categoryId()===2">
                                    <div class="col-lg-3 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                        </div>
                                        <label class="control-label text-right tooltip-float" data-bind="text:'Charge Per Square ' + $root.lengthLabel()"></label>
                                    </div>
                                    <div class="col-lg-3" style="padding-left:14px;">
                                        <div class="input-group">
                                            <span data-bind="text:$root.currencySymbol" class="input-group-addon"></span>
                                            <div class="col-xs-12" style="padding:0">
                                                <input type="text" class="form-control txtBox-contentAlignRight" id="perSquareCharge" data-bind="autoNumeric: inkChargePerSquare , settings:{mDec:6}" />
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>


                            <!--New Portion-->
                            <div class="col-lg-12 form-horizontal" style="margin-top:20px;padding-left:3%;padding-right:0px;">
                                <div class="col-lg-2">

                                </div>
                                <div class="col-lg-10">
                                    <div class="col-lg-12" style="background-color:#DCDCDC;padding:20px;">
                                        <div class="inlineGrid">
                                            <div class="table-responsive">
                                                <span style="font-size:16px">Cost Price (Used when estimating)</span>
                                                <br />
                                                <br />
                                                <br />
                                                <table id="costTablle" class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 16%; text-align:right;"> <span>Cost/ <span data-bind="text:headerComputedValue"></span></span></th>
                                                            <th style="width: 22%; text-align:center;"> <span>From<span></span></span></th>
                                                            <th style="width: 22%;text-align:center;"> <span>To<span></span></span></th>
                                                            <th style="width: 22%; text-align:right;padding-right:40px;"> <span>Pack Cost<span></span></span></th>
                                                            <th style="width: 5%">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- ko template: { name: $root.templateToUse , foreach: $root.costPriceList } -->
                                                        <!-- /ko -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="filter-block pull-left" style="margin-left:12px;margin-top:15px;">
                                            <a href="#" class="btn btn-primary pull-right" data-bind="click: $root.createCostItem">
                                                Add New Cost
                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- new portion-->
                            <div class="col-lg-12 form-horizontal" style="padding-left:3%;padding-right:0px;" data-bind="visible:categoryId()!==2">
                                <div class="col-lg-2">

                                </div>
                                <div class="col-lg-10">
                                    <div class="col-lg-12" style="background-color:#DCDCDC;padding:20px;">
                                        <div class="inlineGrid">
                                            <div class="table-responsive">
                                                <span style="font-size:16px">Selling Price (Used when estimating)</span>
                                                <br />
                                                <br />
                                                <br />
                                                <table id="costTablle" class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 16%;text-align:right;"> <span>Price/ <span data-bind="text:headerComputedValue"></span></span></th>
                                                            <th style="width: 22%;text-align:center;"> <span>From<span></span></span></th>
                                                            <th style="width: 22%;text-align:center;"> <span>To<span></span></span></th>
                                                            <th style="width: 22%;text-align:right;padding-right:40px;"> <span>Pack Price<span></span></span></th>
                                                            <th style="width: 5%">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- ko template: { name: $root.templateToUseForPrice , foreach: $root.costPriceList } -->
                                                        <!-- /ko -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="filter-block pull-left" style="margin-left:12px;margin-top:15px;">
                                            <a href="#" class="btn btn-primary pull-right" data-bind="click: $root.createPriceItem">
                                                Add New Selling Price
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@**For Cost Items*@
<script id="deleteActionCostItemTemplate" type="text/html">
    <a href="#" class="table-link danger" data-bind="click: $root.onDeleteCostItem" title="Delete">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</script>
<script id="editCostTemplate" type="text/html">
    <tr data-bind="css: { selectedRow: $data === $root.selectedCostItem() }">
        <td style="padding-left:2px;padding-right: 0px;">
            <div class="col-md-3" style="padding-right: 0px;margin-top: 2%;margin-right: -7%;"><span class=" control-label" data-bind="text:$root.currencySymbol"></span></div>
            <div class="col-md-6" style="padding-right: 0px;padding-left: 2px;">
                <input class="form-control" style="text-align: right;padding-right: 3px;padding-left: 0px;" data-bind="value: costPrice, validationTooltip: costPrice, validationOnElement:costPrice" />
            </div>
        </td>
        <td style="padding-left:2px;padding-right: 0px;text-align:right;">
            <div class="col-md-9" style="padding-right: 0px;padding-left: 2px;">
                <input class="form-control" type="text" data-bind="datepicker: fromDate, validationTooltip: fromDate,css: { errorFill: isInvalidPeriod }, validationOnElement:fromDate" />
            </div>
        </td>
        <td style="padding-left:2px;padding-right: 0px;text-align:right;">
            <div class="col-md-9" style="padding-right: 0px;padding-left: 2px;">
                <input class="form-control" type="text" data-bind="datepicker: toDate, validationTooltip: toDate,css: { errorFill: isInvalidPeriod }, validationOnElement:toDate" />
            </div>
        </td>
        <td style="padding-left:2px;padding-right: 0px;text-align:right;">
            <div class="col-md-1"></div>
            <div class="col-md-9" style="padding-right: 0px;padding-left: 2px;">
                <span class="control-label" style="margin-right:2px;" data-bind="text:$root.currencySymbol"></span><span data-bind="numberInput: packCostPrice"></span>
            </div>
        </td>
        <td>
            <!-- ko template: { name: 'deleteActionCostItemTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
<script id="itemCostTemplate" type="text/html">
    <tr data-bind="if: (costOrPriceIdentifier() == 0), click: $root.selectCostItem, css: { selectedRow: $data === $root.selectedCostItem() }">
        <td style="text-align:right;">
            <span class="control-label" data-bind="text: $root.currencySymbol"></span>
            <span class="control-label" data-bind="text: costPrice"></span>
        </td>
        <td style="text-align:center;" data-bind="dateString: fromDate, datePattern: 'DD/MM/YYYY'"></td>
        <td style="text-align:center;" data-bind="dateString: toDate,datePattern: 'DD/MM/YYYY'"></td>
        <td style="text-align:right;padding-right:40px;">
            <span class="control-label" data-bind="text:$root.currencySymbol"></span>
            <span data-bind="text: ' '"></span>
            <span class="control-label" data-bind="numberInput: packCostPrice"></span>
        </td>
        <td>
            <!-- ko template: { name: 'deleteActionCostItemTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
<script id="itemStockUpdateHistoryTemplate" type="text/html">
    <tr>
        <td>
            <span class="control-label" data-bind="text: actionName"></span>
        </td>
        <td>
            <span class="control-label" data-bind="text: lastModifiedQty"></span>
        </td>
        <td data-bind="dateString: lastModifiedDate, datePattern: 'DD/MM/YYYY'"></td>
        <td>
            <span class="control-label" data-bind="text: lastModifiedByName"></span>
        </td>
    </tr>
</script>

@*For Price Items*@
<script id="deleteActionPriceItemTemplate" type="text/html">
    <a href="#" class="table-link danger" data-bind="click: $root.onDeletePriceItem" title="Delete">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</script>
<script id="editPriceTemplate" type="text/html">
    <tr data-bind="css: { selectedRow: $data === $root.selectedPriceItem() }">
        <td style="padding-left:2px;padding-right: 0px;">
            <div class="col-md-3" style="padding-right: 0px;margin-top: 2%;margin-right: -7%;"><span class=" control-label" data-bind="text:$root.currencySymbol"></span></div>

            <div class="col-md-6" style="padding-right: 0px;padding-left: 2px;">
                <input class="form-control" style="padding-right: 3px;text-align: right;padding-left: 0px;" data-bind="value: costPrice, validationTooltip: costPrice, validationOnElement:costPrice" />
            </div>
        </td>
        <td style="padding-left:2px;padding-right: 0px;text-align:center;">
            <div class="col-md-9" style="padding-right: 0px;padding-left: 2px;">
                <input class="form-control" type="text" style="padding-right: 0px;padding-left: 0px;" data-bind="datepicker: fromDate, validationTooltip: fromDate,css: { errorFill: isInvalidPeriod }, validationOnElement:fromDate" />
            </div>
        </td>
        <td style="padding-left:2px;padding-right: 0px;text-align:center;">
            <div class="col-md-9" style="padding-right: 0px;padding-left: 2px;">
                <input class="form-control" style="padding-right: 0px;padding-left: 0px;" type="text" data-bind="datepicker: toDate, validationTooltip: toDate,css: { errorFill: isInvalidPeriod }, validationOnElement:toDate" />
            </div>
        </td>
        <td style="padding-left:2px;padding-right: 0px;text-align:right;">
            <div class="col-md-1"></div>
            <div class="col-md-9" style="padding-right: 0px;padding-left: 2px;">
                <span class="control-label" style="padding-right:2px;" data-bind="text:$root.currencySymbol"></span><span data-bind="numberInput: packCostPrice"></span>
            </div>
        </td>
        <td>
            <!-- ko template: { name: 'deleteActionPriceItemTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
<script id="itemPriceTemplate" type="text/html">
    <tr data-bind="if: (costOrPriceIdentifier() == -1), click: $root.selectPriceItem, css: { selectedRow: $data === $root.selectedPriceItem() }">
        <td style="text-align:right;">
            <span class="control-label" data-bind="text: $root.currencySymbol"></span>
            <span class="control-label" data-bind="text: costPrice"></span>
        </td>
        <td data-bind="dateString: fromDate, datePattern: 'DD/MM/YYYY'" style="text-align:center;"></td>
        <td data-bind="dateString: toDate, datePattern: 'DD/MM/YYYY'" style="text-align:center;"></td>
        <td style="text-align:right;">
            <span class="control-label" data-bind="text:$root.currencySymbol"></span>
            <span data-bind="text: ' '"></span>
            <span class="control-label" data-bind="numberInput: packCostPrice" style="padding-right:40px;"></span>
        </td>
        <td>
            <!-- ko template: { name: 'deleteActionPriceItemTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>

