
<div class="row" id="inventoryEditor" data-bind="visible: isInventoryEditorVisible" style="display: none;">
    <div data-bind="with:selectedInventory">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="clearfix">
                        <h1 class="pull-left">Inventory Detail</h1>
                        <div class="pull-right top-page-ui">
                            <button class="btn  btn-info" id="saveBtn" data-bind="click:$root.onSaveInventory, enable: hasChanges, css: { 'btn-warning': hasChanges }">Save</button>
                            <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeInventoryEditor">Cancel</button>
                        </div>
                    </div>
                    <div data-bind="visible:$root.errorList().length > 0" style="display: none;">
                        <p> Please corresct these errors.</p>
                        <table id="table">
                            <tbody>
                                <!-- ko template: { name: 'itemErrorTemplate' , foreach: $root.errorList } -->
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box no-header clearfix">
                        <div class="main-box-body clearfix">
                            <form class="form-horizontal">
                                <div class="form-group">

                                    <label for="name" class="control-label h5 col-sm-2">Stock Name</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="name" data-bind="value:itemName, validationTooltip: itemName" />
                                    </div>
                                    <label for="supplier" class="control-label h5 col-sm-2">Supplier</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="supplier" disabled data-bind="value:supplierName, validationTooltip: supplierName" />
                                    </div><button type="button" data-bind="click:$root.onAddSupplier">..</button>
                                </div>
                                <div class="form-group">
                                    <label for="code" class="control-label h5 col-sm-2" data-bind="visible:itemId()!==0">Stock Code</label>
                                    <div class="col-md-2" data-bind="visible:itemId()!==0">
                                        <input type="text" class="form-control" id="code" data-bind="value:itemCode, validationTooltip: itemCode" />
                                    </div>
                                    <label for="category" class="control-label h5 col-sm-2">Stock Category</label>
                                    <div class="col-md-2">
                                        <select id="category" class="form-control" data-bind="disable:(itemId()!==0),options: $root.categories, optionsText: 'Name', optionsValue: 'CategoryId',value:categoryId, validationTooltip: categoryId"></select>
                                    </div>
                                    <label for="subCategory" class="control-label h5 col-sm-2">Sub Category</label>
                                    <div class="col-md-2">
                                        <select id="subCategory" class="form-control" data-bind="options: $root.subCategories, optionsText: 'Name', optionsValue: 'SubCategoryId',value:subCategoryId, validationTooltip: subCategoryId"></select>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="barCode" class="control-label h5 col-sm-2">Bar Code</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="barCode" data-bind="value:barCode, validationTooltip: barCode" />
                                    </div>
                                    <label for="flag" class="control-label h5 col-sm-2">Section Flag</label>
                                    <div class="col-md-2">
                                        @*<select id="flag" class="form-control" data-bind="options: $root.sectionFlags, optionsValue: 'SectionFlagId', optionsText: 'FlagName', value: flagId, select2: { formatSelection:  $root.format, formatResult:  $root.format  }"></select>*@
                                        <select id="flag" class="form-control" data-bind="options: $root.sectionFlags, optionsText: 'FlagName', optionsValue: 'SectionFlagId',value:flagId, validationTooltip: flagId"></select>
                                    </div>
                                    <label for="location" class="control-label h5 col-sm-2" data-bind="visible:itemId()=== 0">Stock Located At</label>
                                    <div class="col-md-2" data-bind="visible:itemId()===0">
                                        <input type="text" class="form-control" id="location" data-bind="value:stockLocation" />
                                    </div>
                                    <label for="status" class="control-label h5 col-sm-2" data-bind="visible:itemId()!== 0">Status</label>
                                    <div class="col-md-2" data-bind="visible:itemId()!==0">
                                        <select id="status" class="form-control" data-bind="options: $root.statusList, optionsText: 'Text', optionsValue: 'Id',value:statusId, validationTooltip: statusId"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="openingStock" class="control-label h5 col-sm-2" data-bind="visible:itemId()===0">Opening Stock</label>
                                    <div class="col-md-2" data-bind="visible:itemId()===0">
                                        <input type="text" class="form-control" id="openingStock" data-bind="value:inStock, validationTooltip: inStock" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label h5 col-sm-2" data-bind="visible:itemId()!==0">Disabled</label>
                                    <div class="col-md-2" data-bind="visible:itemId()!==0">
                                        <input type="checkbox" class="form-control" data-bind="checked:isDisabled" />
                                    </div>
                                    <label class="control-label h5 col-sm-2" data-bind="visible:itemId()!==0">Paper Type</label>
                                    <div class="col-md-2" data-bind="visible:itemId()!==0">
                                    </div>
                                    <label class="control-label h5 col-sm-2" data-bind="visible:itemId()!==0">Creation Date</label>
                                    <div class="col-md-2" data-bind="visible:itemId()!==0">
                                        <label class="control-label h5 col-sm-2" data-bind="text:createdDate"></label>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="description" class="control-label h5 col-sm-2" data-bind="visible:itemId()!==0">Description</label>
                                    <div class="col-md-2" data-bind="visible:itemId()!==0">
                                        <textarea class="form-control" rows="4" id="description" data-bind="value: description, valueUpdate: 'keyup'"></textarea>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <hr />
                                <div class="main-box clearfix">
                                    <div class="tabs-wrapper profile-tabs">
                                        <ul class="nav nav-tabs" id="myTab">
                                            <li class="active"><a href="#tab-CostPrice" data-toggle="tab">Cost/Price</a></li>
                                            <li><a href="#tab-Properties" data-toggle="tab">Properties</a></li>
                                            <li><a href="#tab-StockControl" data-toggle="tab">Stock Control</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab-CostPrice">
                                                <div class="main-box-body clearfix">
                                                    <div class="col-md-12 form-horizontal">
                                                        <h3>Cost / Price</h3>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <div class="col-md-2" data-bind="visible:itemId()===0">
                                                                    <label class="control-label h5">Paper Type</label>
                                                                </div>
                                                                <div class="col-md-2" data-bind="visible:itemId()===0">
                                                                    <input type="radio" name="paperType" value=1 data-bind="checked: paperTypeId" /> Sheet
                                                                </div>
                                                                <div class="col-md-2" data-bind="visible:itemId()===0">
                                                                    <input type="radio" name="paperType" value=2 data-bind="checked: paperTypeId" /> Roll Paper
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="table-bordered">
                                                            <div class="form-group">
                                                                <label class="control-label h5 col-sm-2"><b>Dimensions</b></label>
                                                            </div>
                                                            @*In case of Sheet*@
                                                            <div class="form-group" data-bind="visible:paperTypeId()==='1' ">
                                                                <label for="size" class="control-label h5 col-sm-2">Size</label>
                                                                <div class="col-md-2">
                                                                    <select class="form-control" data-bind="options: $root.paperSizes, optionsText: 'Name', optionsValue: 'PaperSizeId',disable:itemSizeCustom,value:itemSizeId"></select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <input type="checkbox" class="form-control" data-bind="checked:itemSizeCustom" />
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <label class="control-label h5 col-sm-1">Custom</label>
                                                                </div>
                                                                <label for="height" class="control-label h5 col-sm-1">Height</label>
                                                                <div class="col-md-1">
                                                                    <input type="text" class="form-control" id="height" data-bind="value:itemSizeHeight,enable:itemSizeCustom" />
                                                                </div>
                                                                <label for="width" class="control-label h5 col-sm-1">Width</label>
                                                                <div class="col-md-1">
                                                                    <input type="text" class="form-control" id="width" data-bind="value:itemSizeWidth,enable:itemSizeCustom" />
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control" data-bind="options: $root.lengthUnits, optionsText: 'UnitName', optionsValue: 'Id',enable:itemSizeCustom,value:itemSizeSelectedUnitId "></select>
                                                                </div>

                                                            </div>
                                                            @*In case of Roll Paper*@
                                                            <div class="form-group" data-bind="visible:paperTypeId()==='2' ">
                                                                <div class="col-md-6">
                                                                </div>
                                                                <label for="width" class="control-label col-sm-1">Width</label>
                                                                <div class="col-md-1">
                                                                    <input type="text" class="form-control" id="width" data-bind="value:rollWidth" />
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control" data-bind="options: $root.lengthUnits, optionsText: 'UnitName', optionsValue: 'Id',value:itemSizeSelectedUnitId "></select>
                                                                </div>
                                                                <label for="length" class="control-label col-sm-1">Length</label>
                                                                <div class="col-md-1">
                                                                    <input type="text" class="form-control" id="length" data-bind="value:rollLength" />
                                                                </div>
                                                                <label for="width" class="control-label">Meter</label>
                                                            </div>
                                                            <br />
                                                        </div>
                                                        <div class="table-bordered">
                                                            <div class="form-group">
                                                                <label class="control-label h5 col-sm-2"><b>Price/Cost</b></label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="size" class="control-label h5 col-sm-2">Per</label>
                                                                <div class="col-md-2" data-bind="visible:perQtyType()!==2 && perQtyType()!==3">
                                                                    <input type="text" class="form-control" id="size" data-bind="value:perQtyQty" />
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <select class="form-control" data-bind="options: $root.filteredUnits, optionsText: 'Text', optionsValue: 'Id',value:perQtyType"></select>
                                                                </div>
                                                                <label for="packedin" class="control-label h5 col-sm-3" data-bind="visible:perQtyType()!==2 && perQtyType()!==3">Packed In</label>
                                                                <div class="col-md-1" data-bind="visible:perQtyType()!==2 && perQtyType()!==3">
                                                                    <input type="text" class="form-control" id="packedin" data-bind="value:packageQty" />
                                                                </div>
                                                                <!-- /ko -->
                                                            </div>
                                                            <br />
                                                            <div class="table-bordered col-md-6 form-horizontal">
                                                                <div class="form-group">
                                                                    <label class="control-label h5 col-sm-6"><b>Cost</b></label>
                                                                </div>
                                                                <div class="filter-block pull-right">
                                                                    <a href="#" class="btn btn-primary pull-right" data-bind="click: $root.createCostItem">
                                                                        <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add
                                                                    </a>
                                                                </div>
                                                                <div class="clearfix">
                                                                    <div class="table-responsive">
                                                                        <table id="costTablle" class="table table-striped table-hover">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th> <span>Cost/ <span data-bind="text:headerComputedValue"></span></span></th>
                                                                                    <th> <span>From<span></span></span></th>
                                                                                    <th> <span>To<span></span></span></th>
                                                                                    <th> <span>Pack Cost<span></span></span></th>
                                                                                    <th>&nbsp;</th>
                                                                                    <th>&nbsp;</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <!-- ko template: { name: $root.templateToUse , foreach: $root.costPriceList } -->
                                                                                <!-- /ko -->
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                            </div>
                                                            <div class="table-bordered col-md-6 form-horizontal">
                                                                <div class="form-group">
                                                                    <label class="control-label h5 col-sm-6"><b>Selling Price</b></label>
                                                                </div>
                                                                <div class="filter-block pull-right">
                                                                    <a href="#" class="btn btn-primary pull-right" data-bind="click: $root.createPriceItem">
                                                                        <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add
                                                                    </a>
                                                                </div>
                                                                <div class="clearfix">
                                                                    <div class="table-responsive">
                                                                        <table id="costTablle" class="table table-striped table-hover">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th> <span>Price/ <span data-bind="text:headerComputedValue"></span></span></th>
                                                                                    <th> <span>From<span></span></span></th>
                                                                                    <th> <span>To<span></span></span></th>
                                                                                    <th> <span>Pack Cost<span></span></span></th>
                                                                                    <th>&nbsp;</th>
                                                                                    <th>&nbsp;</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <!-- ko template: { name: $root.templateToUseForPrice , foreach: $root.costPriceList } -->
                                                                                <!-- /ko -->
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab-Properties">
                                                <div class="main-box-body clearfix">
                                                    <div class="col-md-12 form-horizontal">
                                                        <h3>Properties</h3>
                                                        <div class="form-group">
                                                            <label for="weight" class="control-label h5 col-sm-2">Weight</label>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control" id="weight" data-bind="value:itemWeight" />
                                                            </div>
                                                            <div class="col-md-3">
                                                                <select class="form-control" data-bind="options: $root.weightUnits, optionsText: 'UnitName', optionsValue: 'Id',value:itemWeightSelectedUnit "></select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="color" class="control-label h5 col-sm-2">Color</label>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control" id="color" data-bind="value:itemColour" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="color" class="control-label h5 col-sm-2">Ink Absorption</label>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control" id="color" data-bind="value:inkAbsorption" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="color" class="control-label h5 col-sm-2">Paper Basis Area</label>
                                                            <div class="col-md-3">
                                                                <select class="form-control" data-bind="options: $root.paperBasisAreas, optionsText: 'Name', optionsValue: 'PaperBasisAreaId',value:paperBasicAreaId "></select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="coated" class="control-label h5 col-sm-2">Coated</label>
                                                            <div class="col-md-1">
                                                                <input type="checkbox" class="form-control" id="coated" data-bind="checked:itemCoated" />
                                                            </div>
                                                            <div class="col-md-1">
                                                                <input type="radio" name="coted" value=1 data-bind="checked:itemCoatedType ,enable:itemCoated," /> Gloss
                                                            </div>
                                                            <div class="col-md-1">
                                                                <input type="radio" name="coted" value=2 data-bind="checked:itemCoatedType ,enable:itemCoated," /> Matt
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab-StockControl">
                                                <div class="main-box-body clearfix">
                                                    <div class="col-md-12 form-horizontal">
                                                        <h3>Stock Control</h3>
                                                        <div class="form-group" data-bind="visible:itemId()!==0">
                                                            <label for="inStock" class="control-label h5 col-sm-2">In Stock</label>
                                                            <div class="col-md-3">
                                                                <label id="inStock" class="control-label h5" data-bind="text:inStock"></label>
                                                            </div>
                                                            <label for="freeStock" class="control-label h5 col-sm-2">Free Stock</label>
                                                            <div class="col-md-3">
                                                                <label id="freeStock" class="control-label h5" data-bind="text:inStock"></label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" data-bind="visible:itemId()!==0">
                                                            <label for="allocated" class="control-label h5 col-sm-2">Allocated</label>
                                                            <div class="col-md-3">
                                                                <label id="allocated" class="control-label h5" data-bind="text:allocated"></label>
                                                            </div>
                                                            <label for="onOrder" class="control-label h5 col-sm-2">On Order</label>
                                                            <div class="col-md-3">
                                                                <label id="onOrder" class="control-label h5" data-bind="text:onOrder"></label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" data-bind="visible:itemId()!==0">
                                                            <label class="control-label h5 col-sm-2">Last Qty Order</label>
                                                            <div class="col-md-3">
                                                                <label id="allocated" class="control-label h5" data-bind="text:lastOrderQty"></label>
                                                            </div>
                                                            <label class="control-label h5 col-sm-2">Last Order Date</label>
                                                            <div class="col-md-3">
                                                                <label id="allocated" class="control-label h5" data-bind="text:lastOrderDate"></label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label h5 col-sm-2">Reorder Level</label>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control" data-bind="value:reOrderLevel" />
                                                            </div>
                                                            <label class="control-label h5 col-sm-2">Reorder Quantity</label>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control" data-bind="value:reorderQty" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group" data-bind="visible:itemId()!==0">
                                                            <label class="control-label h5 col-sm-2">Location</label>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control" data-bind="value:stockLocation" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@**For Cost Items*@
<script id="deleteActionCostItemTemplate" type="text/html">
    <a href="#" class="table-link danger" data-bind="click: $root.onDeleteCostItem" title="Delete">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</script>
<script id="editCostTemplate" type="text/html">
    <tr data-bind="css: { selectedRow: $data === $root.selectedCostItem() }">
        <td>
            $<input style="width: 70px;" type="text" data-bind="value: costPrice, validationTooltip: costPrice" />
        </td>
        <td>
            <input style="width: 70px;" type="text" data-bind="datepicker: fromDate, validationTooltip: fromDate" />
        </td>
        <td>
            <input style="width: 70px;" type="text" data-bind="datepicker: toDate, validationTooltip: toDate" />
        </td>
        <td>
            $<span data-bind="text: packCostPrice"></span>
        </td>
        <td>
            <!-- ko template: { name: 'deleteActionCostItemTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
<script id="itemCostTemplate" type="text/html">
    <tr data-bind="if: (costOrPriceIdentifier() == 0), click: $root.selectCostItem, css: { selectedRow: $data === $root.selectedCostItem() }">
        <td>$<span data-bind="text: costPrice"></span></td>
        <td data-bind="dateString: fromDate"></td>
        <td data-bind="dateString: toDate"></td>
        <td>$<span data-bind="text: packCostPrice"></span></td>
        <td>
            <!-- ko template: { name: 'deleteActionCostItemTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
@*For Price Items*@
<script id="deleteActionPriceItemTemplate" type="text/html">
    <a href="#" class="table-link danger" data-bind="click: $root.onDeletePriceItem" title="Delete">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</script>
<script id="editPriceTemplate" type="text/html">
    <tr data-bind="css: { selectedRow: $data === $root.selectedPriceItem() }">
        <td>
            $<input style="width: 70px;" type="text" data-bind="value: costPrice, validationTooltip: costPrice" />
        </td>
        <td>
            <input style="width: 70px;" type="text" data-bind="datepicker: fromDate, validationTooltip: fromDate" />
        </td>
        <td>
            <input style="width: 70px;" type="text" data-bind="datepicker: toDate, validationTooltip: toDate" />
        </td>
        <td>
            $<span data-bind="text: packCostPrice"></span>
        </td>
        <td>
            <!-- ko template: { name: 'deleteActionPriceItemTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
<script id="itemPriceTemplate" type="text/html">
    <tr data-bind="if: (costOrPriceIdentifier() == -1), click: $root.selectPriceItem, css: { selectedRow: $data === $root.selectedPriceItem() }">
        <td>$<span data-bind="text: costPrice"></span></td>
        <td data-bind="dateString: fromDate"></td>
        <td data-bind="dateString: toDate"></td>
        <td>$<span data-bind="text: packCostPrice"></span></td>
        <td>
            <!-- ko template: { name: 'deleteActionPriceItemTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>

@**Error Template*@
<script id="itemErrorTemplate" type="text/html">
    <tr>
        <td><a data-bind="text: name,click: $root.selectTab" class="errorMsgText"></a></td>
    </tr>

</script>