

<div class="well col-md-12" id="inventoryEditor" data-bind="visible: isInventoryEditorVisible" style="display: none;">
    <div class="float-left detailsContainer">
        <h3 class="page-header detailsHeaderSection"></h3>
        <button class="btn  btn-info" id="saveBtn" >Save</button>
        <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeInventoryEditor">Cancel</button>
    </div>
</div>
