
<div class="row" id="inventoryEditor" data-bind="visible: isInventoryEditorVisible" style="display: none;">
    <div data-bind="with:selectedInventory">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="clearfix">
                        <h1 class="pull-left">Inventories</h1>
                        <div class="pull-right top-page-ui">
                            <button class="btn  btn-info" id="saveBtn">Save</button>
                            <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeInventoryEditor">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box no-header clearfix">
                        <div class="main-box-body clearfix">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="code" class="control-label h5 col-sm-2" data-bind="visible:itemId()!==0">Stock Code</label>
                                    <div class="col-md-2" data-bind="visible:itemId()!==0">
                                        <input type="text" class="form-control" id="code" />
                                    </div>
                                    <label for="name" class="control-label h5 col-sm-2">Stock Name</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="name" />
                                    </div>
                                    <label for="supplier" class="control-label h5 col-sm-2">Supplier</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="supplier" />
                                    </div>
                                    <label for="openingStock" class="control-label h5 col-sm-2" data-bind="visible:itemId()===0">Opening Stock</label>
                                    <div class="col-md-2" data-bind="visible:itemId()==0">
                                        <input type="text" class="form-control" id="openingStock" data-bind="visible:itemId()===0" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="category" class="control-label h5 col-sm-2">Stock Category</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="category" />
                                    </div>
                                    <label for="subCategory" class="control-label h5 col-sm-2">Sub Category</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="subCategory" />
                                    </div>
                                    <label for="barCode" class="control-label h5 col-sm-2">Bar Code</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="barCode" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="flag" class="control-label h5 col-sm-2">Section Flag</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="flag" />
                                    </div>
                                    <label for="location" class="control-label h5 col-sm-2" data-bind="visible:itemId()===0">Stock Located At</label>
                                    <div class="col-md-2" data-bind="visible:itemId()===0">
                                        <input type="text" class="form-control" id="location" />
                                    </div>
                                    <label for="status" class="control-label h5 col-sm-2" data-bind="visible:itemId()!==0">Status</label>
                                    <div class="col-md-2" data-bind="visible:itemId()!==0">
                                        <input type="text" class="form-control" id="status" />
                                    </div>
                                    <label class="control-label h5 col-sm-2" data-bind="visible:itemId()!==0">Disabled</label>
                                    <div class="col-md-2" data-bind="visible:itemId()!==0">
                                        <input type="checkbox" class="form-control" value="Disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label h5 col-sm-2" data-bind="visible:itemId()!==0">Paper Type</label>
                                    <div class="col-md-2" data-bind="visible:itemId()!==0">

                                    </div>
                                    <label class="control-label h5 col-sm-2" data-bind="visible:itemId()!==0">Created Date</label>
                                    <div class="col-md-2" data-bind="visible:itemId()!==0">
                                    </div>
                                    <label for="description" class="control-label h5 col-sm-2" data-bind="visible:itemId()!==0">Description</label>
                                    <div class="col-md-2" data-bind="visible:itemId()!==0">
                                        <textarea class="form-control" rows="4" id="description" data-bind="value: description, valueUpdate: 'keyup'"></textarea>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="main-box clearfix">
                                    <div class="tabs-wrapper profile-tabs">
                                        <ul class="nav nav-tabs" id="myTab">
                                            <li class="active"><a href="#tab-CostPrice" data-toggle="tab">Cost/Price</a></li>
                                            <li><a href="#tab-Properties" data-toggle="tab">Properties</a></li>
                                            <li><a href="#tab-StockControl" data-toggle="tab">Stock Control</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab-CostPrice">
                                                <div class="main-box-body clearfix">
                                                    <div class="col-md-12 form-horizontal">
                                                        <h3>Cost / Price</h3>
                                                        <div class="col-lg-12">
                                                            <div class="main-box">
                                                                <div class="form-group">
                                                                    <label class="control-label h5 col-sm-2"><b>Dimensions</b></label>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="size" class="control-label h5 col-sm-2">Size</label>
                                                                    <div class="col-md-2">
                                                                        <input type="text" class="form-control" id="size" />
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <input type="checkbox" class="form-control" />
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <label class="control-label h5 col-sm-1">Custom</label>
                                                                    </div>
                                                                    <label for="size" class="control-label h5 col-sm-1">Height</label>
                                                                    <div class="col-md-1">
                                                                        <input type="text" class="form-control" id="size" />
                                                                    </div>
                                                                    <label for="size" class="control-label h5 col-sm-1">Width</label>
                                                                    <div class="col-md-1">
                                                                        <input type="text" class="form-control" id="size" />
                                                                    </div>
                                                                </div>
                                                                <br />
                                                            </div>
                                                            <div class="main-box">
                                                                <div class="form-group">
                                                                    <label class="control-label h5 col-sm-2"><b>Price/Cost</b></label>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="size" class="control-label h5 col-sm-2">Per</label>
                                                                    <div class="col-md-2">
                                                                        <input type="text" class="form-control" id="size" />
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <input type="text" class="form-control" id="sheets" />
                                                                    </div>
                                                                    <label for="packedin" class="control-label h5 col-sm-3">Packed In</label>
                                                                    <div class="col-md-1">
                                                                        <input type="text" class="form-control" id="packedin" />
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <div class="main-box col-md-6 form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="control-label h5 col-sm-2"><b>Cost</b></label>
                                                                    </div>
                                                                    <br />
                                                                </div>
                                                                <div class="main-box col-md-6 form-horizontal">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label h5 col-sm-3"><b>Selling Price</b></label>
                                                                    </div>
                                                                    @*<div class="form-group">
                                                                        <label class="control-label h5 col-sm-3"><b>Selling Price</b></label>
                                                                    </div>*@
                                                                    <br />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="tab-Properties">
                                                        <div class="main-box-body clearfix">
                                                            <div class="col-md-12 form-horizontal">
                                                                <h3>Properties</h3>
                                                                <div class="col-md-6">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="tab-StockControl">
                                                        <div class="main-box-body clearfix">
                                                            <div class="col-md-12 form-horizontal">
                                                                <h3>Stock Control</h3>
                                                                <div class="col-md-6">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>