
@{
    ViewBag.Title = "PaperSheet";
}
@section leftmenue {

}

<div class="row" id="paperSheetBinding">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="~/Dashboard/Index">Home</a></li>

                    <li class="active"><span>Paper Sheets</span></li>
                </ol>
                <div class="clearfix">
                    <h1 class="pull-left">Paper Sheets</h1>
                    <div class="pull-right top-page-ui">
                        <a data-toggle="modal" data-bind="click: $root.createNewPaperSheet" class=" btn btn-primary">
                            <i class="fa fa-plus-circle fa-lg"></i>Add Paper Sheet
                        </a>
                    </div>
                    <div class="filter-block pull-right">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table class="table user-list">
                                <thead>
                                    <tr>
                                        <th><span id="0">Name</span></th>
                                        <th><span id="1">Height</span></th>
                                        <th><span id="2">Width</span></th>
                                        <th><span id="3"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <!-- ko foreach: $root.paperSheets -->
                                        <!-- ko template: { name: 'itemPaperSheet' } -->
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- ko if: !($root.paperSheets().length > 0) -->
                                        <!-- /ko -->
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="pagerDiv">
                </div>
            </div>
        </div>
    </div>
    <script id="actionsTemplate" type="text/html">
        <a class="table-link" data-bind="click : $root.openEditDialog">
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="#" class="table-link danger" data-bind="click : $root.deletePaperSheet">
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </script>
    <script id="itemPaperSheet" type="text/html">
        <tr data-bind="click: $root.selectPaperSheet, css: { selectedRow: $data === $root.selectedPaperSheet()}">
            <td data-bind="text: name"></td>
            <td data-bind="text: height"></td>
            <td data-bind="text: width"></td>
            <td id="actionColumn">
                <!-- ko template: { name: "actionsTemplate",templateEngine: new ko.nativeTemplateEngine() } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
    @Html.Partial("~/Areas/Settings/Views/Shared/_PaperSheetDialog.cshtml")
</div>


@section Scripts{

    <script>
        require(["paperSheet/paperSheet.view", "common/confirmation.view"]);
        $(function () {
            $('#lisettings').addClass('active');
            $('#ligeneralsettings').addClass('active');
            $('#lipaperSheet').addClass('active');
        });
    </script>
}