@{
    ViewBag.Title = "Prefixes";
}
@section leftmenue {

}
<div class="row" id="prefixesBinding">
    <div data-bind="with:selectedPrefix">
        <form method="post" enctype="multipart/form-data" id="prefixForm">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb" style="padding-left:0px;">
                        <li><a href="~/Dashboard/Index">Home</a></li>
                        <li>Settings</li>
                        <li>Utilities</li>
                        <li class="active"><span>Prefixes</span></li>
                    </ol>
                    <div class="clearfix">
                        <h1 class="pull-left" style="padding-left:0px;">Prefixes and their start values</h1>
                        <div data-bind="visible:$root.errorList().length > 0" style="display: none;">
                            <p> Please corresct these errors.</p>
                            <table id="table">
                                <tbody>
                                    <!-- ko template: { name: 'itemErrorTemplate' , foreach: $root.errorList } -->
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="prefixesdata" style="padding-left:7px;padding-right:7px;">
                <a href="~/Settings" class="btn  btn-default" style="float: right;margin-bottom: 10px;">Close</a>
                <button class="btn  btn-info" style="float: right;margin-bottom: 10px;margin-right: 15px;" id="saveBtn" data-bind="click: $root.onSavePrefixes, enable: hasChanges, css: { 'btn-warning': hasChanges }">Save</button>
                <div class="col-lg-12 main-box clearfix">
                    <div class="main-box-body">
                        <br />
                        <p class="group-header-description">Set Starting numbers used on Invoices, estimates etc which are used to generate unique codes.</p>
                        

                        <div class="col-lg-12 form-horizontal">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <div class="col-lg-3 text-right">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-3"><label class="control-label">Prefix</label></div>
                                        <div class="col-lg-3"><label class="control-label">Start Number</label></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">

                                            @*<a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-content="You can Select UPS, Fedex or your own shipping carrier. In case of Fedex you will need to select the Fedex service type also. For both Fedex and UPS, shipping price and time will be calculated when user selects his/her shipping address and goes to confirmation screen by calling the respective service. In case of other (your own) you will need to setup the shipping price and time which will be display on store’s checkout area." data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>*@

                                        </div>
                                        <label for="txtenquiryPrefix" class="control-label text-right tooltip-float">Inquiry</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtenquiryPrefix" placeholder="Enter Inquiry Prefix" data-bind="value: enquiryPrefix"></div>
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtenquiryNext" placeholder="Enter Enquiry Next Number" data-bind="value: enquiryNext"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            @*<a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="purchase order prefix start numbers." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>*@
                                        </div>
                                        <label for="txtPOPrefix" class="control-label text-right tooltip-float">Purchase Order</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtPOPrefix" placeholder="Enter Purchae Order Prefix" data-bind="value: poPrefix"></div>
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtPONext" placeholder="Enter Purchase Order Next Number" data-bind="value: poNext"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            @*<a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Estimate start numbers." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>*@
                                        </div>
                                        <label for="txtPOPrefix" class="control-label text-right tooltip-float">Estimate</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtPOPrefix" placeholder="Enter Estimate Prefix" data-bind="value: estimatePrefix"></div>
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtPONext" placeholder="Enter Estimate Next Number" data-bind="value: estimateNext"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            @*<a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Order start numbers." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>*@
                                        </div>
                                        <label for="txtOrderP" class="control-label text-right tooltip-float">Order</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtOrderP" placeholder="Enter Order Prefix" data-bind="value: orderPrefix"></div>
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtOrderN" placeholder="Enter Order Next Number" data-bind="value: orderNext"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            @*<a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Job start numbers." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>*@
                                        </div>
                                        <label for="txtJobP" class="control-label text-right tooltip-float">Job</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtJobP" placeholder="Enter Job Prefix" data-bind="value: jobPrefix"></div>
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtJobN" placeholder="Enter Job Next Number" data-bind="value: jobNext"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            @*<a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Invoice start numbers." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>*@
                                        </div>
                                        <label for="txtInvoiceP" class="control-label text-right tooltip-float">Invoice</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtInvoiceP" placeholder="Enter Invoice Prefix" data-bind="value: invoicePrefix"></div>
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtInvoiceN" placeholder="Enter Invoice Next Number" data-bind="value: invoiceNext"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            @*<a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Stock Item start numbers." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>*@
                                        </div>
                                        <label for="txtStockItemP" class="control-label text-right tooltip-float">Stock Item</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtStockItemP" placeholder="Enter Stock Item Prefix" data-bind="value: stockItemPrefix"></div>
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtStockItemN" placeholder="Enter Stock Item Next Number" data-bind="value: stockItemNext"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            @*<a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Products start numbers." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>*@
                                        </div>
                                        <label for="txtProductP" class="control-label text-right tooltip-float">Products</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtProductP" placeholder="Enter Product Prefix" data-bind="value: productPrefix"></div>
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtProductsN" placeholder="Enter Product Next Number" data-bind="value: productNext"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            @*<a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Delivery notes start numbers." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>*@
                                        </div>
                                        <label for="txtDeliveryP" class="control-label text-right tooltip-float">Delivery Notes</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtDeliveryP" placeholder="Enter Delivery Prefix" data-bind="value: deliveryNPrefix"></div>
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtDeliveryN" placeholder="Enter Delivery Next Number" data-bind="value: deliveryNNext"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            @*<a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="GRN start numbers." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>*@
                                        </div>
                                        <label for="txtGrnP" class="control-label text-right tooltip-float">GRN</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtGrnP" placeholder="Enter GRN Prefix" data-bind="value: grnPrefix"></div>
                                        <div class="col-lg-3"><input type="text" class="form-control" id="txtGrnN" placeholder="Enter GRN Next Number" data-bind="value: grnNext"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>
</div>
</div>
@section Scripts{
    <script>
        require(["prefix/prefix.view", "common/confirmation.view"]);
        $(function () {
            $('#lisettings').addClass('active');
            $('#limissettings').addClass('active');
            $('#liprefixes').addClass('active');
        });
    </script>
}