@{
    ViewBag.Title = "Sales Pipe line";
}
@section leftmenue {
}

        <div class="row" id="divSalesPipeline">
            <div>
                <form method="post" enctype="multipart/form-data">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <ol class="breadcrumb">
                                    <li><a href="~/Dashboard/Index">&nbsp;</a></li>
                                </ol>
                                <div class="clearfix">
                                    <h1 class="pull-left" style="padding-left:0px;">Sales Pipelines</h1>
                                    <div style="display:none;">
                                        <p> Please corresct these errors.</p>
                                        <table id="table">
                                            <tbody>
                                                <!-- ko template: { name: 'itemErrorTemplate' , foreach: $root.errorList } -->
                                                <!-- /ko -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="prefixesdata">
                            <div>
                                <a href="~/Settings" class="btn  btn-default" style="float: right;margin-top:-10px;">Close</a>
                                <button class="btn  btn-info btn-primary" style="float: right;margin-right:3px;margin-top:-10px;" id="saveBtn" data-bind="click: $root.onSavePrefixes, enable: hasChanges, css: { 'btn-warning': hasChanges }">Save</button>
                            </div>
                            <div class="col-lg-12 main-box clearfix" style="padding-left:0px;margin-top:30px;">
                                <div class="main-box-body" style="padding:0px;">
                                    <div class="tabs-wrapper profile-tabs" style="padding-right:0px;">
                                        <ul class="nav nav-tabs" id="myTab">
                                            <li class="active" id="Sales Target"><a href="#tab-SalesTarget" data-toggle="tab">Sales Target&nbsp;</a></li>
                                            <li><a href="#tab-PipelineDeduction" data-toggle="tab">PipeLine Deduction&nbsp;</a></li>
                                            <li><a href="#tab-INQSource" data-toggle="tab">Inquiry Source&nbsp;</a></li>
                                            <li><a href="#tab-PipeLineProducts" data-toggle="tab">PipeLine Products&nbsp;</a></li>
                                            <li><a href="#tab-SuccessPercentage" data-toggle="tab">Success Percentage&nbsp;</a></li>
                                            <li><a href="#tab-ActivityTypes" data-toggle="tab">Activity Types&nbsp;</a></li>
                                            <li><a href="#tab-CompanyTypes" data-toggle="tab">Company Types&nbsp;</a></li>

                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="tab-SalesTarget">
                                            <div class="main-box-body clearfix" style="padding-right:12px;">
                                               <h3>Set sale targets for your Account Managers</h3>
                                                <p class="group-header-description">A sales pipeline describes an approach to selling, founded on the underlying principles of the sales process. It describes the individual steps salespeople take from initial contact with a potential customer, or prospect, to qualifying that prospect into a lead, and further validating that lead into a sales opportunity.  This is usually defined by percentage and therefore with MyPRINTCloud you can define the likelihood of a estimate turning into a job</p>
                                                <div class="col-md-12 form-horizontal" style="padding-left:0px;padding-right:0px;">
                                                    <h3>Sales Target</h3>
                                                </div>
                                                <br />
                                                <div class="col-md-12 form-horizontal" style="padding-left:0px;padding-right:0px;">
                                                    <div class="form-group">
                                                        <div class="col-lg-2 text-right">
                                                            
                                                            <label for="txtCompanyName" class="control-label text-right tooltip-float">Sales Person</label>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <select id="state" class="form-control" data-bind="options: $root.filteredStates  , optionsText: 'StateName', optionsValue: 'StateId' ,value:state,validationtooltip:state"><option value="1">Lucas Padolsiki</option><option value="1">Bastin Schwenstigier</option></select>
                                                            <span class="help-block text-right"></span>
                                                        </div>
                                                    </div>

                                                    
                                                        <div class="form-group">
                                                            <div class="col-lg-2 text-right">
                                                                
                                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Sales Year</label>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <select id="state" class="form-control" data-bind="options: $root.filteredStates  , optionsText: 'StateName', optionsValue: 'StateId' ,value:state,validationtooltip:state"><option value="1">2011</option><option value="1">2012</option><option value="1">2013</option><option value="1">2014</option><option value="1">2015</option><option value="1">2016</option><option value="1">2011</option><option value="1">2017</option><option value="1">2018</option><option value="1">2019</option><option value="1">2020</option><option value="1">2021</option><option value="1">2022</option><option value="1">2023</option><option value="1">2024</option><option value="1">2025</option></select>
                                                                <span class="help-block text-right"></span>
                                                            </div>
                                                        </div>


                                                   
                                                    


                                                    <div class="table-responsive">

                                                        <table id="chartOfAccountTablle" class="table table-striped table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th class="col-lg-1"></th>
                                                                    <th align="left" class="col-lg-3">
                                                                        MONTS
                                                                    </th>
                                                                    <th align="left" class="col-lg-5">
                                                                        SALES TARGET
                                                                    </th>
                                                                    <th class="col-lg-1"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>

                                                                    </td>
                                                                    <td>
                                                                        January
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">
                                                                            
                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        Febuary
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">
                                                                            
                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        March
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">
                                                                           
                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        April
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">

                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        May
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">

                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        June
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">

                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                       
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        July
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">

                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                       
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        August
                                                                    </td>
                                                                    <td>
                                                                         <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">

                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                       
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        September
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">

                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                       
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        Octuber
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">

                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        November
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">

                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        December
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">

                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                            </div>
                                        </div>
                                    </div>
                                        <div id="tab-PipelineDeduction" class="tab-pane fade">

                                            <div class="main-box-body clearfix">
                                            
                                                <h3>Set sale targets for your Account Managers</h3>
                                                <p class="group-header-description">pipeline deductions is a value applied to the sales pipeline that is already confirmed as recurring revenue</p>
                                                <div class="col-md-12 form-horizontal" style="padding-left:0px;padding-right:0px;">
                                                    <h3>PipeLine Deduction</h3>
                                                </div>
                                                <br />
                                                <br />
                                                
                                             

                                                <div class="col-md-12" style="padding-left:0px;padding-right:0px;">

                                                    <a href="#" class="btn btn-primary pull-right" data-bind="click: $root.onCreateNewMarkup">
                                                        Add PipeLine Deduction
                                                    </a>
                                                    <br />

                                                    <div class="table-responsive">

                                                        <table id="chartOfAccountTablle" class="table table-striped table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th class="col-lg-1"></th>
                                                                    <th align="left" class="col-lg-3">
                                                                        MONTS
                                                                    </th>
                                                                    <th align="left" class="col-lg-5">
                                                                        Percentage
                                                                    </th>
                                                                    <th class="col-lg-1">

                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCompanyName" placeholder="Month" data-bind="value:name , validationTooltip:name">
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">%</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">

                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                       
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                
                                                                

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div id="tab-INQSource" class="tab-pane fade">

                                            <div class="main-box-body clearfix">
                                               
                                                <h3>Set sale targets for your Account Managers</h3>
                                                <p class="group-header-description">Define the source of a lead, to add additional sources open the section flags tab and select inquiry source</p>
                                                <div class="col-md-12 form-horizontal" style="padding-left:0px;padding-right:0px;">
                                                    <h3>PipeLine Source</h3>
                                                </div>
                                                <br />
                                              
                                                <div class="col-md-12 form-horizontal" style="padding-left:0px;padding-right:0px;">

                                                    <a href="#" class="btn btn-primary pull-right" data-bind="click: $root.onCreateNewMarkup">
                                                        Add PipeLine Source
                                                    </a>

                                                    <div class="table-responsive">

                                                        <table id="chartOfAccountTablle" class="table table-striped table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th class="col-lg-1"></th>
                                                                    <th align="left" class="col-lg-8">
                                                                        Description
                                                                    </th>
                                                                    <th class="col-lg-1"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name">
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name">
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name">
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name">
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name">
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name">
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div id="tab-PipeLineProducts" class="tab-pane fade">

                                            <div class="main-box-body clearfix">
                                               
                                                <h3>Set sale targets for your Account Managers</h3>
                                                <p class="group-header-description">Choose which products are included within the pipeline, for low margin or recurring products you may choose to exclude these from the pipeline report</p>
                                                <div class="col-md-12 form-horizontal" style="padding-left:0px;padding-right:0px;">
                                                    <h3>PipeLine Products</h3>
                                                </div>
                                                <br />
                                               
                                                <div class="col-md-12 form-horizontal" style="padding-left:0px;padding-right:0px;">

                                                    <a href="#" class="btn btn-primary pull-right" data-bind="click: $root.onCreateNewMarkup">
                                                        Add PipeLine Product
                                                    </a>

                                                    <div class="table-responsive">

                                                        <table id="chartOfAccountTablle" class="table table-striped table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th class="col-lg-1"></th>
                                                                    <th align="left" class="col-lg-8" >
                                                                        Description
                                                                    </th>
                                                                    <th class="col-lg-1"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name">
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name">
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div id="tab-SuccessPercentage" class="tab-pane fade">

                                            <div class="main-box-body clearfix">
                                                
                                                <h3>Set sale targets for your Account Managers</h3>
                                                <p class="group-header-description">Set the sales percentage to asses the likelihood of estimates converting to jobs starting at Lead = 0% to confirmed order 90%, 100% is reserved for purchase order and artwork being received</p>
                                                <div class="col-md-12 form-horizontal" style="padding-left:0px;padding-right:0px;">
                                                    <h3>Success Chances</h3>
                                                </div>
                                                <br />
                                              
                                                <div class="col-md-12 form-horizontal" style="padding-left:0px;padding-right:0px;">

                                                    <a href="#" class="btn btn-primary pull-right" data-bind="click: $root.onCreateNewMarkup">
                                                        Add Success Chance
                                                    </a>

                                                    <div class="table-responsive">

                                                        <table id="chartOfAccountTablle" class="table table-striped table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th class="col-lg-1"></th>
                                                                    <th align="left" class="col-lg-5">
                                                                        Description
                                                                    </th>
                                                                    <th align="left" class="col-lg-3">
                                                                        Percentage
                                                                    </th>
                                                                    <th class="col-lg-1"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                    <td><input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name"></td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">

                                                                        </div>
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td><input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name"></td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">

                                                                        </div>
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td><input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name"></td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" tabindex="-1">$</span>
                                                                            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0">

                                                                        </div>
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>


                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div id="tab-ActivityTypes" class="tab-pane fade">

                                            <div class="main-box-body clearfix">
                                                
                                                <h3>Set sale targets for your Account Managers</h3>
                                                <p class="group-header-description">set the activity of the sales agent, prospecting, telemarketing, estimating for example</p>
                                                <div class="col-md-12 form-horizontal" style="padding-left:0px;padding-right:0px;">
                                                    <h3>Activity Types</h3>
                                                </div>
                                                <br />
                                               
                                                <div class="col-md-12 form-horizontal" style="padding-left:0px;padding-right:0px;">

                                                    <a href="#" class="btn btn-primary pull-right" data-bind="click: $root.onCreateNewMarkup">
                                                        Add Activity Type
                                                    </a>

                                                    <div class="table-responsive">

                                                        <table id="chartOfAccountTablle" class="table table-striped table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th class="col-lg-1"></th>
                                                                    <th class="col-lg-3" align="left" class="text-style">
                                                                        Name
                                                                    </th>
                                                                    <th class="col-lg-5" align="left" class="text-style">
                                                                        Description
                                                                    </th>
                                                                    <th class="col-lg-1" align="left" class="text-style">
                                                                        Color
                                                                    </th>
                                                                    <th class="col-lg-1"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                    <td><input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name"></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name">
                                                                    </td>
                                                                    <td>
                                                                        <div data-bind="with:colorPalette">

                                                                            <div class="Color" id="colorPick" style="border:none;width:30px;height:30px;background-color:#808080;cursor:pointer;">
                                                                            </div>
                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                       
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td><input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name"></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name">
                                                                    </td>
                                                                    <td>
                                                                        <div data-bind="with:colorPalette">

                                                                            <div class="Color" id="colorPick1" style="border:none;width:30px;height:30px;background-color:#808080;cursor:pointer;">
                                                                            </div>
                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td><input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name"></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name">
                                                                    </td>
                                                                    <td>
                                                                        <div data-bind="with:colorPalette">

                                                                            <div class="Color" id="colorPick2" style="border:none;width:30px;height:30px;background-color:#808080;cursor:pointer;">
                                                                            </div>
                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        
                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                



                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div id="tab-CompanyTypes" class="tab-pane fade">

                                            <div class="main-box-body clearfix">
                                                
                                                <h3>Set sale targets for your Account Managers</h3>
                                                <p class="group-header-description">define the different company types for example micro, small, multi site, corporate</p>
                                                <div class="col-md-12 form-horizontal" style="padding-left:0px;padding-right:0px;">
                                                    <h3>Company Types</h3>
                                                </div>
                                                <br />
                                              
                                                <div class="col-md-12 form-horizontal" style="padding-left:0px;padding-right:0px;">
                                                    <a href="#" class="btn btn-primary pull-right" data-bind="click: $root.onCreateNewMarkup">
                                                        Add Company Type
                                                    </a>
                                                    <div class="table-responsive">

                                                        <table id="chartOfAccountTablle" class="table table-striped table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th class="col-lg-1"></th>
                                                                    <th align="left" class="col-lg-5">
                                                                        Type Name
                                                                    </th>
                                                                    <th align="left" class="col-lg-3">
                                                                        Type
                                                                    </th>
                                                                    <th class="col-lg-1"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                    <td><input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name"></td>
                                                                    <td>
                                                                        User Type
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td><input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name"></td>
                                                                    <td>
                                                                        User Type
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td><input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name"></td>
                                                                    <td>
                                                                        System Type
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td><input type="text" class="form-control" id="txtCompanyName" data-bind="value:name , validationTooltip:name"></td>
                                                                    <td>
                                                                        System User
                                                                    </td>

                                                                    <td>

                                                                        <a href="#" class="table-link danger">
                                                                            <span class="fa-stack">
                                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                            </span>
                                                                        </a>
                                                                    </td>
                                                                </tr>


                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @section Scripts{

<script>
    $(document).ready(function ()
    {
        var ColorPickerId;
        $(".Color").click(function ()
        {
            ColorPickerId = this.id;
            $("#" + ColorPickerId).ColorPicker
            ({
                color: '',
                onShow: function (colpkr)
                {
                    $(colpkr).fadeIn(500);
                    return false;
                },
                onHide: function (colpkr)
                {
                    $(colpkr).fadeOut(500);
                    return false;
                },
                onChange: function (hsb, hex, rgb)
                {
                    $("#" + ColorPickerId).css("background-color", "#" + hex);
                }
            });
        });


    });



</script>

            <script>
                $(document).ready(function ()
                {
                    $('.bs-example-tooltips a').popover();
                });
                $(function ()
                {
                    $('#lisettings').addClass('active');
                    $('#limissettings').addClass('active');
                    $('#liprefixes').addClass('active');
                });
</script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            $.unblockUI(spinner);
        }, 1000);
    });
</script>

}
