@{
    ViewBag.Title = "Section Flags";
}
@section leftmenue {
}
<style>
    li {
        cursor: pointer;
    }
</style>
<div class="row" id="divSalesPipeline">
    <div>

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="~/Dashboard/Index">&nbsp;</a></li>
                    </ol>
                    <h1 style="padding-left:0px;">Section Flags</h1>

                    <div class="pull-left validationSummaryContainer">
                        <a class="validationSummaryLink" data-bind="visible: $root.errorList().length > 0, bootstrapPopover: { html: true, title: 'Please fix following errors', elementNode: 'validationSummaryPopup', popoverId: 'validationSummaryPopoverBody' }" style="display: none">Invalid data: Click here to see details.</a>
                        <div class="well well-small validationSummaryModal" id="validationSummaryPopup" style="display: none">
                            <div id="validationSummaryPopoverBody">
                                <ul data-bind="foreach: $root.errorList">
                                    <li>
                                        <a data-bind="click: $root.gotoElement.bind($data.element)"><span data-bind="text: name"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="sectionflagsBinding">
                <a href="~/Settings" class="btn btn-default" style="float: right;margin-bottom: 10px;">Close</a>
                <button class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 6px;" id="saveBtn" data-bind="click: $root.saveFlag, css: { 'btn-warning': $root.sectionHasChanged }, enable: $root.sectionHasChanged">Save</button>
                <div class="col-lg-12 main-box clearfix" style="padding-bottom:30px;">
                    <br />
                    <h2 style="margin-left: 15px;">Create and set colors for Flags used to categorize customers, orders, stock types etc…</h2>
                    <div class="main-box-body" style="padding:20px;padding-top: 50px;">
                        <div class="col-md-3" style="padding-bottom:20px;max-height:600px;overflow-y:scroll;">

                            <div class="category" id="nestable2">

                                <ol class="dd-list">

                                    <!-- ko template: { name: 'sectionsTemplate' , foreach: selectedsectionflags } -->
                                    <!-- /ko -->
                                    <!--ko if:selectedsectionflags === undefined || selectedsectionflags().length  <=0 -->

                                    <li class="dd-item dd-item-list">No Items Found!</li>

                                    <!-- /ko -->

                                </ol>
                            </div>

                        </div>
                        <div class="col-md-9" style="margin-top:-68px">

                            <div class="col-md-12 form-horizontal" style="margin-left:18px;">
                                <button class="btn btn-primary pull-right" data-bind="click:$root.addSectionFlag, enable:$root.selectedsection()!==undefined">
                                    Add Section Flag
                                </button>

                                <table id="chartOfAccountTablle" class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <td align="left" class="text-style" style="width:30%;">
                                                Flag Name
                                            </td>
                                            <td align="left" class="text-style" style="width:30%;">
                                                Description
                                            </td>
                                            <td align="left" class="text-style" style="width:20%;">
                                                Color
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        <!--ko if:$root.selectedsection() !== undefined &&  $root.selectedsection().sectionflags().length <=0 -->
                                        <tr>
                                            <td><span>No Items Found!</span></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <!-- /ko -->
                                        <!--ko if:$root.selectedsection() !== undefined -->
                                        <!-- ko template: { name: 'sectionflagsTemplate' , foreach: $root.selectedsection().sectionflags } -->
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/html" id="sectionsTemplate">
        <li class="dd-item dd-item-list" data-id="15" style="cursor: pointer" data-bind="click:$root.selectedsection() !== $data ? $root.getSectionFlags:''">
            <div class="dd-handle-list" data-bind="css: { selectedRow: $root.selectedsection() === $data }" style="cursor: pointer"><i class="fa fa-minus-square"></i></div>
            <div class="dd-handle" data-bind="css: { selectedRow: $root.selectedsection() === $data }">
                <span data-bind="text:name"></span>
                <div class="nested-links">
                    <a href="#" class="nested-link" title="Edit Category"></a>
                </div>
            </div>
            <ol class="dd-list" style="display: none;"></ol>
        </li>
    </script>

    <script type="text/html" id="sectionflagsTemplate">
        <tr>
            <td style="width:35%"><input type="text" class="form-control" id="txtCompanyName" data-bind="value:name,attr: { id: 'sectionFlag' + $index() }, validationOnElement:name" placeholder="Enter Flag Name"></td>
            <td style="width:35%;">
                <input type="text" class="form-control" id="txtCompanyName" data-bind="value:description" placeholder="Enter Description">
            </td>
            <td style="width:10%;">
                <div>
                    <input type="text" data-bind="colorpicker:color" id="colorPick" style="border:none;width:30px;height:30px;cursor:pointer;" />
                </div>
            </td>

            <td>

                <a href="#" class="table-link danger" data-bind="click:$root.deleteSectionFlag" style="float: right">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>
        </tr>
    </script>
</div>
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
@section Scripts{
    <script>
        require(["sectionflags/sectionflags.view", "common/confirmation.view"]);
    </script>
}





