


<h4>
    Register
</h4>
<label style="width: 100px">
    User Name
</label>
<input type="text" />
<br />
<label style="width: 100px">
    Email
</label>
<input type="text" />
<br />
<label style="width: 100px">
    Password
</label>
<input type="text" />
<br />
<label style="width: 100px">
    Confirm password
</label>
<input type="text" />
<br />
<input type="button" value="Register" />