@{
    ViewBag.Title = "Index";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<h2>Partial Views - Demo</h2>

<input id="btnLoad" type="button" value="click to register" />
<br />

<!-- partial view container -->
<div id="divPartialViewContainer">
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#btnLoad').click(function () {

            $.ajax({
                url: '/Default/GetPartialview/',
                type: 'POST',
                contentType: 'application/html',
                //data: JSON.stringify(model),
                success: function (content) {
                    $('#divPartialViewContainer').html(content);
                },
                error: function (e) { }
            });
        });

    });

</script>