@{
    ViewBag.Title = "Suppliers List";
}
@section leftmenue {

}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="~/Dashboard/Index">Home</a></li>

                    <li class="active"><span>Suppliers</span></li>
                </ol>
                <div class="clearfix">
                    <h1 class="pull-left">Suppliers</h1>
                    <div class="pull-right top-page-ui">
                        <a data-toggle="modal" href="~/CRM/AddCustomer" class="btn btn-primary">
                            <i class="fa fa-plus-circle fa-lg"></i>Add Supplier
                        </a>

                    </div>
                    <div class="filter-block pull-right">
                        @* <button id="open-wizard" class="btn btn-primary pull-right">
                                <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add Product
                            </button>
                            <a data-toggle="modal" href="#myModal" class="btn btn-primary pull-right">
                                <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add Product
                            </a>*@

                        @*<div id="addcustomer">
                                @Html.Partial("Company/_AddCompany")
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table class="table user-list">
                                <thead>
                                    <tr>
                                        <th><span>Company</span></th>
                                        <th><span>Created</span></th>
                                        <th class="text-center"><span>Status</span></th>
                                        <th><span>Email</span></th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="~/Content/themes/Centaurus/img/samples/logos/9.jpg" alt="" />
                                            <a href="~/CRM/SupplierDetail" class="user-link">Kodak</a>
                                            <span class="user-subhead">Supplier</span>
                                        </td>
                                        <td>
                                            2004/01/24
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-warning">Pending</span>
                                        </td>
                                        <td>
                                            <a href="~/CRM/SupplierDetail">
                                                jack@nicholson
                                            </a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="~/CRM/SupplierDetail" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="~/CRM/SupplierDetail" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img src="~/Content/themes/Centaurus/img/samples/logos/1.jpg" alt="" />
                                            <a href="~/CRM/SupplierDetail" class="user-link">Ace Binding Supplies</a>
                                            <span class="user-subhead">Supplier</span>
                                        </td>
                                        <td>
                                            2013/08/08
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-default">Inactive</span>
                                        </td>
                                        <td>
                                            <a href="~/CRM/SupplierDetail">
                                                jack@nicholsons
                                            </a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="~/CRM/SupplierDetail" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="~/CRM/SupplierDetail" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/Content/themes/Centaurus/img/samples/logos/2.jpg" alt="" />
                                            <a href="~/CRM/SupplierDetail" class="user-link">Aristoplast</a>
                                            <span class="user-subhead">Supplier</span>
                                        </td>
                                        <td>
                                            2013/08/12
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-success">Active</span>
                                        </td>
                                        <td>
                                            <a href="~/CRM/SupplierDetail">
                                                jack@nicholson
                                            </a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="~/CRM/SupplierDetail" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="~/CRM/SupplierDetail" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/Content/themes/Centaurus/img/samples/logos/3.jpg" alt="" />
                                            <a href="~/CRM/SupplierDetail" class="user-link">Becker Industries</a>
                                            <span class="user-subhead">Supplier</span>
                                        </td>
                                        <td>
                                            2013/03/03
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-danger">Banned</span>
                                        </td>
                                        <td>
                                            <a href="~/CRM/SupplierDetail">jack@nicholson</a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="~/CRM/SupplierDetail" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="~/CRM/SupplierDetail" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/Content/themes/Centaurus/img/samples/logos/4.jpg" alt="" />
                                            <a href="~/CRM/SupplierDetail" class="user-link">Best Binding Supplies</a>
                                            <span class="user-subhead">Supplier</span>
                                        </td>
                                        <td>
                                            2004/01/24
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-warning">Pending</span>
                                        </td>
                                        <td>
                                            <a href="~/CRM/SupplierDetail">
                                                jack@nicholson
                                            </a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="~/CRM/SupplierDetail" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="~/CRM/SupplierDetail" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/Content/themes/Centaurus/img/samples/logos/5.jpg" alt="" />
                                            <a href="~/CRM/SupplierDetail" class="user-link">Bound to Impress</a>
                                            <span class="user-subhead">Supplier</span>
                                        </td>
                                        <td>
                                            2013/12/31
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-success">Active</span>
                                        </td>
                                        <td>
                                            <a href="~/CRM/SupplierDetail">spencer@tracy</a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="~/CRM/SupplierDetail" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="~/CRM/SupplierDetail" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/Content/themes/Centaurus/img/samples/logos/6.jpg" alt="" />
                                            <a href="~/CRM/SupplierDetail" class="user-link">CMYK Hub</a>
                                            <span class="user-subhead">Supplier</span>
                                        </td>
                                        <td>
                                            2013/08/08
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-default">Inactive</span>
                                        </td>
                                        <td>
                                            <a href="~/CRM/SupplierDetail">
                                                jack@nicholson
                                            </a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="~/CRM/SupplierDetail" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="~/CRM/SupplierDetail" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/Content/themes/Centaurus/img/samples/logos/7.jpg" alt="" />
                                            <a href="#" class="user-link">BJ Ball</a>
                                            <span class="user-subhead">Supplier</span>
                                        </td>
                                        <td>
                                            2013/08/12
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-success">Active</span>
                                        </td>
                                        <td>
                                            <a href="#">
                                                jack@nicholson
                                            </a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="#" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/Content/themes/Centaurus/img/samples/logos/8.jpg" alt="" />
                                            <a href="#" class="user-link">GBC</a>
                                            <span class="user-subhead">Supplier</span>
                                        </td>
                                        <td>
                                            2013/03/03
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-danger">Banned</span>
                                        </td>
                                        <td>
                                            <a href="#">jack@nicholson</a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="#" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                 @* dsdsD*@
                                    <tr>
                                        <td>
                                            <img src="~/Content/themes/Centaurus/img/samples/logos/10.jpg" alt="" />
                                            <a href="#" class="user-link">Marsh Comp</a>
                                            <span class="user-subhead">Supplier</span>
                                        </td>
                                        <td>
                                            2013/12/31
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-success">Active</span>
                                        </td>
                                        <td>
                                            <a href="#">spencer@tracy</a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="#" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                <div id="pagerDiv">
                    <ul class="pagination pull-right">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
@*@Html.Partial("Company/_PartialAddStore")*@
@section Scripts{
    <script src="~/Content/themes/Centaurus/js/wizard.js"></script>
    <script src="~/Content/themes/Centaurus/js/jquery.maskedinput.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/bootstrap-wizard.js"></script>
    <script src="~/Content/themes/Centaurus/js/select2.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/dropzone.js"></script>
    <script>
            $(function () {
                $('#myWizard').wizard();
                $('#licrm').addClass('active');
                //masked inputs
                $("#maskedDate").mask("99/99/9999");
                $("#maskedPhone").mask("(999) 999-9999");
                $("#maskedPhoneExt").mask("(999) 999-9999? x99999");
            });

            $(function () {

                $('#sel2').select2();

                $.fn.wizard.logging = false;

                var wizard = $("#wizard-demo").wizard({
                    showCancel: true
                });

                //$(".chzn-select").chosen();

                wizard.el.find(".wizard-ns-select").change(function () {
                    wizard.el.find(".wizard-ns-detail").show();
                });

                wizard.el.find(".create-server-service-list").change(function () {
                    var noOption = $(this).find("option:selected").length == 0;
                    wizard.getCard(this).toggleAlert(null, noOption);
                });

                wizard.cards["name"].on("validated", function (card) {
                    var hostname = card.el.find("#new-server-fqdn").val();
                });

                wizard.on("submit", function (wizard) {
                    var submit = {
                        "hostname": $("#new-server-fqdn").val()
                    };

                    setTimeout(function () {
                        wizard.trigger("success");
                        wizard.hideButtons();
                        wizard._submitting = false;
                        wizard.showSubmitCard("success");
                        wizard.updateProgressBar(0);
                    }, 2000);
                });

                wizard.on("reset", function (wizard) {
                    wizard.setSubtitle("");
                    wizard.el.find("#new-server-fqdn").val("");
                    wizard.el.find("#new-server-name").val("");
                });

                wizard.el.find(".wizard-success .im-done").click(function () {
                    wizard.reset().close();
                });

                wizard.el.find(".wizard-success .create-another-server").click(function () {
                    wizard.reset();
                });

                $(".wizard-group-list").click(function () {
                    alert("Disabled for demo.");
                });

                $("#open-wizard").click(function () {
                    wizard.show();
                });



                //wizard.show();
            });
    </script>
}
