@{
    ViewBag.Title = "MPC MIS 2014 Settings";
}
@section leftmenue {
   
}




<div class="row">

@*Main Div Starting*@ 
<div class="col-lg-12">
        
    @*Breadcrum*@
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active"><span>Settings</span></li>
            </ol>
            <h1>Settings</h1>
        </div>
    </div>
        
    @*Main Contents Div*@
    <div class="col-lg-12">
        <div class="main-box no-header clearfix">
            
            <div class="col-lg-12">
                <div class="col-md-4">
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-cloud header-icons"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span style="font-weight:bold;">CLOUD STETTING</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-home childicons"></i>
                            </div>
                            <a href="~/Settings/Home/MyOrganization" title="My Organization">
                                <div class="col-lg-10 divalignment" style="margin-bottom:15px;">
                                    My Organization
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure currency, country, cards and billing accounts verification etc</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-globe childicons"></i>
                            </div>
                            <a href="" title="Regional Settings">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Regional Settings
                                    <br />
                                    <span style="font-size:12px;color:gray;">Change the appearence of your invoices</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-italic childicons"></i>
                            </div>
                            <a href="" title="Language Editor">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Language Editor
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure the daily report and committed revenue behavior</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-recycle childicons"></i>
                            </div>
                            <a href="" title="Taxes">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Taxes
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure the tax settings</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-hdd childicons"></i>
                            </div>
                            <a href="" title="Default Markups">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Default Markups
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure how to handle payment features during renewals</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-flag childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/SectionFlags" title="Section Flags">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Section Flags
                                    <br />
                                    <span style="font-size:12px;color:gray;">Request Custom Fields to be added to your charge bee</span>
                                </div>
                            </a> 
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-saved childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/InventoryCategory" title="Inventory Categories">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Inventory Categories
                                    <br />
                                    <span style="font-size:12px;color:gray;">Manage Inventory Category</span>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-send header-icons"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span style="font-weight:bold;">MIGRATION REQUEST</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-import childicons"></i>
                            </div>
                            <a href="" title="Request Data Import">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Request Data Import
                                    <br />
                                    <span style="font-size:12px;color:gray;">Submit a request to import your exsisting subscribers into ChargeBee </span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-tasks childicons"></i>
                            </div>
                            <a href="~/Home/PageUnAvailable" title="Archive / Unarchive">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Archive / Unarchive
                                    <br />
                                    <span style="font-size:12px;color:gray;">Select and copy required configurations from TEST to LIVE site</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-plane childicons"></i>
                            </div>
                            <a href="~/Home/PageUnAvailable" title="Import / Export Data">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Import / Export Data
                                    <br />
                                    <span style="font-size:12px;color:gray;">Select and copy required configurations from TEST to LIVE site</span>
                                </div>
                            </a>
                        </div>




                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-wrench header-icons"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span style="font-weight:bold;">ACCOUNT SETTINGS</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-th-list childicons"></i>
                            </div>
                            <a href="" title="Account Detail">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Account Detail
                                    <br />
                                    <span style="font-size:12px;color:gray;">Manage your ChargeBee account and payment information</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-user childicons"></i>
                            </div>
                            <a href="" title="System Users">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    System Users
                                    <br />
                                    <span style="font-size:12px;color:gray;">Invite and manage users in ChargeBee site</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-envelope header-icons"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span style="font-weight:bold;">EMAIL NOTIFICATION</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-bullhorn childicons"></i>
                            </div>
                            <a href="" title="System Emails, Info and Alerts">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    System Emails, Info and Alerts
                                    <br />
                                    <span style="font-size:12px;color:gray;">Manage the Information and Warning messages that are shown on customer portal </span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-print header-icons"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span style="font-weight:bold;">PRESSES AND PLOTTERS</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-file childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/PaperSheet" title="Paper Sizes">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Paper Sizes
                                    <br />
                                    <span style="font-size:12px;color:gray;">Select and copy required configurations from TEST to LIVE site </span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-print childicons"></i>
                            </div>
                            <a href="~/Settings/Home/MachinesList" title="Presses and Plotters and Guillotines">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Presses and Plotters and Guillotines
                                    <br />
                                    <span style="font-size:12px;color:gray;">Manage your Site API Key(s) </span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-plus childicons"></i>
                            </div>
                            <a href="" title="Press calulation methods">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Press calulation methods
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure the webbook URL you will be use to listen </span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;
                                <i class="glyphicon glyphicon-usd header-icons"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span style="font-weight:bold;">COST CENTERS</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-money childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/CostCenters" title="Pre Press Cost Centers">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Pre Press Cost Centers
                                    <br />
                                    <span style="font-size:12px;color:gray;">Select and copy required configurations from TEST to LIVE site </span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-money childicons"></i>
                            </div>
                            <a href="" title="Post Press Cost Centers">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Post Press Cost Centers
                                    <br />
                                    <span style="font-size:12px;color:gray;">Manage your Site API Key(s) </span>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-plane header-icons"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span style="font-weight:bold;">SHIPPING</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-unlock childicons"></i>
                            </div>
                            <a href="~/Settings/Home/DeliveryCostCentres" title="Shipping Cost Centers">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Shipping Cost Centers
                                    <br />
                                    <span style="font-size:12px;color:gray;">Sync your ChargeBee Subscription to your MallChimp Mailing List </span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-road childicons"></i>
                            </div>
                            <a href="~/Settings/Home/DeliveryCarrier" title="Shipping Carriers">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Shipping Carriers
                                    <br />
                                    <span style="font-size:12px;color:gray;">Sync your ChargeBee Subscription to your Salessforce account</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-map-marker childicons"></i>
                            </div>
                            <a href="" title="Ship Station">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Ship Station
                                    <br />
                                    <span style="font-size:12px;color:gray;">Export your charge Bee invoices as online into ShipStation to your eCommerce shipping needs </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-th header-icons"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span style="font-weight:bold;">REPORTS LAYOUTS</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-pencil-square-o childicons"></i>
                            </div>
                            <a href="" title="Customize Invoice">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Customize Invoice
                                    <br />
                                    <span style="font-size:12px;color:gray;">A Collection of ready to use themes for your hosted pages</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-pencil childicons"></i>
                            </div>
                            <a href="" title="Customize Estimate">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Customize Estimate
                                    <br />
                                    <span style="font-size:12px;color:gray;">Personalize your hosted page apperarence with mobile compatible themes</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-sort-by-order childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/Prefixes" title="Start Numbers">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Start Numbers
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure how to handle payment features during renewals</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-random childicons"></i>
                            </div>
                            <a href="~/Home/PageUnAvailable" title="Management Reports">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Management Reports
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure text for titles, description and labelsConfigure how to handle payment features during renewals</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-random childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/ReportBanner" title="Report Banners">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Report Banners
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure text for titles, description and labelsConfigure how to handle payment features during renewals</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-book childicons"></i>
                            </div>
                            <a href="~/Settings/Home/PhraseLibrary" title="Phrase Library">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Phrase Library
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure text for titles, description and labels</span>
                                </div>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-resize-small header-icons"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span style="font-weight:bold;">THIRD PARTY INTEGRATION</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-cog childicons"></i>
                            </div>
                            <a href="" title="Mailchimp (SMTP Setting)">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Mailchimp (SMTP Setting)
                                    <br />
                                    <span style="font-size:12px;color:gray;">Sync your ChargeBee Subscription to your MallChimp Mailing List</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-tags childicons"></i>
                            </div>
                            <a href="" title="Sales Force">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Sales Force
                                    <br />
                                    <span style="font-size:12px;color:gray;">Sync your ChargeBee Subscription to your Salessforce account</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-transfer childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/SalesPipeLine" title="Sales Pipeline">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Sales Pipeline
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure payment gateway details</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-record childicons"></i>
                            </div>
                            <a href="" title="Google Analysis">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Google Analysis
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure google analytic and Typekit for your hosted pages</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard childicons"></i>
                            </div>
                            <a href="" title="Refersion">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Refersion
                                    <br />
                                    <span style="font-size:12px;color:gray;">Referral and affiliate management program</span>
                                </div>
                            </a>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    @*Ending Main Contents Div*@
    </div>

@*Ending Main Div*@   
</div>
</div>

<script>
    $(document).ready(function ()
    {
        setTimeout(function ()
        {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            $.unblockUI(spinner);
        }, 1000);
    });
</script>

<style>
    .divalignment
    {
        float:left;
        display:inline;
        
    }
    .MainDivContentsColor
    {
        background-color:#FBFCFB;
    }
    .childdivcolor
    {
        background-color:white;
    }
    .ParentDivTopBorder
    {
        border-top:4px solid #2D6893;  
        padding-bottom:10px;
    }
    .parentdiv
    {
        height:50px;
    }
    .childdiv
    {
        min-height:110px;  
        border-bottom:1px solid #e0e0e0;
    }
    .childdiv:hover
    {
        cursor:pointer;
        background-color:#fafafa;
    }
    .ChilddivMargin
    {
        padding:15px;
    }
    .DivsMargins
    {
        margin:20px;
    }
    
    .header-icons 
    {
       color:#2D6893;
       font-size:18px; 
    }
    .childicons
    {
        color:lightgray;
    }

</style>
