@{
    ViewBag.Title = "MPC MIS 2014 Settings";
}
@section leftmenue {
   
}




<div class="row">

@*Main Div Starting*@ 
<div class="col-lg-12">
        
    @*Breadcrum*@
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active"><span>Settings</span></li>
            </ol>
            <h1>Settings</h1>
        </div>
    </div>
        
    @*Main Contents Div*@
    <div class="col-lg-12">
        <div class="main-box no-header clearfix">
            
            <div class="col-lg-12">
                <div class="col-md-4">
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span>CLOUD STETTING</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                My Organization
                                <br />
                                <span style="font-size:12px;color:gray;">Configure currency, country, cards and billing accounts verification etc</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Regional Settings
                                <br />
                                <span style="font-size:12px;color:gray;">Change the appearence of your invoices</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Language Editor
                                <br />
                                <span style="font-size:12px;color:gray;">Configure the daily report and committed revenue behavior</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Taxes
                                <br />
                                <span style="font-size:12px;color:gray;">Configure the tax settings</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Default Markups
                                <br />
                                <span style="font-size:12px;color:gray;">Configure how to handle payment features during renewals</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Section Flags
                                <br />
                                <span style="font-size:12px;color:gray;">Request Custom Fields to be added to your charge bee</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span>MIGRATION REQUEST</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Request Data Import
                                <br />
                                <span style="font-size:12px;color:gray;">Submit a request to import your exsisting subscribers into ChargeBee </span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Archive / Unarchive
                                <br />
                                <span style="font-size:12px;color:gray;">Select and copy required configurations from TEST to LIVE site</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Import / Export Data
                                <br />
                                <span style="font-size:12px;color:gray;">Select and copy required configurations from TEST to LIVE site</span>
                            </div>
                        </div>




                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span>ACCOUNT SETTINGS</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Account Detail
                                <br />
                                <span style="font-size:12px;color:gray;">Manage your ChargeBee account and payment information</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                System Users
                                <br />
                                <span style="font-size:12px;color:gray;">Invite and manage users in ChargeBee site</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span>EMAIL NOTIFICATION</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                System Emails, Info and Alerts
                                <br />
                                <span style="font-size:12px;color:gray;">Manage the Information and Warning messages that are shown on customer portal </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span>PRESSES AND PLOTTERS</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Paper Sizes
                                <br />
                                <span style="font-size:12px;color:gray;">Select and copy required configurations from TEST to LIVE site </span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Presses and Plotters and Guillotines
                                <br />
                                <span style="font-size:12px;color:gray;">Manage your Site API Key(s) </span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Press calulation methods
                                <br />
                                <span style="font-size:12px;color:gray;">Configure the webbook URL you will be use to listen </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span>COST CENTERS</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Pre Press Cost Centers
                                <br />
                                <span style="font-size:12px;color:gray;">Select and copy required configurations from TEST to LIVE site </span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Post Press Cost Centers
                                <br />
                                <span style="font-size:12px;color:gray;">Manage your Site API Key(s) </span>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span>SHIPPING</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Shipping Cost Centers
                                <br />
                                <span style="font-size:12px;color:gray;">Sync your ChargeBee Subscription to your MallChimp Mailing List </span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Shipping Carriers
                                <br />
                                <span style="font-size:12px;color:gray;">Sync your ChargeBee Subscription to your Salessforce account</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Ship Station
                                <br />
                                <span style="font-size:12px;color:gray;">Export your charge Bee invoices as online into ShipStation to your eCommerce shipping needs </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span>REPORTS LAYOUTS</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Customize Invoice
                                <br />
                                <span style="font-size:12px;color:gray;">A Collection of ready to use themes for your hosted pages</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Customize Estimate
                                <br />
                                <span style="font-size:12px;color:gray;">Personalize your hosted page apperarence with mobile compatible themes</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Start Numbers
                                <br />
                                <span style="font-size:12px;color:gray;">Configure how to handle payment features during renewals</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Management Reports
                                <br />
                                <span style="font-size:12px;color:gray;">Configure text for titles, description and labelsConfigure how to handle payment features during renewals</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Phrase Library
                                <br />
                                <span style="font-size:12px;color:gray;">Configure text for titles, description and labels</span>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment">
                                <span>THIRD PARTY INTEGRATION</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Mailchimp (SMTP Setting)
                                <br />
                                <span style="font-size:12px;color:gray;">Sync your ChargeBee Subscription to your MallChimp Mailing List</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Sales Force
                                <br />
                                <span style="font-size:12px;color:gray;">Sync your ChargeBee Subscription to your Salessforce account</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Sales Pipeline
                                <br />
                                <span style="font-size:12px;color:gray;">Configure payment gateway details</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Google Analysis
                                <br />
                                <span style="font-size:12px;color:gray;">Configure google analytic and Typekit for your hosted pages</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="fa fa-dashboard"></i>
                            </div>
                            <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                Refersion
                                <br />
                                <span style="font-size:12px;color:gray;">Referral and affiliate management program</span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    @*Ending Main Contents Div*@
    </div>

@*Ending Main Div*@   
</div>
</div>

<style>
    .divalignment
    {
        float:left;
        display:inline;
        height:50px;
    }
    .MainDivContentsColor
    {
        background-color:#FBFCFB;
    }
    .childdivcolor
    {
        background-color:white;
    }
    .ParentDivTopBorder
    {
        border-top:4px solid #2D6893;  
        padding-bottom:10px;
    }
    .parentdiv
    {
        height:50px;
    }
    .childdiv
    {
        height:110px;
        border-bottom:1px solid #e0e0e0;
    }
    .ChilddivMargin
    {
        padding:15px;
    }
    .DivsMargins
    {
        margin:20px;
    }

</style>
