@{
    ViewBag.Title = "MPC MIS 2014 Settings";
}
@section leftmenue {
   
}





<div class="row">

@*Main Div Starting*@ 
<div class="col-lg-12">
        
    @*Breadcrum*@
    <div class="row">
        <div class="col-lg-12" style="padding-top: 2.5%">
            @*<ol class="breadcrumb" style="padding-left:2px;">
                <li><a href="#">Home</a></li>
                <li class="active"><span>Settings</span></li>
            </ol>*@
            <h1 style="padding-left:0;">Settings</h1>
            <div class="clearfix pull-left">
                <p class="group-header-description">These settings apply across all Stores, Products and Invoicing.</p>
            </div>
        </div>
    </div>
        
    @*Main Contents Div*@
    <div class="col-lg-12" style="padding-left:0px;padding-right:0px;">
        <div class="main-box no-header clearfix">
            
            <div class="col-lg-12">
                <div class="col-lg-12" style="margin-bottom:30px;">
                    <p class="group-header-description">
                        Go to Stores to configure specific Themes, Products and Templates
                    </p>
                    
                </div>
                
                <div class="col-md-4">
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="fa fa-cloud header-icons"></i>
                            </div>
                            <div class="col-lg-8">
                                <span style="font-weight:bold;">CLOUD SETTING</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2 divalignment">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-home childicons"></i>
                            </div>
                            <a href="~/Settings/Home/MyOrganization?status=O">
                                <div class="col-lg-10" style="padding-bottom:20px;">
                                    My Organization
                                    <br />
                                    <span style="font-size:12px;color:gray;">Set your company’s name, address and logo for internal reports</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="fa fa-globe childicons"></i>
                            </div>
                            <a href="~/Settings/Home/MyOrganization?status=R">
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    Currency, Size & Weight Settings 
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure the currency, units of lengths and weights</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-italic childicons"></i>
                            </div>
                            <a href="~/Settings/Home/MyOrganization?status=L">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Language Editor 
                                    <br />
                                    <span style="font-size:12px;color:gray;">Change to Web Store Labels for language Editor</span>
                                </div>
                            </a>
                        </div>
                        
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-hdd childicons"></i>
                            </div>
                            <a href="~/Settings/Home/MyOrganization?status=M">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Default Markups
                                    <br />
                                    <span style="font-size:12px;color:gray;">Set default markup values applied when estimating</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-flag childicons"></i>
                            </div>
                            <a href="~/Settings/mis/sectionflags">
                                <div class=" col-lg-10" style="padding-bottom:15px;">
                                    Section Flags
                                    <br />
                                    <span style="font-size:12px;color:gray;">Create and set colors for Flags used to categorize customers, orders, stock types etc…</span>
                                </div>
                            </a> 
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-saved childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/InventoryCategory">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Paper,Board & Substrate Sub-categories
                                    <br />
                                    <span style="font-size:12px;color:gray;">Create your own Inventory categories for Raw Materials</span>
                                </div>
                            </a>
                        </div>

                        @*<div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-saved childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/InventoryCategory">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Paper,Board & Subrate Sub-Categories
                                    <br />
                                    <span style="font-size:12px;color:gray;">Create your own Inventory categories for Raw Materials</span>
                                </div>
                            </a>
                        </div>*@

                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-send header-icons"></i>
                            </div>
                            <div class="col-lg-10">
                                <span style="font-weight:bold;">MIGRATION REQUEST</span>
                            </div>
                        </div>
                        
                        <div class="childdiv ChilddivMargin childdivcolor" style="height:150px;">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-tasks childicons"></i>
                            </div>
                            <a>
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Archive / Un Archive
                                    <br />
                                    <span style="font-size:12px;color:gray;">Hide Products, Product Categories Orders, Inventory items throughout the system without permanently deleting them</span>
                                    <br />
                                    <span style="color: #fc813b">Coming soon</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="fa fa-plane childicons"></i>
                            </div>
                            <a>
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Import / Export Data
                                    <br />
                                    <span style="font-size:12px;color:gray;">Import export CSV files for Customers, Contacts, Inventory (Raw Materials such as paper)</span>
                                    <br />
                                    <span style="color: #fc813b">Coming soon</span></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-print header-icons"></i>
                            </div>
                            <div class="col-lg-10">
                                <span style="font-weight:bold;">PAPER,PRESSES & PLOTTERS</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-file childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/PaperSheet">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Sheet Sizes 
                                    <br />
                                    <span style="font-size:12px;color:gray;">Create and set sheets sizes widths and lengths</span>
                                </div>
                            </a>
                        </div>
                        @*~/Settings/MIS/Inventory*@
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="fa fa-clipboard childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/Inventory">
                                <div class="col-lg-10" style="padding-bottom:20px;">
                                    Paper, Boards, Inks...
                                    <br />
                                    <span style="font-size:12px;color:gray;min-height:50px;">Update your raw paper, boards and inks inventory database.</span>
                                </div>
                            </a>
                        </div>
                        @*<div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="fa fa-print childicons"></i>
                            </div>
                            <a href="#">
                                <div class="col-lg-10" style="padding-bottom:20px;">
                                    Imposition layout profiles
                                    <br />
                                    <span style="font-size:12px;color:gray;min-height:50px;">Set Impressions layout for duplicating multiple flat size items on one side of a printed sheet - Print to View.</span>
                                </div>
                            </a>
                        </div>*@
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="fa fa-chain-broken childicons"></i>
                            </div>
                            <a href="~/Settings/Home/MachinesList?type=guillotine">
                                <div class="col-lg-10" style="padding-bottom:20px;">
                                    Guillotine settings
                                    <br />
                                    <span style="font-size:12px;color:gray;min-height:50px;">Set guillotines throat intake and cutting speeds for different paper weights</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="fa fa-print childicons"></i>
                            </div>
                            <a href="~/Settings/Home/MachinesList?type=press">
                                <div class="col-lg-10" style="padding-bottom:20px;">
                                    Presses and Plotters profiles
                                    <br />
                                    <span style="font-size:12px;color:gray;min-height:50px;">Configure sheet (or roll) fed Digital and Litho presses and plotters.</span>
                                </div>
                            </a>
                        </div>
                       
                      

                        @*<div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-plus childicons"></i>
                            </div>
                            <a href="~/Settings/Home/LookupMethods">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Press calculation methods
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure press calculations used when estimating based on speed, paper weights and color units</span>
                                </div>
                            </a>
                        </div>*@
                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2">
                                &nbsp;
                                <i class="glyphicon glyphicon-usd header-icons"></i>
                            </div>
                            <div class="col-lg-10">
                                <span style="font-weight:bold;">COST CENTERS</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="fa fa-money childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/CostCenters?Type=2">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Pre Press Cost Centers
                                    <br />
                                    <span style="font-size:12px;color:gray;">Create Pre-Press and Refining Options using run time quantities, prompting questions used when estimating</span>
                                </div>
                            </a>
                        </div>

                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="fa fa-money childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/CostCenters?Type=3">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Post Press Cost Centers
                                    <br />
                                    <span style="font-size:12px;color:gray;">Create Post-Press, Bindery and Refining Options using run time quantities, prompting questions used when estimating</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="fa fa-truck header-icons"></i>
                            </div>
                            <div class="col-lg-10">
                                <span style="font-weight:bold;">SHIPPING</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;

                                <i class="fa fa-car childicons"></i>
                            </div>
                            <a href="~/Settings/Home/DeliveryCostCentres">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Shipping Cost Centers
                                    <br />
                                    <span style="font-size:12px;color:gray;">Create and configure internal Shipping options used on web stores and estimating</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-road childicons"></i>
                            </div>
                            <a href="~/Settings/Home/DeliveryCarrier">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Shipping Carriers
                                    <br />
                                    <span style="font-size:12px;color:gray;">Sync your MyPRINTCloud Subscription to your shipping suppliers</span>
                                </div>
                            </a>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder" style="margin-bottom:50px;">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-th header-icons"></i>
                            </div>
                            <div class="col-lg-10">
                                <span style="font-weight:bold;">REPORTS LAYOUTS</span>
                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="fa fa-pencil-square-o childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/ReportBanner">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Customize Invoices, Estimates etc…
                                    <br />
                                    <span style="font-size:12px;color:gray;">Personalize your transactional reports with banner images</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-sort-by-order childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/Prefixes">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Start Numbers 
                                    <br />
                                    <span style="font-size:12px;color:gray;">Set Starting numbers used on Invoices, estimates etc to generate unique codes...</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-book childicons"></i>
                            </div>
                            <a href="~/Settings/Home/PhraseLibrary?status=phraselibrary">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Phrase Library
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure text for titles, description and labels</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12 MainDivContentsColor ParentDivTopBorder">
                        <div class="MainDivContentsColor parentdiv ChilddivMargin">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-resize-small header-icons"></i>
                            </div>
                            <div class="col-lg-10">
                                <span style="font-weight:bold;">THIRD PARTY INTEGRATION</span>

                            </div>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-cog childicons"></i>
                            </div>
                            <a>
                                <div class="col-lg-10 divalignment" style="padding-bottom:15px;">
                                    SMTP Setting
                                    <br />
                                    <span style="font-size:12px;color:gray;">Sync your MyPRINTCloud Subscription to your MallChimp Mailing List</span>
                                    <br />
                                    <span style="color: #fc813b">Coming soon</span></div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-tags childicons"></i>
                            </div>
                            <a>
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Sales Force 
                                    <br />
                                    <span style="font-size:12px;color:gray;">Sync your MyPRINTCloud Subscription to your Salesforce account</span>
                                    <br />
                                    <span style="color: #fc813b">Coming soon</span></div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-transfer childicons"></i>
                            </div>
                            <a href="~/Settings/MIS/SalesPipeLine">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Sales Pipeline 
                                    <br />
                                    <span style="font-size:12px;color:gray;">Set sale targets for your Account Managers</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="fa fa-wrench childicons"></i>
                            </div>
                            <a href="~/Settings/Home/MyOrganization?status=api">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Agile API
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure the Agile API Credentials</span>
                                </div>
                            </a>
                        </div>
                        <div class="childdiv ChilddivMargin childdivcolor">
                            <div class="col-lg-2">
                                &nbsp;&nbsp;
                                <i class="fa fa-xing-square childicons"></i>
                            </div>
                            <a href="~/Settings/Home/MyOrganization?status=xeroapi">
                                <div class="col-lg-10" style="padding-bottom:15px;">
                                    Unleashed API
                                    <br />
                                    <span style="font-size:12px;color:gray;">Configure the Unleashed API Credentials for Xero</span>
                                </div>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
@*Ending Main Contents Div*@
</div>

</div>

<script>
    $(document).ready(function ()
    {
        setTimeout(function ()
        {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            $.unblockUI(spinner);
        },1000);
    });
</script>

<style>
    .MainDivContentsColor
    {
        background-color:#FBFCFB;
    }
    .childdivcolor
    {
        background-color:white;
    }
    .ParentDivTopBorder
    {
        border-top:4px solid #2D6893;  
        padding-bottom:10px;
    }
    .parentdiv
    {
        min-height:50px;
    }
    .childdiv
    {
        min-height:130px;  
        border-bottom:1px solid #e0e0e0;
    }
    .childdiv:hover
    {
        cursor:pointer;
        background-color:#fafafa;
    }
    .ChilddivMargin
    {
        padding:15px;
    }
    .DivsMargins
    {
        margin:20px;
    }
    
    .header-icons 
    {
       color:#2D6893;
       font-size:18px; 
    }
    .childicons
    {
        color:lightgray;
    }
</style>
