@{
    ViewBag.Title = "My Organization";
}
@section leftmenue {
    
}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">General Settings</a></li>
                    <li class="active"><span>My Organization</span></li>
                </ol>
                <h1>My Organization</h1>
            </div>
        </div>
        <div class="row" id="user-profile">
           
            <div class="col-lg-12 col-md-8 col-sm-8">
                <div class="main-box clearfix">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-ORGDetail" data-toggle="tab">Organization Details</a></li>
                            <li><a href="#tab-RegionalSettings" data-toggle="tab">Regional Settings</a></li>
                         
                            <li><a href="#tab-NominalCodes" data-toggle="tab">Nominal Codes</a></li>
                            @*<li><a href="#tab-Managers" data-toggle="tab">Managers and Departements</a></li>*@
                             <li><a href="#tab-languageeditor" data-toggle="tab">Language Editor</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-ORGDetail">
                                <div class="main-box-body clearfix">
                                    <div class="col-md-12 form-horizontal">
                                        <h3>My Organization</h3>
                                        <div class="col-md-6">
                                           <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Name of the company or organization." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Company Name</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="txtCompanyName" placeholder="Enter Store Name" value="Unbound Prints">
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>

                                         <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address Line 1." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Addres Line 1</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="txtAddressLine1" placeholder="Enter Store Name" value="268 Bath Roads">
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                       <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address Line 1." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Addres Line 2</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="txtAddressLine2" placeholder="Enter Address Line 2"  value="268 Bath Roads">
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                 
                                       <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address Line 1." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">City</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="txtCity" placeholder="Enter City" value="Sloughs">
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                 
                                         <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address Line 1." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">State</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                 <input type="text" class="form-control" id="txtState" placeholder="Enter State" value="Sloughs">
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                       <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address Line 1." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Country</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                  <input type="text" class="form-control" id="txtCountry" placeholder="Enter Country" value="UK">
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                          <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address Line 1." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Post Code</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                  <input type="text" class="form-control" id="txtPostCode" placeholder="Enter Post Code" value="SL1 4DXs">
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address Line 1." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Main Tel</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                  <input type="text" class="form-control" id="txtMainTel" placeholder="Enter Telephone Number" value="01753 369 0690">
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                       <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address Line 1." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Fax</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                  <input type="text" class="form-control" id="txtFax" placeholder="Enter Fax" value="567633696690">
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                      <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address Line 1." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Fax</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                  <input type="text" class="form-control" id="txtFax" placeholder="Enter Fax" value="567633696690">
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address Line 1." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Email</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                   <input type="text" class="form-control" id="txtEmail" placeholder="Enter Email" value="info@pinkcards.com">
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                         <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address Line 1." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Mobile</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                   <input type="text" class="form-control" id="txtEmail" placeholder="Enter Email" value="info@pinkcards.com">
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                         <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address Line 1." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Mobile</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                   <input type="text" class="form-control" id="txtEmail" placeholder="Enter Mobile" value="78765432">
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address Line 1." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Web Site URL</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                   <input type="text" class="form-control" id="txtWebsite" placeholder="Enter WebSite URL" value="http://www.pinkcards.com">
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>

                                         <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                     <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Thumbnail" data-original-title="" title="">
                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                                          </div>

                                                    <label for="txtCompanyName" class="control-label text-right tooltip-float">Company Logo</label>
                                                
                                                </div>
                                           
                                                    <div class="col-lg-6">
                                                          <div id="dropzone1" class="dropzonepl">
                                    <form id="demo-upload1" class="dropzone dz-clickable" style="min-height: 200px; width: 250px;" action="#">
                                        <div class="dz-default dz-message">
                                            <span>Drop file here to upload</span>
                                        </div>
                                    </form>
                                </div>
                                                        <span class="help-block text-right">Company logo on MIS Dashboard</span>
                                                    </div>
                                            
                                            </div>
                                     
                                      
                                    </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-RegionalSettings">

                                 
                                 <div class="col-md-12 form-horizontal">
                                        <h3>Regional Settings</h3>
                                <div class="col-md-6">
                                       <div class="form-group">
                                            <div class="col-lg-5 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Name of the company or organization." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Currency Symbol
                                                </label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                 <select class="form-control">
                                                <option>USD $</option>
                                                <option>GBP £</option>
                                                <option>AUD A$</option>
                                                  <option>CAD C$</option>
                                            </select>
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                    <div class="form-group">
                                            <div class="col-lg-5 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Name of the company or organization." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Language pack</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                <select class="form-control">
                                                <option>English</option>
                                                <option>French</option>
                                                <option>Dutch</option>
                                              
                                            </select>
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                     <div class="form-group">
                                               <div class="col-lg-5 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Name of the company or organization." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Defaults of Unit Lengths</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                                 <select class="form-control">
                                                <option>mm</option>
                                                <option>cm</option>
                                                <option>inch</option>
                                            </select>
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>

                                <div class="form-group">
                                               <div class="col-lg-5 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Name of the company or organization." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Defaults of Unit Weights</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                               <select class="form-control">
                                                <option>lbs</option>
                                                <option>gsm</option>
                                                <option>kg</option>
                                            </select>
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>
                                 
                                 

                                </div>
                                </div>
                                <div class="col-md-12 form-horizontal">
                                        <h3>Tax Codes</h3>
                                <div class="col-md-6">
                                    <div class="main-box clearfix">
                                        <header class="main-box-header clearfix">
                                            <h2>Taxes</h2>
                                            <div class="filter-block pull-right">
                                                <div class="form-group pull-left">
                                                    <input type="text" class="form-control" placeholder="Search...">
                                                    <i class="fa fa-search search-icon"></i>
                                                </div>
                                                <a href="#" class="btn btn-primary pull-right">
                                                    <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add Tax
                                                </a>
                                            </div>
                                        </header>
                                        <div class="main-box-body clearfix">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th><a href="#"><span>Tax Details</span></a></th>
                                                            <th><a href="#"><span>% Rate</span></a></th>
                                                            <th>&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>VAT Free
                                                            </td>
                                                            <td>20
                                                            </td>
                                                            <td class="text-right">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>VAT 20%
                                                            </td>
                                                            <td>20
                                                            </td>

                                                            <td class="text-right">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>VAT  10
                                                            </td>
                                                            <td>10
                                                            </td>

                                                            <td class="text-right">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
              

                                </div>
                                </div>
                                 <div class="col-md-12">
                                        <h3>Tax Settings</h3>
                                        <div class="col-md-6">
                                   
                                              <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Name of the company or organization." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                            </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">VAT Registration Number</label>
                                               
                                            </div>

                                            <div class="col-lg-6">
                                               <input type="text" class="form-control" id="txtRegNumber" value="VT124578" placeholder="Enter Registration Number" />
                                                <span class="help-block text-right"></span>
                                            </div>

                                        </div>

                                

                                </div>
                                </div>
                                  <div class="col-md-12">
                                        <h3>Markups</h3>
                                        <div class="col-md-6">
                                         <div class="main-box clearfix">
                                        <header class="main-box-header clearfix">
                                            <h2>Markups</h2>
                                            <div class="filter-block pull-right">
                                                <div class="form-group pull-left">
                                                    <input type="text" class="form-control" placeholder="Search...">
                                                    <i class="fa fa-search search-icon"></i>
                                                </div>
                                                <a href="#" class="btn btn-primary pull-right">
                                                    <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add Markup
                                                </a>
                                            </div>
                                        </header>
                                        <div class="clearfix">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th><a href="#"><span>Markup Code</span></a></th>
                                                            <th><a href="#"><span>% Rate</span></a></th>
                                                            <th>&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>M 10
                                                            </td>
                                                            <td>10
                                                            </td>
                                                            <td class="text-right">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>M 15
                                                            </td>
                                                            <td>15
                                                            </td>

                                                            <td class="text-right">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>M 20
                                                            </td>
                                                            <td>20
                                                            </td>

                                                            <td class="text-right">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                         <tr>
                                                            <td>M 25
                                                            </td>
                                                            <td>25
                                                            </td>

                                                            <td class="text-right">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                         <div class="form-group">
                                            <label>Enter in the default MARKUP to apply on all new estimates</label>
                                              <select class="form-control">
                                                <option>M0</option>
                                                 <option>M 10</option>
                                                 <option>M 15</option>
                                                   <option>M 20</option>
                                                   <option>M 25</option>
                                            </select>
                                        </div>
                                       
                                    </div>
                                    </div>
                            </div>
                        
                            <div class="tab-pane fade" id="tab-NominalCodes">
                               <div class="clearfix">
                                    <div class="col-md-12">
                                        <h3>Nominal Codes</h3>
                                        <div class="col-md-6">
                                         <div class="main-box clearfix">
                                        <header class="main-box-header clearfix">
                                            <h2>Nominal Codes</h2>
                                            <div class="filter-block pull-right">
                                                <div class="form-group pull-left">
                                                    <input type="text" class="form-control" placeholder="Search...">
                                                    <i class="fa fa-search search-icon"></i>
                                                </div>
                                                <a href="#" class="btn btn-primary pull-right">
                                                    <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add Nominal Code
                                                </a>
                                            </div>
                                        </header>
                                        <div class="main-box-body clearfix">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th><a href="#"><span>Account No</span></a></th>
                                                            <th><a href="#"><span>Name</span></a></th>
                                                            <th>&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>4000
                                                            </td>
                                                            <td>Direct Print Sales
                                                            </td>
                                                            <td class="text-right">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>4001
                                                            </td>
                                                            <td>Online Print Sales
                                                            </td>

                                                            <td class="text-right">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>4002
                                                            </td>
                                                            <td>Labor Press
                                                            </td>

                                                            <td class="text-right">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                         <tr>
                                                            <td>4003
                                                            </td>
                                                            <td>Paper
                                                            </td>

                                                            <td class="text-right">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                         <tr>
                                                            <td>4004
                                                            </td>
                                                            <td>Plates
                                                            </td>

                                                            <td class="text-right">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    </div>
                                    </div>

                                </div>
                            </div>
                          @*  <div class="tab-pane fade" id="tab-Managers">
                                  <div class="col-md-12">
                                        <h3>Default Managers</h3>
                                <div class="col-md-6">
                                     <div class="form-group">
                                        <label>Select this Sites Default Managers for</label>
                                         
                                    </div>
                                    <div class="form-group">
                                        <label>Sales Manager</label>
                                            <select class="form-control">
                                                <option>David</option>
                                                <option>Lucae Eyre</option>
                                                <option>Smit Jones</option>    
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Order Manager</label>
                                          <select class="form-control">
                                                <option>David</option>
                                                <option>Lucae Eyre</option>
                                                <option>Smit Jones</option>    
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Job Production Manger</label>
                                            <select class="form-control">
                                                <option>David</option>
                                                <option>Lucae Eyre</option>
                                                <option>Smit Jones</option>  
                                              
                                            </select>
                                    </div>
                                    <div class="form-group">
                                          <label>Stock Notification Manager 1</label>
                                            <select class="form-control">
                                               <option>David</option>
                                                <option>Lucae Eyre</option>
                                                <option>Smit Jones</option> 
                                            </select>
                                       
                                    </div>

                                 <div class="form-group">
                                          <label>Stock Notification Manager 2</label>
                                            <select class="form-control">
                                               <option>David</option>
                                                <option>Lucae Eyre</option>
                                                <option>Smit Jones</option> 
                                            </select>
                                       
                                    </div>

                                </div>
                                </div>

                                  <div class="col-md-12">
                                        <h3>Sites and Departments</h3>
                                <div class="col-md-6">
                                     <div class="form-group">
                                        <label>Select which site to manage Departments</label>
                                         
                                    </div>
                                    <div class="form-group">
                                        <label>You are licensed for only 1 Site.</label>
                                            <select disabled="disabled" class="form-control">
                                                
                                            </select>
                                    </div>
                                  <div class="form-group">
                                        <label>Select the sites default departments</label>
                                         
                                    </div>
                                    <div class="form-group">
                                        <label>You are licensed for only 1 department.</label>
                                            <select disabled="disabled" class="form-control">  
                                            </select>
                                    </div>

                                </div>
                                </div>
                            </div>*@
                            <div class="tab-pane clearfix fade" id="tab-languageeditor">
                                  <h3 class="group-header">Edit Regional Languages</h3>
                                         <div class="form-group">
                                            <div class="col-lg-3 text-right">
                                                <label for="txtCompanyName" style="color:green;" class="control-label text-right">Modifying Language File for : en-US</label>
                                               
                                            </div>

                                         
                                        </div>
                                       <div class="main-box-body clearfix">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th ><a href="#"><span>Caption</span></a></th>
                                                          
                                                            <th><span>Details</span></th>
                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td> <input type="text" class="form-control" id="txtCaption" placeholder="Enter Caption" value="Default Address"/>
                                                            </td>
                                                            <td style="width: 442px;">Default Address
                                                            </td>

                                                        </tr>
                                                          <tr>
                                                            <td> <input type="text" class="form-control" id="txtCaption4" placeholder="Enter Caption" value="Default Shipping Address"/>
                                                            </td>
                                                            <td style="width: 442px;">Default Shipping Address
                                                            </td>

                                                        </tr>
                                                          <tr>
                                                            <td> <input type="text" class="form-control" id="txtCaption5" placeholder="Enter Caption" value="PO number is required when ordering"/>
                                                            </td>
                                                            <td style="width: 442px;">PO Number is required when ordering
                                                            </td>

                                                        </tr>
                                                          <tr>
                                                            <td> <input type="text" class="form-control" id="txtCaption6" placeholder="Enter Caption" value="Show Prices to user"/>
                                                            </td>
                                                            <td style="width: 442px;"> Show Prices to Users
                                                            </td>

                                                        </tr>
                                                          <tr>
                                                            <td> <input type="text" class="form-control" id="txtCaption7" placeholder="Enter Caption" value="User can create shipping address"/>
                                                            </td>
                                                            <td style="width: 442px;"> Users can create Shipping Addresses
                                                            </td>

                                                        </tr>
                                                          <tr>
                                                            <td> <input type="text" class="form-control" id="txtCaption8" placeholder="Enter Caption" value="JPG, TIF, eps, PDF"/>
                                                            </td>
                                                            <td style="width: 442px;">Detail
                                                            </td>

                                                        </tr>
                                                          <tr>
                                                            <td> <input type="text" class="form-control" id="txtCaption9" placeholder="Enter Caption" value="To Our Newsletter"/>
                                                            </td>
                                                            <td style="width: 442px;">// NewsLetter subscriber page

                                                            </td>

                                                        </tr>
                                                          <tr>
                                                            <td> <input type="text" class="form-control" id="txtCaption10" placeholder="Enter Caption" value="1. Confirm Design"/>
                                                            </td>
                                                            <td style="width: 442px;">1. Confirm Design //ProductconfirmSelection
                                                            </td>

                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                       
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
        <script>
            $(function () {
                $('#lisettings').addClass('active');
                $('#ligeneralsettings').addClass('active');
                $('#limyorganization').addClass('active');
            });
	</script>
}  