@{
    ViewBag.Title = "Item Late Start";
    var displaybuttonsclass = "";
    Layout = "~/Areas/Production/Views/Shared/_Layout.cshtml";
}

@section leftmenue {

}
<div class="row" id="itemJobStatusBinding">
    <div class="col-lg-12">
        <div class="row" style="margin-bottom: 1%;">
            <div class="col-lg-12" id="topArea">
                <ol class="breadcrumb" style="padding-left: 0px;">
                    <li><a href="~/Dashboard/Index">Home</a></li>
                    <li class="active"><span>Item Late Start</span></li>
                </ol>
               
            </div>
        </div>
       
        <div class="row" style="padding-right: 8px;padding-left: 8px;">
            <div style="margin-top:55px;margin-bottom:23px;">
                <div style="float:left;">
                    
                </div>
                <div class="row" style="float:right;margin-right: 1px;">
                    <a href="~/Production/Home/ItemJobStatus" style="text-decoration:none;margin-right:13px;float:left;" class="@displaybuttonsclass ">
                        <div class="main-box infographic-box inner-box" style="padding-bottom: 33px !important;">
                            <i class="fa fa-clipboard emerald-bg" style="margin-right:4px;"></i>
                            <span class="span-dashboard-widgets">Production Board</span>

                        </div>
                        <div class="web2print-positioner" style="position:fixed;">
                        </div>
                    </a>
                    <a href="~/Production/Home/LiveJobs" style="text-decoration:none;float:right;" class="@displaybuttonsclass " data-toggle="popover" data-placement="bottom">
                        <div class="main-box infographic-box inner-box" style="padding-bottom: 33px !important;">
                            <i class="fa fa-drupal emerald-bg" style="margin-right:4px;"></i>
                            <span class="span-dashboard-widgets">Live jobs</span>

                        </div>
                    </a>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix form-horizontal">
                        <div class="col-lg-4">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion1">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="border-radius: 5px;">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#needAssigning">Late Start </a>
                                            </h4>
                                        </div>
                                        <div id="needAssigning" class="panel-collapse collapse in" style="margin-top: 2%; border-radius: 5px;">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedNeedAssigning" style="padding: 1%; background-color: gainsboro; border-radius: 5px; max-height: inherit; min-height: inherit; overflow-y: inherit;">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'needAssigningItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion2">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="border-radius: 5px;">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#inStudio">Late Delivery </a>
                                            </h4>
                                        </div>
                                        <div id="inStudio" class="panel-collapse collapse in" style="margin-top: 2%; border-radius: 5px;">
                                            <div class=" panel-body collapsableHeight" data-bind="drop: $root.droppedInStudio" style="padding: 1%; background-color: gainsboro; border-radius: 5px; max-height: inherit; min-height: inherit; overflow-y: inherit; ">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'inStudioItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>

            </div>
        </div>

    </div>
    <input type="hidden" value="@ViewBag.IsLateScreen" id="HiddenFlag_12" />
</div>

@section Scripts{
    <script>
        require(["itemJobStatus/itemJobStatus.view"]);
        $(function () {
            $('#liproduction').addClass('active');
        });
    </script>
}



<script id="needAssigningItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 1)">
        <div class="col-lg-12" style=" background-color: white; border-radius: 7px; margin-bottom: 5%; padding-top: 5px;">
            <div class="form-group formGroupSmall" style="margin-left: 0%;">
                <div style="color: #1cc7ed; font-size: 18px;" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0%;">
                <div  style="color: lightslategray; font-size: 10px;">
                    <span data-bind="text:code"></span> &nbsp; <span style="margin-left: 6%;"data-bind="text:orderCode"></span>
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0%; font-size: 12px;">
                <div><span style="color: red;">Order Status : </span>  <span style="color: red; margin-left: 9.5%;">In Production</span>
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div class="col-lg-4" style="padding-left: 0px; ">
                    <label style="font-size: 12px; color: lightslategray;" class="control-label">Product Title:</label>
                </div>
                <div class="col-lg-8" style="padding-left: 0px;">
                    <label style="font-size: 12px; color: lightslategray;" class="control-label text-right" data-bind="text:productName"></label>
                </div>
            </div>
              
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div class="col-lg-3" style="padding-left: 0px;">
                    <label class="control-label" style="font-size: 12px; color: lightslategray;">Qty :</label>
                </div>
                <div class="col-lg-6" style="padding-left: 27px">
                    <label style="font-size: 12px; color: lightslategray;"  class="control-label text-right" data-bind="text:qty1"></label>
                </div>
            </div>
            
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style="font-size: 10px; color: lightslategray; ">Expected Shipping Date</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0%;">
                <div class="col-lg-8" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
                <div class="col-lg-4">
                    <a style="font-size: 12px;margin-bottom: 3px; float: right;
 margin-right: 5px;" class="btn btn-primary openBtn" data-bind="attr: {href:'/mis/orders/home?id='+estimateId()+'&itemId='+id() },click: function() { return true;}, clickBubble: false" target="_blank">
                        Open
                    </a>
                    </div>
                </div>


            </div>
        </li>
</script>

<script id="inStudioItemTemplate" type="text/html">
    <a style="cursor: pointer" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">
        <li data-bind="if: (statusId()=== 2)">
            <div class="col-lg-12" style=" background-color: white; border-radius: 7px; margin-bottom: 5%; padding-top: 5px;">
                <div class="form-group formGroupSmall" style="margin-left: 0%;">
                    <div style="color: #1cc7ed; font-size: 18px;" data-bind="text:companyName">
                    </div>
                </div>
                <div class="form-group code" style="margin-left: 0%;">
                    <div data-bind="text:code" style="color: lightslategray; font-size: 10px;">
                    </div>
                </div>
                <div class="form-group code" style="margin-left: 0%; font-size: 12px;">
                    <div>
                        <span style="color: red;">Order Status : In Production</span>
                    </div>
                </div>
                <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                    <div class="col-lg-4" style="padding-left: 0px; ">
                        <label style="font-size: 12px; color: lightslategray;" class="control-label">Product Title:</label>
                    </div>
                    <div class="col-lg-8" style="padding-left: 0px;">
                        <label style="font-size: 12px; color: lightslategray;" class="control-label text-right" data-bind="text:productName"></label>
                    </div>
                </div>

                <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                    <div class="col-lg-3" style="padding-left: 0px;">
                        <label class="control-label" style="font-size: 12px; color: lightslategray;">Qty :</label>
                    </div>
                    <div class="col-lg-6" style="padding-left: 27px">
                        <label style="font-size: 12px; color: lightslategray;" class="control-label text-right" data-bind="text:qty1"></label>
                    </div>
                </div>
                
                <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                    <div>
                        <label style="font-size: 10px; color: lightslategray; ">Expected Shipping Date</label>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 3px; margin-left: 0%;">
                    <div class="col-lg-8" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                    </div>
                    <div class="col-lg-4">
                        <a style="font-size: 12px;
  margin-bottom: 3px;
  float: right;
  margin-right: 5px;" class="btn btn-primary openBtn" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">
                            Open
                        </a>
                    </div>
                </div>


            </div>
        </li>
    </a>

</script>

