@{
    ViewBag.Title = "Item Job Status";
    Layout = "~/Areas/Production/Views/Shared/_Layout.cshtml";
}

@section leftmenue {

}
<div class="row" id="itemJobStatusBinding">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12" id="topArea">
                <ol class="breadcrumb" style="padding-left: 0px;">
                    <li><a href="~/Dashboard/Index">Home</a></li>
                    <li><a href="~/Production/Home/Index">Production Board</a></li>
                    <li class="active"><span>Item Job Status</span></li>
                </ol>
                <div>
                    Drag jobs to different columns to update their job statuses.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix form-horizontal">
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion1">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#needAssigning">Need Assigning (</a><span data-bind=" text:$root.currencySymbol"></span><span data-bind="text:$root.needAssigningTotal"></span>)
                                            </h4>
                                        </div>
                                        <div id="needAssigning" class="panel-collapse collapse in">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedNeedAssigning">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'needAssigningItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion2">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#inStudio">In Studio (</a><span data-bind=" text:$root.currencySymbol"></span><span data-bind="text:$root.inStudioTotal "></span>)
                                            </h4>
                                        </div>
                                        <div id="inStudio" class="panel-collapse collapse in">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedInStudio">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'inStudioItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion3" href="#inPrint">In Print (</a><span data-bind=" text:$root.currencySymbol"></span><span data-bind="text:$root.inPrintTotal "></span>)
                                            </h4>
                                        </div>
                                        <div id="inPrint" class="panel-collapse collapse in">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedInPrint">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'inPrintOrPressItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion4" href="#inPostPress">In Post Press (</a><span data-bind=" text:$root.currencySymbol"></span><span data-bind="text:$root.inPostPressTotal "></span>)
                                            </h4>
                                        </div>
                                        <div id="inPostPress" class="panel-collapse collapse in">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedInPostPress">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'inPostPressItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion5">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion5" href="#readyForShipping">Ready for shipping (</a><span data-bind=" text:$root.currencySymbol"></span><span data-bind="text:$root.inReadyForShippingTotal "></span>)
                                            </h4>
                                        </div>
                                        <div id="readyForShipping" class="panel-collapse collapse in">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedInReadyForShipping">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'readyForShippingItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion6" href="#invoiceAndShipped">Invoice & Shipped (</a><span data-bind=" text:$root.currencySymbol"></span><span data-bind="text:$root.inInvoiceAndShippedTotal "></span>)
                                            </h4>
                                        </div>
                                        <div id="invoiceAndShipped" class="panel-collapse collapse in">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedInInvoiceAndShipped">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'invoiceAndShippedItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

@section Scripts{
    <script>
        require(["itemJobStatus/itemJobStatus.view"]);
        $(function () {
            $('#listores').addClass('active');
        });
    </script>
}



<script id="needAssigningItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 11), drag: $root.dragged">
        <div class="col-lg-12">
            <div class="form-group formGroupSmall">
                <div style="color: #1cc7ed;" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code">
                <div data-bind="text:code">
                </div>
            </div>
            <div class="form-group formGroupSmall">
                <div data-bind="text:productName">
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div class="col-lg-6" style="padding-left: 0px;">
                    <label class="control-label">Qty :</label>
                </div>
                <div class="col-lg-6">
                    <label class="control-label text-right" data-bind="text:qty1"></label>
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div style="float: left;">
                    <label class="control-label labelToPadding">Selling Price :</label>
                </div>
                <div>
                    <label class="labelToPadding" data-bind=" text:$root.currencySymbol"></label><label class="control-label text-right labelToPadding" data-bind="text:qty1NetTotal"></label>
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div>
                    <label>Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px;">
                <div class="col-lg-8" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left :0px;">
                </div>
                <div>
                    @*<div class="btn btn-primary openBtn">Open</div>*@
                    <a class="btn btn-primary openBtn" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() }">Open</a>
                </div>
            </div>
            <div class="itemFooterHighlight">
            </div>

        </div>
    </li>

</script>

<script id="inStudioItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 12), drag: $root.dragged">
        <div class="col-lg-12">
            <div class="form-group formGroupSmall">
                <div style="color: #1cc7ed;" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code">
                <div data-bind="text:code">
                </div>
            </div>
            <div class="form-group formGroupSmall">
                <div data-bind="text:productName">
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div class="col-lg-6" style="padding-left: 0px;">
                    <label class="control-label">Qty :</label>
                </div>
                <div class="col-lg-6">
                    <label class="control-label text-right" data-bind="text:qty1"></label>
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div style="float: left;">
                    <label class="control-label labelToPadding">Selling Price :</label>
                </div>
                <div>
                    <label class="labelToPadding" data-bind=" text:$root.currencySymbol"></label><label class="control-label text-right labelToPadding" data-bind="text:qty1NetTotal"></label>
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div>
                    <label>Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px;">
                <div class="col-lg-8" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left :0px;">
                </div>
                <div>
                    @*<div class="btn btn-primary openBtn">Open</div>*@
                    <a class="btn btn-primary openBtn" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() }">Open</a>
                </div>
            </div>
            <div class="itemFooterHighlight">
            </div>

        </div>
    </li>

</script>

<script id="inPrintOrPressItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 13), drag: $root.dragged">
        <div class="col-lg-12">
            <div class="form-group formGroupSmall">
                <div style="color: #1cc7ed;" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code">
                <div data-bind="text:code">
                </div>
            </div>
            <div class="form-group formGroupSmall">
                <div data-bind="text:productName">
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div class="col-lg-6" style="padding-left: 0px;">
                    <label class="control-label">Qty :</label>
                </div>
                <div class="col-lg-6">
                    <label class="control-label text-right" data-bind="text:qty1"></label>
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div style="float: left;">
                    <label class="control-label labelToPadding">Selling Price :</label>
                </div>
                <div>
                    <label class="labelToPadding" data-bind=" text:$root.currencySymbol"></label><label class="control-label text-right labelToPadding" data-bind="text:qty1NetTotal"></label>
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div>
                    <label>Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px;">
                <div class="col-lg-8" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left :0px;">
                </div>
                <div>
                    @*<div class="btn btn-primary openBtn">Open</div>*@
                    <a class="btn btn-primary openBtn" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() }">Open</a>
                </div>
            </div>
            <div class="itemFooterHighlight">
            </div>

        </div>
    </li>

</script>

<script id="inPostPressItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 14), drag: $root.dragged">
        <div class="col-lg-12">
            <div class="form-group formGroupSmall">
                <div style="color: #1cc7ed;" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code">
                <div data-bind="text:code">
                </div>
            </div>
            <div class="form-group formGroupSmall">
                <div data-bind="text:productName">
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div class="col-lg-6" style="padding-left: 0px;">
                    <label class="control-label">Qty :</label>
                </div>
                <div class="col-lg-6">
                    <label class="control-label text-right" data-bind="text:qty1"></label>
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div style="float: left;">
                    <label class="control-label labelToPadding">Selling Price :</label>
                </div>
                <div>
                    <label class="labelToPadding" data-bind=" text:$root.currencySymbol"></label><label class="control-label text-right labelToPadding" data-bind="text:qty1NetTotal"></label>
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div>
                    <label>Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px;">
                <div class="col-lg-8" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left :0px;">
                </div>
                <div>
                    @*<div class="btn btn-primary openBtn">Open</div>*@
                    <a class="btn btn-primary openBtn" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() }">Open</a>
                </div>
            </div>
            <div class="itemFooterHighlight">
            </div>

        </div>
    </li>

</script>

<script id="readyForShippingItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 15), drag: $root.dragged">
        <div class="col-lg-12">
            <div class="form-group formGroupSmall">
                <div style="color: #1cc7ed;" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code">
                <div data-bind="text:code">
                </div>
            </div>
            <div class="form-group formGroupSmall">
                <div data-bind="text:productName">
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div class="col-lg-6" style="padding-left: 0px;">
                    <label class="control-label">Qty :</label>
                </div>
                <div class="col-lg-6">
                    <label class="control-label text-right" data-bind="text:qty1"></label>
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div style="float: left;">
                    <label class="control-label labelToPadding">Selling Price :</label>
                </div>
                <div>
                    <label class="labelToPadding" data-bind=" text:$root.currencySymbol"></label><label class="control-label text-right labelToPadding" data-bind="text:qty1NetTotal"></label>
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div>
                    <label>Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px;">
                <div class="col-lg-8" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left :0px;">
                </div>
                <div>
                    @*<div class="btn btn-primary openBtn">Open</div>*@
                    <a class="btn btn-primary openBtn" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() }">Open</a>
                </div>
            </div>
            <div class="itemFooterHighlight">
            </div>

        </div>
    </li>

</script>

<script id="invoiceAndShippedItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 16), drag: $root.dragged">
        <div class="col-lg-12">
            <div class="form-group formGroupSmall">
                <div style="color: #1cc7ed;" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code">
                <div data-bind="text:code">
                </div>
            </div>
            <div class="form-group formGroupSmall">
                <div data-bind="text:productName">
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div class="col-lg-6" style="padding-left: 0px;">
                    <label class="control-label">Qty :</label>
                </div>
                <div class="col-lg-6">
                    <label class="control-label text-right" data-bind="text:qty1"></label>
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div style="float: left;">
                    <label class="control-label labelToPadding">Selling Price :</label>
                </div>
                <div>
                    <label class="labelToPadding" data-bind=" text:$root.currencySymbol"></label><label class="control-label text-right labelToPadding" data-bind="text:qty1NetTotal"></label>
                </div>
            </div>
            <div class="form-group formGroupSmaller">
                <div>
                    <label>Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px;">
                <div class="col-lg-8" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left :0px;">
                </div>
                <div>
                    <a class="btn btn-primary openBtn" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() }">Open</a>
                </div>
            </div>
            <div class="itemFooterHighlight">
            </div>

        </div>
    </li>

</script>

