@{
    ViewBag.Title = "Item Job Status";
    var displaybuttonsclass = "";
    var ishiddenclass = "";
    Layout = "~/Areas/Production/Views/Shared/_Layout.cshtml";
}

@section leftmenue {

}
<div class="row" id="itemJobStatusBinding">
    <div class="col-lg-12">
        <div class="row" style="  margin-bottom: 1%;">
            <div class="col-lg-12" style="padding-left:6px;">
                <ol class="breadcrumb">
                    <li><a href="#">&nbsp;</a></li>

                </ol>
                <h1 style="padding-left:0;">Production Board</h1>
                <div class="clearfix pull-left" style="padding-left:0px;">
                    <p class="group-header-description">Drag jobs to different columns to update their job statuses.</p>
                </div>
                <div class="row" style="float:right;padding-right: 8px; margin-top: -10px;">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="~/Production/Home/ItemLateStart">Late Starts</a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="~/Production/Home/LiveJobs">Live jobs</a>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix" style="padding-left: 1%;">
                    <div class="main-box-body clearfix form-horizontal">
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion1">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="border-radius: 5px;">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#needAssigning">In Pre Press
                                            </h4>
                                        </div>
                                        <div id="needAssigning" class="panel-collapse collapse in" style="margin-top: 2%; border-radius: 5px;">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedNeedAssigning" style="padding: 1%; background-color: gainsboro; border-radius: 5px;">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'needAssigningItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion2">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="border-radius: 5px;">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#inStudio">Digital
                                            </h4>
                                        </div>
                                        <div id="inStudio" class="panel-collapse collapse in" style="margin-top: 2%; border-radius: 5px;">
                                            <div class=" panel-body collapsableHeight" data-bind="drop: $root.droppedInStudio" style="padding: 1%; background-color: gainsboro; border-radius: 5px;">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'inStudioItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="border-radius: 5px;">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion3" href="#inPrint">Offset
                                            </h4>
                                        </div>
                                        <div id="inPrint" class="panel-collapse collapse in" style="margin-top: 2%; border-radius: 5px;">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedInPrint" style="padding: 1%; background-color: gainsboro; border-radius: 5px;">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'inPrintOrPressItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="border-radius: 5px;">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion4" href="#inPostPress">Large Format 
                                            </h4>
                                        </div>
                                        <div id="inPostPress" class="panel-collapse collapse in" style="margin-top: 2%; border-radius: 5px;">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedInPostPress" style="padding: 1%; background-color: gainsboro; border-radius: 5px;">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'inPostPressItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion5">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="border-radius: 5px;">
                                            <h4 class="panel-title title" style="margin-left: -9px;">
                                                <a data-toggle="collapse" data-parent="#accordion5" href="#readyForShipping">In Post Press
                                            </h4>
                                        </div>
                                        <div id="readyForShipping" class="panel-collapse collapse in" style="margin-top: 2%; border-radius: 5px;">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedInReadyForShipping" style="padding: 1%; background-color: gainsboro; border-radius: 5px;">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'readyForShippingItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="border-radius: 5px;background-color: #2ECC71;">
                                            <h4 class="panel-title title" style="margin-left: -9px;">
                                                <a data-toggle="collapse" data-parent="#accordion6" href="#invoiceAndShipped">Ready for Shipping
                                            </h4>
                                        </div>
                                        <div id="invoiceAndShipped" class="panel-collapse collapse in" style="margin-top: 2%; border-radius: 5px;">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedInInvoiceAndShipped" style="padding: 1%; background-color: gainsboro; border-radius: 5px;">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'invoiceAndShippedItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
@Html.Partial("~/Areas/Common/Views/Shared/_ReportManager.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_ReportViaEmail.cshtml")


@section Scripts{
    <script>
        require(["itemJobStatus/itemJobStatus.view", "common/reportManager.view"]);
        //require(["common/reportManager.view"]);
        $(function () {
            $('#liproduction').addClass('active');
        });
    </script>
}



<script id="needAssigningItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 11), drag: $root.dragged" style="">
        <div class="col-lg-12" style=" background-color: white; border-radius: 7px; margin-top: 5%; margin-bottom: 2%;">
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div style="color: #00B0f4; font-weight: bold" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0;margin-top: 5px;">
                <div class="col-lg-7" style="padding-left:0;color: #000000; font-weight: bold" data-bind="text:orderCode">
                    
                </div>
                <div class="col-lg-5" data-bind="text:'Item(s) : ' + orderedItemsCount()">
                   
                </div>
                
            </div>

            <div class="form-group code" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-7" style="padding-left:0;color: #000000;font-weight: bold" data-bind="text:code">

                </div>
                <div class="col-lg-5" data-bind="text:'Qty : '+ qty1()">

                </div>
                
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div data-bind="text:productName" style="font-weight: bold">
                </div>
            </div>
           
            <div class="form-group formGroupSmaller" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-6" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Job End Date</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0;margin-top: 5px;">
                <div class="btn-group" style="float: left;">
                    <a class="btn btn-primary" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
                <div class="btn-group" style="float: left; margin-left: 5px;">
                    <button type="button" class="btn btn-primary" data-bind="attr: {href:'#' },click: $root.openExternalReportsJob, clickBubble: false"> Job Card</button>
                </div>
               
            </div>
        </div>
    </li>
</script>

<script id="inStudioItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 12), drag: $root.dragged">
        <div class="col-lg-12" style=" background-color: white; border-radius: 7px; margin-top: 5%; margin-bottom: 2%;">
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div style="color: #00B0f4; font-weight: bold" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0;margin-top: 5px;">
                <div class="col-lg-7" style="padding-left:0;color: #000000; font-weight: bold" data-bind="text:orderCode">

                </div>
                <div class="col-lg-5" data-bind="text:'Item(s) : ' + orderedItemsCount()">

                </div>

            </div>

            <div class="form-group code" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-7" style="padding-left:0;color: #000000;font-weight: bold" data-bind="text:code">

                </div>
                <div class="col-lg-5" data-bind="text:'Qty : '+ qty1()">

                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div data-bind="text:productName" style="font-weight: bold">
                </div>
            </div>

            <div class="form-group formGroupSmaller" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-6" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Job End Date</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0;margin-top: 5px;">
                <div class="btn-group" style="float: left;">
                    <a class="btn btn-primary" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
                <div class="btn-group" style="float: left; margin-left: 5px;">
                    <button type="button" class="btn btn-primary" data-bind="attr: {href:'#' },click: $root.openExternalReportsJob, clickBubble: false"> Job Card</button>
                </div>
                
            </div>
        </div>
    </li>
</script>

<script id="inPrintOrPressItemTemplate" type="text/html">

    <li data-bind="if: (statusId()=== 13), drag: $root.dragged">
        <div class="col-lg-12" style=" background-color: white; border-radius: 7px; margin-top: 5%; margin-bottom: 2%;">
           
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div style="color: #00B0f4; font-weight: bold" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0;margin-top: 5px;">
                <div class="col-lg-7" style="padding-left:0;color: #000000; font-weight: bold" data-bind="text:orderCode">

                </div>
                <div class="col-lg-5" data-bind="text:'Item(s) : ' + orderedItemsCount()">

                </div>

            </div>

            <div class="form-group code" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-7" style="padding-left:0;color: #000000;font-weight: bold" data-bind="text:code">

                </div>
                <div class="col-lg-5" data-bind="text:'Qty : '+ qty1()">

                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div data-bind="text:productName" style="font-weight: bold">
                </div>
            </div>

            <div class="form-group formGroupSmaller" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-6" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Job End Date</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0;margin-top: 5px;">
                <div class="btn-group" style="float: left;">
                    <a class="btn btn-primary" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
                <div class="btn-group" style="float: left; margin-left: 5px;">
                    <button type="button" class="btn btn-primary" data-bind="attr: {href:'#' },click: $root.openExternalReportsJob, clickBubble: false"> Job Card</button>
                </div>
            </div>            
        </div>
    </li>
</script>

<script id="inPostPressItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 14), drag: $root.dragged">
        <div class="col-lg-12" style=" background-color: white; border-radius: 7px; margin-top: 5%; margin-bottom: 2%;">
          
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div style="color: #00B0f4; font-weight: bold" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0;margin-top: 5px;">
                <div class="col-lg-7" style="padding-left:0;color: #000000; font-weight: bold" data-bind="text:orderCode">

                </div>
                <div class="col-lg-5" data-bind="text:'Item(s) : ' + orderedItemsCount()">

                </div>

            </div>

            <div class="form-group code" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-7" style="padding-left:0;color: #000000;font-weight: bold" data-bind="text:code">

                </div>
                <div class="col-lg-5" data-bind="text:'Qty : '+ qty1()">

                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div data-bind="text:productName" style="font-weight: bold">
                </div>
            </div>

            <div class="form-group formGroupSmaller" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-6" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Job End Date</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0;margin-top: 5px;">
                <div class="btn-group" style="float: left;">
                    <a class="btn btn-primary" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
                <div class="btn-group" style="float: left; margin-left: 5px;">
                    <button type="button" class="btn btn-primary" data-bind="attr: {href:'#' },click: $root.openExternalReportsJob, clickBubble: false"> Job Card</button>
                </div>
            </div>            
        </div>
    </li>
</script>

<script id="readyForShippingItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 15), drag: $root.dragged">
        <div class="col-lg-12" style=" background-color: white; border-radius: 7px; margin-top: 5%; margin-bottom: 2%;">
          
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div style="color: #00B0f4; font-weight: bold" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0;margin-top: 5px;">
                <div class="col-lg-7" style="padding-left:0;color: #000000; font-weight: bold" data-bind="text:orderCode">

                </div>
                <div class="col-lg-5" data-bind="text:'Item(s) : ' + orderedItemsCount()">

                </div>

            </div>

            <div class="form-group code" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-7" style="padding-left:0;color: #000000;font-weight: bold" data-bind="text:code">

                </div>
                <div class="col-lg-5" data-bind="text:'Qty : '+ qty1()">

                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div data-bind="text:productName" style="font-weight: bold">
                </div>
            </div>

            <div class="form-group formGroupSmaller" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-6" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Job End Date</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0;margin-top: 5px;">
                <div class="btn-group" style="float: left;">
                    <a class="btn btn-primary" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
                <div class="btn-group" style="float: left; margin-left: 5px;">
                    <button type="button" class="btn btn-primary" data-bind="attr: {href:'#' },click: $root.openExternalReportsJob, clickBubble: false"> Job Card</button>
                </div>
            </div>            
        </div>
    </li>
</script>

<script id="invoiceAndShippedItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 16), drag: $root.dragged">
        <div class="col-lg-12" style=" background-color: white; border-radius: 7px; margin-top: 5%; margin-bottom: 2%;">
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div style="color: #00B0f4; font-weight: bold" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0;margin-top: 5px;">
                <div class="col-lg-7" style="padding-left:0;color: #000000; font-weight: bold" data-bind="text:orderCode">

                </div>
                <div class="col-lg-5" data-bind="text:'Item(s) : ' + orderedItemsCount()">

                </div>

            </div>

            <div class="form-group code" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-7" style="padding-left:0;color: #000000;font-weight: bold" data-bind="text:code">

                </div>
                <div class="col-lg-5" data-bind="text:'Qty : '+ qty1()">

                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div data-bind="text:productName" style="font-weight: bold">
                </div>
            </div>

            <div class="form-group formGroupSmaller" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-6" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Job End Date</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0;margin-top: 5px;">
                <div class="btn-group" style="float: left;">
                    <a class="btn btn-primary" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
                <div class="btn-group" style="float: left; margin-left: 5px;">
                    <button type="button" class="btn btn-primary" data-bind="attr: {href:'#' },click: $root.openExternalReportsJob, clickBubble: false"> Job Card</button>
                </div>
            </div>            
            
        </div>
    </li>
</script>

