@{
    ViewBag.Title = "Item Job Status";
    var displaybuttonsclass = "";
    var ishiddenclass = "";
    Layout = "~/Areas/Production/Views/Shared/_Layout.cshtml";
}

@section leftmenue {

}
<div class="row" id="itemJobStatusBinding">
    <div class="col-lg-12">
        <div class="row" style="  margin-bottom: 1%;">
            <div class="col-lg-12" id="topArea">
                <ol class="breadcrumb" style="padding-left: 0px;">
                    <li><a href="~/Dashboard/Index">Home</a></li>
                    <li><a href="~/Production/Home/Index">Production Board</a></li>
                    <li class="active"><span>Item Job Status</span></li>
                </ol>
                <div style="margin-top:55px;margin-bottom:23spx;">
                    <div style="float:left;margin-top: 22px;">
                        <p class="group-header-description">Drag jobs to different columns to update their job statuses.</p>
                    </div>
                    <div class="row" style="float:right;margin-right: 1px;">
                        <a href="~/Production/Home/ItemLateStart" style="text-decoration:none;margin-right:13px;float:left;" class="@displaybuttonsclass ">
                            <div class="main-box infographic-box inner-box" style="padding-bottom: 33px !important;">
                                <i class="fa fa-archive emerald-bg" style="margin-right:4px;"></i>
                                <span class="span-dashboard-widgets">Late Starts</span>
                                
                            </div>
                            <div class="web2print-positioner" style="position:fixed;">
                            </div>
                        </a>
                        <a href="~/Production/Home/LiveJobs" style="text-decoration:none;float:right;" class="@displaybuttonsclass " data-toggle="popover" data-placement="bottom">
                            @*data-content="Design templates can be created against the products. To create a design template in a product first navigate to the store, select the product and navigate to Template Properties tab. Select either a blank template option or PDF based template to start creating template. "*@
                            <div class="main-box infographic-box inner-box" style="padding-bottom: 33px !important;">
                                <i class="fa fa-drupal emerald-bg" style="margin-right:4px;"></i>
                                <span class="span-dashboard-widgets">Live jobs</span>

                            </div>
                        </a>
                    </div>
                   
                </div>
                <div>
                   
                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix" style="padding-left: 1%;">
                    <div class="main-box-body clearfix form-horizontal">
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion1">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="border-radius: 5px;">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#needAssigning">In Pre Press@*(</a><span data-bind=" text:$root.currencySymbol"></span><span data-bind="numberInput:$root.needAssigningTotal"></span>)*@
                                            </h4>
                                        </div>
                                        <div id="needAssigning" class="panel-collapse collapse in" style="margin-top: 2%; border-radius: 5px;">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedNeedAssigning" style="padding: 1%; background-color: gainsboro; border-radius: 5px;">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'needAssigningItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion2">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="border-radius: 5px;">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#inStudio">In Print @*(</a><span data-bind=" text:$root.currencySymbol"></span><span data-bind="numberInput:$root.inStudioTotal "></span>)*@
                                            </h4>
                                        </div>
                                        <div id="inStudio" class="panel-collapse collapse in" style="margin-top: 2%; border-radius: 5px;">
                                            <div class=" panel-body collapsableHeight" data-bind="drop: $root.droppedInStudio" style="padding: 1%; background-color: gainsboro; border-radius: 5px;">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'inStudioItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="border-radius: 5px;">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion3" href="#inPrint">Digital @*(</a><span data-bind=" text:$root.currencySymbol"></span><span data-bind="numberInput:$root.inPrintTotal "></span>)*@
                                            </h4>
                                        </div>
                                        <div id="inPrint" class="panel-collapse collapse in" style="margin-top: 2%; border-radius: 5px;">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedInPrint" style="padding: 1%; background-color: gainsboro; border-radius: 5px;">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'inPrintOrPressItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="border-radius: 5px;">
                                            <h4 class="panel-title title">
                                                <a data-toggle="collapse" data-parent="#accordion4" href="#inPostPress">In Post Press @*(</a><span data-bind=" text:$root.currencySymbol"></span><span data-bind="numberInput:$root.inPostPressTotal "></span>)*@
                                            </h4>
                                        </div>
                                        <div id="inPostPress" class="panel-collapse collapse in" style="margin-top: 2%; border-radius: 5px;">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedInPostPress" style="padding: 1%; background-color: gainsboro; border-radius: 5px;">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'inPostPressItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion5">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="padding: 6%; border-radius: 5px;">
                                            <h4 class="panel-title title" style="margin-left: -9px;">
                                                <a data-toggle="collapse" data-parent="#accordion5" href="#readyForShipping">Ready for shipping @*(</a><span data-bind=" text:$root.currencySymbol"></span><span data-bind="numberInput:$root.inReadyForShippingTotal "></span>)*@
                                            </h4>
                                        </div>
                                        <div id="readyForShipping" class="panel-collapse collapse in" style="margin-top: 2%; border-radius: 5px;">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedInReadyForShipping" style="padding: 1%; background-color: gainsboro; border-radius: 5px;">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'readyForShippingItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group collapsableView">
                                <div class="panel-group" id="accordion6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="padding: 6%; border-radius: 5px;background-color: #2ECC71;">
                                            <h4 class="panel-title title" style="margin-left: -9px;">
                                                <a data-toggle="collapse" data-parent="#accordion6" href="#invoiceAndShipped">Invoice & Shipped @*(</a><span data-bind=" text:$root.currencySymbol"></span><span data-bind="numberInput:$root.inInvoiceAndShippedTotal "></span>)*@
                                            </h4>
                                        </div>
                                        <div id="invoiceAndShipped" class="panel-collapse collapse in" style="margin-top: 2%; border-radius: 5px;">
                                            <div class="panel-body collapsableHeight" data-bind="drop: $root.droppedInInvoiceAndShipped" style="padding: 1%; background-color: gainsboro; border-radius: 5px;">
                                                <ol class="dd-list">
                                                    <!-- ko template: { name: 'invoiceAndShippedItemTemplate', foreach: $root.items }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
@Html.Partial("~/Areas/Common/Views/Shared/_ReportManager.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_ReportViaEmail.cshtml")


@section Scripts{
    <script>
        require(["itemJobStatus/itemJobStatus.view", "common/reportManager.view"]);
        //require(["common/reportManager.view"]);
        $(function () {
            $('#liproduction').addClass('active');
        });
    </script>
}



<script id="needAssigningItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 11), drag: $root.dragged" style="">
        <div class="col-lg-12" style=" background-color: white; border-radius: 7px; margin-top: 5%; margin-bottom: 2%;">
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div style="color: #00B0f4; font-weight: bold" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0;margin-top: 5px;">
                <div class="col-lg-5" style="padding-left:0;">
                    <div style=" color: #000000; font-weight: bold" data-bind="text:code">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div style=" color: #000000; font-weight: bold" data-bind="text:orderCode">
                    </div>
                </div>

            </div>

            <div class="form-group code" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-3" style="padding-left: 0; color: #000000; ">
                    Qty :
                </div>
                <div class="col-lg-6" style=" color: #000000;" data-bind="text:qty1">

                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div data-bind="text:productName" style="font-weight: bold">
                </div>
            </div>
           
            <div class="form-group formGroupSmaller" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-6" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Expected Shipping Date</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0;margin-top: 5px;">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-3" style="padding-left: 0;margin-right:3px;">
                    <a class="btn btn-primary" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
                <div class="col-lg-3" style="padding-right: 0; margin-left: 10px;">
                   
                     <a class="btn btn-primary" href="#" data-bind="attr: {href:'#' },click: $root.openExternalReportsJob, clickBubble: false">Job Card</a>
                </div>
            </div>
        </div>
    </li>
</script>

<script id="inStudioItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 12), drag: $root.dragged">
        <div class="col-lg-12" style=" background-color: white; border-radius: 7px; margin-top: 5%; margin-bottom: 2%;">
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div style="color: #00B0f4; font-weight: bold" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0;margin-top: 5px;">
                <div class="col-lg-5" style="padding-left:0;">
                    <div style=" color: #000000; font-weight: bold" data-bind="text:code">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div style=" color: #000000; font-weight: bold" data-bind="text:orderCode">
                    </div>
                </div>

            </div>

            <div class="form-group code" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-3" style="padding-left: 0; color: #000000; ">
                    Qty :
                </div>
                <div class="col-lg-6" style=" color: #000000;" data-bind="text:qty1">

                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div data-bind="text:productName" style="font-weight: bold">
                </div>
            </div>

            <div class="form-group formGroupSmaller" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-6" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0;margin-top: 5px;">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-3" style="padding-left: 0;margin-right:3px;">
                    <a class="btn btn-primary" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
                <div class="col-lg-3" style="padding-right: 0; margin-left: 10px;">
                    <a class="btn btn-primary" href="#" data-bind="attr: {href:'#' },click: $root.openExternalReportsJob, clickBubble: false">Job Card</a>
                </div>
            </div>
            
@*old code*@ 
            @*<div class="form-group formGroupSmall" style="margin-left: 0%;">
                <div style="color: #1cc7ed;" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0%;">
                <div style=" color: lightslategray;" data-bind="text:code">
                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;">
                <div data-bind="text:productName">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div class="col-lg-5" style="padding-left: 0px; ">
                    <label style=" color: lightslategray;" class="control-label">Qty :</label>
                </div>
                <div class="col-lg-6">
                    <label style=" color: lightslategray;" class="control-label text-right" data-bind="text:qty1"></label>
                </div>
            </div>
          
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0%;">
                <div class="col-lg-8" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
                <div>
                    <a class="btn btn-primary openBtn" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
            </div>*@
        </div>
    </li>
</script>

<script id="inPrintOrPressItemTemplate" type="text/html">

    <li data-bind="if: (statusId()=== 13), drag: $root.dragged">
        <div class="col-lg-12" style=" background-color: white; border-radius: 7px; margin-top: 5%; margin-bottom: 2%;">
           
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div style="color: #00B0f4; font-weight: bold" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0;margin-top: 5px;">
                <div class="col-lg-5" style="padding-left:0;">
                    <div style=" color: #000000; font-weight: bold" data-bind="text:code">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div style=" color: #000000; font-weight: bold" data-bind="text:orderCode">
                    </div>
                </div>

            </div>

            <div class="form-group code" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-3" style="padding-left: 0; color: #000000; ">
                    Qty :
                </div>
                <div class="col-lg-6" style=" color: #000000;" data-bind="text:qty1">

                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div data-bind="text:productName" style="font-weight: bold">
                </div>
            </div>

            <div class="form-group formGroupSmaller" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-6" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0;margin-top: 5px;">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-3" style="padding-left: 0;margin-right:3px;">
                    <a class="btn btn-primary" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
                <div class="col-lg-3" style="padding-right: 0; margin-left: 5px;">
                    <a class="btn btn-primary" href="#" data-bind="attr: {href:'#' },click: $root.openExternalReportsJob, clickBubble: false">Job Card</a>
                </div>
            </div>
            @*old code start from here*@
             @*<div class="form-group formGroupSmall" style="margin-left: 0%;">
                <div style="color: #1cc7ed;" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0%;">
                <div style=" color: lightslategray;" data-bind="text:code">
                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;">
                <div data-bind="text:productName">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div class="col-lg-5" style="padding-left: 0px; ">
                    <label style=" color: lightslategray;" class="control-label">Qty :</label>
                </div>
                <div class="col-lg-6">
                    <label style=" color: lightslategray;" class="control-label text-right" data-bind="text:qty1"></label>
                </div>
            </div>
          
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0%;">
                <div class="col-lg-8" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
                <div>
                    <a class="btn btn-primary openBtn" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
            </div>*@
        </div>
    </li>
</script>

<script id="inPostPressItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 14), drag: $root.dragged">
        <div class="col-lg-12" style=" background-color: white; border-radius: 7px; margin-top: 5%; margin-bottom: 2%;">
          
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div style="color: #00B0f4; font-weight: bold" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0;margin-top: 5px;">
                <div class="col-lg-5" style="padding-left:0;">
                    <div style=" color: #000000; font-weight: bold" data-bind="text:code">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div style=" color: #000000; font-weight: bold" data-bind="text:orderCode">
                    </div>
                </div>

            </div>

            <div class="form-group code" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-3" style="padding-left: 0; color: #000000; ">
                    Qty :
                </div>
                <div class="col-lg-6" style=" color: #000000;" data-bind="text:qty1">

                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div data-bind="text:productName" style="font-weight: bold">
                </div>
            </div>

            <div class="form-group formGroupSmaller" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-6" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0;margin-top: 5px;">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-3" style="padding-left: 0;margin-right:3px;">
                    <a class="btn btn-primary" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
                <div class="col-lg-3" style="padding-right: 0; margin-left: 5px;">
                    <a class="btn btn-primary" href="#" data-bind="attr: {href:'#' },click: $root.openExternalReportsJob, clickBubble: false">Job Card</a>
                </div>
            </div>
            @*old code from here*@
              @*<div class="form-group formGroupSmall" style="margin-left: 0%;">
                <div style="color: #1cc7ed;" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0%;">
                <div style=" color: lightslategray;" data-bind="text:code">
                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;">
                <div data-bind="text:productName">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div class="col-lg-5" style="padding-left: 0px; ">
                    <label style=" color: lightslategray;" class="control-label">Qty :</label>
                </div>
                <div class="col-lg-6">
                    <label style=" color: lightslategray;" class="control-label text-right" data-bind="text:qty1"></label>
                </div>
            </div>
       
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0%;">
                <div class="col-lg-8" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
                <div>
                    <a class="btn btn-primary openBtn" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
            </div>*@
        </div>
    </li>
</script>

<script id="readyForShippingItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 15), drag: $root.dragged">
        <div class="col-lg-12" style=" background-color: white; border-radius: 7px; margin-top: 5%; margin-bottom: 2%;">
          
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div style="color: #00B0f4; font-weight: bold" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0;margin-top: 5px;">
                <div class="col-lg-5" style="padding-left:0;">
                    <div style=" color: #000000; font-weight: bold" data-bind="text:code">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div style=" color: #000000; font-weight: bold" data-bind="text:orderCode">
                    </div>
                </div>

            </div>

            <div class="form-group code" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-3" style="padding-left: 0; color: #000000; ">
                    Qty :
                </div>
                <div class="col-lg-6" style=" color: #000000;" data-bind="text:qty1">

                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div data-bind="text:productName" style="font-weight: bold">
                </div>
            </div>

            <div class="form-group formGroupSmaller" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-6" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0;margin-top: 5px;">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-3" style="padding-left: 0;margin-right:3px;">
                    <a class="btn btn-primary" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
                <div class="col-lg-3" style="padding-right: 0; margin-left: 10px;">
                    <a class="btn btn-primary" href="#" data-bind="attr: {href:'#' },click: $root.openExternalReportsJob, clickBubble: false">Job Card</a>
                </div>
            </div>
            @*code starts*@
              @*<div class="form-group formGroupSmall" style="margin-left: 0%;">
                <div style="color: #1cc7ed;" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0%;">
                <div style=" color: lightslategray;" data-bind="text:code">
                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;">
                <div data-bind="text:productName">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div class="col-lg-5" style="padding-left: 0px; ">
                    <label style=" color: lightslategray;" class="control-label">Qty :</label>
                </div>
                <div class="col-lg-6">
                    <label style=" color: lightslategray;" class="control-label text-right" data-bind="text:qty1"></label>
                </div>
            </div>
          
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0%;">
                <div class="col-lg-8" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
                <div>
                    <a class="btn btn-primary openBtn" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
            </div>*@
        </div>
    </li>
</script>

<script id="invoiceAndShippedItemTemplate" type="text/html">
    <li data-bind="if: (statusId()=== 16), drag: $root.dragged">
        <div class="col-lg-12" style=" background-color: white; border-radius: 7px; margin-top: 5%; margin-bottom: 2%;">
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div style="color: #00B0f4; font-weight: bold" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0;margin-top: 5px;">
                <div class="col-lg-5" style="padding-left:0;">
                    <div style=" color: #000000; font-weight: bold" data-bind="text:code">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div style=" color: #000000; font-weight: bold" data-bind="text:orderCode">
                    </div>
                </div>

            </div>

            <div class="form-group code" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-3" style="padding-left: 0; color: #000000; ">
                    Qty :
                </div>
                <div class="col-lg-6" style=" color: #000000;" data-bind="text:qty1">

                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;margin-top: 5px;">
                <div data-bind="text:productName" style="font-weight: bold">
                </div>
            </div>

            <div class="form-group formGroupSmaller" style="margin-left: 0%;margin-top: 5px;">
                <div class="col-lg-6" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0;margin-top: 5px;">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-3" style="padding-left: 0;margin-right:3px;">
                    <a class="btn btn-primary" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
                <div class="col-lg-3" style="padding-right: 0; margin-left: 10px;">
                    <a class="btn btn-primary" href="#" data-bind="attr: {href:'#' },click: $root.openExternalReportsJob, clickBubble: false">Job Card</a>
                </div>
            </div>
            
            @*code start from here*@ 
             @*<div class="form-group formGroupSmall" style="margin-left: 0%;">
                <div style="color: #1cc7ed;" data-bind="text:companyName">
                </div>
            </div>
            <div class="form-group code" style="margin-left: 0%;">
                <div style=" color: lightslategray;" data-bind="text:code">
                </div>
            </div>
            <div class="form-group formGroupSmall" style="margin-left: 0%;">
                <div data-bind="text:productName">
                </div>
            </div>
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div class="col-lg-5" style="padding-left: 0px; ">
                    <label style=" color: lightslategray;" class="control-label">Qty :</label>
                </div>
                <div class="col-lg-6">
                    <label style=" color: lightslategray;" class="control-label text-right" data-bind="text:qty1"></label>
                </div>
            </div>
          
            <div class="form-group formGroupSmaller" style="margin-left: 0%;">
                <div>
                    <label style=" color: lightslategray;">Expected Shipping Date(end)</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3px; margin-left: 0%;">
                <div class="col-lg-8" data-bind="dateString:jobEstimatedCompletionDateTime" style="padding-left: 0px; font-weight: bold; color: black;">
                </div>
                <div>
                    <a class="btn btn-primary openBtn" data-bind="attr: {href:'/mis/orders/home?id='+estimateId() },click: function() { return true;}, clickBubble: false" target="_blank">Open</a>
                </div>
            </div>*@
        </div>
    </li>
</script>

