@{
    ViewBag.Title = "Live Jobs";
    Layout = "~/Areas/Production/Views/Shared/_Layout.cshtml";
}
@section leftmenue {
}
<div class="row" id="liveJobsBinding">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="~/Dashboard/Index" class="my-navigator">Home</a></li>
                        <li><a href="~/Production/Home/Index">Production Board</a></li>
                        <li class="active"><span>Live Jobs</span></li>
                    </ol>
                    <div class="clearfix">
                        <h1 class="pull-left" style="padding-left:8px;">Live Jobs</h1>
                    </div>
                    <div class="row">
                        <div>
                            &nbsp;
                        </div>
                        <div>
                            <div class="col-lg-12" style="padding-left:18px;padding-right:19px;">
                                <div style="margin-top: 35px;"></div>
                                <!-- ko template: { name: 'liveJobFilterTemplate' } -->
                                <!-- /ko -->
                                <div class="clearfix">
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="main-box no-header clearfix">
                                            <div class="main-box-body clearfix">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr id="storesList">
                                                                <th class="col-lg-1"></th>
                                                                <th class="col-lg-2"><span>CUSTOMER</span></th>
                                                                <th class="col-lg-2"><span>JOB CODE</span></th>
                                                                <th class="col-lg-2"><span>ORDER DATE</span></th>
                                                                <th class="col-lg-1"><span>ITEM QTY</span></th>
                                                                <th class="col-lg-1"><span>Item Title + Category</span></th>
                                                                <th class="col-lg-1"><span>PRODUCTION MANAGER</span></th>
                                                                <th class="col-lg-1"><span>JC</span></th>
                                                                @*<th class="col-lg-1"><span>ATTACHMENTS</span></th>
                                                                    <th class="col-lg-1"><span></span></th>*@
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- ko template: { name: 'liveJobItemTemplate' , foreach: $root.items } -->
                                                            <!-- /ko -->
                                                        </tbody>
                                                    </table>

                                                </div>

                                            </div>
                                        </div>
                                        <div id="pagerDivForStore" class="pull-right">
                                            <!-- ko with: pager -->
                                            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                                            <!-- /ko -->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
@* Filter Template *@
<script id="liveJobFilterTemplate" type="text/html">
    <div class="filter-body">
        <div class="filter-block pull-right">
            <div class="form-group pull-left">
                <div class="form-group pull-left">
                    @using (Ajax.BeginForm("Test", "Home", new AjaxOptions { HttpMethod = "POST" }))
                    {
                        <button id="open-wizard" class="btn btn-primary pull-right">
                            Download Artwork for selected Items
                        </button>
                    }
                </div>
            </div>
            <div class="form-group pull-left">
                <form data-bind="submit: $root.getItems">
                    <input type="text" class="form-control" placeholder="Search..." data-bind="value:$root.searchFilter">
                    <i class="fa fa-search search-icon"></i>
                </form>
            </div>

        </div>

        <div class="clearfix">
        </div>
    </div>
</script>

<script id="liveJobItemTemplate" type="text/html">
    <tr>
        <td>
            @*<!-- ko if: isDirectSale()==true -->
                <img src="@Url.Content("~/Content/themes/Centaurus/img/samples/forwardicon.png")" alt="" />
                <!-- /ko -->
                <!-- ko if: isDirectSale()==false -->
                <img src="@Url.Content("~/Content/themes/Centaurus/img/samples/arrow_down.png")" alt="" />
                <!-- /ko -->*@
        </td>

        <td>
            <a data-bind="text: companyName" class="user-link"></a>
            <span class="user-subhead">
                <span data-bind="text: productName"></span>
                <span data-bind="text: ' '"></span>
                <span data-bind="text: qty1"></span>
            </span>
        </td>
        <td>
            <span data-bind="text: jobCode"></span>
        </td>
        <td>
            <span data-bind="dateString: estimateDate, datePattern: 'DD/MM/YYYY'"></span>
        </td>

        <td>
            <span data-bind="text: qty1"></span>
        </td>
        <td>
            <span data-bind="text: qty1"></span>
        </td>
        <td>
            <span data-bind="text: qty1"></span>
        </td>
        <td>
            <div class="checkbox-nice">
                <input type="checkbox" data-bind="checked: isSelected,attr: { id: 'group' + $index() }">
                <label data-bind="attr: { for: 'group' + $index() }"></label>
            </div>
        </td>
    </tr>
</script>
@section Scripts{
    <script>
        require(["liveJobs/liveJobs.view"]);

    </script>
}             