body {
	/*
	background-image:url(../Images/main_bg1.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
    */
	font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
	font-size: 12px;
	color: Black;
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-decoration:none;
}

a:visited {
	color: Aqua;
}
a:hover {
	color: blue;
}
a:active {
	color: Aqua;
}

.Nav {
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
line-height:30px;
text-decoration:none;
color: #ffffff;
padding:0px;
margin:0px;
}

.Nav:visited {
	color: #ffffff;
}
.Nav:hover {
	color: #000000;
}
.Nav:active {
	color: #ffffff;
}

.bsh1{
font-size:20px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding:0px;
margin:0px;
}

.bsh2{
font-size:16px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding:0px;
margin:0px;
}

.bstxt1{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #222222;
text-decoration:none;
padding-left:4px;
margin:0px;
}

.bstxt2{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #222222;
text-decoration:none;
padding:0px;
margin:0px;
}

.ch1{
font-size:20px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding-left:4px;
margin:0px;
}

.ch2{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #ffffff;
text-decoration:none;
padding-bottom:3px;
margin:0px;
}

.ctxt{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
padding-left:4px;
margin:0px;
}

.ctxt1{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
line-height:21px;
text-decoration:none;
padding:0px;
margin:0px;
}

.frh1{
font-size:20px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding:0px;
margin:0px;
}

.frh2{
font-size:15px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight: bold;
color: #222222;
text-decoration:none;
padding:0px;
padding-left:11PX;
margin:0px;
}

.frtxt1{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #222222;
text-decoration:none;
padding:0px;
padding-left:11PX;
margin:0px;
}
.inputNormal{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
background:#ECF7FA;
width:180px;
border-color:#a79d7e;
padding:0px;
margin:0px;
}
.inputNormalTxt 
{
    background:none repeat scroll 0 0 #ECF7FA;
    border:medium none;
    color:#333333;
    font-family:Arial,Helvetica,sans-serif,"Bauhaus 93";
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0;
    text-decoration:none;
    width:180px;
}
.inputfr{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
background:#ECF7FA;
width:424px;
border-color:#a79d7e;
padding:0px;
margin:0px;
}

.page{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
margin:0px;
}

.input{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
background:#ECF7FA;
width:128px;
border-color:#a79d7e;
padding:0px;
margin:0px;
}
.inputDDL {
    background:none repeat scroll 0 0 #ECF7FA;
    border:medium none;
    color:#333333;
    font-family:Arial,Helvetica,sans-serif,"Bauhaus 93";
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0;
    text-decoration:none;
    width:128px;
}
.inputB{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
background:#f2c972;
width:212px;
border-color:#a79d7e;
padding:0px;
margin:0px;
}

.phead1{
font-size:20px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding:0px;
margin:0px;
}

.pcat{
font-size:13px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
line-height:18px;
padding:0px;
margin:0px;
}

.pcat:visited {
	color: #f16c18;
}
.pcat:hover {
	color: #000000;
}
.pcat:active {
	color: #f16c18;
}

.pval{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #349ae3;
text-decoration:none;
line-height:18px;
padding-right:6px;
margin:0px;
}

.pval:visited {
	color: #349ae3;
}
.pval:hover {
	color: #000000;
}
.pval:active {
	color: #349ae3;
}

.ptxt1{
font-size:13px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
line-height:18px;
padding:0px;
margin:0px;
}

.ptxt2{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
padding-left:2px;
margin:0px;
}

.txt1{
font-size:13px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #ffffff;
text-decoration:none;
padding-left:10px;
padding-right:4px;
padding-top:3px;
margin:0px;
}

.txt2{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #b41080;
text-decoration:none;
padding-left:6px;
padding-top:3px;
margin:0px;
}

.search {
font-size:14px;
font-family:Arial, Helvetica, sans-serif;
text-decoration:none;
padding-right:10px;
color: #333333;
padding-left:16px;
padding-top:10px;
margin:0px;
}

.terms{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #222222;
text-decoration:none;
padding-left:14px;
padding-right:20px;
margin:0px;
}

.bc{
font-size:10px;
font-family:Arial, Helvetica, sans-serif;
text-decoration:none;
padding-right:2px;
padding-left:2px;
color: #999;
margin:0px;
}


.clhead1{
font-size:36px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding:0px;
margin:0px;
}

.clhead2{
font-size:28px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding:0px;
margin:0px;
}

.clhead1{
font-size:36px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding:0px;
margin:0px;
}

.clT1{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #222222;
text-decoration:none;
padding-left:12px;
margin:0px;
}

.clcth1{
font-size:26px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding-right:14px;
padding-bottom:14px;
margin:0px;
}

.clcth2{
font-size:14px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding-left:12px;
padding-top:3px;
margin:0px;
}

.clctT1{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #222222;
text-decoration:none;
padding-left:12px;
margin:0px;
}
.bh1 {
font-size:15px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
line-height:20px;
text-decoration:none;
color: #ffffff;
padding-left:2px;
padding-right:6px;
margin:0px;
}

.bNav {
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
line-height:20px;
text-decoration:none;
color: #ffffff;
padding-left:2px;
padding-right:6px;
margin:0px;
}

.bNav:visited {
	color: #ffffff;
}
.bNav:hover {
	color: #000000;
}
.bNav:active {
	color: #ffffff;
}

.btxt{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #ffffff;
text-decoration:none;
padding-left:2px;
margin:0px;
}

.head1{
font-size:20px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #ffffff;
text-decoration:none;
padding-left:10px;
margin:0px;
}

.bsh1{
font-size:20px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding:0px;
margin:0px;
}

.bsh2{
font-size:16px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding:0px;
margin:0px;
}

.bstxt1{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #222222;
text-decoration:none;
padding-left:4px;
margin:0px;
}

.bstxt2{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #222222;
text-decoration:none;
padding:0px;
margin:0px;
}

.ch1{
font-size:20px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding-left:4px;
margin:0px;
}

.ch2{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #ffffff;
text-decoration:none;
padding-bottom:3px;
margin:0px;
}

.ctxt{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
padding-left:4px;
margin:0px;
}

.ctxt1{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
line-height:21px;
text-decoration:none;
padding:0px;
margin:0px;
}
.ctxt2{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #666666;
text-decoration:none;
padding-right:6px;
margin:0px;
}

.frh1{
font-size:20px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding:0px;
margin:0px;
}

.frh2{
font-size:16px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #222222;
text-decoration:none;
padding-left:12px;
margin:0px;
}

.frtxt1{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #222222;
text-decoration:none;
padding-left:14px;
margin:0px;
}

.inputfr{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;

width:444px;
border-color:#a79d7e;
padding:0px;
margin:0px;
}

.page{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
margin:0px;
}

.input{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
background:#f2c972;
width:128px;
border-color:#a79d7e;
padding:0px;
margin:0px;
}

.inputB{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
background:#f2c972;
width:212px;
border-color:#a79d7e;
padding:0px;
margin:0px;
}

.inputDrp1{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
background:#f2c972;
width:220px;
border-color:#a79d7e;
padding:0px;
margin:0px;
}

.inputDrp2{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
background:#f2c972;
width:140px;
border-color:#a79d7e;
padding:0px;
margin:0px;
}

.inputDrp3{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
background:#f2c972;
width:225px;
line-height:17px;
border:none;
padding:0px;
margin:0px;
}

.inputDrp4{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
background:#f2c972;
width:120px;
line-height:17px;
border:none;
padding:0px;
margin:0px;
}


.inputL1{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
background:#f2c972;
width:106px;
line-height:17px;
border:none;
padding:0px;
margin:0px;
}

.inputL2{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
background:#f2c972;
width:230px;
line-height:17px;
border:none;
padding:0px;
margin:0px;
}

.phead1{
font-size:20px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding:0px;
margin:0px;
}

.pcat{
font-size:13px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
line-height:18px;
padding:0px;
margin:0px;
}

.pcat:visited {
	color: #f16c18;
}
.pcat:hover {
	color: #000000;
}
.pcat:active {
	color: #f16c18;
}

.pval{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #349ae3;
text-decoration:none;
line-height:18px;
padding-right:6px;
margin:0px;
}

.pval:visited {
	color: #349ae3;
}
.pval:hover {
	color: #000000;
}
.pval:active {
	color: #349ae3;
}

.ptxt1{
font-size:13px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
line-height:18px;
padding:0px;
margin:0px;
}

.ptxt2{
font-size:11px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #333333;
text-decoration:none;
padding-left:2px;
margin:0px;
}

.txt1{
font-size:13px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #ffffff;
text-decoration:none;
padding-left:10px;
padding-right:4px;
padding-top:3px;
margin:0px;
}

.txt2{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #b41080;
text-decoration:none;
padding-left:6px;
padding-top:3px;
margin:0px;
}

.search {
font-size:14px;
font-family:Arial, Helvetica, sans-serif;
text-decoration:none;
padding-right:10px;
color: #333333;
padding-left:16px;
padding-top:10px;
margin:0px;
}

.terms{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #222222;
text-decoration:none;
padding-left:14px;
padding-right:20px;
margin:0px;
}

.rights {
font-size:10px;
font-family:Arial, Helvetica, sans-serif;
text-decoration:none;
color: black;
padding-right:10px;
padding-left:6px;
padding-top:6px;
margin:0px;
}

.bc{
font-size:10px;
font-family:Arial, Helvetica, sans-serif;
text-decoration:none;
padding-right:2px;
padding-left:2px;
color: #999;
margin:0px;
}


.clhead1{
font-size:36px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding:0px;
margin:0px;
}

.clhead2{
font-size:28px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding:0px;
margin:0px;
}

.clhead1{
font-size:36px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding:0px;
margin:0px;
}

.clT1{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #222222;
text-decoration:none;
padding-left:12px;
margin:0px;
}

.clcth1{
font-size:26px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding-right:14px;
padding-bottom:14px;
margin:0px;
}

.clcth2{
font-size:14px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
font-weight:bold;
color: #f16c18;
text-decoration:none;
padding-left:12px;
padding-top:3px;
margin:0px;
}

.clctT1{
font-size:12px;
font-family:Arial, Helvetica, sans-serif, "Bauhaus 93";
color: #222222;
text-decoration:none;
padding-left:12px;
margin:0px;
}
.modalBackground
{
    background-image:url(../Images/main_bg1.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
    filter: alpha(opacity=80);
    opacity: 0.8;
    z-index: 1001;
}
.modalPopup
{
    background-image:url(../Images/main_bg1.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;

    border-width: 3px;
    border-style: solid;
    border-color: Black;
    padding: 3px;
    z-index: 1001;
}
.modalPopupNew
{
    background-image:url(../Images/main_bg1.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;

    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 3px;
    z-index: 1001;
}
.term
{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif, "Bauhaus 93";
    color: #5a5a5a;
    text-decoration: none;
    padding-left: 2px;
    margin: 0px;
}