@using MPC.Webstore.Common;
@{
   
    Layout = null;
    int counter = 0;
    
}


<div class="product-container container content_area" id="all-product-pg">
    <h1 class="allprodHead">
        <label id="lbl_AllProducts">@Html.Raw(Html.GetKeyValueFromResourceFile("lnkProducts", UserCookieManager.WBStoreId,"All Products"))
            
        </label>
    </h1>
    @foreach (var topCat in ViewData["ParentCats"] as List<MPC.Models.DomainModels.ProductCategory>)
    {
        <div class="white-container-lightgrey-border rounded_corners">
            <h2 class="width_allPro">
                <a class="Parent_Cat_allPro" href="/Category/@Utils.specialCharactersEncoder(topCat.CategoryName)/@topCat.ProductCategoryId">@topCat.CategoryName</a>
            </h2>
            <div class="colContainer">
                @foreach (var subCats in ViewData["SubCats"] as List<MPC.Models.DomainModels.ProductCategory>)
                {

                    if (subCats.ParentCategoryId == topCat.ProductCategoryId)
                    {
                        counter++;
                        <div class="allproducts_col">

                            <div class="allproducts_col_cat">
                                <div class="allproducts_colCat_cont">
                                    <a class="SubCatLink" href="/Category/@subCats.CategoryName/@subCats.ProductCategoryId">@subCats.CategoryName</a>
                                </div>

                            </div>
                            @foreach (var child in ViewData["SubCats"] as List<MPC.Models.DomainModels.ProductCategory>)
                            {
                                if (child.ParentCategoryId == subCats.ProductCategoryId)
                                {
                                    <ul class="allproducts_col_cat_ul ">
                                        <li>
                                            <a href="/Category/@Utils.specialCharactersEncoder(child.CategoryName)/@child.ProductCategoryId">@child.CategoryName</a>
                                        </li>
                                    </ul>
                                }
                            }
                        </div>
                    }
                    //if (counter == 4)
                    //{
                    //    counter = 0;
                    //    break;
                    //}
                }
                <div class="clearBoth">
                </div>
            </div>
            <div class="clearBoth">
            </div>
        </div>
    }
</div>