@model List<MPC.Webstore.Models.CompanyBanner>
@foreach (var banner in Model)
{
    <div class="content_area container" id="bannerContainer">

        <ul class="bxslider">

            <li>
                <a id="hlItemUrl">
                    <img id="imgBanner" src="http://yolkpm.myprintcloud.com//StoredImages/PageBanners/ce7d3d5b-229b-4487-9ac7-066ae7926014_HomePageBanner.png" />
                </a>

            </li>

        </ul>
    </div>
}