@model List<MPC.Models.DomainModels.CompanyBanner>
@using MPC.Webstore.Common;

<div class="content_area container bannerContainer">
    <ul class="bxslider">
        @foreach (var banner in Model)
        {

            <li>
                <a id="hlItemUrl" href="@banner.ItemURL">
                    <img id="imgBanner" src="/@banner.ImageURL" />
                </a>

            </li>
        }
    </ul>
</div>