@model List<MPC.Webstore.Models.CompanyBanner>
@using MPC.Webstore.Common;

<div class="content_area container" id="bannerContainer">
    <ul class="bxslider">
        @foreach (var banner in Model)
        {

            <li>
                <a id="hlItemUrl">
                    <img id="imgBanner" src="@Html.GetAppBasePath()@banner.ImageURL"/>
                </a>

            </li>
        }
    </ul>
</div>