@using MPC.Models.Common
@{
    Layout = null;
}
@{
    var CumbsList = Model as List<BreadCrumbModel>;
}
@if (CumbsList != null && CumbsList.Count > 0)
{
    <div class="BreadCrumbMenu left_align col-xs-12">


        <h1>
            @foreach (var crumb in CumbsList)
            {
                if (crumb.IsEnable == false)
                {
                    <a id="aLinkItem" href="#" class="crumb_notActive left_align">
                        @crumb.Name
                    </a>
                }
                else
                {
                    <a id="aLinkItem" href="@crumb.Url" class="crumb_Active left_align">
                        @crumb.Name
                    </a><label id="lblVerticalLine" class="crumb_notActive">&nbsp;&nbsp;&raquo;&nbsp;&nbsp;</label>
                }

            }
        </h1>
        <div class="clearBoth"></div>
    </div>

}
