

<div class="about-content parallex" id="about" data-type="background" data-speed="5" style="background-position: 20% -734.6px;">
    <div class="container">
        <h3>about us</h3>
        @*<p>@ViewBag.AboutUS </p>*@
        <p> 1758, the taxonomist linnaeus published in systema naturae a categorization of species which included the canis species. canis is a latin word meaning dog,[20] and the list included the dog-like carnivores the domestic dog, wolves, foxes and jackals. the dog was classified as canis familiaris,[21] which means "Dog-family" [22] or the family dog. on the next page he recorded the wolf as canis lupus, which means "Dog-wolf" .[23] in 1978, a review aimed at reducing the number of recognized canis species proposed that "Canis dingo is now generally regarded as a distinctive feral domestic dog. Canis familiaris is used for domestic dogs, although taxonomicall</p>
        <ul>
            <li class="about-item">
                <span class="about-item-inner">
                    <span class="ic"><i class="icon icon-1">&nbsp;</i></span>
                    <span class="itm-txt">Lorem ipsum dolor </span>
                </span>
            </li>
            <li class="about-item">
                <span class="about-item-inner">
                    <span class="ic"><i class="icon icon-2">&nbsp;</i></span>
                    <span class="itm-txt">Lorem ipsum dolor </span>
                </span>
            </li>
            <li class="about-item">
                <span class="about-item-inner">
                    <span class="ic"><i class="icon icon-3">&nbsp;</i></span>
                    <span class="itm-txt">Lorem ipsum dolor </span>
                </span>
            </li>
        </ul>
        <div class="read-more"><a href="http://lbprint.liquidbubblehosting.com/about-us.html" title="Read More" class="button">Read More</a></div>
    </div>
</div>