<div class="collect-your-order">

    @*<p><img src="http://lbprint.liquidbubblehosting.com/media/wysiwyg/collect-your-order.jpg" alt="collect-your-order"></p>*@
    <div class="Container">
        <div style="width:82%;margin:auto;">
            <div id="savePercentDiv">

                <div class="float_left">

                    <h3>
                        ARE YOU LOCAL TO US?
                    </h3>



                </div>
                <div class="float_left">
                    <h2>
                        SAVE @ViewBag.OrderPercentage AND COLLECT YOUR ORDER FROM OUR PRESS
                    </h2>

                </div>
                <div class="clearBoth">


                </div>
            </div>
        </div>
    </div>
    </div>
