@model List<MPC.Models.DomainModels.ProductCategory>
@using MPC.Webstore.Common;
@{
    Layout = null;
}

    <div class="top_sub_section TopMenuH60W100Px container content_area" id="all-categoryHeader-pg">
        <div class="">
            <div class="left_right_padding">
                <div id="divMenu" class="menu">
                    <ul id="menu-main-menu" class="navM neg_left_margin_5 cursor_pointer">
                        <li>
                            <a id="anchorHomeImage">
                                <div id="btnHome" class="homeIconImge">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a id="lnkHomePage" href="@ViewBag.DefaultUrl" class="top_sub_section_links HomeIconBox">
                                <img width="25" alt="" src="~/App_Themes/S6/Images/home.png" />
                            </a>
                        </li>
@if (Model != null && Model.Count > 0)
{
                        <li>
                            @foreach (var category in Model)
                            {
                                <a class="float_left_simple Fsize15 CategoryMenuColor marginRght" href="/Category/@category.CategoryName/@category.ProductCategoryId" onclick="ShowLoader();">@category.CategoryName</a>

                            }

                        </li>}
                    </ul>
                </div>
                <div class="float_right Fsize15 lnkContactUS" style="padding-top: 10.5px;">
                    <ul class="navM neg_left_margin_5 cursor_pointer">
                        <li id="liContcUS">
                            <a id="lnk_ContactUs" class="top_sub_section_links marginLeft" href="/ContactUs">@Html.Raw(Html.GetKeyValueFromResourceFile("lnkContactUs", UserCookieManager.WBStoreId, "Contact Us"))</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div style="clear: both;">
            </div>
        </div>
    </div>
    <div class="top_sub_section_bottom_space">
        <br />
    </div>


