

<head>
    <link href="/Content/ErrorPage.css" rel="stylesheet" />
</head>
    <div id="mela">
    <div class="wrap">
        <div class="main">
            
            <h1>Oops Error Occured!!</h1>
            <p>
                <span>@ViewBag.Message</span>
            </p>
            @*<div class="search">
                </div>*@
            <div class="icons">
            </div>
        </div>
        <div class="footer">
        </div>
    </div>
    </div>

