 @model MPC.Models.DomainModels.Company
@{
    Layout = null;
}
<header class="clearfix" id="all-eazyHEader-pg">

    <div class="container clearfix">
        <nav class="nav-collapse clearfix">
            <ul class="clearfix">
                <!--links to my site-->
                <li><a href='@ViewBag.DefaultUrl'>Home</a></li>
                <li><a href="/AllProducts">Products</a></li>
                <li><a href="http://eazyprint.co.uk/about.html">About</a></li>
                <li><a href="/ContactUs">Contact</a></li>

                <li><a href="http://eazyprint.tumblr.com/">Blog</a></li>
                <li><a href="/ShopCart">Cart</a></li>
            </ul>
        </nav>
        <!--Our main logo-->
        <div class="logo">
            <a href='@ViewBag.DefaultUrl'><img alt="eazyprint.co.uk" src="/@Model.Image"></a>
        </div>

    </div>


</header>
<script src="/Scripts/eazyresponsive-nav.js"></script>
<script>
      var navigation = responsiveNav(".nav-collapse",{
		  insert: "after",
		  closeOnNavClick: true,
		  openPos: "static",
	  });
</script>


