@model MPC.Models.DomainModels.Company
@using MPC.Webstore.Common;
@using MPC.Models.Common;
@{
    Layout = null;
}
<div class="clearBoth">

    <div id="FooterContainer" class="PDTCWB">
        <div class="container content_area">
            <div class="left_right_padding col-sm-12">
                <div class="footer_sub">
                    <div class="footer_sub_height">
                        <div class="txtAlignLeft footerLogoContainer col-xs-12 col-sm-4 col-md-3 col-lg-3">

                            <a href='/'>
                                <img id="imgfooterLogo" class="footerLogoBranding" src="/@Model.Image" />
                            </a>
                        </div>
                        <div class="txtAlignLeft col-md-6 col-sm-5 col-xs-12 col-lg-6 payment_sec NoPadding">
                            <div class="copyTerms">
                                <a id="lbl_CopyRightMessage" onclick="ShowLoader();" style="  font-size: 12px;
  font-weight: normal;" href="/pages/@SecondryPagesInfo.PrivacyPolicy/@Convert.ToInt32(SecondryPagesInfo.PrivacyPolicy)">@Html.Raw(Html.GetKeyValueFromResourceFile("lnkPrivacyPolicy", UserCookieManager.WBStoreId))</a>
                                <a id="lnkTermsCondtions" class="small_gray_hyperlink S6FooterMLCs hyperTermCond"
                                   href="/pages/@SecondryPagesInfo.TermsAndConditions/@Convert.ToInt32(SecondryPagesInfo.TermsAndConditions)" onclick="ShowLoader();">@Html.Raw(Html.GetKeyValueFromResourceFile("lnkTermsCondtions", UserCookieManager.WBStoreId))</a>
                            </div>

                            <div class="powerPrivacy">
                                <a id="hlPweredBy" href="http://www.myprintcloud.com/"
                                   class="poweredby"></a>
                                <span id="lnkPrivacyPolicy" class="small_gray_hyperlink hyPrivacyP" style="cursor:none !important;">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlcopyrite", UserCookieManager.WBStoreId))</span>
                            </div>
                        </div>
                        <div class="txtAlignLeft col-xs-12 col-md-3 col-sm-4  col-lg-3 social_icons" id="pnlFollowUs">
                            <div ID="lblFollowusText" class="S6DisplayNone" >Follow Us :</div>
                            <div class="space3 S6DisplayNone">
                                &nbsp;
                            </div>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td valign="top">
                                        <a id="linkFollowUs1">
                                            <img id="imgFollowUs1" class="imgFollowUs" height="20" />
                                        </a>
                                    </td>
                                    <td valign="top">
                                        <a id="linkFollowUs2">
                                            <img id="imgFollowUs2" class="imgFollowUs" height="20" />
                                        </a>
                                    </td>
                                    <td valign="top">
                                        <a id="linkFollowUs3">
                                            <img id="imgFollowUs3" class="imgFollowUs" height="20" />
                                        </a>
                                    </td>
                                    <td valign="top">
                                        <a id="linkFollowUs4">
                                            <img id="imgFollowUs4" class="imgFollowUs" height="20" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
