@*@model MPC.Webstore.Models.Company
@{ Layout = null;}*@

<div id="Footer" class="clearBoth">
   
    <div id="FooterContainer" class="PDTCWB" >
        <div class="container content_area">
            <div class="row left_right_padding">
                <div class="footer_sub">
                    <div class="footer_sub_height">
                        <div class="txtAlignLeft footerLogoContainer col-xs-12 col-sm-2 col-md-3 col-lg-3">

                            <a href='<%=ResolveUrl("~/default.aspx") %>'>
                                <img ID="imgfooterLogo"  class="footerLogoBranding" />
                            </a>
                        </div>
                        <div class="txtAlignLeft col-md-6 col-sm-6 col-xs-12 col-lg-6 payment_sec NoPadding">
                            <div class="copyTerms">
                                <label ID="ltrlcopyrite" title="Copyrights 2014. All Rights Reserved."></label>
                                <a id="hplinkTermsCondition" class="small_gray_hyperlink S6FooterMLCs hyperTermCond"
                                   href="#">Terms & Conditions</a>
                            </div>

                            <div class="powerPrivacy">
                                <a id="hlPweredBy" href="http://www.myprintcloud.com/"
                                   class="poweredby"></a>
                                <a ID="hlPrivacyPolicy" href="#" class="small_gray_hyperlink hyPrivacyP">Privacy Policy</a>
                            </div>
                        </div>
                        <div class="txtAlignLeft col-xs-12 col-md-3 col-sm-4  col-lg-3 social_icons" id="pnlFollowUs">
                            <asp:Label ID="lblFollowusText" Text="Follow Us :" Font-Bold="true" runat="server"
                                       CssClass="S6DisplayNone" />
                            <div class="space3 S6DisplayNone">
                                &nbsp;
                            </div>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td valign="top">
                                        <a ID="linkFollowUs1">
                                            <img ID="imgFollowUs1"  class="imgFollowUs" />
                                        </a>
                                    </td>
                                    <td valign="top">
                                        <a ID="linkFollowUs2"  >
                                            <img ID="imgFollowUs2"  class="imgFollowUs" />
                                        </a>
                                    </td>
                                    <td valign="top">
                                        <a ID="linkFollowUs3"  >
                                            <img id="imgFollowUs3" class="imgFollowUs" />
                                        </a>
                                    </td>
                                    <td valign="top">
                                        <a ID="linkFollowUs4" >
                                            <img id="imgFollowUs4" class="imgFollowUs" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="clearBoth">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearBoth">
        &nbsp;
    </div>
</div>
<div class="bottom_sec S6DisplayNone clearBoth"></div>
