@model  MPC.Webstore.Models.ForgotPasswordViewModel


<div class="content_area container">
    <div class="left_right_padding row">
        <div class="signin_heading_div">
            <label ID="lblMainHeading"   class="sign_in_heading">Password Request / Reset</label>
        </div>
        <div class="page_border_div rounded_corners">
            <div class="custom_color_heading14" id="spnforgotPassord" >
                Please enter your registered email address below. Your password will be mailed to
                your email address.
            </div>
            <div class="smallContctUsAvenior float_left_simple" id="spnemailAddress">
                Email Address
            </div>
            <div class="TTL widthAvenior">
                <span class="error-message EFirstName" style="display: none;">can't be blank</span><br>
                <input type="text" ID="txtEmail" class="newTxtBox"
                             TabIndex="1" />
                <label ID="lblEmail" ></label>
            </div>
            <div class="clearBoth">
                &nbsp;
            </div>
            <div class="smallContctUsAvenior float_left_simple" id="Div1">

            </div>
            <div class="TTL widthAvenior">
                <label ID="lblMessage"  class="errorMessage"></label>
            </div>
            <div class="clearBoth">
                &nbsp;
            </div>
            <div class="smallContctUsAvenior float_left_simple">
            </div>
            <div class="TTL widthAvenior" style="margin-top:20px;">
            @using (Html.BeginForm())
            {
                <input type="button" id="cmdNext" value="SEND PASSWORD" 
                       class="start_creating_btn rounded_corners5" onclick="return ValidateFPass();" />
           
               
                <a href="#" class="forgetPassLink" ID="lnkReturnLogin"
                                >Return to home Page</a>
            }
            </div>
            <div class="clearBoth">
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>
<script>
    function ValidateFPass() {
        var isValid = true;
        if ($('#<%= txtEmail.ClientID %>').val() == '') {
            $('.LEmail').css("display", "block");
            $('.LEmail').text("Please enter email address.");
            $("#<%= txtEmail.ClientID %>").css("border-color", "#b33c12");
            return false;
        } else {


            var IsEmailValid = ValidateEmail($('#<%= txtEmail.ClientID %>').val());
            if (IsEmailValid == true) {

                isValid = true;
            } else {
                $('.LEmail').css("display", "block");
                $('.LEmail').text("Please enter valid email address.");
                $("#<%= txtEmail.ClientID %>").parent().addClass("field-with-errors");
                isValid = false;
            }

            return isValid;
        }
    }
</script>