
@using MPC.Webstore.Common;
@using MPC.Models.Common;

@{
    var ParentCategory = ViewBag.ParentCategory as List<MPC.Models.DomainModels.ProductCategory>;
    var AllChildCategories = ViewBag.AllChildCategories as List<MPC.Models.DomainModels.ProductCategory>;
}

<div class="customHeader">
    <div class="container">
        <div class="logo"><img src="/MPC_Content\Assets\1579\33430\logo.png"></div>
        <div class="mainNav">
            <nav id="nav" role="navigation">
                <a href="#nav" title="Show Menu">Show Menu</a>
                <a href="#" title="Hide Menu">Hide Menu</a>
                <ul>
                    <li><a href="/">Home</a></li>
                  @foreach (var ParentProduct in ParentCategory)
                  {
                      int count = AllChildCategories.Where(g => g.ParentCategoryId == ParentProduct.ProductCategoryId).Count();
                      var ChildCategories = AllChildCategories.Where(i => i.ParentCategoryId == ParentProduct.ProductCategoryId).ToList();
                      if(count>0)
                      { 
                    <li>
                        <a aria-haspopup="true" href="/Category/@Html.ResolveString(ParentProduct.CategoryName)/@ParentProduct.ProductCategoryId">@ParentProduct.CategoryName</a>
                        <ul>
                            @foreach (var chCtg in ChildCategories)
                            { 
                            <li><a href="/Category/@Html.ResolveString(chCtg.CategoryName)/@chCtg.ProductCategoryId">@chCtg.CategoryName</a></li>
                            }
                        </ul>
                    </li>
                      }
                  }
                </ul>
            </nav>
        </div>

        <div class="clear"></div>
    </div>
</div>