@using MPC.Webstore.Common;
@using MPC.Models.Common;


@{
    var ParentCategory = ViewBag.ParentCategory as List <MPC.Models.DomainModels.ProductCategory> ;
    var AllChildCategories = ViewBag.AllChildCategories as List<MPC.Models.DomainModels.ProductCategory>;
 }

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
            <h1 class="MetroallprodHead">
                Product Categories
            </h1>
             @foreach (var ParentProduct in ParentCategory)
             {
                 int count = AllChildCategories.Where(g => g.ParentCategoryId == ParentProduct.ProductCategoryId).Count();
                    if(count>0)
                    { 
                    <div id="MainDiv" class="MetroProCats">
                        <h2 class="Metrowidth_allPro">
                            <a id="ltrlParentCatName" class="MetroParent_Cat_allPro">@ParentProduct.CategoryName</a>
                        </h2>
                        <div class="MetrocolContainer">
                            @{
                              var ChildCategories = AllChildCategories.Where(i => i.ParentCategoryId == ParentProduct.ProductCategoryId).ToList();
                            }
                                    <div class="Metroallproducts_col">
                                        <ul style="list-style: inherit; margin-left: -20px;">
                                            @foreach (var Chcategory in ChildCategories)
                                            {
                                                <li><a href="/Category/@Html.ResolveString(Chcategory.CategoryName)/@Chcategory.ProductCategoryId">@Chcategory.CategoryName</a></li>
                                            }
                                        </ul>
                                    </div>
                            <div class="clearBoth">
                            </div>
                        </div>
                        <div class="clearBoth">
                        </div>
                    </div>
                    }
                
              }
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
            <h1 class="MetroallprodHead">
                Location
            </h1>
            <img src="~/Content/Images/map.png" class="metroMap" />
        </div>
    </div>

</div>
