@model MPC.Models.DomainModels.Company
@using MPC.Webstore.Common;
@using MPC.Models.Common;
@using System;


<header class="navbar navbar-default topnav" id="TopHeaderContainer"  role="navigation">
    <div class="container">
        <div class="navbar-header col-md-3 col-lg-3 col-xs-12 col-sm-12">
            <button type="button" class="navbar-toggle btn btn-darkblue hidden-lg hidden-md" id="darkCollapseBtn" data-toggle="collapse" data-target=".navbar-collapse"><span class="fa fa-bars fa-fw"></span></button>
            @*<button type="button" class="btn btn-darkblue leftbar-toggle pull-left" data-toggle="offcanvas" onclick="showSideBar();"><span class="fa fa-th-large fa-fw" onclick="showSideBar();"></span></button>*@
            <a class="navbar-brand" href='<%=ResolveUrl("~/default.aspx") %>'>
                <img class="img-responsive" alt="Company" id="imgLogo" src="@Model.Image">
            </a>
        </div>
       
         @if(UserCookieManager.WEBStoreMode==(int)StoreMode.Retail)
         { 
        <div class="navbar-collapse col-md-9 col-lg-9 col-xs-12 col-sm-12" id="oxfordCollapedMenucnt">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/AllProducts" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list"></i><span>@Html.Raw(Html.GetKeyValueFromResourceFile("lnkProducts", UserCookieManager.WBStoreId))</span></a>
                </li>
                <li><a id="lnkRequestQuoteHeader" href="/RequestQuote" class="" target="_self"><i class="fa fa-pencil"></i><span>@Html.Raw(Html.GetKeyValueFromResourceFile("lblTitleRequestQuote", UserCookieManager.WBStoreId))</span></a></li>
                <li><a href="/ContactUs" class="" target="_self"><i class="fa fa-envelope-o"></i><span>@Html.Raw(Html.GetKeyValueFromResourceFile("lblPageTitle", UserCookieManager.WBStoreId))</span></a></li>
                <li><a id="psop7" href="/Login" title="" class="top_login_popup"><i class="fa fa-user"></i><span>Login / Register </span></a></li>
            </ul>
        </div>
         }
    </div>
</header>
<a onclick="LoginPopUP();" class="demoButton">
    Ask for demo
</a>
<div id="jqwin" class="FileUploaderPopup_Mesgbox" style="position: fixed; z-index:1000;">

    <div onclick="closeBOX();" class="exit_page_CP MesgBoxBtnsDisplay rounded_corners5" style="">Close</div>
    <iframe id="ifrm" style="height:610px; padding:5px; padding-bottom:0px; border: none; z-index:99999999 !important;" class="rounded_corners LCLB" src="../AskForDemo.aspx"></iframe>
</div>
<script>
    $(document).ready(function () {

        var shadow = document.getElementById("divShd");
        var bws = getBrowserHeight();
        shadow.style.width = bws.width + "px";
        shadow.style.height = bws.height + "px";
        var left = parseInt(($(window).width() - 809) / 2);
        var top = parseInt(($(window).height() - 610) / 2);

        $('#jqwin').css("left", left);
        $('#jqwin').css("top", top);
        $('#ifrm').css("width", "809px");
        if ($(window).width() < 360) {
            var left = parseInt(($(window).width() - $(window).width()) / 2);
            var top = parseInt(($(window).height() - 610) / 2);
            $('#jqwin').css("left", left);
            $('#jqwin').css("top", top);
            $('#ifrm').css("width", "320px");
        } else if ($(window).width() < 481) {

            var left = parseInt(($(window).width() - $(window).width()) / 2);
            var top = parseInt(($(window).height() - 610) / 2);
            $('#jqwin').css("left", left);
            $('#jqwin').css("top", top);
            $('#ifrm').css("width", "400px");
        } else if ($(window).width() < 641) {

            var left = parseInt(($(window).width() - $(window).width()) / 2);
            var top = parseInt(($(window).height() - 610) / 2);
            $('#jqwin').css("left", left);
            $('#jqwin').css("top", top);
            $('#ifrm').css("width", "460px");
        } else {

        }

    });

    $(window).resize(function () {
        var shadow = document.getElementById("divShd");
        var bws = getBrowserHeight();
        shadow.style.width = bws.width + "px";
        shadow.style.height = bws.height + "px";
        var left = parseInt(($(window).width() - 809) / 2);
        var top = parseInt(($(window).height() - 610) / 2);
        $('#jqwin').css("left", left);
        $('#jqwin').css("top", top);
        $('#ifrm').css("width", "809px");
        if ($(window).width() < 360) {
            var left = parseInt(($(window).width() - $(window).width()) / 2);
            var top = parseInt(($(window).height() - 610) / 2);
            $('#jqwin').css("left", left);
            $('#jqwin').css("top", top);
            $('#ifrm').css("width", "320px");
        } else if ($(window).width() < 481) {

            var left = parseInt(($(window).width() - $(window).width()) / 2);
            var top = parseInt(($(window).height() - 610) / 2);
            $('#jqwin').css("left", left);
            $('#jqwin').css("top", top);
            $('#ifrm').css("width", "400px");
        } else if ($(window).width() < 641) {

            var left = parseInt(($(window).width() - $(window).width()) / 2);
            var top = parseInt(($(window).height() - 610) / 2);
            $('#jqwin').css("left", left);
            $('#jqwin').css("top", top);
            $('#ifrm').css("width", "460px");
        } else {

        }
    });

    $("#darkCollapseBtn").click(function () {

        $("#MainContent_ctl00_oxfordCollapedMenucnt").slideToggle();
    });
    function LoginPopUP() {

        $('#divShd').css("display", "block");

        $('#jqwin').css("display", "block");
        $(".closeBtn_CP").css("display", "block");

        return false;
    }

    function closeBOX() {
        $(".closeBtn_CP").css("display", "none");
        $('#divShd').css("display", "none");
        $('#jqwin').css("display", "none");
    }
</script>

