@model MPC.Models.DomainModels.CmsPage
@using MPC.Webstore.Common;
@{
    string AppBasePath = string.Empty;
}
@{
    Layout = null;
}
@if (Model != null)
{
    <div id="PageBanner">

        <img id="imgPageBanner" src="/@Model.PageBanner" />
    </div>
    <div id="SecondryPageMainContent">
        <div class="content_area container">
            <div class="left_right_padding row">
                <div class="SP_transparent rounded_corners">
                    <div class="product_detail_sup_padding">
                        <h1 class="SecPagesHeading ">
                            <label id="ltlHeading">@Model.PageTitle</label>
                        </h1>
                        <div class="paddingLeft10px">
                            <label id="lblPageContents">@Html.Raw(Model.PageHTML)</label>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
        </div>
    </div>

}


