
<div class="container">
    <div><input type="button" /></div>
    <div><textarea id="Jsontext" onclick="GetJsonData();"></textarea></div>
</div>
<script type="text/javascript">
    function GetJsonData() {
        alert();
        var val = $("Jsontext").val();
        $.getJSON("/webstoreapi/RealEstateController/SaveListing?obj=val",
                                        function (xdata) {
                                            $("#Jsontext").val(xdata);
                                        });
    }
</script>
