
 @{
   Layout = null;
}

<link href="@Url.Content("~/Content/SamrtFormCarousel.css")" rel="stylesheet" type="text/css" />

<style>
    .jcarousel-skin-tango {
        background-color: transparent !important;
    }
    .jcarousel-container-horizontal{
        background-color: transparent !important;
    }
</style>

<div class="content_area featuredProductsCarousel">
    <ul id="mycarousel" class="jcarousel-skin-tango">
        @foreach (var listing in Model as List<MPC.Models.Common.TemplateVariable>)
        {
            <li style="width: 250px; margin-right: 10px;">
                <div>
                    <img src="../../@listing.Value" alt="" style="height: 250px; width: 250px;" />
                </div>
            </li>
        }
    </ul>
</div>
   <script src="/Scripts/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mycarousel').jcarousel();
        });
    </script>


