

<style type="text/css">
    .activeCampaigns {
        width: 25%;
        height: 175px;
        background-color: #e9501d;
        float: right;
        padding-top: 25px;
        text-align: center;
        color: white;
    }

    .campaignsHeading {
        font-size: 25px;
        font-family: PT Sans;
    }

    .campaignsLabel {
        font-size: 15px;
        font-family: PT Sans;
    }
</style>

<div class="content_area container" id="bannerContainer">
    <ul id="mycarousel" class="jcarousel-skin-tango"">
        @foreach (var banner in ViewBag.ImageSource)
        {
            <li>
                <a id="hlItemUrl">
                    <img id="imgBanner" src="@banner" style="height: 100px; width: 150px;" />
                </a>
            </li>
        }
    </ul>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mycarousel').jcarousel();
        });
    </script>
}