@using MPC.Webstore.Common;
@{
    Layout = null;
}

<div class="container content_area">
    <div class="left_right_padding row">
        @foreach (var cat in ViewData["RealEstateProducts"] as List<MPC.Models.DomainModels.usp_GetRealEstateProducts_Result>)
        {
            <div id="Maincontainer" class="CAT_Body rounded_corners">
                <div class="LCLB">
                                        @{

                       var RedirectURL = "/RealEstateProducts/CloneRealEstateItem/" + cat.ItemId;

                    <a id="hlCategory" href="@Url.Action("CloneRealEstateItem", "RealEstateProducts", new { id = cat.ItemId })">

                            <div class=" pdtc_cat fi_cat">
                        @{
                            <img id="imgThumbnail" class="CAT_ThumbnailPath" src='@Html.GetAppBasePath()@cat.ThumbnailPath' />
                        }

                    </div>
                        </a>
                    }
                </div>
                <div class="product_detail_image_heading_CAT">
                    <label id="lblProductName">@cat.ProductName</label>
                </div>
                <div class="topcat_desc_CAT">
                    <label id="lblDescription1">@cat.ProductCode</label>
                </div>
            </div>
        }
    </div>
</div>