@using System.Globalization
@model MPC.Webstore.Models.AddressViewModel
@{
    Layout = null;
}
<div id="subscriberfooter" style="background-color:#5b237a !important;">

    <div class="container ">
        <div class="container">
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-4" style="padding-left:0px;">
                        <div class="panel panel-info" id="Div2">
                            <div class="panel-heading">
                                <h3 class="panel-title">Contact us</h3>
                            </div>
                            <div class="panel-body" style="padding-top: 0px;">
                                <div>
                                    <h2 itemprop="name" id="companyname">Company Address</h2>
                                    @if (Model != null)
                                    {
                                        <div itemprop="address">
                                            <b>Main address</b>:<br />
                                            <span itemprop="streetAddress" id="addressline1">
                                                Address 1..<br />
                                                Address 2..
                                            </span><br />
                                            <span itemprop="postalCode" id="cityandCode">City and Zip Code</span><br />
                                            <span itemprop="addressLocality" id="stateandCountry">state &amp; Country</span>
                                        </div>
                                        if (Model.Tel != null)
                                        {

                                            <span id="telno">Tel:@Model.Tel</span>

                                            <br />
                                        }
                                        if (Model.Email != null)
                                        {

                                            <span id="emailadd">Email:@Model.Email</span>

                                            <br />
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4" id="subpanel1">
                        <div class="panel panel-info" id="Div3">
                            <div class="panel-heading">
                                <h3 class="panel-title">Subscribe here</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                        <input type="text" id="txtEmailbox" class="form-control btn-rounded" width="100"></input>
                                    </div>
                                    <span id="errorMsg" class="error-block text-danger"></span>
            <p id="Nwsdesc" class="help-block">Subscribe Here to receive promotional offers.</p>
        </div>
        <input id="btnSendNews" value="Subscribe" class="btn btn-primary btn-rounded"  />
    </div>
</div>
                    </div>
<div class="col-xs-12 col-md-4" id="panel2">
    <div class="panel panel-info" id="">
        <div class="panel-heading">
            <h3 class="panel-title">Go Social</h3>
        </div>
        <div class="panel-body">
            <p>Stay in touch with us:</p>
            <p><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook fa-2x social-icon"></i></a><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter fa-2x social-icon"></i></a><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest fa-2x social-icon"></i></a><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus fa-2x social-icon"></i></a><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin fa-2x social-icon"></i></a></p>
        </div>
    </div>
</div>
                </div>
            </p>
        </div>
    </div>    </div>