
@using MPC.Models.Common;
@model IEnumerable <MPC.Models.Common.TreeViewNodeVM>
@foreach(var treeNode in Model)
{
    <ul>
        @if (treeNode != null)
        {
            var RedirectUrl="/ManageAssets/"+treeNode.FolderId;
            <li>
                <a href="@RedirectUrl">
                    @treeNode.FolderName
                </a>
                @if (treeNode.ChildNode.Count > 0)
                {
                    @Html.Partial("PartialViews/TreeChildNodes", treeNode.ChildNode)
                }
            </li>
        }
    </ul>
}
