<div class="row" style="display: none" data-bind="visible: $root.isEditorVisible()">
    <div class="row" style="">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12" id="topArea">
                    <ol class="breadcrumb">
                        <li><a href="~/Dashboard/Index" class="my-navigator">Home</a></li>
                        <li><a href="~/DeliveryNotes/Home/DeliveryNote/Index" class="my-navigator">Delivery Notes</a></li>
                        <li class="active"><span data-bind="text:$root.deliveryNoteEditorHeader">Modify Delivery Notes</span></li>
                    </ol>
                    <div class="clearfix">
                        <h1 class="pull-left" style="padding-left:0px;">&nbsp;</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row col-sm-6" style="float:left;">
            <div class="pull-left validationSummaryContainer">
               
                <a class="validationSummaryLink" data-bind="visible: $root.errorList().length > 0, bootstrapPopover: { html: true, title: 'Please fix following errors', elementNode: 'validationSummaryPopupForStore', popoverId: 'validationSummaryPopoverBodyForStore' }" style="display: none">Invalid data: Click here to see details.</a>
                <div class="well well-small validationSummaryModal" id="validationSummaryPopupForStore" style="display: none">
                    <div id="validationSummaryPopoverBodyForStore">
                        <ul data-bind="foreach: $root.errorList">
                            <li>
                                <a data-bind="click: $root.gotoElement.bind($data.element)"><span data-bind="text: name"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                    <div class="btn-group" style="float:left;margin-bottom: 3px;margin-left:17px;margin-top:-10px;">
                        <button type="button" class="btn btn-primary">Actions</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-bind="click:$root.openExternalReportsDelivery">Print Delivery Note</a></li>
                            <li><a href="#" data-bind="click:$root.openExternalEmailDeliveryReport">Email Delivery Note</a></li>
                            
                        </ul>
                    </div>

                
               
                
                    
                
  
                </div>
        </div>
        <div class="row" id="prefixesdata" style="float:right;margin-top:-10px;margin-right:5px;">
           
            <div class="input-group">
                <button data-bind="click:$root.onCloseEditor" class="btn btn-default" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;">&nbsp;Cancel</button>
                <button class="btn btn-primary" style="float: right;display: none;margin-right: 6px;display:inline;" id="saveBtn" data-bind="visible:$root.selectedDeliveryNote().isStatus()!==20,click:$root.onSaveDeliveryNotes, enable: ($root.selectedDeliveryNote().hasChanges() && $root.selectedDeliveryNote().isStatus()!==20), css: { 'btn-warning': $root.selectedDeliveryNote().hasChanges() }">
                    &nbsp;Save
                </button>
                <button class="btn  btn-danger" style="float: right;display: none;margin-right: 6px;display:inline;" id="saveBtn" data-bind="visible:$root.selectedDeliveryNote().isStatus()!==20,enable:($root.selectedDeliveryNote().deliveryNoteId()!==undefined && $root.selectedDeliveryNote().isStatus()!==20),click:$root.onDeleteDeliveryNote">&nbsp;Delete</button>
                @*<button class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;" id="saveBtn" data-bind="enable:$root.selectedDeliveryNote().deliveryNoteId()!==undefined"><i class="fa fa-print fa-sm"></i>&nbsp;Print</button>*@
                <button class="btn btn-primary" style="float: right;display: none;margin-right: 6px;display:inline;" id="saveBtn" data-bind="visible:$root.selectedDeliveryNote().isStatus()!==20,enable:($root.selectedDeliveryNote().deliveryNoteId()!==undefined && $root.selectedDeliveryNote().isStatus()!==20),click:$root.onPostDeliveryNote">&nbsp;Post</button>
                @*<button class="btn btn-primary" data-bind="click: $root.openReport.bind($data, true) " style="margin-right:5px">
                    Print
                </button>*@
            </div>
        </div>
    </div>
    <div class="row" id="user-profile" data-bind="with: selectedDeliveryNote" style="padding-left: 18px;padding-right:20px;">
        <div class="col-sm-12" style="margin-top:20px;">
            <div class="main-box clearfix">
                <div class="col-sm-12 form-horizontal" style="margin-top:20px;">
                    <h3 class="group-header" style="margin-left:10px;margin-right:10px;">General Information</h3>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                <div class="bs-example-tooltips tooltip-float-width">

                                </div>

                                <label class="control-label tooltip-float">&nbsp;</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" style="height: 60px;" data-bind="value: companyName, validationOnElement: companyId, click: !$root.selectedDeliveryNote().deliveryNoteId() ? $root.openCompanyDialog : undefined" readonly placeholder="Select Customer" class="form-control font24px" id="txtCompany" />
                            </div>
                            <div class="col-sm-1" style="padding-top:10px;margin-left: 10px">
                                <button data-bind="click: $root.openCompanyDialog, enable: (deliveryNoteId() <= 0) || (deliveryNoteId()===undefined)" class="btn btn-primary pull-right">
                                    <i class="fa fa-user"></i>
                                </button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                &nbsp;
                            </div>
                            <div class="col-sm-6" data-bind="if: $root.isCompanyBaseDataLoaded">
                                <select class="form-control" data-bind="options: $root.companyContacts, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select a contact', value: contactId"></select>
                                <span class="help-block text-right"></span>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: -14px;">
                            <div class="col-sm-4 text-right">
                                &nbsp;
                            </div>
                            <div class="col-sm-6" data-bind="if: $root.isCompanyBaseDataLoaded">
                                <select class="form-control" data-bind="options: $root.companyAddresses, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select an address', value: addressId"></select>
                                <span class="help-block text-right"></span>
                            </div>
                            <div class="col-sm-1" data-bind="if: $root.isCompanyBaseDataLoaded" style="margin-left: 10px">
                                <a class="btn btn-primary pull-right" id="addresspull" onclick="addAddress()">
                                    <i id="addresspullicon" class="fa fa-chevron-circle-right drop-icon"></i>
                                </a>
                            </div>
                        </div>
                        <div id="popoveraddress" style="display:none;">
                            <!-- ko if: $root.selectedAddress()!==undefined && $root.selectedAddress().address1!=='' && $root.selectedAddress().address1!== undefined-->
                            <div class="form-group">
                                <div class="col-sm-4 text-right">
                                    <label class="control-label tooltip-float">&nbsp;</label>
                                </div>
                                <div class="col-sm-6" data-bind="with: $root.selectedAddress">
                                    <div>
                                        <label id="address1" data-bind="text: address1" class="form-control" style="border:none"></label>
                                    </div>
                                </div>
                            </div>
                            <!--/ko-->
                            <!-- ko if: $root.selectedAddress()!==undefined && $root.selectedAddress().telephone1!=='' && $root.selectedAddress().telephone1!== undefined-->
                            <div class="form-group" style="margin-top: -20px;">
                                <div class="col-sm-4 text-right">
                                    <label class="control-label tooltip-float">&nbsp;</label>
                                </div>
                                <div class="col-sm-6" data-bind="with: $root.selectedAddress">
                                    <div>
                                        <label id="telephone" data-bind="text: telephone1" class="form-control" style="border:none"></label>
                                    </div>
                                </div>
                            </div>
                            <!--/ko-->
                            <!-- ko if: $root.selectedCompanyContact()!==undefined && $root.selectedCompanyContact().email !=='' && $root.selectedCompanyContact().email !== undefined -->
                            <div class="form-group" style="margin-top: -20px;">
                                <div class="col-sm-4 text-right">
                                    <label class="control-label tooltip-float">&nbsp;</label>
                                </div>
                                <div class="col-sm-6" data-bind="with: $root.selectedCompanyContact">
                                    <div>
                                        <label id="email" data-bind="text: email" class="form-control" style="border:none"></label>
                                    </div>
                                </div>
                            </div>
                            <!--/ko-->
                        </div>

                        <!--here it ends-->
                        <div class="form-group" style=" margin-top: -10px;">
                            <div class="col-sm-4 text-right">
                                <div class="bs-example-tooltips tooltip-float-width">
                                    <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer; border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Order Ref. No" data-original-title="" title="">
                                        @*<span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>*@
                                    </a>
                                </div>

                                <label class="control-label tooltip-float"></label>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <input type="text" value="Double-Sided A4" placeholder="Order Ref. No" class="form-control" data-bind="value:orderReff" />

                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-sm-4 text-right">
                                    <label class="control-label text-right tooltip-float"></label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Carrier Tracking Path">

                                </div>
                            </div>*@
                    </div>


                    <div class="col-sm-6">

                        <div class="form-group">
                            <div class="col-sm-4 text-right" style="padding-top:10px;">
                                <label class="control-label text-right tooltip-float">Delivery Status</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" style="height: 60px;" data-bind="value: isStatus()===19 ? 'Awaiting' :'Posted'" readonly class="form-control font24px" id="code" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                &nbsp;
                            </div>
                            <div class="col-sm-6">
                                <select style="width: 258px !important;" id="flag" data-bind="select2: { formatResult: $root.formatResult,formatSelection: $root.formatSelection }, value: flagId, foreach: $root.sectionFlags">
                                    <option style="width: 258px !important;" data-bind="text: name, attr: { 'data-color': color, value: id }"></option>
                                </select>
                                <i class="fa fa-sort-desc" style="float: right; padding-right: 10px; position: relative; bottom: 25px;"></i>
                                @*<select class="form-control" data-bind="options: $root.sectionFlags, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select a flag',value:flagId"></select>
                                <span class="help-block text-right"></span>*@
                            </div>
                        </div>

                        <div class="form-group" style=" margin-top: -17px;">
                            <div class="col-sm-4 text-right">

                                <label class="control-label text-right tooltip-float">Carriers</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" data-bind="options: $root.deliveryCarriers, optionsText: 'CarrierName', optionsValue: 'CarrierId', optionsCaption: 'Select a carrier ',value:supplierId"></select>
                                <span class="help-block text-right"></span>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: -10px;">
                            <div class="col-sm-4 text-right">

                                <label class="control-label text-right tooltip-float">Carrier Phone</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" data-bind="value:supplierTelNo">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-right">

                                <label class="control-label text-right tooltip-float">Consignment Number</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" data-bind="value:csNo">

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 text-right">

                                <label style="  margin-top: 13px;" class="control-label text-right tooltip-float">Delivery Date</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" style="height:60px;" class="form-control" data-bind="datepicker:deliveryDate">
                            </div>
                        </div>
                    </div>


                    @* <div class="col-sm-9 form-horizontal">*@

                    @*</div>*@
                </div>
                <div class="col-sm-12 form-horizontal">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                &nbsp;
                            </div>
                            <div class="col-sm-9">
                                <div id="orderHeaderProductsContainer" style=" background-color: gainsboro; border-radius: 3px;">
                                    <header class="main-box-header clearfix">
                                        <div id="orderProducts" style="float:left;"><span style="font-size:24px">Delivery Note Detail Items</span></div>
                                    </header>
                                    <div class="main-box-body clearfix">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="col-sm-8"><span>Detail</span></th>
                                                        <th class="col-sm-2"><span></span></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--ko if: deliveryNoteDetails().length==0-->
                                                    <tr>
                                                        <td>
                                                            <span data-bind="text: 'No Items found!'"></span>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <!-- /ko -->
                                                    <!-- ko template: { name: $root.templateToUseDeliveryNoteDetail, foreach: deliveryNoteDetails } -->
                                                    <!-- /ko -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="btn-group" style="float: left; margin-top: 22px;">
                                        <button type="button" class="btn btn-primary" data-bind="click:$root.addDeliveryNoteDetail">Add Product</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 form-horizontal main-box-body clearfix">
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            @*<div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer; border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Select estimate date." data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label class="control-label text-right tooltip-float">Comments</label>*@
                        </div>
                        <div class="col-sm-9" style="padding-right: 5px;padding-left: 5px;">
                            <textarea class="form-control" placeholder="Enter Comments" id="EstimateHeader" rows="3" data-bind="value: comments"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            @*<div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer; border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Select estimate date." data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label class="control-label text-right tooltip-float">Foot Notes</label>*@
                        </div>
                        <div class="col-sm-9" style="padding-right: 5px;padding-left: 5px;">
                            <textarea class="form-control" id="EstimateHeader" placeholder="Enter Delivery Notes closing paragraph as it would appear on Reports" rows="3" data-bind="value: userNotes"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            @*<div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer; border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Source for Estimate." data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label class="control-label text-right tooltip-float">Raised By</label>*@
                        </div>
                        <div class="col-sm-3" style="padding-right: 5px;">
                            <select class="form-control" data-bind="options: $root.systemUsers, optionsText: 'fullName', optionsValue: 'id', optionsCaption: 'Select a system user',value:raisedBy"></select>
                            <span class="help-block text-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addAddress() {
        var e = document.getElementById("popoveraddress");
        var p = document.getElementById("addresspullicon");

        if (e.style.display == "none") {
            p.className = "fa fa-chevron-circle-down drop-icon";
            e.style.display = "block";
        }
        else if (e.style.display == "block") {
            p.className = "fa fa-chevron-circle-right drop-icon";
            e.style.display = "none";

        }
    }
</script>
<script id="editDeliveryNoteDetailemplate" type="text/html">
    <tr data-bind="css: { selectedRow: $data === $root.selectedDeliveryNoteDetail() }">
        <td style="width: 94%">
            <input type="text" class="form-control" data-bind="value: description, validationTooltip: description" />
        </td>

        <td style="width: 5%">
            <!-- ko template: { name: 'deleteActionDeliveryNoteDetailTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
<script id="itemDeliveryNoteDetailTemplate" type="text/html">
    <tr data-bind="click: $root.selectDeliveryNoteDetail">
        <td style="width: 94%" data-bind="text: description"></td>
        <td style="width: 5%">
            <!-- ko template: { name: 'deleteActionDeliveryNoteDetailTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>

<script id="deleteActionDeliveryNoteDetailTemplate" type="text/html">
    <a href="#" class="table-link danger" data-bind="click: $root.onDeleteDeliveryNoteDetail" title="Delete">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</script>