<div class="row" style="display: none" data-bind="visible: $root.isEditorVisible()">
    <div class="row" >
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12" id="topArea" style="padding-left:16px;">
                    <div class="clearfix">
                        <h1 class="pull-left" style="padding-left:0px;margin-top:35px;">&nbsp;</h1>
                    </div>

                    <div class="col-lg-12" id="filter" style="height:50px;margin-bottom:7px;">
                        <div class="col-lg-2 pull-right" style="padding-right: 2%; ">
                            @*<div class="pull-right">
                                <a class="btn btn-primary patial-edit">
                                    Add Delivery Note
                                </a>
                            </div>*@
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="prefixesdata" style="float:right;">
        <div class="input-group">

            <button data-bind="click:$root.onCloseEditor" class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;" id="closeBtn"><i class="fa fa-times fa-lg"></i>&nbsp;Close</button>
            <button class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;" id="saveBtn">
                <i class="fa fa-floppy-o fa-lg"></i>&nbsp;Save
            </button>

            <button class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;" id="saveBtn"><i class="fa fa-minus-circle fa-lg"></i>&nbsp;Delete</button>
            <button class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;" id="saveBtn"><i class="fa fa-print fa-lg"></i>&nbsp;Print</button>
            <button class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;" id="saveBtn"><i class="fa fa-envelope fa-lg"></i>&nbsp;Post</button>

        </div>
    </div>
    <div class="row" id="user-profile" data-bind="with: selectedDeliveryNote">
        <div class="col-lg-12 col-md-8 col-sm-8">
            <div class="main-box clearfix">
                <div class="col-lg-12 form-horizontal" style="padding:30px;">
                    <h3 class="group-header">General Information</h3>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-lg-4 text-right">
                                <div class="bs-example-tooltips tooltip-float-width">
                                  
                                </div>

                                <label class="control-label tooltip-float">&nbsp;</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" style="height: 60px;" data-bind="value: companyName, validationOnElement: companyId, click: !$root.selectedDeliveryNote().deliveryNoteId() ? $root.openCompanyDialog : undefined" readonly placeholder="Select Customer" class="form-control font24px" id="txtCompany" />
                            </div>
                            <div class="col-sm-1" style="padding-top:10px;margin-left: 10px">
                                <button data-bind="click: $root.openCompanyDialog" class="btn btn-primary pull-right">
                                    <i class="fa fa-user"></i>
                                </button>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                &nbsp;
                            </div>
                            <div class="col-sm-6" data-bind="if: $root.isCompanyBaseDataLoaded">
                                <select class="form-control" data-bind="options: $root.companyContacts, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select a contact', value: contactId"></select>
                                <span class="help-block text-right"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                &nbsp;
                            </div>
                            <div class="col-sm-6" data-bind="if: $root.isCompanyBaseDataLoaded">
                                <select class="form-control" data-bind="options: $root.companyAddresses, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select an address', value: addressId"></select>
                                <span class="help-block text-right"></span>
                            </div>
                            <div class="col-sm-1" data-bind="if: $root.isCompanyBaseDataLoaded" style="margin-left: 10px">
                                <a class="btn btn-primary pull-right" id="addresspull" onclick="addAddress()">
                                    <i id="addresspullicon" class="fa fa-chevron-circle-right drop-icon"></i>
                                </a>
                            </div>
                        </div>
                        <div id="popoveraddress" style="display:none;">
                            <!-- ko if: $root.selectedAddress()!==undefined && $root.selectedAddress().address1!=='' && $root.selectedAddress().address1!== undefined-->
                            <div class="form-group">
                                <div class="col-sm-4 text-right">
                                    <label class="control-label tooltip-float">&nbsp;</label>
                                </div>
                                <div class="col-sm-6" data-bind="with: $root.selectedAddress">
                                    <div>
                                        <label id="address1" data-bind="text: address1" class="form-control" style="border:none"></label>
                                    </div>
                                </div>
                            </div>
                            <!--/ko-->
                            <!-- ko if: $root.selectedAddress()!==undefined && $root.selectedAddress().telephone1!=='' && $root.selectedAddress().telephone1!== undefined-->
                            <div class="form-group" style="margin-top: -20px;">
                                <div class="col-sm-4 text-right">
                                    <label class="control-label tooltip-float">&nbsp;</label>
                                </div>
                                <div class="col-sm-6" data-bind="with: $root.selectedAddress">
                                    <div>
                                        <label id="telephone" data-bind="text: telephone1" class="form-control" style="border:none"></label>
                                    </div>
                                </div>
                            </div>
                            <!--/ko-->
                            <!-- ko if: $root.selectedCompanyContact()!==undefined && $root.selectedCompanyContact().email !=='' && $root.selectedCompanyContact().email !== undefined -->
                            <div class="form-group" style="margin-top: -20px;">
                                <div class="col-sm-4 text-right">
                                    <label class="control-label tooltip-float">&nbsp;</label>
                                </div>
                                <div class="col-sm-6" data-bind="with: $root.selectedCompanyContact">
                                    <div>
                                        <label id="email" data-bind="text: email" class="form-control" style="border:none"></label>
                                    </div>
                                </div>
                            </div>
                            <!--/ko-->
                        </div>
                        
                        <!--here it ends-->
                        <div class="form-group">
                            <div class="col-lg-4 text-right">
                                <div class="bs-example-tooltips tooltip-float-width">
                                    <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer; border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Estimate Title" data-original-title="" title="">
                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                    </a>
                                </div>

                                <label class="control-label tooltip-float">Order Ref. No</label>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <input type="text" value="Double-Sided A4" placeholder="Enter Estimate Title" class="form-control" data-bind="value:orderReff" />

                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-lg-6">
                       
                        <div class="form-group">
                            <div class="col-sm-4 text-right" style="padding-top:10px;">
                                <label class="control-label text-right tooltip-float">Delivery Status</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" style="height: 60px;" data-bind="value: isStatus()==19 ? 'Awaiting' :'Posted'" readonly class="form-control font24px" id="code" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                &nbsp;
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" data-bind="options: $root.sectionFlags, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select a flag'"></select>
                                <span class="help-block text-right"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                &nbsp;
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" data-bind="options: $root.sectionFlags, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select a flag'"></select>
                                <span class="help-block text-right"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4 text-right">
                               
                                <label class="control-label text-right tooltip-float">Carriers</label>
                            </div>
                            <div class="col-lg-6">
                                <select class="form-control" data-bind="options: $root.systemUsers, optionsText: 'fullName', optionsCaption: 'Select a system user'"></select>

                                <span class="help-block text-right"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4 text-right">
                              
                                <label class="control-label text-right tooltip-float">Carrier Phone</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="datepickerDate">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4 text-right">
                               
                                <label class="control-label text-right tooltip-float">Consignment Number</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="datepickerDate">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4 text-right">
                              
                                <label class="control-label text-right tooltip-float">Carrier Tracking Path</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="datepickerDate">

                            </div>
                        </div>
                    </div>


                    @* <div class="col-lg-9 form-horizontal">*@

                    @*</div>*@
                </div>
                <div class="col-lg-12 form-horizontal" style="margin-top: -18px;">
                    <div>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary dropdown-toggle" style="float: right; margin-bottom: 3px;" data-toggle="dropdown">Add Product <span class="caret"></span></button>
                                @*<ul class="dropdown-menu">
                                    <li><a href="#">From Retail Store</a></li>
                                    <li><a href="#">Cost Center</a></li>
                                    <li><a href="#">Inventory Item</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    </ul>*@
                            </div>
                        </div>
                        <h3 class="group-header" style="margin-top: -21px;">Invoiced  Items</h3>

                    </div>
                    <div class="form-group" style="margin-top: -43px;">

                        <div class="col-lg-12">
                            <div class="col-lg-12 clearfix">
                                <header class="main-box-header clearfix">
                                    <div class="filter-block pull-right">
                                        @* <a href="#" class="btn btn-primary pull-right">
                                                <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add New Product
                                            </a>*@
                                    </div>
                                </header>
                                <div class="main-box-body clearfix">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="width:60%;"><a href="#"><span>Detail</span></a></th>
                                                    <th style="width:10%;"><span>Quantity</span></th>
                                                    <th style="text-align: center;"><span>Price</span></th>
                                                    <th style="width:83px;">&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="input-group" style="width:100%;">

                                                            <input type="text" class="form-control" id="datepickerDate">

                                                        </div>
                                                    </td>
                                                    <td>
                                                        4000
                                                    </td>
                                                    <td class="text-center"></td>

                                                    <td class="text-right">

                                                        <a href="#" class="table-link danger">
                                                            <span class="fa-stack">
                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                            </span>
                                                        </a>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>







                                    </div>
                                    <div class="form-group" style="margin-left:-4px;">
                                        <div class="col-lg-2 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer; border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Select estimate date." data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label class="control-label text-right tooltip-float">Comments</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" data-bind="value:comments">

                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-left:-4px;">
                                        <div class="col-lg-2 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer; border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Select estimate date." data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label class="control-label text-right tooltip-float">Foot Notes</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" data-bind="value:footnote">

                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-left:-4px;">
                                        <div class="col-lg-2 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer; border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Source for Estimate." data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label class="control-label text-right tooltip-float">Raised By</label>
                                        </div>
                                        <div class="col-lg-3">
                                            <select class="form-control">
                                                <option>Lucas Eyre</option>
                                                <option>Mark Temp</option>
                                                <option>Smit Jones</option>
                                                <option>Stephen</option>
                                                <option>Gary McCutting</option>
                                            </select>
                                            <span class="help-block text-right"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addAddress() {
        var e = document.getElementById("popoveraddress");
        var p = document.getElementById("addresspullicon");

        if (e.style.display == "none") {
            p.className = "fa fa-chevron-circle-down drop-icon";
            e.style.display = "block";
        }
        else if (e.style.display == "block") {
            p.className = "fa fa-chevron-circle-right drop-icon";
            e.style.display = "none";

        }
    }
</script>
