@model List<MPC.Webstore.Models.CmsSkinPageWidget>
@foreach (var widget in Model)
{
    <div>
        @{ string widgetname = widget.Widget.WidgetName; }
        @{Html.RenderAction("Index", widgetname);}
    </div>
}
