@model List<MPC.Models.DomainModels.CmsSkinPageWidget>

@section metatags
{
    @if (ViewBag.MetaTitle != null)
    {
        <meta name="title" content="@ViewBag.MetaTitle" />
    }
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />

    }
    @if (ViewBag.MetaKeywords != null)
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
}

@foreach (var widget in Model)
{
    if (widget.WidgetId == 14)
    {
        @Html.Raw(widget.CmsSkinPageWidgetParams.FirstOrDefault().ParamValue)
       
    }
    else
    {
        <div>
            @{ string widgetname = widget.Widget.WidgetName; }
            @{Html.RenderAction("Index", widgetname);}
        </div>
    }

}
@*@{Html.RenderAction("Index", "MetroTestimonial");}*@
