@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Companyname.Name</h1>
  
</div>

<div class="row">
    
    @foreach (var widget in ViewBag.widgets)
    {
        <div class="col-md-4">
            


            @{ string widgetname = widget; }
            <h2>@widgetname</h2>
            @{Html.RenderAction("Index", widgetname);}
        </div>
    }
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>