

@{ Layout = null;}

<div id="loginpage" class="white-container-lightgrey-border  rounded_corners">
  
</div>

<script>
   
    @*$(document).ready(function () {
        alert();
            if(@ViewBag.redirectUrl != ""){
                window.close(); window.opener.location.href = @ViewBag.redirectUrl;
             
            }
                 
                  
         });*@
    function callMe(Url)
    {
        alert(Url);
    }
</script>