@{
    ViewBag.Title = "Product Wizard";
}
<button id="open-wizard" class="btn btn-primary pull-right">
   Run Wizard
</button>
<div class="wizard" id="wizard-demo" style="display: none;">
    <h1>Estimating Wizard</h1>
    <div class="wizard-card" data-onvalidated="setServerName" data-cardname="name" style="height: 413px !important;">
        <h3><span>Best Press Recomendation</span></h3>
        <div class="wizard-input-section">
             <div class="col-lg-12 form-horizontal">
                                       <div class="form-group">
                                            <div class="col-lg-5 text-right">
                                                 
                                                <label  class="control-label tooltip-float" style="font-weight:bold;">Please select the press you want to use</label>
                                            
                                            </div>
                                            <div class="col-lg-7">
                                              
                                            </div>
                                        </div>

                                             <div class="form-group" style="margin-bottom:-8px;">
                                            <div class="col-lg-3 text-right">
                                                 
                                            
                                            </div>
                                            <div class="col-lg-9">

                                                  <div class="col-xs-4">
                                                      <span style="margin-left: 50px;font-weight:bold;">Qty 1</span>
                                                      @*<input type="text"  disabled="disabled" class="form-control"  value="200" id="qty1"/>*@
                                                  </div>

                                                  <div class="col-xs-4" >
                                                         <span style="margin-left: 50px;font-weight:bold;">Qty 2</span>
                                                       @*<input type="text"  disabled="disabled" class="form-control" value="250" id="qty2"/>*@

                                                  </div>
                                                 <div class="col-xs-4" >
                                                        <span style="margin-left: 50px;font-weight:bold;">Qty 3</span>
                                                         @*<input type="text" disabled="disabled"  class="form-control" value="500" id="qty3"/>*@

                                                  </div>
            
                                              
                                            </div>
                                        </div>
                                     
                                        <div class="form-group">
                                            <div class="col-lg-3 text-right">
                                                 <div class="bs-example-tooltips tooltip-float-width">
                                               
                                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Quantities" data-original-title="" title="">
                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span></a>
                                                
                                                 </div>
                                  

                              
                                                <label  class="control-label tooltip-float">Quantities</label>
                                            
                                            </div>
                                            <div class="col-lg-9">

                                                  <div class="col-xs-4">

                                                      <input type="text"  disabled="disabled" class="form-control"  value="200" id="qty1"/>
                                                  </div>

                                                  <div class="col-xs-4">
                                                       <input type="text"  disabled="disabled" class="form-control" value="250" id="qty2"/>

                                                  </div>
                                                 <div class="col-xs-4">
                                                         <input type="text" disabled="disabled"  class="form-control" value="500" id="qty3"/>

                                                  </div>
            
                                              
                                            </div>
                                        </div>
                                       
                                         <div class="clearfix">
                                            <div class="table-responsive" style="border:groove;border-width:1px;">
                                                <table class="table-run-wizard table-striped table-hover">
                                                    <thead>
                                                       
                                                        <tr>
                                                          
                                                            <th style="width:30%; text-align:center"><span>Machine Name</span></th>
                                                             <th style="width:25%;"><span>Cost</span></th>
                                                            @*<th style="width:18%" ><span> </span></th>*@
                                                            <th style="width:25%;"><span>Cost</span></th>
                                                             @*<th style="width:21%" ><span> </span></th>*@
                                                             <th style="width:25%;"><span>Cost</span></th>
                                                             @*<th style="width:26%" ><span> </span></th>*@
                                                            <th style="width:55px;">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            
                                                            <td style="width:31%"> 
                                                                @*<div style="width:87px;">*@
                                                                <div class="col-xs-4" style="width: 66%;">
                                                                <label  class="control-label tooltip-float ">GTO 52 4 Color</label>
                                                                
                                                               </div>
                                                            </td>
                                                            <td>
                                                                <div class="col-xs-3 ">
                                                                 
                                                                      <span>$210.20</span>
                                                                   
                                                                </div>
                                                              
                                                            </td>

                                                          
                                                           @* <td >
                                                                 <div class="col-xs-3">
                                                                    <span>0.01</span>
     
                                                                </div>
                                                              
                                                            </td>*@
                                                            <td >
                                                                    <div class="col-xs-3" >
                                                                    
                                                                      <span> $218.30</span>
                                                                   
                                                                </div>
                                                            </td>

                                                                @* <td >
                                                                 <div class="col-xs-3">
                                                                    <span>0.05</span>
     
                                                                </div>
                                                              
                                                            </td>*@
                                                            <td >
                                                                    <div class="col-xs-3">
                                                                    
                                                                      <span> $210.50</span>
                                                                   
                                                                </div>
                                                            </td>

@*                                                            <td >
                                                                    <div class="col-xs-3" >
                                                                    
                                                                      <span>0.71</span>
                                                                   
                                                                </div>
                                                            </td>*@
                                                            <td class="text-right">
                                                                   @*<div style="width: 32px;float: right;">
                                                                    <span>0</span>
                                                                      <span> $0.0</span>
                                                                   
                                                                </div>*@
                                                                @*  <div class="col-xs-3">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                      </div>*@
                                                            </td>
                                                            
                                                        </tr>
                                                      
                                                          <tr>
                                                            
                                                            <td style="width:31%"> 
                                                                @*<div style="width:87px;">*@
                                                                <div class="col-xs-4" style="width: 66%;">
                                                                 <label  class="control-label tooltip-float">Ricoh Copier</label>
                                                                
                                                               </div>
                                                            </td>
                                                            <td>
                                                                <div class="col-xs-3 ">
                                                                 
                                                                      <span>$891.20</span>
                                                                   
                                                                </div>
                                                              
                                                            </td>

                                                          
                                                          @*  <td >
                                                                 <div class="col-xs-3">
                                                                    <span>0.23</span>
     
                                                                </div>
                                                              
                                                            </td>*@
                                                            <td >
                                                                    <div class="col-xs-3" >
                                                                    
                                                                      <span> $345.30</span>
                                                                   
                                                                </div>
                                                            </td>

                                                             @*    <td >
                                                                 <div class="col-xs-3">
                                                                    <span>0.79</span>
     
                                                                </div>
                                                              
                                                            </td>*@
                                                            <td >
                                                                    <div class="col-xs-3" >
                                                                    
                                                                      <span>$789.65</span>
                                                                   
                                                                </div>
                                                            </td>

                                                      @*      <td >
                                                                    <div class="col-xs-3">
                                                                    
                                                                      <span> 0.10</span>
                                                                   
                                                                </div>
                                                            </td>*@
                                                            <td class="text-right">
                                                                  
                                                            </td>
                                                            
                                                        </tr>

                                                           <tr>
                                                            
                                                            <td style="width:31%"> 
                                                                @*<div style="width:87px;">*@
                                                                <div class="col-xs-4" style="width: 66%;">
                                                                 <label  class="control-label tooltip-float">H-Berg 102</label>
                                                                
                                                               </div>
                                                            </td>
                                                            <td>
                                                                <div class="col-xs-3 ">
                                                                 
                                                                      <span>$987.20</span>
                                                                   
                                                                </div>
                                                              
                                                            </td>

                                                          
                                                           @* <td >
                                                                 <div class="col-xs-3">
                                                                    <span>0.67</span>
     
                                                                </div>
                                                              
                                                            </td>*@
                                                            <td >
                                                                    <div class="col-xs-3" >
                                                                    
                                                                      <span> $234.50</span>
                                                                   
                                                                </div>
                                                            </td>

                                                               @*  <td >
                                                                 <div class="col-xs-3">
                                                                    <span>12.11</span>
     
                                                                </div>
                                                              
                                                            </td>*@
                                                            <td >
                                                                    <div class="col-xs-3" >
                                                                    
                                                                      <span> $410.00</span>
                                                                   
                                                                </div>
                                                            </td>

                                                         @*   <td >
                                                                    <div class="col-xs-3">
                                                                    
                                                                      <span> 9.81</span>
                                                                   
                                                                </div>
                                                            </td>*@
                                                            <td class="text-right">
                                                                  
                                                            </td>
                                                            
                                                        </tr>

                                                           <tr>
                                                            
                                                            <td style="width:31%"> 
                                                                @*<div style="width:87px;">*@
                                                                <div class="col-xs-4" style="width: 66%;">
                                                                <label  class="control-label tooltip-float ">Konica C8</label>
                                                                
                                                               </div>
                                                            </td>
                                                            <td>
                                                                <div class="col-xs-3 ">
                                                                 
                                                                      <span>$210.20</span>
                                                                   
                                                                </div>
                                                              
                                                            </td>

                                                          
                                                           @* <td >
                                                                 <div class="col-xs-3">
                                                                    <span>0.01</span>
     
                                                                </div>
                                                              
                                                            </td>*@
                                                            <td >
                                                                    <div class="col-xs-3" >
                                                                    
                                                                      <span> $218.30</span>
                                                                   
                                                                </div>
                                                            </td>

                                                                @* <td >
                                                                 <div class="col-xs-3">
                                                                    <span>0.05</span>
     
                                                                </div>
                                                              
                                                            </td>*@
                                                            <td >
                                                                    <div class="col-xs-3">
                                                                    
                                                                      <span> $210.50</span>
                                                                   
                                                                </div>
                                                            </td>

@*                                                            <td >
                                                                    <div class="col-xs-3" >
                                                                    
                                                                      <span>0.71</span>
                                                                   
                                                                </div>
                                                            </td>*@
                                                            <td class="text-right">
                                                                   @*<div style="width: 32px;float: right;">
                                                                    <span>0</span>
                                                                      <span> $0.0</span>
                                                                   
                                                                </div>*@
                                                                @*  <div class="col-xs-3">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                      </div>*@
                                                            </td>
                                                            
                                                        </tr>
                                                      
                                                          <tr>
                                                            
                                                            <td style="width:31%"> 
                                                                @*<div style="width:87px;">*@
                                                                <div class="col-xs-4" style="width: 66%;">
                                                                 <label  class="control-label tooltip-float">Speed Master SM</label>
                                                                
                                                               </div>
                                                            </td>
                                                            <td>
                                                                <div class="col-xs-3 ">
                                                                 
                                                                      <span>$891.20</span>
                                                                   
                                                                </div>
                                                              
                                                            </td>

                                                          
                                                          @*  <td >
                                                                 <div class="col-xs-3">
                                                                    <span>0.23</span>
     
                                                                </div>
                                                              
                                                            </td>*@
                                                            <td >
                                                                    <div class="col-xs-3" >
                                                                    
                                                                      <span> $345.30</span>
                                                                   
                                                                </div>
                                                            </td>

                                                             @*    <td >
                                                                 <div class="col-xs-3">
                                                                    <span>0.79</span>
     
                                                                </div>
                                                              
                                                            </td>*@
                                                            <td >
                                                                    <div class="col-xs-3" >
                                                                    
                                                                      <span>$789.65</span>
                                                                   
                                                                </div>
                                                            </td>

                                                      @*      <td >
                                                                    <div class="col-xs-3">
                                                                    
                                                                      <span> 0.10</span>
                                                                   
                                                                </div>
                                                            </td>*@
                                                            <td class="text-right">
                                                                  
                                                            </td>
                                                            
                                                        </tr>

                                                           <tr>
                                                            
                                                            <td style="width:31%"> 
                                                                @*<div style="width:87px;">*@
                                                                <div class="col-xs-4" style="width: 66%;">
                                                                 <label  class="control-label tooltip-float">Xerox</label>
                                                                
                                                               </div>
                                                            </td>
                                                            <td>
                                                                <div class="col-xs-3 ">
                                                                 
                                                                      <span>$987.20</span>
                                                                   
                                                                </div>
                                                              
                                                            </td>

                                                          
                                                           @* <td >
                                                                 <div class="col-xs-3">
                                                                    <span>0.67</span>
     
                                                                </div>
                                                              
                                                            </td>*@
                                                            <td >
                                                                    <div class="col-xs-3" >
                                                                    
                                                                      <span> $234.50</span>
                                                                   
                                                                </div>
                                                            </td>

                                                               @*  <td >
                                                                 <div class="col-xs-3">
                                                                    <span>12.11</span>
     
                                                                </div>
                                                              
                                                            </td>*@
                                                            <td >
                                                                    <div class="col-xs-3" >
                                                                    
                                                                      <span> $410.00</span>
                                                                   
                                                                </div>
                                                            </td>

                                                         @*   <td >
                                                                    <div class="col-xs-3">
                                                                    
                                                                      <span> 9.81</span>
                                                                   
                                                                </div>
                                                            </td>*@
                                                            <td class="text-right">
                                                                  
                                                            </td>
                                                            
                                                        </tr>

                                                           <tr>
                                                            
                                                            <td style="width:31%"> 
                                                                @*<div style="width:87px;">*@
                                                                <div class="col-xs-4" style="width: 66%;">
                                                                <label  class="control-label tooltip-float ">Konica</label>
                                                                
                                                               </div>
                                                            </td>
                                                            <td>
                                                                <div class="col-xs-3 ">
                                                                 
                                                                      <span>$210.20</span>
                                                                   
                                                                </div>
                                                              
                                                            </td>

                                                          
                                                           @* <td >
                                                                 <div class="col-xs-3">
                                                                    <span>0.01</span>
     
                                                                </div>
                                                              
                                                            </td>*@
                                                            <td >
                                                                    <div class="col-xs-3" >
                                                                    
                                                                      <span> $218.30</span>
                                                                   
                                                                </div>
                                                            </td>

                                                                @* <td >
                                                                 <div class="col-xs-3">
                                                                    <span>0.05</span>
     
                                                                </div>
                                                              
                                                            </td>*@
                                                            <td >
                                                                    <div class="col-xs-3">
                                                                    
                                                                      <span> $210.50</span>
                                                                   
                                                                </div>
                                                            </td>

@*                                                            <td >
                                                                    <div class="col-xs-3" >
                                                                    
                                                                      <span>0.71</span>
                                                                   
                                                                </div>
                                                            </td>*@
                                                            <td class="text-right">
                                                                   @*<div style="width: 32px;float: right;">
                                                                    <span>0</span>
                                                                      <span> $0.0</span>
                                                                   
                                                                </div>*@
                                                                @*  <div class="col-xs-3">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                      </div>*@
                                                            </td>
                                                            
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>  
                                          
                                  
                                     <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                 
                                                <label  class="control-label tooltip-float" style="font-weight:bold; margin-left:35px;float:left;">H-Berg 102 Press Selected</label>
                                            
                                            </div>
                                            <div class="col-lg-6">
                                              
                                            </div>
                                        </div>                     

                                
              </div>
        </div>

    </div>
    <div class="wizard-card" data-cardname="group" style="height: 413px !important;">
        <h3><span>Section Cost Centers</span></h3>
        <div class="wizard-input-section">
           <div class="col-lg-12 form-horizontal">
                                   <div class="col-xs-4">
                                              <label  class="control-label" style="margin-bottom:10px;">Recomended Cost Centers for this Product</label>

                                   </div>
                                   
                                     <div class="col-xs-4">
                                       
                                                <label  class="control-label">All User Defined Cost Centers</label>
                                   </div>
                                    
                                     <div class="col-xs-4">
                                                       <label  class="control-label ">Applied Cost Center for this Product</label>

                                   </div>                                         

                                              
                                </div>
                                
                                
                                
                                  <div class="col-lg-12 form-horizontal">
                                   <div class="col-xs-4">
                                              

                                   </div>
                                   
                                     <div class="col-xs-4">
                                       
                                                <div class="form-group pull-left" style="margin-left: 0px;width: 100%;">
                                                    <input type="text" class="form-control" style="width: 70%;float: left;" placeholder="Search...">
                                                    <i class="fa fa-search search-icon" style="padding: 9px;"></i>
                                     </div>
                                   </div>
                                    
                                     <div class="col-xs-4">
                                                     

                                   </div>                                         

                                              
                                </div>

                                 <div class="col-lg-12 form-horizontal">
                                   <div class="col-xs-4">
                                         <div class="table-responsive" style="border:groove;border-width:1px;">
                                                <table class="table-run-wizards table-striped table-hover">
                                                    <thead>
                                                       
                                                        <tr>
                                                          
                                                            <th style="width:58%"><span>Cost Center Name</span></th>

                                                            <th style="width:55px;">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            
                                                            <td style="width:100%" > 
                                                                @*<div style="width:87px;">*@
                                                           
                                                               <label  class="control-label font-size-grid-label">GTO 52 4 Color</label>
                                                                
                                                              
                                                            </td>
                                                          
                                                            <td>

                                                                   <div class="checkbox-nice" style="float:right;">
                                                                        <input type="checkbox" id="checkbox-GTO" checked="checked"/>
                                                                        <label for="checkbox-GTO">
                                                                           
                                                                        </label>
                                                                        </div> 
                                                                   @*<div style="width: 32px;float: right;">
                                                                    <span>0</span>
                                                                      <span> $0.0</span>
                                                                   
                                                                </div>*@
                                                                @*  <div class="col-xs-3">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                      </div>*@
                                                            </td>
                                                            
                                                        </tr>
                                                         <tr>
                                                            
                                                            <td style="width:70%" > 
                                                                @*<div style="width:87px;">*@
                                                           
                                                               <label  class="control-label font-size-grid-label">H-Berg 102</label>
                                                                
                                                              
                                                            </td>
                                                          
                                                            <td>

                                                                   <div class="checkbox-nice" style="float:right;">
                                                                        <input type="checkbox" id="checkbox-HBerg"/>
                                                                        <label for="checkbox-HBerg">
                                                                           
                                                                        </label>
                                                                        </div> 
                                                                   @*<div style="width: 32px;float: right;">
                                                                    <span>0</span>
                                                                      <span> $0.0</span>
                                                                   
                                                                </div>*@
                                                                @*  <div class="col-xs-3">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                      </div>*@
                                                            </td>
                                                            
                                                        </tr>

                                                         <tr>
                                                            
                                                            <td style="width:70%" > 
                                                                @*<div style="width:87px;">*@
                                                           
                                                               <label  class="control-label font-size-grid-label">Xerox Documate 12</label>
                                                                
                                                              
                                                            </td>
                                                          
                                                            <td>

                                                                   <div class="checkbox-nice" style="float:right;">
                                                                        <input type="checkbox" id="checkbox-XeroxDocumate"/>
                                                                        <label for="checkbox-XeroxDocumate">
                                                                           
                                                                        </label>
                                                                        </div> 
                                                                   @*<div style="width: 32px;float: right;">
                                                                    <span>0</span>
                                                                      <span> $0.0</span>
                                                                   
                                                                </div>*@
                                                                @*  <div class="col-xs-3">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                      </div>*@
                                                            </td>
                                                            
                                                        </tr>
                                                          <tr>
                                                            
                                                            <td style="width:70%" > 
                                                                @*<div style="width:87px;">*@
                                                           
                                                               <label  class="control-label font-size-grid-label">Collect in Store</label>
                                                                
                                                              
                                                            </td>
                                                          
                                                            <td>

                                                                   <div class="checkbox-nice" style="float:right;">
                                                                        <input type="checkbox" id="checkbox-CollectinStore"/>
                                                                        <label for="checkbox-CollectinStore">
                                                                           
                                                                        </label>
                                                                        </div> 
                                                                   @*<div style="width: 32px;float: right;">
                                                                    <span>0</span>
                                                                      <span> $0.0</span>
                                                                   
                                                                </div>*@
                                                                @*  <div class="col-xs-3">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                      </div>*@
                                                            </td>
                                                            
                                                        </tr>

                                                          <tr>
                                                            
                                                            <td style="width:70%" > 
                                                                @*<div style="width:87px;">*@
                                                           
                                                               <label  class="control-label font-size-grid-label">1hr Studio Time</label>
                                                                
                                                              
                                                            </td>
                                                          
                                                            <td>

                                                                   <div class="checkbox-nice" style="float:right;">
                                                                        <input type="checkbox" id="checkbox-1hr"/>
                                                                        <label for="checkbox-1hr">
                                                                           
                                                                        </label>
                                                                        </div> 
                                                             

                                                            </td>
                                                            
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                   </div>
                                   
                                     <div class="col-xs-4">
                                         <div class="table-responsive" style="border:groove;border-width:1px;">
                                                 <table class="table-run-wizards table-striped table-hover">
                                                    <thead>
                                                       
                                                        <tr>
                                                          
                                                            <th style="width:58%"><span>Cost Center Name</span></th>

                                                            <th style="width:55px;">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            
                                                            <td style="width:100%" > 
                                                                @*<div style="width:87px;">*@
                                                           
                                                               <label  class="control-label font-size-grid-label">Administration</label>
                                                                
                                                              
                                                            </td>
                                                          
                                                            <td>

                                                                   <div class="checkbox-nice" style="float:right;">
                                                                        <input type="checkbox" id="checkbox-admin" />
                                                                        <label for="checkbox-admin">
                                                                           
                                                                        </label>
                                                                        </div> 
                                                               
                                                            </td>
                                                            
                                                        </tr>
                                                         <tr>
                                                            
                                                            <td style="width:100%" > 
                                                                @*<div style="width:87px;">*@
                                                           
                                                               <label  class="control-label font-size-grid-label">CC Name</label>
                                                                
                                                              
                                                            </td>
                                                          
                                                            <td>

                                                                   <div class="checkbox-nice" style="float:right;">
                                                                        <input type="checkbox" id="checkbox-ccName" checked="checked"/>
                                                                        <label for="checkbox-ccName">
                                                                           
                                                                        </label>
                                                                        </div> 
                                                                   @*<div style="width: 32px;float: right;">
                                                                    <span>0</span>
                                                                      <span> $0.0</span>
                                                                   
                                                                </div>*@
                                                                @*  <div class="col-xs-3">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                      </div>*@
                                                            </td>
                                                            
                                                        </tr>

                                                         <tr>
                                                            
                                                            <td style="width:70%" > 
                                                                @*<div style="width:87px;">*@
                                                           
                                                               <label  class="control-label font-size-grid-label">Comb Bind</label>
                                                                
                                                              
                                                            </td>
                                                          
                                                            <td>

                                                                   <div class="checkbox-nice" style="float:right;">
                                                                        <input type="checkbox" id="checkbox-combBind"/>
                                                                        <label for="checkbox-combBind">
                                                                           
                                                                        </label>
                                                                        </div> 
                                                                
                                                            </td>
                                                            
                                                        </tr>
                                                         <tr>
                                                            
                                                            <td style="width:70%" > 
                                                               
                                                           
                                                               <label  class="control-label font-size-grid-label">Die Cutting</label>
                                                                
                                                              
                                                            </td>
                                                          
                                                            <td>

                                                                   <div class="checkbox-nice" style="float:right;">
                                                                        <input type="checkbox" id="checkbox-die" />
                                                                        <label for="checkbox-die">
                                                                           
                                                                        </label>
                                                                        </div> 
                                                               
                                                            </td>
                                                            
                                                        </tr>
                                                         <tr>
                                                            
                                                            <td style="width:70%" > 
                                                            
                                                           
                                                               <label  class="control-label font-size-grid-label">Double Fold</label>
                                                                
                                                              
                                                            </td>
                                                          
                                                            <td>

                                                                   <div class="checkbox-nice" style="float:right;">
                                                                        <input type="checkbox" id="checkbox-DFold" />
                                                                        <label for="checkbox-DFold">
                                                                           
                                                                        </label>
                                                                        </div> 
                                                                
                                                            </td>
                                                            
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                   </div>
                                    
                                     <div class="col-xs-4">
                                          <div class="table-responsive" style="border:groove;border-width:1px; height:232px;">
                                                  <table class="table-run-wizard table-striped table-hover">
                                                    <thead>
                                                       
                                                        <tr>
                                                          
                                                            <th style="width:58%"><span>Cost Center Name</span></th>

                                                            <th style="width:55px;">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            
                                                            <td style="width:100%" > 
                                                                @*<div style="width:87px;">*@
                                                           
                                                               <label  class="control-label font-size-grid-label">CC Name</label>
                                                                
                                                              
                                                            </td>
                                                          
                                                            <td>

                                                                 @*  <div class="checkbox-nice" style="float:right;">
                                                                        <input type="checkbox" id="checkbox-2" checked="checked"/>
                                                                        <label for="checkbox-2">
                                                                           w
                                                                        </label>
                                                                        </div> *@
                                                                   @*<div style="width: 32px;float: right;">
                                                                    <span>0</span>
                                                                      <span> $0.0</span>
                                                                   
                                                                </div>*@
                                                                @*  <div class="col-xs-3">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                      </div>*@
                                                            </td>
                                                            
                                                        </tr>
                                                         <tr>
                                                            
                                                            <td style="width:70%" > 
                                                                @*<div style="width:87px;">*@
                                                           
                                                               <label  class="control-label font-size-grid-label">GTO 52 4 Color</label>
                                                                
                                                              
                                                            </td>
                                                          
                                                            <td>

                                                              @*     <div class="checkbox-nice" style="float:right;">
                                                                        <input type="checkbox" id="checkbox-3" checked="checked"/>
                                                                        <label for="checkbox-3">
                                                                           
                                                                        </label>
                                                                        </div> *@
                                                                   @*<div style="width: 32px;float: right;">
                                                                    <span>0</span>
                                                                      <span> $0.0</span>
                                                                   
                                                                </div>*@
                                                                @*  <div class="col-xs-3">
                                                                <a href="#" class="table-link">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                                      </div>*@
                                                            </td>
                                                            
                                                        </tr>

                                                  
                                                    </tbody>
                                                </table>
                                            </div>

                                   </div>                                         

                                              
                                </div>

        </div>
    </div>
  
    <div class="wizard-error" style="height: 413px !important;">
        <div class="alert alert-error">
            <strong>There was a problem</strong> with your submission.
                                Please correct the errors and re-submit.
        </div>
    </div>
    <div class="wizard-failure" style="height: 413px !important;">
        <div class="alert alert-error">
            <strong>There was a problem</strong> submitting the form.
                            Please try again in a minute.
        </div>
    </div>
    <div class="wizard-success" style="height: 413px !important;">
        <div class="alert alert-success">
            Product was created <strong>successfully.</strong>
        </div>
        <a class="btn btn-primary im-done">Done</a>
    </div>
</div>
@*Product Wizard Popup ends here*@
