#productBinding .activeView {
  background-color: #ff7e47;
  color: white;
}
#productBinding .inactiveView {
  background-color: #ffffff;
  color: black;
}
#productBinding #changeViewSection {
  padding-left: 0;
}
#productBinding #gridZoomSlider {
  width: 100%;
}
#productBinding .filter-block .form-group {
  margin-bottom: 0;
}
#productBinding #stockDialog #stockDialogMainContainer {
  width: 838px;
}
#productBinding #itemAddonCostCentreDialog #itemAddonCostCentreDialogMainContainer {
  width: 838px;
}
