#orderBinding {
  /*#tabsHeader {
        border: 1px solid silver;
        box-shadow: 1px 1px 1px silver;
    }*/
}
#orderBinding .selectedBestPressFromWizard {
  background: yellow !important;
}
#orderBinding #tab-EstimateHeader #orderType {
  font-weight: bold;
  font-size: 15px;
  color: red;
}
#orderBinding #tab-EstimateHeader #orderItemDetailDialog #orderItemDetail {
  width: 1200px;
}
#orderBinding #tab-EstimateHeader #orderSectionDetailDialog #orderSectionDetail {
  width: 1100px;
}
#orderBinding .itemSectionName {
  float: right;
  margin-top: -82%;
  margin-right: -6%;
  width: 86%;
  color: #3c9bf6;
}
#orderBinding .phraseLibrayLink {
  padding: 4px 12px;
}
#OrderDialogSection1 {
  -moz-box-shadow: 0 0 8px #808080;
  -webkit-box-shadow: 0 0 8px #808080;
  box-shadow: 0 0 8px #808080;
}
#OrderDialogSection2 {
  -moz-box-shadow: 0 0 8px #808080;
  -webkit-box-shadow: 0 0 8px #808080;
  box-shadow: 0 0 8px #808080;
  margin-left: 5%;
}
#productFromRetailStoreModalDialog {
  width: 1100px;
}
#AddOnHeading {
  font-weight: bold;
}
#SectionDetailImage {
  text-align: center;
}
#SectionDetailButtons {
  float: right;
}
#stockItemRight {
  float: right;
}
.productDialogEmptyHeight {
  min-height: 350px;
  max-height: 350px;
}
.productDialogNonEmptyHeight {
  min-height: 318px;
  max-height: 318px;
}
