#orderBinding #tab-EstimateHeader #orderType {
  font-weight: bold;
  font-size: 15px;
  color: red;
}
#orderBinding #tab-EstimateHeader #orderItemDetailDialog #orderItemDetail {
  width: 1200px;
}
#orderBinding #tab-EstimateHeader #orderSectionDetailDialog #orderSectionDetail {
  width: 1100px;
}
