#orderBinding 
{
    #tab-EstimateHeader 
    {
        #orderType 
        {
            font-weight: bold;
            font-size: 15px;
            color: red;
        }
    }

    #orderItemDetailDialog
    {
        width: 1200px;
    }
}
