
.store-user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
}

.profileLabelPadding {
    margin-top: 15px;
}

#storesBinding {
    .selectedItemRow {
        background: yellow;
    }

    #itemsForWidgetsDialog {
        .selectedItemRow {
            background: yellow;
        }
    }
}
