#storesBinding {
     .selectedSection, .selectedEmailVariable {
        background: yellow;
    }
    #addStore {
        margin-top: 25px;
    }

    #filter {
        height: 62px !important;
    }

    #topArea {
        margin-bottom: -11px;
    }

    #tabsHeader {
        border: 1px solid silver;
        box-shadow: 1px 1px 1px silver;
    }

    .dynamicNameHeading{
        height:51px;
    }
    #tabsHeaderSecondarypage {
        border: 1px solid silver;
        box-shadow: 1px 1px 1px silver;
        margin-left:5px;
        margin-right:5px;
        margin-top:10px;
    }
   
    #dialgHeaderPadding{
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.store-user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
}

.profileLabelPadding {
    margin-top: 15px;
}

#storesBinding {
    .selectedItemRow {
        background: yellow;
    }

    #itemsForWidgetsDialog {
        .selectedItemRow {
            background: yellow;
        }
    }
}
