
@{
    ViewBag.Title = "Products Filter";
}



<div class="modal fade" id="rave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width:838px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Products Filter</h4>
            </div>
            <div class="col-lg-12 outerDiv-Padding form-horizontal">
                <div class="form-group">
                    <div class="col-lg-3 text-right">
                        <label for="txtCompanyName" class="control-label text-right">Select which product to Prioritize</label>

                    </div>

                    <div class="col-lg-9">
                        <div class="radio">
                            <input type="radio" name="optionsRadios" id="optionYes" value="option1" checked>
                            <label for="optionYes">
                                Select Upto 9 products
                            </label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="optionsRadios" id="optionNo" value="option2">
                            <label for="optionNo">
                                Display randomly from all featured products
                            </label>
                        </div>
                      
                        <span class="help-block text-right"></span>
                    </div>
                </div>

              
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@* Wizard Popup ends here*@