
<div class="modal fade my-modal" id="invoiceDetailDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width: 838px;" class="modal-dialog">
        <div class="modal-content" data-bind="with:$root.selectedInvoiceDetail">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Invoice Detail</h4>

            </div>
            <div class="col-lg-12 form-horizontal outerDiv-Padding">
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        
                        <label for="customer" class="control-label text-right tooltip-float">Title</label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" id="ref" data-bind="value:productName,validationTooltip:productName">
                    </div>
                </div>
                @*<div class="form-group">
        <div class="col-lg-5 text-right">
            <div class="bs-example-tooltips tooltip-float-width">

                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Flag" data-original-title="" title="">
                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                </a>

            </div>
            <label class="control-label text-right tooltip-float">Invoice Flag</label>
        </div>
        <div class="col-lg-5">
            <select style="width: 100% !important;" id="flag" data-bind="select2: { formatResult: $root.formatResult,formatSelection: $root.formatSelection }, value: flagId, foreach: $root.sectionFlags">
                <option style="width: 100% !important;" data-bind="text: FlagName, attr: { 'data-color': FlagColor, value: SectionFlagId }"></option>
            </select>
            <i class="fa fa-sort-desc" style="float: right;padding-right: 9px;position: relative;bottom: 25px;"></i>
            <select class="form-control" id="ddPageCat" data-bind="options: $root.sectionFlags, optionsText: 'FlagName', optionsValue: 'SectionFlagId',value:flagId, validationTooltip: flagId"> </select>
        </div>
    </div>*@
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        
                        <label for="amount" class="control-label text-right tooltip-float">Quantity</label>
                    </div>
                    <div class="col-lg-3">
                        <div>
                            <input type="text" class="form-control  text-right" id="amount" data-bind="value:qty1,validationTooltip:qty1">
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        
                        <label for="amount" class="control-label text-right tooltip-float">Price</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon" data-bind="text:$root.currencySymbol"></span>
                            <input type="text" class="form-control  text-right" id="amount" data-bind="numberValue:$root.calculateGrossTotal">
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        
                        <label for="amount" class="control-label text-right tooltip-float">Tax</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">%</span>
                            <input type="text" class="form-control  text-right" id="amount" data-bind="value:$root.calculateTaxValue,validationTooltip:tax">
                        </div>

                    </div>
                </div>
                @*<div class="form-group">
                        <div class="col-lg-5 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Tax Value" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>

                            </div>
                            <label for="amount" class="control-label text-right tooltip-float">Tax value</label>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <span class="input-group-addon" data-bind="text:$root.currencySymbol"></span>
                                <span class="form-control  text-right" id="amount" data-bind="numberInput:itemTaxValue"></span>
                            </div>

                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        <label for="amount" class="control-label text-right tooltip-float">Gross Total</label>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon" data-bind="text:$root.currencySymbol"></span>
                            <input type="text" class="form-control  text-right" id="amount" data-bind="numberValue:qty1GrossTotal" />
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        
                        <label class="control-label text-right tooltip-float">Description</label>
                    </div>
                    <div class="col-lg-5">
                        <textarea class="form-control" rows="4" data-bind="value:description"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <hr />
                <button type="button" class="btn btn-primary" data-bind="click:$root.onSaveInvoiceDetail, enable: hasChanges, css: { 'btn-warning': hasChanges }">Save</button>
                <button type="button" class="btn btn-default" style="margin-left: 0px;" data-bind="click:$root.closeInvoiceDetailDialog">Close</button>
            </div>
        </div>
    </div>
</div>


@* Wizard Popup ends here*@
