<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear/>
  <!--<add name="DefaultConnection" connectionString="Data Source=MPC-01\SQLEXPRESS;Initial Catalog=MPCLive;Integrated Security=True; user id=mpcmissa;password=p@ssw0rd@mis2o14;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MPC-01\SQLEXPRESS;initial catalog=mpclive;user id=mpcmissa;password=p@ssw0rd@mis2o14;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="Logging" connectionString="Data Source=MPC-01\SQLEXPRESS;Initial Catalog=Logging;Integrated Security=True; user id=mpcmissa;password=p@ssw0rd@mis2o14;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
   <add name="DefaultConnection" connectionString="Data Source=SYEDSAQIBRAZA\MSSQLSERVER2012;Initial Catalog=Mpclive;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SYEDSAQIBRAZA\MSSQLSERVER2012;initial catalog=MPCLive;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Logging" connectionString="Data Source=SYEDSAQIBRAZA\MSSQLSERVER2012;Initial;Initial Catalog=Logging;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  
</connectionStrings>