<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear/>
  <add name="DefaultConnection" connectionString="Data Source=www.myprintcloud.com,9998;Initial Catalog=MPC;user id=mpcmissa;password=p@ssw0rd@mis2o14;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <!--<add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.79.220.0,8999;initial catalog=MPCLive;user id=mpcaussa;password=p@$$w0rd@m!s2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
	<!--<add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www.myprintcloud.com,9998;initial catalog=MPCLive;user id=mpcmissa;password=p@ssw0rd@mis2o14;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
	<add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.22;initial catalog=MPCLive;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  <add name="Logging" connectionString="Data Source=192.168.1.22;Initial Catalog=Logging;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	<add name="ReportConnectiontring" connectionString="Persist Security Info=False;Integrated Security=false;Initial Catalog=MPCLive;server=192.168.1.22; user id=sa; password=p@ssw0rd;" />
	<!--<add name="ReportConnectiontring" connectionString="Persist Security Info=False;Integrated Security=false;Initial Catalog=MPCLive;server=54.79.220.0,8999; user id=mpcaussa; password=p@$$w0rd@m!s2015;" />-->
</connectionStrings>