@{
    ViewBag.Title = "Phrase Library";
}



  <div class="modal fade" id="PhraseModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div style="width:838px;" class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Phrase Book</h4>
                                        </div>
                                          <div class="col-lg-12">
                                 
                                    <div class="col-lg-12 clearfix">
                                            <div class="col-lg-5" style="margin-top:10px;">
                                            @*     <header class="main-box-header clearfix">
                                         
                                            <a href="#" class="btn btn-primary pull-right">
                                                <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Edit Job Title
                                            </a>
                                        </header>*@
                                                  <div style="padding-right: 5px;" id="nestable2">
                                            <ol class="dd-list">
                                                <li class="dd-item dd-item-list" data-id="13">
                                                    <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                    <div class="dd-handle">
                                                       Template Library
                                                        <div class="nested-links">
                                                            <a href="#" class="nested-link" title="Edit Category"></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="dd-item dd-item-list" data-id="14">
                                                    <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                    <div class="dd-handle">
                                                        Job Activity List
                                                            <div class="nested-links">
                                                                <a href="#" class="nested-link" title="Edit Category"></a>
                                                            </div>
                                                    </div>
                                                </li>
                                                <li class="dd-item dd-item-list" data-id="15">
                                                    <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                    <div class="dd-handle">
                                                        Job Production
                                                        <div class="nested-links">
                                                            <a href="#" class="nested-link" title="Edit Category"></a>
                                                        </div>
                                                    </div>
                                                    <ol class="dd-list">
                                                        <li class="dd-item dd-item-list" data-id="16">
                                                            <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                            <div class="dd-handle txt-white-hover">
                                                                Title
                                                                <div class="nested-links">
                                                                    <a href="#" class="nested-link" title="Edit Phrase"><i class="fa fa-pencil"></i></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item dd-item-list" data-id="17">
                                                            <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                            <div class="dd-handle txt-white-hover">
                                                                Material
                                                                <div class="nested-links">
                                                                    <a href="#" class="nested-link" title="Edit Phrase"><i class="fa fa-pencil"></i></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item dd-item-list" data-id="18">
                                                            <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                            <div class="dd-handle txt-white-hover">
                                                                Job Organization
                                                                <div class="nested-links">
                                                                    <a href="#" class="nested-link" title="Edit Phrase"><i class="fa fa-pencil"></i></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item dd-item-list" data-id="18">
                                                            <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                            <div class="dd-handle txt-white-hover">
                                                                Size
                                                                <div class="nested-links">
                                                                    <a href="#" class="nested-link" title="Edit Phrase"><i class="fa fa-pencil"></i></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                         <li class="dd-item dd-item-list" data-id="18">
                                                            <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                            <div class="dd-handle txt-white-hover">
                                                                Job Colours
                                                                <div class="nested-links">
                                                                    <a href="#" class="nested-link" title="Edit Phrase"><i class="fa fa-pencil"></i></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                         <li class="dd-item dd-item-list" data-id="18">
                                                            <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                            <div class="dd-handle txt-white-hover">
                                                                Delivery 
                                                                <div class="nested-links">
                                                                    <a href="#" class="nested-link" title="Edit Phrase"><i class="fa fa-pencil"></i></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item dd-item-list" data-id="18">
                                                            <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                            <div class="dd-handle txt-white-hover">
                                                                Finishing 
                                                                <div class="nested-links">
                                                                    <a href="#" class="nested-link" title="Edit Phrase"><i class="fa fa-pencil"></i></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                              <li class="dd-item dd-item-list" data-id="18">
                                                            <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                            <div class="dd-handle txt-white-hover">
                                                                News Work Instruction
                                                                <div class="nested-links">
                                                                    <a href="#" class="nested-link" title="Edit Phrase"><i class="fa fa-pencil"></i></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </li>
                                                <li class="dd-item dd-item-list" data-id="19">
                                                    <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                    <div class="dd-handle">
                                                      Purchases
                                                        <div class="nested-links">
                                                            <a href="#" class="nested-link" title="Edit Category"></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="dd-item dd-item-list" data-id="20">
                                                    <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                    <div class="dd-handle">
                                                       Delivery
                                                            <div class="nested-links">
                                                                <a href="#" class="nested-link" title="Edit Category"></a>
                                                            </div>
                                                    </div>
                                                </li>
                                              @*  <li class="dd-item dd-item-list" data-id="21">
                                                    <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                    <div class="dd-handle">
                                                        Invoices
                                                        <div class="nested-links">
                                                            <a href="#" class="nested-link" title="Edit Category"><i class="fa fa-pencil"></i></a>
                                                        </div>
                                                    </div>
                                                  
                                                </li>
                                                <li class="dd-item dd-item-list" data-id="24">
                                                    <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                                    <div class="dd-handle">
                                                        Customers
                                                        <div class="nested-links">
                                                            <a href="#" class="nested-link" title="Edit Category"><i class="fa fa-pencil"></i></a>
                                                        </div>
                                                    </div>
                                                </li>*@
                                            </ol>
                                        </div>

                                            </div>
                                         <div class="col-lg-7">
                                                <div class="table-responsive">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th><a href="#"><span>Phrase</span></a></th>
                                                           
                                                            <th>&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td> <input type="text" class="form-control" id="txtProductName" placeholder="Enter Phrase Name" value ="Title Description">
                                                            </td>
                                                           
                                                            <td class="text-right">
                                                              
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="text" class="form-control" id="txtProductName" placeholder="Enter Phrase Name" value ="Double-sided A4 Executive Laminated">
                                                            </td>
                                                           
                                                            <td class="text-right">
                                                              
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                           <tr>
                                                            <td><input type="text" class="form-control" id="txtProductName" placeholder="Enter Phrase Name" value ="Double-sided A4">
                                                            </td>
                                                           
                                                            <td class="text-right">
                                                              
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                         <tr>
                                                            <td><input type="text" class="form-control" id="txtProductName" placeholder="Enter Phrase Name" value ="Matt Business Card Description">
                                                            </td>
                                                           
                                                            <td class="text-right">
                                                              
                                                                <a href="#" class="table-link danger">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            </div>
                                    </div>
                                </div>
                                    
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
                                                    </div>
                                    </div>
                                </div>
                            </div>


@* Wizard Popup ends here*@