@using System.Web.UI.WebControls
@{
    ViewBag.Title = "MPC MIS 2015 Dashboard";
}
@section leftmenue {
   
}

<style>
    body
    {
        overflow:hidden;
        height:100%;
    }
    .highlight-div
    {
        height:50px;
        background-color:white;
        position:absolute;
        top:-32%;
        left:98px;
        -webkit-filter: blur(8px);
        visibility:hidden;
        opacity:0.2;
       

    }
    .help-header-title
    {
        font-family:Ebrima;
        margin:0px;
        font-size:26px;
    }
    a
    {
        cursor:pointer;
    }
    .account-anchors a:hover,.help-details a:hover
    {
         background-color:#FFC0BA !important;
         text-decoration:none !important;
    }
    .account-anchors
    {
        display:none;
    }
    .account-anchors a ,.help-details a 
    {
        display:block;
    }
    .span-dashboard-widgets 
    {
        font-size:13px;
    }
    .inner-box
    {
      padding-left:10px;
      padding-right:0px;
    }
    .inner-box-margin
    {
        font-size:1em !important;
    }
    
</style>




        
@if (ViewBag.Istrial == true)
{
    <div class="trial-description" id="trial-description">
        <table style="height: 70px; width: 320px;">
            <tr>
                <td style="padding-left: 10px;width: 150px;text-align:center;">
                    <span style="color: red; font-weight: bold;">@ViewBag.TrialCount Days</span>&nbsp;<span style="color: gray;">left in your trial</span>
                    <span style="color: gray; font-size: 12px;">Questions ?</span>&nbsp;<a href="mailto:support@myprintcloud.com"> <span style="color: blue; font-size: 12px;">Email Us!</span></a>
                </td>
                <td style="width: 120px; text-align: right; padding-right: 10px;">
                   <a href="https://myprintcloud.com/dashboard" class="btn" style="background-color:#608C36;border-color:#3F651B;color:white;"><i class="fa fa-plus-circle"></i>&nbsp;Upgrade  Now</a>
                </td>
            </tr>
        </table>
    </div>
}

<div class="myprintcloud-help" id="myprintcloud-help" style="display:none;">
   
    <div class="highlight-div"></div>
    <div class="left-arrow"></div>
    <div class="right-arrow"></div>
    <div class="top-arrow"></div>
    <div class="bottom-arrow"></div>
    <div>
    </div>
    
    <div class="help-divs">
        <h2 class="help-header-title">Manage your PRINTCloud</h2>
    </div>
    <div class="help-description">
        <div>
            <span class="help-header-description" style="font-size:12px;">This is your dashboard, lets go on a quick tour to familiarize yourself with MyPRINTCloud.  </span>
        </div>
        <div>
            <span class="help-details" style="font-size:12px;">Once you have had a look around join a webinar or start with the self help guides to get started.</span>
            <div class="account-anchors" style="font-size:12px;"><br /><a style="font-weight:bold;">View your live store</a><a style="font-weight:bold;">Configure your store theme</a><a style="font-weight:bold;">Add products to your store</a><a style="font-weight:bold;">Setup your company details</a><a style="font-weight:bold;" href="https://myprintcloud.com/dashboard">Upgrade your subscription</a></div>
        </div>
    </div>
    <div class="help-description" style="border:none !important;background-color:#F5F6F6; padding-bottom:44px;">
       
        <div class="input-group" style="width:100%;display:inline;">
            <button class="btn  btn-info btn-primary" style="float:right;margin-bottom: 10px;margin-right:10px;" id="btnNextHelp">Next</button>
        </div>
        <div class="input-group" style="width:100%;display:inline;">
            <button style="float: right;margin-bottom: 10px;margin-right:15px;margin-top:7px; background-color:transparent;border:none;" id="btnCloseHelp">Close</button>
        </div>
        <div class="input-group" style="width:100%;display:inline;">
            <button class="btn  btn-info btn-primary" style="float:left;margin-bottom:10px;margin-left:10px;" id="btnPreviousHelp">Previous</button>
        </div>
    </div>

</div>

<div class="disabled-div" style="display:none">
</div>
<div>
    <div class="row" id="dashboardBindingRoot" style="z-index:0;">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active"><span>Dashboard</span></li>
                    </ol>
                    <h1>Dashboard</h1>
                </div>
            </div>
            <div class="row">

@if (ViewBag.Istrial == true)
{ 
               <div class="col-lg-2">
                    <a href="#" style="text-decoration:none">
                        <div class="main-box infographic-box inner-box">
                            <i class="fa fa-user emerald-bg" style="margin-right:4px;"></i>
                            <span class="span-dashboard-widgets">Attend Webinar</span>
                            <span class="value inner-box-margin">&nbsp;</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" style="text-decoration:none">
                        <div class="main-box infographic-box inner-box">
                            <i class="fa fa-adjust emerald-bg"></i>
                            <span class="span-dashboard-widgets">Tutorials</span>
                            <span class="value inner-box-margin">&nbsp;</span>
                        </div>
                    </a>
                </div>
}

    
                <div class="col-lg-2">
                    <a href="#" style="text-decoration:none">
                        <div class="main-box infographic-box inner-box">
                            <i class="fa  fa-anchor emerald-bg" style="margin-right:4px;"></i>
                            <span class="span-dashboard-widgets">Create Quote</span>
                            <span class="value inner-box-margin">&nbsp;</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" style="text-decoration:none">
                        <div class="main-box infographic-box inner-box">
                            <i class="fa fa-archive emerald-bg" style="margin-right:4px;"></i>
                            <span class="span-dashboard-widgets">Create Store</span>
                            <span class="value inner-box-margin">&nbsp;</span>
                        </div>
                        <div class="web2print-positioner" style="position:fixed;">
                        </div>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" style="text-decoration:none">
                        <div class="main-box infographic-box inner-box">
                            <i class="fa fa-cube emerald-bg" style="margin-right:4px;"></i>
                            <span class="span-dashboard-widgets">Create Product</span>
                            <span class="value inner-box-margin">&nbsp;</span>
                        </div>
                        <div class="product-positioner" style="position:fixed;">
                        </div>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" style="text-decoration:none">
                        <div class="main-box infographic-box inner-box">
                            <i class="fa fa-drupal emerald-bg" style="margin-right:4px;"></i>
                            <span class="span-dashboard-widgets">Create Template</span>
                            <span class="value inner-box-margin">&nbsp;</span>
                        </div>
                    </a>
                </div>
                



                

                <div class="row">
                    <div class="col-md-9 col-lg-10">
                        <div class="main-box">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="graph-box emerald-bg">
                                        <h2>Sales &amp; Earnings</h2>
                                        <div class="graph" id="graph-line" style="max-height: 335px;"></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row graph-nice-legend">
                                        <div class="graph-legend-row col-md-12 col-sm-4">
                                            <div class="graph-legend-row-inner">
                                                <span class="graph-legend-name">
                                                    Earnings
                                                </span>
                                                <span class="graph-legend-value" data-bind="text: $root.totalEarning">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="graph-legend-row col-md-12 col-sm-4">
                                            <div class="graph-legend-row-inner">
                                                <span class="graph-legend-name">
                                                    Orders this Month
                                                </span>
                                                <span class="graph-legend-value" data-bind="text: $root.currentMonthOrdersCount">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="graph-legend-row col-md-12 col-sm-4">
                                            <div class="graph-legend-row-inner">
                                                <span class="graph-legend-name">
                                                    Live Stores
                                                </span>
                                                <span class="graph-legend-value" data-bind="text: $root.liveStoresCount">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-2">
                        <div class="social-box-wrapper">
                            <div class="social-box col-md-12 col-sm-4 facebook">
                                <i class="fa fa-dashboard"></i>
                                <div class="clearfix">
                                    <span class="social-count" data-bind="text:$root.pendingOrdersCount"></span>
                                    <span class="social-action">Pending Orders</span>
                                </div>
                                @*<span class="social-name">facebook</span>*@
                            </div>
                            <div class="social-box col-md-12 col-sm-4 twitter">
                                <i class="fa fa-calendar"></i>
                                <div class="clearfix">
                                    <span class="social-count" data-bind="text:$root.inProductionOrdersCount"></span>
                                    <span class="social-action">In Production</span>
                                </div>
                                @*<span class="social-name">twitter</span>*@
                            </div>
                            <div class="social-box col-md-12 col-sm-4 google">
                                <i class="fa fa-file-text-o"></i>
                                <div class="clearfix">
                                    <span class="social-count" data-bind="text:$root.completedOrdersCount"></span>
                                    <span class="social-action">Completed</span>
                                </div>
                                @* <span class="social-name">google+</span>*@
                            </div>
                            <div class="social-box col-md-12 col-sm-4 estimates">
                                <i class="fa fa-tasks"></i>
                                <div class="clearfix">
                                    <span class="social-count" data-bind="text:$root.canceledOrdersCount"></span>
                                    <span class="social-action">Unconfirmed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-box clearfix">
                            <header class="main-box-header clearfix">
                                <h2 class="pull-left">Last orders</h2>
                                <div class="filter-block pull-right">
                                    <div class="form-group pull-left">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <i class="fa fa-search search-icon"></i>
                                    </div>
                                    <a href="#" class="btn btn-primary pull-right">
                                        <i class="fa fa-eye fa-lg"></i>View all orders
                                    </a>
                                </div>
                            </header>
                            <div class="main-box-body clearfix">
                                <div class="table-responsive clearfix">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th><a href="#"><span>Order ID</span></a></th>
                                                <th><a href="#" class="desc"><span>Date</span></a></th>
                                                <th><a href="#" class="asc"><span>Customer</span></a></th>
                                                <th class="text-center"><span>Status</span></th>
                                                <th class="text-right"><span>Price</span></th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="#">#8002</a>
                                                </td>
                                                <td>
                                                    2013/08/08
                                                </td>
                                                <td>
                                                    <a href="#">Robert De Niro</a>
                                                </td>
                                                <td class="text-center">
                                                    <span class="label label-success">Completed</span>
                                                </td>
                                                <td class="text-right">
                                                    &dollar; 825.50
                                                </td>
                                                <td class="text-center" style="width: 15%;">
                                                    <a href="#" class="table-link">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#">#5832</a>
                                                </td>
                                                <td>
                                                    2013/08/08
                                                </td>
                                                <td>
                                                    <a href="#">John Wayne</a>
                                                </td>
                                                <td class="text-center">
                                                    <span class="label label-warning">On hold</span>
                                                </td>
                                                <td class="text-right">
                                                    &dollar; 923.93
                                                </td>
                                                <td class="text-center" style="width: 15%;">
                                                    <a href="#" class="table-link">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#">#2547</a>
                                                </td>
                                                <td>
                                                    2013/08/08
                                                </td>
                                                <td>
                                                    <a href="#">Anthony Hopkins</a>
                                                </td>
                                                <td class="text-center">
                                                    <span class="label label-info">Pending</span>
                                                </td>
                                                <td class="text-right">
                                                    &dollar; 1.625.50
                                                </td>
                                                <td class="text-center" style="width: 15%;">
                                                    <a href="#" class="table-link">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#">#9274</a>
                                                </td>
                                                <td>
                                                    2013/08/08
                                                </td>
                                                <td>
                                                    <a href="#">Charles Chaplin</a>
                                                </td>
                                                <td class="text-center">
                                                    <span class="label label-danger">Cancelled</span>
                                                </td>
                                                <td class="text-right">
                                                    &dollar; 35.34
                                                </td>
                                                <td class="text-center" style="width: 15%;">
                                                    <a href="#" class="table-link">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#">#8463</a>
                                                </td>
                                                <td>
                                                    2013/08/08
                                                </td>
                                                <td>
                                                    <a href="#">Gary Cooper</a>
                                                </td>
                                                <td class="text-center">
                                                    <span class="label label-success">Completed</span>
                                                </td>
                                                <td class="text-right">
                                                    &dollar; 34.199.99
                                                </td>
                                                <td class="text-center" style="width: 15%;">
                                                    <a href="#" class="table-link">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-6">
                        <div class="main-box clearfix">
                           <div class="main-box-body clearfix">
                               
                                   <div id="calendar"></div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="main-box clearfix">
                            <div class="tabs-wrapper tabs-no-header">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab-users" data-toggle="tab">Users</a></li>
                                    <li><a href="#tab-todo" data-toggle="tab">Todo</a></li>
                                </ul>
                                <div class="tab-content tab-content-body clearfix">
                                    <div class="tab-pane fade in active" id="tab-users">
                                        <ul class="widget-users row">
                                            <li class="col-md-6">
                                                <div class="img">
                                                    <img src="~/Content/themes/Centaurus/img/samples/scarlet.png" alt="" />
                                                </div>
                                                <div class="details">
                                                    <div class="name">
                                                        <a href="#">Scarlett Johansson</a>
                                                    </div>
                                                    <div class="time">
                                                        <i class="fa fa-clock-o"></i>Last online: 5 minutes ago
                                                    </div>
                                                    <div class="type">
                                                        <span class="label label-danger">Admin</span>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            
                                            <li class="col-md-6">
                                                <div class="img">
                                                    <img src="~/Content/themes/Centaurus/img/samples/robert.png" alt="" />
                                                </div>
                                                <div class="details">
                                                    <div class="name">
                                                        <a href="#">Robert Downey Jr.</a>
                                                    </div>
                                                    <div class="time">
                                                        <i class="fa fa-clock-o"></i>Last online: Thursday
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-md-6">
                                                <div class="img">
                                                    <img src="~/Content/themes/Centaurus/img/samples/emma.png" alt="" />
                                                </div>
                                                <div class="details">
                                                    <div class="name">
                                                        <a href="#">Emma Watson</a>
                                                    </div>
                                                    <div class="time">
                                                        <i class="fa fa-clock-o"></i>Last online: 1 week ago
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-md-6">
                                                <div class="img">
                                                    <img src="~/Content/themes/Centaurus/img/samples/george.png" alt="" />
                                                </div>
                                                <div class="details">
                                                    <div class="name">
                                                        <a href="#">George Clooney</a>
                                                    </div>
                                                    <div class="time">
                                                        <i class="fa fa-clock-o"></i>Last online: 1 month ago
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-md-6">
                                                <div class="img">
                                                    <img src="~/Content/themes/Centaurus/img/samples/kunis.png" alt="" />
                                                </div>
                                                <div class="details">
                                                    <div class="name">
                                                        <a href="#">Mila Kunis</a>
                                                    </div>
                                                    <div class="time online">
                                                        <i class="fa fa-check-circle"></i>Online
                                                    </div>
                                                    <div class="type">
                                                        <span class="label label-warning">Pending</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-md-6">
                                                <div class="img">
                                                    <img src="~/Content/themes/Centaurus/img/samples/ryan.png" alt="" />
                                                </div>
                                                <div class="details">
                                                    <div class="name">
                                                        <a href="#">Ryan Gossling</a>
                                                    </div>
                                                    <div class="time online">
                                                        <i class="fa fa-check-circle"></i>Online
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <br />
                                        <a href="#" class="btn btn-success pull-right">View all users</a>
                                    </div>
                                    <div class="tab-pane fade" id="tab-products">
                                        <ul class="widget-products">
                                            <li>
                                                <a href="#">
                                                    <span class="img">
                                                        <img src="~/Content/themes/Centaurus/img/samples/ipad.png" alt="" />
                                                    </span>
                                                    <span class="product clearfix">
                                                        <span class="name">
                                                            iPad mini 32GB WiFi Black&Slate
                                                        </span>
                                                        <span class="price">
                                                            <i class="fa fa-money"></i>&dollar;320,00
                                                        </span>
                                                        <span class="warranty">
                                                            <i class="fa fa-certificate"></i>Warranty: 2 years
                                                        </span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="img">
                                                        <img src="~/Content/themes/Centaurus/img/samples/ipad.png" alt="" />
                                                    </span>
                                                    <span class="product clearfix">
                                                        <span class="name">
                                                            iPad mini 16GB WiFi Black&Slate
                                                        </span>
                                                        <span class="price">
                                                            <i class="fa fa-money"></i>&dollar;273,68
                                                        </span>
                                                        <span class="warranty">
                                                            <i class="fa fa-certificate"></i>Warranty: 2 years
                                                        </span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="img">
                                                        <img src="~/Content/themes/Centaurus/img/samples/ipad.png" alt="" />
                                                    </span>
                                                    <span class="product clearfix">
                                                        <span class="name">
                                                            iPad mini 32GB WiFi Cellular Black&Slate
                                                        </span>
                                                        <span class="price">
                                                            <i class="fa fa-money"></i>&dollar;447,29
                                                        </span>
                                                        <span class="warranty">
                                                            <i class="fa fa-certificate"></i>Warranty: 4 years
                                                        </span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="img">
                                                        <img src="~/Content/themes/Centaurus/img/samples/ipad.png" alt="" />
                                                    </span>
                                                    <span class="product clearfix">
                                                        <span class="name">
                                                            iPad mini 32GB WiFi Cellular Black&Slate
                                                        </span>
                                                        <span class="price">
                                                            <i class="fa fa-money"></i>&dollar;447,29
                                                        </span>
                                                        <span class="warranty">
                                                            <i class="fa fa-certificate"></i>Warranty: 4 years
                                                        </span>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                        <br />
                                        <a href="#" class="btn btn-success pull-right">View all users</a>
                                    </div>
                                    <div class="tab-pane fade" id="tab-todo">
                                        <ul class="widget-todo">
                                            <li class="clearfix">
                                                <div class="name">
                                                    <div class="checkbox-nice">
                                                        <input type="checkbox" id="todo-1" />
                                                        <label for="todo-1">
                                                            New products introduction <span class="label label-danger">High Priority</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="name">
                                                    <div class="checkbox-nice">
                                                        <input type="checkbox" id="todo-2" />
                                                        <label for="todo-2">
                                                            Checking the stock <span class="label label-success">Low Priority</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    <a href="#" class="table-link">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a href="#" class="table-link danger">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="name">
                                                    <div class="checkbox-nice">
                                                        <input type="checkbox" id="todo-3" checked="checked" />
                                                        <label for="todo-3">
                                                            Buying coffee <span class="label label-warning">Medium Priority</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    <a href="#" class="table-link">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a href="#" class="table-link danger">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="name">
                                                    <div class="checkbox-nice">
                                                        <input type="checkbox" id="todo-4" />
                                                        <label for="todo-4">
                                                            New marketing campaign <span class="label label-success">Low Priority</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="name">
                                                    <div class="checkbox-nice">
                                                        <input type="checkbox" id="todo-5" />
                                                        <label for="todo-5">
                                                            Calling Mom <span class="label label-warning">Medium Priority</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    <a href="#" class="table-link badge">
                                                        <i class="fa fa-cog"></i>
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="name">
                                                    <div class="checkbox-nice">
                                                        <input type="checkbox" id="todo-6" />
                                                        <label for="todo-6">
                                                            Ryan's birthday <span class="label label-danger">High Priority</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="name">
                                                    <div class="checkbox-nice">
                                                        <input type="checkbox" id="todo-7" />
                                                        <label for="todo-7">
                                                            Printing new flyer <span class="label label-success">Low Priority</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="name">
                                                    <div class="checkbox-nice">
                                                        <input type="checkbox" id="todo-8" />
                                                        <label for="todo-8">
                                                            Mila and Ryan wedding <span class="label label-danger">High Priority</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="name">
                                                    <div class="checkbox-nice">
                                                        <input type="checkbox" id="todo-9" />
                                                        <label for="todo-9">
                                                            Checking the stock <span class="label label-success">Low Priority</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

@section Scripts {
@*<script src="~/Scripts/Script/jquery.foggy.js"></script>
<script src="~/Scripts/Script/jquery.foggy.min.js"></script>*@
    <script>
        $(document).ready(function () {

            /* initialize the external events
            -----------------------------------------------------------------*/
            $('#lidashboard').addClass('active');
            $('#external-events div.external-event').each(function () {

                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end
                var eventObject = {
                    title: $.trim($(this).text()) // use the element's text as the event title
                };

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject);

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });


            /* initialize the calendar
            -----------------------------------------------------------------*/

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            var calendar = $('#calendar').fullCalendar({
                header: {
                    left: '',
                    center: 'title',
                    right: 'prev,next'
                },
                selectable: true,
                selectHelper: true,
                select: function (start, end, allDay) {
                    var title = prompt('Event Title:');
                    if (title) {
                        calendar.fullCalendar('renderEvent',
                            {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay
                            },
                            true // make the event "stick"
                        );
                    }
                    calendar.fullCalendar('unselect');
                },
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (date, allDay) { // this function is called when something is dropped

                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject');

                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject);

                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    copiedEventObject.allDay = allDay;

                    // copy label class from the event object
                    var labelClass = $(this).data('eventclass');

                    if (labelClass) {
                        copiedEventObject.className = labelClass;
                    }

                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }

                },
                buttonText: {
                    prev: '<i class="fa fa-chevron-left"></i>',
                    next: '<i class="fa fa-chevron-right"></i>'
                },
                events: [
                    {
                        title: 'All Day Event',
                        start: new Date(y, m, 1),
                        className: 'label-success'
                    },
                    {
                        title: 'Long Event',
                        start: new Date(y, m, d - 5),
                        end: new Date(y, m, d - 2)
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d - 3, 16, 0),
                        allDay: false,
                        className: 'label-danger'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d + 4, 16, 0),
                        allDay: false
                    },
                    {
                        title: 'Meeting',
                        start: new Date(y, m, d, 10, 30),
                        allDay: false,
                        className: 'label-info'
                    },
                    {
                        title: 'Lunch',
                        start: new Date(y, m, d, 12, 0),
                        end: new Date(y, m, d, 14, 0),
                        allDay: false,
                        className: 'label-success'
                    },
                    {
                        title: 'Birthday Party',
                        start: new Date(y, m, d + 1, 19, 0),
                        end: new Date(y, m, d + 1, 22, 30),
                        allDay: false,
                        className: 'label-info'
                    },
                    {
                        title: 'Click for Google',
                        start: new Date(y, m, 28),
                        end: new Date(y, m, 29),
                        url: 'http://google.com/',
                        className: 'label-danger'
                    }
                ]
            });

            $('.conversation-inner').slimScroll({
                height: '332px',
                alwaysVisible: false,
                railVisible: true,
                wheelStep: 5,
                allowPageScroll: false
            });

            //CHARTS
            graphLine = Morris.Line({
                element: 'graph-line',
                data: [
                    { period: '2014-01-01', iphone: 2666, ipad: null, itouch: 2647 },
                    { period: '2014-01-02', iphone: 9778, ipad: 2294, itouch: 2441 },
                    { period: '2014-01-03', iphone: 4912, ipad: 1969, itouch: 2501 },
                    { period: '2014-01-04', iphone: 3767, ipad: 3597, itouch: 5689 },
                    { period: '2014-01-05', iphone: 6810, ipad: 1914, itouch: 2293 },
                    { period: '2014-01-06', iphone: 5670, ipad: 4293, itouch: 1881 },
                    { period: '2014-01-07', iphone: 4820, ipad: 3795, itouch: 1588 },
                    { period: '2014-01-08', iphone: 15073, ipad: 5967, itouch: 5175 },
                    { period: '2014-01-09', iphone: 10687, ipad: 4460, itouch: 2028 },
                    { period: '2014-01-10', iphone: 8432, ipad: 5713, itouch: 1791 }
                ],
                lineColors: ['#ffffff'],
                xkey: 'period',
                ykeys: ['iphone'],
                labels: ['iPhone'],
                pointSize: 3,
                hideHover: 'auto',
                gridTextColor: '#ffffff',
                gridLineColor: 'rgba(255, 255, 255, 0.3)',
                resize: true
            });

            //WORLD MAP
            $('#world-map').vectorMap({
                map: 'world_merc_en',
                backgroundColor: '#ffffff',
                zoomOnScroll: false,
                regionStyle: {
                    initial: {
                        fill: '#e1e1e1',
                        stroke: 'none',
                        "stroke-width": 0,
                        "stroke-opacity": 1
                    },
                    hover: {
                        "fill-opacity": 0.8
                    },
                    selected: {
                        fill: '#8dc859'
                    },
                    selectedHover: {
                    }
                },
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#6fc4fe', '#2980b9'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                onRegionLabelShow: function (e, el, code) {
                    el.html(el.html() + ' (' + gdpData[code] + ')');
                }
            });
        });
    </script>
    <script>
    
   
       
        function openTourInit()
        {

            var tourcookie = readCookie("tourviewed");
            //
            if (tourcookie != "1") {
                createCookie("tourviewed", "1", 10);

                $("#myprintcloud-help").css("top", "-250");
                $("#myprintcloud-help").css("display", "block");
                $(".disabled-div").css("display", "block");
                $("#myprintcloud-help").animate({ "top": "370" }, 500, 'linear');


                $(window).resize(function () {


                    document.getElementById("myprintcloud-help").style.left = "41%";

                });
            } else 
            { 
                $('body').css('overflow', 'visible');
            }
        }


        $("#btnCloseHelp").click(function () 
        {
           

            $("#myprintcloud-help").hide();
            $(".disabled-div").css("display","none");

            $('body').css('overflow', 'visible');
          

        });

        

  
 
    function createCookie(name, value, days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            var expires = "; expires=" + date.toGMTString();
        }
        else var expires = "";
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function eraseCookie(name) {
        createCookie(name, "", -1);
    }
  

        $(document).ready(function ()
        {
           
          
            var i = 0;
            var proceeding =
            [
                "Manage your PRINTCloud",
                "Add More Products",
                "Add more Stores",
                "Estimates & Job Cards",
                "System Settings",
                "Your Account Area",
                "You've got the Basics..."
            ];
            var proceddingheadertext =
            [
                "This is your dashboard, lets go on a quick tour to familiarize yourself with MyPRINTCloud.  ",
                "Easily add print and inventory products to the product library, products can be used across retail & private web stores and estimates.",
                "With MyPRINTCloud you can create many retail and private stores to attract new business.  To upgrade to unlimited stores, simply upgrade your subscription.",
                "Create accurate estimates for digital, offset, labels and large format.  To configure your estimating module, go to MIS -> Settings.",
                "Configure your MyPRINTCloud by localizing your regional settings, company information, configure press calculations and cost centres.",
                "From Here you can access",
                "What would you like to do next?"
            ]
            var proceddingdetails =
            [
                "Once you have had a look around join a webinar or start with the self help guides to get started.",
                "",
                "",
                "",
                "",
                '<br /><a href=http://blog.myprintcloud.com/tutorials-quickstart/ target="_blank" style="font-weight:bold;">Self Paced Tutorials</a><a href="https://attendee.gotowebinar.com/rt/3456325062173650689" target="_blank" style="font-weight:bold;">Join in on our Webinars</a><a href="http://www.youtube.com/user/myprintcloud" target="_blank" style="font-weight:bold;">Watch How to Video’s</a><a href="http://support.myprintcloud.com" target="_blank" style="font-weight:bold;">Contact Support Desk</a><a href="https://myprintcloud.com/dashboard" target="_blank" style="font-weight:bold;">Upgrade to Paid Subscription</a>',
                ""
            ]

            var lastTop = []; var lastLeft = [];

            $("#btnPreviousHelp").hide();
            $("#btnCloseHelp").show();

            $("#btnNextHelp").click(function ()
            {

                i = i + 1;

                var positiontop = 0;
                var positionleft = 0;
                var dashp;
                 
                var top = 0;
                var left = 0;
                var addtiontop = 0;
                var additionleft = 0;

                var dashh = $("#myprintcloud-help");
                var positiontophelp = dashh.position().top;
                var positionlefthelp = dashh.position().left;
                lastLeft.push(positionlefthelp);
                lastTop.push(positiontophelp);
             

                if (i == 1)
                {
                    dashp = $(".product-positioner");
                    positiontop = dashp.position().top;
                    positionleft = dashp.position().left;
                  
                    top = parseInt(positiontop) - parseInt(positiontophelp);
                    left = parseInt(positionleft) - parseInt(positionlefthelp);

                    top = top + 30;
                    left = left - 70;
                   
                    $("#myprintcloud-help").animate({ "top": "+="  + top, "left": "+="+left }, 500);
                    $(".highlight-div").css("visibility","visible");
                    $(".highlight-div").css("width", "160px");
                    $(".highlight-div").css("height","80px");
                    $(".highlight-div").css("left", "68px");
                    $(".highlight-div").css("top", "-122px");
                 

                    $(".help-header-title").html(proceeding[1]);
                    $(".help-header-description").html(proceddingheadertext[1]);
                    $(".help-details").html(proceddingdetails[1]);


                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".right-arrow").hide();

                    $("#btnPreviousHelp").show();


                }
                if (i == 2)
                {

                    dashp = $(".web2print-positioner");
                    positiontop = dashp.position().top;
                    positionleft = dashp.position().left;
                   
                    left = left - 205;

                    $("#myprintcloud-help").animate({ "top": "+=" + top, "left": "+=" + left }, 500);
                    $(".highlight-div").css("visibility", "visible");
                    $(".highlight-div").css("width", "160px");
                    $(".highlight-div").css("height", "80px");
                    $(".highlight-div").css("left", "94px");
                    

                    $(".help-header-title").html(proceeding[2]);
                    $(".help-header-description").html(proceddingheadertext[2]);
                    $(".help-details").html(proceddingdetails[2]);

                    $("#btnPreviousHelp").show();

                   

                }
                if (i == 3)
                {

                    dashp = $(".dashboard-positioner");
                    positiontop = dashp.position().top;
                    positionleft = dashp.position().left;

                    

                    top = parseInt(positiontophelp) - parseInt(positiontop);
                    left = parseInt(positionlefthelp) - parseInt(positionleft);

                   
                    left = left - 230;
                    top = top + 100;
                

                    $("#myprintcloud-help").animate({ "top": "-=" + top, "left": "-=" + left }, 500);
                    $(".highlight-div").css("visibility", "visible");
                    $(".highlight-div").css("width", "240px");
                    $(".highlight-div").css("height", "30px");
                    $(".highlight-div").css("top", "38%");

                    $(".highlight-div").css("left","-80%");
                   


                    $(".help-header-title").html(proceeding[3]);
                    $(".help-header-description").html(proceddingheadertext[3]);
                    $(".help-details").html(proceddingdetails[3]);

                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".top-arrow").hide();
                    $(".right-arrow").show();

                    $("#btnPreviousHelp").show();



                }
                if (i == 4)
                {
                    
                    top = top - 350;

                    $("#myprintcloud-help").animate({ "top": "-=" + top, "left": "-=" + left }, 500);

                    $(".highlight-div").css("height","30px");
                  

                    $(".help-header-title").html(proceeding[4]);
                    $(".help-header-description").html(proceddingheadertext[4]);
                    $(".help-details").html(proceddingdetails[4]);
                }
                if (i == 5)
                {

                    dashp = $(".user-positioner");
                    positiontop = dashp.position().top;
                    positionleft = dashp.position().left;

                    top = parseInt(positiontophelp) - parseInt(positiontop);
                    left = parseInt(positionlefthelp) - parseInt(positionleft);

                    top = top - 40;
                    left = left + 180;


                    $("#myprintcloud-help").animate({ "top": "-=" + top, "left": "-=" + left }, 500);
                    $(".highlight-div").css("visibility", "visible");
                    $(".highlight-div").css("width","350px");
                    $(".highlight-div").css("height","45px");
                    $(".highlight-div").css("top", "-32%");
                    $(".highlight-div").css("left", "0%");
               

                    $(".help-header-title").html(proceeding[5]);
                    $(".help-header-description").html(proceddingheadertext[5]);
                    $(".help-details").html(proceddingdetails[5]);

                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".top-arrow").show();
                    $(".right-arrow").hide();

                    $("#btnPreviousHelp").show();



                }
                if(i == 6)
                {


                    $("#myprintcloud-help").animate({ "top": "+=45%", "left": "-=35%" }, 500);
                    $(".highlight-div").css("visibility", "hidden");

                    $(".help-header-title").html(proceeding[6]);
                    $(".help-header-description").html(proceddingheadertext[6]);
                    $(".help-details").hide();
                    $(".account-anchors").css("display", "block");

                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".top-arrow").hide();
                    $(".right-arrow").hide();

                    $("#btnNextHelp").hide();

                }
              
               
            });

            $("#btnPreviousHelp").click(function ()
            {

              
                var positiontop = 0;
                var positionleft = 0;
                var dashp;

                var top = 0;
                var left = 0;
                var addtiontop = 0;
                var additionleft = 0;

                var dashh = $("#myprintcloud-help");
                var positiontophelp = dashh.position().top;
                var positionlefthelp = dashh.position().left;
              
                top = parseInt(positiontophelp) - parseInt(lastTop.pop());
                left = parseInt(positionlefthelp) - parseInt(lastLeft.pop());
                $("#myprintcloud-help").animate({ "top": "-=" + top, "left": "-=" + left }, 500);

                if (i == 1)
                {
                    $(".highlight-div").css("visibility", "hidden");
                    
                    $(".bottom-arrow").show();
                    $(".left-arrow").show();
                    $(".right-arrow").show();
                    $("#btnPreviousHelp").hide();
                }

                if (i == 2)
                {
                    $(".highlight-div").css("top", "-67%");
                    $(".highlight-div").css("visibility", "visible");
                    
                    $(".highlight-div").css("width","160px");
                    $(".highlight-div").css("height","80px");
                    $(".highlight-div").css("left", "70px");
                  
                    

                }

                if (i == 3)
                {
                    $(".highlight-div").css("top", "-67%");
                    $(".highlight-div").css("visibility", "visible");
                    $(".highlight-div").css("width","160px");
                    $(".highlight-div").css("height","80px");
                    $(".highlight-div").css("left","96px");
                    $("#btnPreviousHelp").show();

                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".top-arrow").show();
                    $(".right-arrow").hide();
                }

                if (i == 4)
                {
    
                    $(".highlight-div").css("visibility", "visible");
                    $(".highlight-div").css("width","240px");
                    $(".highlight-div").css("height","30px");
                    $(".highlight-div").css("top","70px");

                    $(".highlight-div").css("left","-80%");
                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".top-arrow").hide();
                    $(".right-arrow").show();

                    $("#btnPreviousHelp").show();

                }

                if (i == 5)
                {

                    $(".highlight-div").css("width", "240px");
                    $(".highlight-div").css("top","70px");
                    $(".highlight-div").css("left","-80%");
                    $(".highlight-div").css("height","30px");
                    $(".help-details").show();

                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".top-arrow").hide();
                    $(".right-arrow").show();
                    $("#btnPreviousHelp").show();

                }

                if (i == 6)
                {

                    $(".highlight-div").css("visibility", "visible");
                    $(".highlight-div").css("width", "350px");
                    $(".highlight-div").css("height", "40px");
                    $(".highlight-div").css("top", "-32%");
                    $(".highlight-div").css("left","0%");
                    $(".help-details").show();
                    $(".account-anchors").css("display", "none");

                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".top-arrow").show();
                    $(".right-arrow").hide();

                    $("#btnNextHelp").show();

                }

                $(".help-header-title").html(proceeding[i - 1]);
                $(".help-header-description").html(proceddingheadertext[i - 1]);
                $(".help-details").html(proceddingdetails[i - 1]);
                i = i - 1;

            });
            
            $("#btnTakeATour").click(function () {
             //   $("#myprintcloud-help").css("top", "-250");
            //    $("#myprintcloud-help").css("display", "block");
                $(".disabled-div").css("display", "block");
            //    $("#myprintcloud-help").animate({ "top": "370" }, 500, 'linear');
                $(".bottom-arrow").show();
                $(".left-arrow").show();
                $(".right-arrow").show();
                $("#btnPreviousHelp").hide();
                i = 0;
                $(".help-header-title").html(proceeding[i]);
                $(".help-header-description").html(proceddingheadertext[i]);
                $(".help-details").html(proceddingdetails[i]);
                $(".highlight-div").css("visibility", "hidden");
               
               

                       $("#myprintcloud-help").css("top", "-250");
                       $("#myprintcloud-help").css("display", "block");
                       $("#myprintcloud-help").animate({ "top": "370" }, 500, 'linear');
                       $("#myprintcloud-help").css("left", "41%");
                
                       lastTop = [];lastLeft = [];
                $('body').css('overflow', 'hidden');

            });
        });
    </script>
   
     <script>
    require(["dashboard.view", "common/confirmation.view"]);
</script>

}

