@using System.Web.UI.WebControls
@{
    ViewBag.Title = "MyPrintCloud Dashboard";

    var displaybuttonsclass = "";
    var ishiddenclass = "";
}
@section leftmenue {

}

<style>
    body {
        /*overflow: hidden;*/
        height: 100%;
    }

    .highlight-div {
        height: 50px;
        background-color: white;
        position: absolute;
        top: -32%;
        left: 98px;
        -webkit-filter: blur(8px);
        visibility: hidden;
        opacity: 0.2;
    }

    .help-header-title {
        font-family: Ebrima;
        margin: 0px;
        font-size: 26px;
    }

    a {
        cursor: pointer;
    }

    .account-anchors a:hover, .help-details a:hover {
        background-color: #FFC0BA !important;
        text-decoration: none !important;
    }

    .account-anchors {
        display: none;
    }

        .account-anchors a, .help-details a {
            display: block;
        }

    .span-dashboard-widgets {
        font-size: 13px;
    }

    .inner-box {
        padding-left: 10px;
        padding-right: 0px;
    }

    .inner-box-margin {
        font-size: 1em !important;
    }
</style>





@if (ViewBag.Istrial == true)
{
    <div class="trial-description" id="trial-description">
        <table style="height: 70px; width: 320px;">
            <tr>
                <td style="padding-left: 10px;width: 150px;text-align:center;">
                    <span style="color: red; font-weight: bold;">@ViewBag.TrialCount Days</span>&nbsp;<span style="color: gray;">left in your trial</span>
                    <span style="color: gray; font-size: 12px;">Questions ?</span>&nbsp;<a href="mailto:support@myprintcloud.com"> <span style="color: blue; font-size: 12px;">Email Us!</span></a>
                </td>
                <td style="width: 120px; text-align: right; padding-right: 10px;">
                    <a href="https://myprintcloud.com/dashboard" class="btn" style="background-color:#608C36;border-color:#3F651B;color:white;">Upgrade  Now</a>
                </td>
            </tr>
        </table>
    </div>
}

<div class="myprintcloud-help" id="myprintcloud-help" style="display:none;">

    <div class="highlight-div"></div>
    <div class="left-arrow"></div>
    <div class="right-arrow"></div>
    <div class="top-arrow"></div>
    <div class="bottom-arrow"></div>
    <div>
    </div>

    <div class="help-divs">
        <h2 class="help-header-title">Manage your PRINTCloud</h2>
    </div>
    <div class="help-description">
        <div>
            <span class="help-header-description" style="font-size:12px;">This is your dashboard, lets go on a quick tour to familiarize yourself with MyPRINTCloud.  </span>
        </div>
        <div>
            <span class="help-details" style="font-size:12px;">Once you have had a look around join a webinar or start with the self help guides to get started.</span>
            <div class="account-anchors" style="font-size:12px;"><br /><a style="font-weight:bold;">View your live store</a><a style="font-weight:bold;">Configure your store theme</a><a style="font-weight:bold;">Add products to your store</a><a style="font-weight:bold;">Setup your company details</a><a style="font-weight:bold;" href="https://myprintcloud.com/dashboard">Upgrade your subscription</a></div>
        </div>
    </div>
    <div class="help-description" style="border:none !important;background-color:#F5F6F6; padding-bottom:44px;">

        <div class="input-group" style="width:100%;display:inline;">
            <button class="btn  btn-info btn-primary" style="float:right;margin-bottom: 10px;margin-right:10px;" id="btnNextHelp">Next</button>
        </div>
        <div class="input-group" style="width:100%;display:inline;">
            <button style="float: right;margin-bottom: 10px;margin-right:15px;margin-top:7px; background-color:transparent;border:none;" id="btnCloseHelp">Close</button>
        </div>
        <div class="input-group" style="width:100%;display:inline;">
            <button class="btn  btn-info btn-primary" style="float:left;margin-bottom:10px;margin-left:10px;" id="btnPreviousHelp">Previous</button>
        </div>
    </div>

</div>

<div class="disabled-div" style="display:none">
</div>

<div>
    <div class="row" id="dashboardBindingRoot" style="z-index:0;">
        <div class="col-lg-12">
            <div class="row">
                <div class="row">
                    <div class="col-md-8 col-lg-8" style="padding-left: 15px;">

                        @*<div class="row">
                                @if (ViewBag.Istrial == true)
                                {

                                    displaybuttonsclass = "col-lg-3 col-sm-6 col-xs-12";
                                    ishiddenclass = "";
                                }
                                else
                                {
                                    displaybuttonsclass = "col-lg-3 col-sm-6 col-xs-12";
                                    ishiddenclass = "hidden";

                                }


                                <a href="/mis/Estimate/EstimatesList/" style="text-decoration:none" class="@displaybuttonsclass ">
                                    <div class="main-box infographic-box inner-box">
                                        <i class="fa  fa-anchor emerald-bg" style="margin-right:4px;"></i>
                                        <span class="span-dashboard-widgets">Create Quote</span>
                                        <span class="value inner-box-margin">&nbsp;</span>
                                    </div>
                                </a>


                                <a href="~/Stores/Stores/Index" style="text-decoration:none" class="@displaybuttonsclass ">
                                    <div class="main-box infographic-box inner-box">
                                        <i class="fa fa-archive emerald-bg" style="margin-right:4px;"></i>
                                        <span class="span-dashboard-widgets">Create a Website/Store</span>
                                        <span class="value inner-box-margin">&nbsp;</span>
                                    </div>
                                    <div class="web2print-positioner" style="position:fixed;">
                                    </div>
                                </a>


                                <a style="text-decoration:none" class="@displaybuttonsclass  bs-example-tooltips" data-placement="bottom" data-toggle="popover" data-content="To create a product go to Stores, select a store and then visit the Products and Categories Tab. It is always a good practice to create a category first and then create a product based on your requirements.">
                                    <div class="main-box infographic-box inner-box">
                                        <i class="fa fa-cube emerald-bg" style="margin-right:4px;"></i>
                                        <span class="span-dashboard-widgets ">Create Product</span>
                                        <span class="value inner-box-margin">&nbsp;</span>
                                    </div>
                                    <div class="product-positioner" style="position:fixed;">
                                    </div>
                                </a>

                                <a href="#" style="text-decoration:none" class="@displaybuttonsclass " data-toggle="popover" data-placement="bottom" data-content="Design templates can be created against the products. To create a design template in a product first navigate to the store, select the product and navigate to Template Properties tab. Select either a blank template option or PDF based template to start creating template. ">
                                    <div class="main-box infographic-box inner-box">
                                        <i class="fa fa-drupal emerald-bg" style="margin-right:4px;"></i>
                                        <span class="span-dashboard-widgets">Create Template</span>
                                        <span class="value inner-box-margin">&nbsp;</span>
                                    </div>
                                </a>

                            </div>*@

                        <div class="row">
                            <div class="col-md-12">
                                <div class="social-box-wrapper">
                                    <a href="/mis/Orders/Home/EstimatesList?to=est">
                                        <div class="social-box col-lg-3 col-sm-6 col-xs-6  estimates" style="cursor:pointer;" title="Pending Estimates">
                                            <i class="fa fa-fax"></i>
                                            <div class="clearfix">
                                                <span class="social-count" data-bind="text:$root.canceledOrdersCount"></span>
                                                <span class="social-action">Pending Estimates</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/mis/Orders/Home?to=ord">
                                        <div class="social-box col-lg-3 col-sm-6 col-xs-6  facebook" style="cursor:pointer;" title="Pending Orders">
                                            <i class="fa fa-cubes"></i>
                                            <div class="clearfix">
                                                <span class="social-count" data-bind="text:$root.pendingOrdersCount"></span>
                                                <span class="social-action">Pending Orders</span>
                                            </div>
                                            @*<span class="social-name">facebook</span>*@
                                        </div>
                                    </a>
                                    <a href="/mis/Orders/Home?to=prd">
                                        <div class="social-box col-lg-3 col-sm-6 col-xs-6  twitter" style="cursor:pointer;" title="In Production">
                                            <i class="glyphicon glyphicon-list-alt"></i>
                                            <div class="clearfix">
                                                <span class="social-count" data-bind="text:$root.inProductionOrdersCount"></span>
                                                <span class="social-action">In Production</span>
                                            </div>
                                            @*<span class="social-name">twitter</span>*@
                                        </div>
                                    </a>
                                    <a href="/mis/Orders/Home?to=com">
                                        <div class="social-box col-lg-3 col-sm-6 col-xs-6  google" style="cursor:pointer;" title="Completed">
                                            <i class="glyphicon glyphicon-file"></i>
                                            <div class="clearfix">
                                                <span class="social-count" data-bind="text:$root.completedOrdersCount"></span>
                                                <span class="social-action">Ready for Shipping</span>
                                            </div>
                                            @* <span class="social-name">google+</span>*@
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="main-box">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h2 class="graphheaderleft">Top 5 Performing Stores</h2>
                                    <div class="form-group" style="margin-left:10px">
                                        <div class="graph-box lightgray-bg">
                                            <div class="graph" id="graph-line" data-bind="morris: {type: 'Bar', data: $root.topPerformingStores, xkey: 'Name', ykeys:['CurrentMonthEarning', 'LastMonthEarning'], labels: ['Current Month Earning', 'Last Month Earning'],gridTextColor: 'gray',horizontal: true}"></div>
                                        </div>
                                    </div>
                                    <h2 class="graphheaderleft">Monthly Earnings by Store</h2>
                                    <div class="form-group" style="margin-left:10px">
                                        <div class="graph-box lightgray-bg">
                                            <div class="graph" id="graph-line" data-bind="morris: {type: 'Line', data: $root.monthlyEarningsByStore, xkey: 'monthname',xLabelMargin: 3,ykeys: $root.yAxisPointdummy,labels: $root.monthlyEarningStores,xLabelFormat :xLabelFormat = function (x) {return months[x.getMonth()];}, dateFormat: function(x) {var month = months[new Date(x).getMonth()];return month;},gridTextColor: 'gray',resize: true, preUnits: $root.currencySymbol}"></div>
                                            @*<div class="graph" id="graph-line" data-bind="morris: {type: 'Line', data: $root.line, xkey: 'month',xLabelMargin: 3,ykeys: ['a', 'b'],labels: 'abc',xLabelFormat :xLabelFormat = function (x) {return months[x.getMonth()];}, dateFormat: function(x) {var month = months[new Date(x).getMonth()];return month;},gridTextColor: 'gray',resize: true}"></div>*@
                                        </div>
                                    </div>
                                    <h2 class="graphheaderleft">Estimate to Order Conversion</h2>
                                    <div class="form-group" style="margin-left:10px">
                                        @*<img src="~/Content/Images/chart_05.png" style="width: 100%;" />*@
                                        <div class="graph-box lightgray-bg">
                                            <div class="graph" id="graph-line" data-bind="morris: {type: 'Line', data: $root.estimateToOrderConversion, xkey: 'MonthName',xLabelMargin: 2,ykeys: ['EstimateTotal', 'ConvertedTotal'],labels: ['Estimate Total', 'Converted Total'],xLabelFormat :xLabelFormat = function (x) {return $root.months[x.getMonth()];}, dateFormat: function(x) {var month = $root.months[new Date(x).getMonth()];return month;},gridTextColor: 'gray',resize: true}"></div>
                                            @*<div class="graph" id="graph-line" data-bind="morris: {type: 'Line', data: $root.line, xkey: 'month',xLabelMargin: 3,ykeys: ['a', 'b'],labels: 'abc',xLabelFormat :xLabelFormat = function (x) {return months[x.getMonth()];}, dateFormat: function(x) {var month = months[new Date(x).getMonth()];return month;},gridTextColor: 'gray',resize: true}"></div>*@
                                        </div>

                                    </div>
                                    <h2 class="graphheaderleft">Top 5 Performing Customers</h2>
                                    <div class="form-group" style="margin-left:10px">
                                        <div class="graph-box lightgray-bg">
                                            
                                            <div class="graph" id="graph-line" data-bind="morris: {type: 'Bar', data: $root.top10PerformingStores, xkey: 'ContactName', ykeys:['CurrentMonthOrders', 'LastMonthOrders'],barGap:1, labels: ['Current Month Ordes', 'Last Month Orders'],gridTextColor: 'gray',horizontal: true}"></div>
                                            @*<div class="graph" id="graph-line" data-bind="morris: {type: 'Bar', data: $root.line, xkey: 'month', ykeys:['a', 'b'],barGap:1, labels: ['Series A', 'Series B'],gridTextColor: 'gray',resize: true, grid: false}"></div>*@
                                        </div>
                                        @*<img src="~/Content/Images/chart_07.png" style="width: 100%;" />*@
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="graphheaderright">Registered Users by Store</h2>

                                    <div class="form-group" style="margin-right:10px">
                                        @*<div class="graph" id="graph-line" data-bind="morris: {type: 'Line', data: $root.totalEarnings, xkey: 'month', ykeys:$root.yAxisPoints, labels: $root.chartLabels,gridTextColor: '#ffffff',resize: true}"
                                            style="max-height: 335px;"></div>*@

                                        <div class="graph-box lightgray-bg">
                                            <div class="graph" id="graph-line" data-bind="morris: {type: 'Line', data: $root.RegisteredUsers, xkey: 'monthname',xLabelMargin: 3,ykeys: $root.yAxisPointdummy,labels: $root.chartLabelsdummy,xLabelFormat :xLabelFormat = function (x) {return months[x.getMonth()];}, dateFormat: function(x) {var month = months[new Date(x).getMonth()];return month;},gridTextColor: 'gray',resize: true}"></div>
                                        </div>
                                    </div>
                                    <h2 class="graphheaderright">Monthly Orders Count</h2>
                                    <div class="form-group" style="margin-right:10px">
                                        <div class="graph-box lightgray-bg">
                                            <div class="graph" id="graph-line" data-bind="morris: {type: 'Line', data: $root.monthlyOrdersCount, xkey: 'monthname',xLabelMargin: 3,ykeys: $root.yAxisPointdummy,labels: $root.monthlyOrderStoresList,xLabelFormat :xLabelFormat = function (x) {return months[x.getMonth()];}, dateFormat: function(x) {var month = months[new Date(x).getMonth()];return month;},gridTextColor: 'gray',resize: true}"></div>
                                            @*<div class="graph" id="graph-line" data-bind="morris: {type: 'Line', data: $root.line, xkey: 'month',xLabelMargin: 3,ykeys: ['a', 'b'],labels: 'abc',xLabelFormat :xLabelFormat = function (x) {return months[x.getMonth()];}, dateFormat: function(x) {var month = months[new Date(x).getMonth()];return month;},gridTextColor: 'gray',resize: true}"></div>*@
                                        </div>

                                        @*<img src="~/Content/Images/chart_04.png" style="width: 100%;" />*@
                                    </div>
                                    <h2 class="graphheaderright">Estimate to Order Conversion Count</h2>
                                    <div class="form-group" style="margin-right:10px">
                                        <div class="graph-box lightgray-bg">
                                            <div class="graph" id="graph-line" data-bind="morris: {type: 'Line', data: $root.estimateToOrderConversionCount, xkey: 'MonthName',xLabelMargin: 3,ykeys: ['EstimateCount', 'ConvertedCount'],labels: ['Estimates', 'Orders'],xLabelFormat :xLabelFormat = function (x) {return months[x.getMonth()];}, dateFormat: function(x) {var month = months[new Date(x).getMonth()];return month;},gridTextColor: 'gray',resize: true}"></div>
                                            @*<div class="graph" id="graph-line" data-bind="morris: {type: 'Line', data: $root.line, xkey: 'MonthName',xLabelMargin: 3,ykeys: ['a', 'b'],labels: 'abc',xLabelFormat :xLabelFormat = function (x) {return months[x.getMonth()];}, dateFormat: function(x) {var month = months[new Date(x).getMonth()];return month;},gridTextColor: 'gray',resize: true}"></div>*@
                                        </div>

                                        @*<img src="~/Content/Images/chart_06.png" style="width: 100%;" d />*@
                                    </div>
                                    <h2 class="graphheaderright">ROI - 6 months</h2>
                                    <div class="form-group" style="margin-left: -7px;">
                                        <div class="col-lg-6 text-right">

                                            <label style="float: left; font-weight: bold" class="control-label text-right tooltip-float">Registered Customers</label>
                                        </div>
                                        <div class="col-lg-6">
                                            @*<label style="font-weight: bold">$100</label>*@
                                            <span data-bind="text: $root.roiRegisteredUsersCount()"></span>
                                        </div>
                                        <div class="col-lg-6 text-right">

                                            <label style="float: left; font-weight: bold" class="control-label text-right tooltip-float">Orders Processed Count</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <span data-bind="text: $root.roiOrdersProcessedCount()"></span>
                                        </div>

                                        <div class="col-lg-6 text-right">
                                            <label style="float: left; font-weight: bold" class="control-label text-right tooltip-float">Direct Orders Total</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <span data-bind="text: $root.currencySymbol()"></span>  <span data-bind="text: $root.roiDirectOrdersTotal()"></span>
                                        </div>
                                        <div class="col-lg-6 text-right">

                                            <label style="float: left; font-weight: bold" class="control-label text-right tooltip-float">Online Orders Total</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <span data-bind="text: $root.currencySymbol()"></span>  <span data-bind="text: $root.roiOnlineOrdersTotal()"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        @* order list*@
                    </div>

                    <div class="col-md-4 col-lg-4">

                        @*<div class="row">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2 class="pull-left">Useful Resources</h2>

                                    </header>
                                    <div class="main-box-body clearfix">
                                        <div class="table-responsive clearfix">
                                            <p style="line-height:2">


                                                <a href="http://www.onlinemeetingnow.com/register/?id=rflm0y9eq7" target="_blank">
                                                    Attend Daily Webinars
                                                </a>

                                                <br />
                                                <a href="http://blog.myprintcloud.com/tutorials-quickstart/" target="_blank">
                                                    Find Tutorials and Implementation Guides
                                                </a>
                                                <br />

                                                <a href="http://www.w3schools.com/" target="_blank">Learn More About CSS and Modifying Stores</a>
                                                <br />
                                                <a href="http://blog.myprintcloud.com/updates-releases/" target="_blank"> View the Latest Updates & Release Notes</a>
                                                <br />
                                                <a href="http://www.speedtest.net" target="_blank">Test Your Internet Connection Speed</a>.
                                                <br />
                                                <a href="https://myprintcloud.com/Dashboard/contacts" target="_blank">Add Users to Your MyPrintCloud Account.</a>.
                                                <br />

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2 style="margin-top: 3%;" class="pull-left">Useful Resources</h2>
                                    </header>
                                    <div class="main-box-body clearfix">
                                        <div class="table-responsive clearfix">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="col-lg-11"><span></span></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="cursor: pointer">
                                                        <td>
                                                            <a href="http://www.onlinemeetingnow.com/register/?id=rflm0y9eq7" target="_blank">Attend Daily Webinars</a>
                                                        </td>
                                                    </tr>
                                                    <tr style="cursor: pointer">
                                                        <td>
                                                            <a href="http://blog.myprintcloud.com/tutorials-quickstart/" target="_blank">Find Tutorials and Implementation Guides</a>
                                                        </td>
                                                    </tr>
                                                    <tr style="cursor: pointer">
                                                        <td>
                                                            <a href="http://www.w3schools.com/" target="_blank">Learn More About CSS and Modifying Stores</a>
                                                        </td>
                                                    </tr>
                                                    <tr style="cursor: pointer">
                                                        <td>
                                                            <a href="http://blog.myprintcloud.com/updates-releases/" target="_blank"> View the Latest Updates & Release Notes</a>
                                                        </td>
                                                    </tr>
                                                    <tr style="cursor: pointer">
                                                        <td>
                                                            <a href="http://www.speedtest.net" target="_blank">Test Your Internet Connection Speed</a>
                                                        </td>
                                                    </tr>
                                                    <tr style="cursor: pointer">
                                                        <td>
                                                            <a href="https://myprintcloud.com/Dashboard/contacts" target="_blank">Add Users to Your MyPrintCloud Account.</a>.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2 style="margin-top: 3%;" class="pull-left">Last 5 registered user</h2>
                                        <div class="filter-block pull-right">
                                            <form data-bind="submit:$root.getDashboardData">

                                                <a href="/mis/CRM/Home/" class="btn btn-primary pull-right">
                                                    <i class=" fa fa-eye fa-lg">
                                                    </i>&nbsp; View All
                                                </a>
                                            </form>

                                        </div>
                                    </header>
                                    <div class="main-box-body clearfix">
                                        <div class="table-responsive clearfix">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="col-lg-11"><span></span></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- ko if: $root.customers().length === 0 -->
                                                    <tr>
                                                        <td colspan="8">
                                                            <span style="font-size: 14px;">No Items found!</span>
                                                        </td>
                                                    </tr>
                                                    <!-- /ko -->
                                                    <!-- ko template: { name: 'customerTemplate' , foreach: $root.customers } -->
                                                    <!-- /ko -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2 class="pull-left" style="padding-top: 10px;">Last 5 orders</h2>
                                        <div class="filter-block pull-right">
                                            <form data-bind="submit:$root.getDashboardData">
                                                @*<div class="form-group pull-left">
                                                        <input type="text" class="form-control" data-bind="value: $root.orderSearchString" placeholder="Search...">
                                                        <i data-bind="click: $root.getDashboardData" class="fa fa-search search-icon"></i>
                                                    </div>*@
                                                <a href="/mis/orders/home/" class="btn btn-primary pull-right">
                                                    <i class="fa fa-eye fa-lg"></i>&nbsp; View All
                                                </a>
                                            </form>

                                        </div>
                                    </header>
                                    <div class="main-box-body clearfix">
                                        <div class="table-responsive clearfix">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th><span>Customer</span></th>
                                                        @*<th><span>Order Code</span></th>
                                                            <th><span>Order Date</span></th>
                                                            <th><span>Order Status</span></th>*@
                                                        <th style="text-align: right"><span>Order Total</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- ko if: $root.orders().length === 0 -->
                                                    <tr>
                                                        <td colspan="8">
                                                            <span style="font-size: 14px;">No Items found!</span>
                                                        </td>
                                                    </tr>
                                                    <!-- /ko -->
                                                    <!-- ko template: { name: 'itemOrderTemplate' , foreach: $root.orders } -->
                                                    <!-- /ko -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2 style="margin-top: 3%;" class="pull-left">Management Reports</h2>
                                    </header>
                                    <div class="main-box-body clearfix">
                                        <div class="table-responsive clearfix">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="col-lg-11"><span></span></th>
                                                        <th style="text-align: right"><span></span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="cursor: pointer">
                                                        <td>
                                                            <a href="#">Top 5 Customers by revenue</a>
                                                        </td>
                                                        <td style="text-align: right"><i class=" fa fa-eye fa-lg" style="font-size: 20px;"></i></td>
                                                    </tr>
                                                    <tr style="cursor: pointer">
                                                        <td>
                                                            <a href="#">Most popular product sold by revenue</a>
                                                        </td>
                                                        <td style="text-align: right"><i class=" fa fa-eye fa-lg" style="font-size: 20px;"></i></td>
                                                    </tr>
                                                    <tr style="cursor: pointer">
                                                        <td>
                                                            <a href="#">Most active customers</a>
                                                        </td>
                                                        <td style="text-align: right"><i class=" fa fa-eye fa-lg" style="font-size: 20px;"></i></td>
                                                    </tr>
                                                    <tr style="cursor: pointer">
                                                        <td>
                                                            <a href="#">Carts that haven't checked-Out</a>
                                                        </td>
                                                        <td style="text-align: right"><i class=" fa fa-eye fa-lg" style="font-size: 20px;"></i></td>
                                                    </tr>
                                                    <tr style="cursor: pointer">
                                                        <td>
                                                            <a href="#">Active Order Statuses</a>
                                                        </td>
                                                        <td style="text-align: right"><i class=" fa fa-eye fa-lg" style="font-size: 20px;"></i></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="row">
                                <div class="main-box clearfix" style="background-color:transparent !important">
                                    <header class="main-box-header clearfix">
                                        <h2 class="pull-left">Management Reports</h2>

                                    </header>
                                    <div class="main-box-body clearfix" style="padding-left:0px;padding-right:0px;">

                                        <a href="#" style="text-decoration:none" class="col-lg-12" data-toggle="popover" data-placement="bottom">
                                            <div class="main-box infographic-box inner-box">
                                                <i class="fa fa-drupal emerald-bg" style="margin-right:4px;"></i>
                                                <span class="span-dashboard-widgets">Top 5 Customers by revenue</span>
                                                <span class="value inner-box-margin" style="text-align:left;font-weight:normal;color:gray;margin-top:3px;">Download Report</span>
                                            </div>
                                        </a>

                                        <a href="#" style="text-decoration:none" class="col-lg-12" data-toggle="popover" data-placement="bottom">
                                            <div class="main-box infographic-box inner-box">
                                                <i class="fa fa-drupal emerald-bg" style="margin-right:4px;"></i>
                                                <span class="span-dashboard-widgets">Most popular product sold by revenue</span>
                                                <span class="value inner-box-margin" style="text-align:left;font-weight:normal;color:gray;margin-top:3px;">Download Report</span>
                                            </div>
                                        </a>

                                        <a href="#" style="text-decoration:none" class="col-lg-12" data-toggle="popover" data-placement="bottom">
                                            <div class="main-box infographic-box inner-box">
                                                <i class="fa fa-drupal emerald-bg" style="margin-right:4px;"></i>
                                                <span class="span-dashboard-widgets">Most active customers</span>
                                                <span class="value inner-box-margin" style="text-align:left;font-weight:normal;color:gray;margin-top:3px;">Download Report</span>
                                            </div>
                                        </a>

                                        <a href="#" style="text-decoration:none" class="col-lg-12" data-toggle="popover" data-placement="bottom">
                                            <div class="main-box infographic-box inner-box">
                                                <i class="fa fa-drupal emerald-bg" style="margin-right:4px;"></i>
                                                <span class="span-dashboard-widgets">Carts that haven't checked-Out</span>
                                                <span class="value inner-box-margin" style="text-align:left;font-weight:normal;color:gray;margin-top:3px;">Download Report</span>
                                            </div>
                                        </a>

                                        <a href="#" style="text-decoration:none" class="col-lg-12" data-toggle="popover" data-placement="bottom">
                                            <div class="main-box infographic-box inner-box">
                                                <i class="fa fa-drupal emerald-bg" style="margin-right:4px;"></i>
                                                <span class="span-dashboard-widgets">Active Order Statuses</span>
                                                <span class="value inner-box-margin" style="text-align:left;font-weight:normal;color:gray;margin-top:3px;">Download Report</span>
                                            </div>
                                        </a>

                                    </div>
                                </div>

                            </div>*@

                    </div>


                    <div class="row" style="display:none">
                        <div class="col-lg-6">
                            <div class="main-box clearfix">
                                <div class="main-box-body clearfix">

                                    <div id="calendar"></div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <script id="itemOrderTemplate" type="text/html">
            <tr data-bind="click: $root.goToOrder.bind($data.id(), $data.id())" style="cursor: pointer">

                <td>
                    <a class="store-user-link" data-bind="text: companyName" href="#"></a>
                </td>
                @*<td data-bind="text: orderCode"></td>
                    <td> <span data-bind="dateString: creationDate, datePattern: 'DD/MM/YYYY'"></span></td>
                    <td> <span data-bind="text: status"></span></td>*@
                <td style="text-align: right">
                    <span data-bind="text: '$'"></span>
                    <span data-bind="numberInput: estimateTotal() == undefined ? '' :  estimateTotal()"></span>
                </td>
            </tr>
        </script>
        <script id="customerTemplate" type="text/html">
            <tr data-bind="click: $root.goToCustomer.bind($data.id(), $data.id())" style="cursor: pointer">
                <td>

                    @*<span data-bind="text:customerTYpe()==0 ? 'Prospect':'Customer'"></span>*@
                    <div>
                        <div class="col-lg-7">
                            <a class="store-user-link" data-bind="text: defaultContact" href="#"></a>
                            @*<a class="store-user-link" data-bind="text: name" href="#"></a>*@
                            <span data-bind="dateString: creationdate, datePattern: 'DD/MM/YYYY'" style="font-size:12px"></span>

                        </div>
                        <div class="col-lg-5" style="margin-top: 2%;">
                            <span data-bind="text: storeName"></span>
                            @*<span data-bind="text:customerTYpe()==0 ? 'Prospect':'Customer'"></span>*@
                            <span data-bind="text: defaultContactEmail" style=" font-size: 12px;"></span>

                        </div>
                    </div>
                </td>
            </tr>
        </script>

    </div>
</div>
@section Scripts {
    @*<script src="~/Scripts/Script/jquery.foggy.js"></script>
        <script src="~/Scripts/Script/jquery.foggy.min.js"></script>*@

    <script>
        $(document).ready(function () {

            /* initialize the external events
            -----------------------------------------------------------------*/
            $('#lidashboard').addClass('active');
            $('#external-events div.external-event').each(function () {

                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end
                var eventObject = {
                    title: $.trim($(this).text()) // use the element's text as the event title
                };

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject);

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });


            /* initialize the calendar
            -----------------------------------------------------------------*/

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            var calendar = $('#calendar').fullCalendar({
                header: {
                    left: '',
                    center: 'title',
                    right: 'prev,next'
                },
                selectable: true,
                selectHelper: true,
                select: function (start, end, allDay) {
                    var title = prompt('Event Title:');
                    if (title) {
                        calendar.fullCalendar('renderEvent',
                            {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay
                            },
                            true // make the event "stick"
                        );
                    }
                    calendar.fullCalendar('unselect');
                },
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (date, allDay) { // this function is called when something is dropped

                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject');

                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject);

                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    copiedEventObject.allDay = allDay;

                    // copy label class from the event object
                    var labelClass = $(this).data('eventclass');

                    if (labelClass) {
                        copiedEventObject.className = labelClass;
                    }

                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }

                },
                buttonText: {
                    prev: '<i class="fa fa-chevron-left"></i>',
                    next: '<i class="fa fa-chevron-right"></i>'
                },
                events: [
                    {
                        title: 'All Day Event',
                        start: new Date(y, m, 1),
                        className: 'label-success'
                    },
                    {
                        title: 'Long Event',
                        start: new Date(y, m, d - 5),
                        end: new Date(y, m, d - 2)
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d - 3, 16, 0),
                        allDay: false,
                        className: 'label-danger'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d + 4, 16, 0),
                        allDay: false
                    },
                    {
                        title: 'Meeting',
                        start: new Date(y, m, d, 10, 30),
                        allDay: false,
                        className: 'label-info'
                    },
                    {
                        title: 'Lunch',
                        start: new Date(y, m, d, 12, 0),
                        end: new Date(y, m, d, 14, 0),
                        allDay: false,
                        className: 'label-success'
                    },
                    {
                        title: 'Birthday Party',
                        start: new Date(y, m, d + 1, 19, 0),
                        end: new Date(y, m, d + 1, 22, 30),
                        allDay: false,
                        className: 'label-info'
                    },
                    {
                        title: 'Click for Google',
                        start: new Date(y, m, 28),
                        end: new Date(y, m, 29),
                        url: 'http://google.com/',
                        className: 'label-danger'
                    }
                ]
            });

            $('.conversation-inner').slimScroll({
                height: '332px',
                alwaysVisible: false,
                railVisible: true,
                wheelStep: 5,
                allowPageScroll: false
            });

            //CHARTS
            //graphLine = Morris.Line({
            //    element: 'graph-line',
            //    data: [
            //        { period: '2015-01-01', 'Retail Store': 0, ipad: null, itouch: 2647 },
            //        { period: '2015-02-02', 'Retail Store': 0, ipad: 2294, itouch: 2441 },
            //        { period: '2015-03-03', 'Retail Store': 0, ipad: 1969, itouch: 2501 },
            //        { period: '2015-04-04', 'Retail Store': 0, ipad: 3597, itouch: 5689 },
            //        { period: '2015-05-05', 'Retail Store': 2, ipad: 1914, itouch: 2293 },
            //        { period: '2015-06-06', 'Retail Store': 0, ipad: 4293, itouch: 1881 },
            //        { period: '2015-07-07', 'Retail Store': 0, ipad: 3795, itouch: 1588 },
            //        { period: '2015-08-08', 'Retail Store': 5, ipad: 5967, itouch: 5175 },
            //        { period: '2015-09-09', 'Retail Store': 0, ipad: 4460, itouch: 2028 },
            //        { period: '2015-10-10', 'Retail Store': 0, ipad: 5713, itouch: 1791 },
            //        { period: '2015-11-10', 'Retail Store': 9, ipad: 5713, itouch: 1791 },
            //        { period: '2015-12-10', 'Retail Store': 0, ipad: 5713, itouch: 1791 }
            //    ],
            //    lineColors: ['#ffffff'],
            //    xkey: 'period',
            //    ykeys: ['Retail Store'],
            //    labels: ['itouch'],
            //    pointSize: 3,
            //    hideHover: 'auto',
            //    gridTextColor: '#ffffff',
            //    gridLineColor: 'rgba(255, 255, 255, 0.3)',
            //    resize: true
            //});





            //WORLD MAP
            $('#world-map').vectorMap({
                map: 'world_merc_en',
                backgroundColor: '#ffffff',
                zoomOnScroll: false,
                regionStyle: {
                    initial: {
                        fill: '#e1e1e1',
                        stroke: 'none',
                        "stroke-width": 0,
                        "stroke-opacity": 1
                    },
                    hover: {
                        "fill-opacity": 0.8
                    },
                    selected: {
                        fill: '#8dc859'
                    },
                    selectedHover: {
                    }
                },
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#6fc4fe', '#2980b9'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                onRegionLabelShow: function (e, el, code) {
                    el.html(el.html() + ' (' + gdpData[code] + ')');
                }
            });
        });
    </script>
    <script>



        function openTourInit() {

            var tourcookie = readCookie("tourviewed");
            //
            if (tourcookie != "1") {
                createCookie("tourviewed", "1", 10);

                $("#myprintcloud-help").css("top", ($(window).height() - $("#myprintcloud-help").height()) / 2 + "px");
                $("#myprintcloud-help").css("display", "block");
                $(".disabled-div").css("display", "block");
                $("#myprintcloud-help").animate({ "top": ($(window).height() - $("#myprintcloud-help").height()) / 2 }, 500, 'linear');


                $(window).resize(function () {


                    document.getElementById("myprintcloud-help").style.left = "41%";

                });
            } else {
                $('body').css('overflow', 'visible');
            }
        }


        $("#btnCloseHelp").click(function () {


            $("#myprintcloud-help").hide();
            $(".disabled-div").css("display", "none");

            $('body').css('overflow', 'visible');


        });





        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            }
            else var expires = "";
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name, "", -1);
        }


        $(document).ready(function () {


            var i = 0;
            var proceeding =
            [
                "Manage your PRINTCloud",
                "Add More Products",
                "Add more Stores",
                "Estimates & Job Cards",
                "System Settings",
                "Your Account Area",
                "You've got the Basics..."
            ];
            var proceddingheadertext =
            [
                "This is your dashboard, lets go on a quick tour to familiarize yourself with MyPRINTCloud.  ",
                "Easily add print and inventory products to the product library, products can be used across retail & private web stores and estimates.",
                "With MyPRINTCloud you can create many retail and private stores to attract new business.  To upgrade to unlimited stores, simply upgrade your subscription.",
                "Create accurate estimates for digital, offset, labels and large format.  To configure your estimating module, go to MIS -> Settings.",
                "Configure your MyPRINTCloud by localizing your regional settings, company information, configure press calculations and cost centres.",
                "From Here you can access",
                "What would you like to do next?"
            ]
            var proceddingdetails =
            [
                "Once you have had a look around join a webinar or start with the self help guides to get started.",
                "",
                "",
                "",
                "",
                    '<br /><a href=http://blog.myprintcloud.com/tutorials-quickstart/ target="_blank" style="font-weight:bold;">Self Paced Tutorials</a><a href="http://www.onlinemeetingnow.com/register/?id=rflm0y9eq7" target="_blank" style="font-weight:bold;">Join in on our Webinars</a><a href="http://www.youtube.com/user/myprintcloud" target="_blank" style="font-weight:bold;">Watch How to Video’s</a><a href="http://support.myprintcloud.com" target="_blank" style="font-weight:bold;">Contact Support Desk</a><a href="https://myprintcloud.com/dashboard" target="_blank" style="font-weight:bold;">Upgrade to Paid Subscription</a>',
                ""
            ]

            var lastTop = []; var lastLeft = [];

            $("#btnPreviousHelp").hide();
            $("#btnCloseHelp").show();

            $("#btnNextHelp").click(function () {

                i = i + 1;

                var positiontop = 0;
                var positionleft = 0;
                var dashp;

                var top = 0;
                var left = 0;
                var addtiontop = 0;
                var additionleft = 0;

                var dashh = $("#myprintcloud-help");
                var positiontophelp = dashh.position().top;
                var positionlefthelp = dashh.position().left;
                lastLeft.push(positionlefthelp);
                lastTop.push(positiontophelp);


                if (i == 1) {
                    dashp = $(".product-positioner");
                    positiontop = dashp.position().top;
                    positionleft = dashp.position().left;

                    top = parseInt(positiontop) - parseInt(positiontophelp);
                    left = parseInt(positionleft) - parseInt(positionlefthelp);

                    top = top + 30;
                    left = left - 70;

                    $("#myprintcloud-help").animate({ "top": "+=" + top, "left": "+=" + left }, 500);
                    $(".highlight-div").css("visibility", "visible");
                    $(".highlight-div").css("width", "160px");
                    $(".highlight-div").css("height", "80px");
                    $(".highlight-div").css("left", "68px");
                    $(".highlight-div").css("top", "-122px");


                    $(".help-header-title").html(proceeding[1]);
                    $(".help-header-description").html(proceddingheadertext[1]);
                    $(".help-details").html(proceddingdetails[1]);


                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".right-arrow").hide();

                    $("#btnPreviousHelp").show();


                }
                if (i == 2) {

                    dashp = $(".web2print-positioner");
                    positiontop = dashp.position().top;
                    positionleft = dashp.position().left;

                    left = left - 205;

                    $("#myprintcloud-help").animate({ "top": "+=" + top, "left": "+=" + left }, 500);
                    $(".highlight-div").css("visibility", "visible");
                    $(".highlight-div").css("width", "160px");
                    $(".highlight-div").css("height", "80px");
                    $(".highlight-div").css("left", "94px");


                    $(".help-header-title").html(proceeding[2]);
                    $(".help-header-description").html(proceddingheadertext[2]);
                    $(".help-details").html(proceddingdetails[2]);

                    $("#btnPreviousHelp").show();



                }
                if (i == 3) {

                    //dashp = $(".dashboard-positioner");
                    //positiontop = dashp.position().top;
                    //positionleft = dashp.position().left;



                    //top = parseInt(positiontophelp) - parseInt(positiontop);
                    //left = parseInt(positionlefthelp) - parseInt(positionleft);


                    //left = left - 230;
                    //top = top + 100;


                    $("#myprintcloud-help").animate({ "top": "165", "left": "260" }, 500);
                    $(".highlight-div").css("visibility", "visible");
                    $(".highlight-div").css("width", "240px");
                    $(".highlight-div").css("height", "30px");
                    $(".highlight-div").css("top", "38%");

                    $(".highlight-div").css("left", "-80%");



                    $(".help-header-title").html(proceeding[3]);
                    $(".help-header-description").html(proceddingheadertext[3]);
                    $(".help-details").html(proceddingdetails[3]);

                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".top-arrow").hide();
                    $(".right-arrow").show();

                    $("#btnPreviousHelp").show();



                }
                if (i == 4) {

                    top = top - 265;

                    $("#myprintcloud-help").animate({ "top": "-=" + top, "left": "-=" + left }, 500);

                    $(".highlight-div").css("height", "30px");


                    $(".help-header-title").html(proceeding[4]);
                    $(".help-header-description").html(proceddingheadertext[4]);
                    $(".help-details").html(proceddingdetails[4]);
                }
                if (i == 5) {

                    dashp = $(".user-positioner");
                    positiontop = dashp.position().top;
                    positionleft = dashp.position().left;

                    top = parseInt(positiontophelp) - parseInt(positiontop);
                    left = parseInt(positionlefthelp) - parseInt(positionleft);

                    top = top - 40;
                    left = left + 180;


                    $("#myprintcloud-help").animate({ "top": "-=" + top, "left": "-=" + left }, 500);
                    $(".highlight-div").css("visibility", "visible");
                    $(".highlight-div").css("width", "350px");
                    $(".highlight-div").css("height", "45px");
                    $(".highlight-div").css("top", "-32%");
                    $(".highlight-div").css("left", "0%");


                    $(".help-header-title").html(proceeding[5]);
                    $(".help-header-description").html(proceddingheadertext[5]);
                    $(".help-details").html(proceddingdetails[5]);

                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".top-arrow").show();
                    $(".right-arrow").hide();

                    $("#btnPreviousHelp").show();



                }
                if (i == 6) {


                    $("#myprintcloud-help").animate({ "top": "+=45%", "left": "-=35%" }, 500);
                    $(".highlight-div").css("visibility", "hidden");

                    $(".help-header-title").html(proceeding[6]);
                    $(".help-header-description").html(proceddingheadertext[6]);
                    $(".help-details").hide();
                    $(".account-anchors").css("display", "block");

                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".top-arrow").hide();
                    $(".right-arrow").hide();

                    $("#btnNextHelp").hide();

                }


            });

            $("#btnPreviousHelp").click(function () {


                var positiontop = 0;
                var positionleft = 0;
                var dashp;

                var top = 0;
                var left = 0;
                var addtiontop = 0;
                var additionleft = 0;

                var dashh = $("#myprintcloud-help");
                var positiontophelp = dashh.position().top;
                var positionlefthelp = dashh.position().left;

                top = parseInt(positiontophelp) - parseInt(lastTop.pop());
                left = parseInt(positionlefthelp) - parseInt(lastLeft.pop());
                $("#myprintcloud-help").animate({ "top": "-=" + top, "left": "-=" + left }, 500);

                if (i == 1) {
                    $(".highlight-div").css("visibility", "hidden");

                    $(".bottom-arrow").show();
                    $(".left-arrow").show();
                    $(".right-arrow").show();
                    $("#btnPreviousHelp").hide();
                }

                if (i == 2) {
                    $(".highlight-div").css("top", "-67%");
                    $(".highlight-div").css("visibility", "visible");

                    $(".highlight-div").css("width", "160px");
                    $(".highlight-div").css("height", "80px");
                    $(".highlight-div").css("left", "70px");



                }

                if (i == 3) {
                    $(".highlight-div").css("top", "-67%");
                    $(".highlight-div").css("visibility", "visible");
                    $(".highlight-div").css("width", "160px");
                    $(".highlight-div").css("height", "80px");
                    $(".highlight-div").css("left", "96px");
                    $("#btnPreviousHelp").show();

                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".top-arrow").show();
                    $(".right-arrow").hide();
                }

                if (i == 4) {

                    $(".highlight-div").css("visibility", "visible");
                    $(".highlight-div").css("width", "240px");
                    $(".highlight-div").css("height", "30px");
                    $(".highlight-div").css("top", "70px");

                    $(".highlight-div").css("left", "-80%");
                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".top-arrow").hide();
                    $(".right-arrow").show();

                    $("#btnPreviousHelp").show();

                }

                if (i == 5) {

                    $(".highlight-div").css("width", "240px");
                    $(".highlight-div").css("top", "70px");
                    $(".highlight-div").css("left", "-80%");
                    $(".highlight-div").css("height", "30px");
                    $(".help-details").show();

                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".top-arrow").hide();
                    $(".right-arrow").show();
                    $("#btnPreviousHelp").show();

                }

                if (i == 6) {

                    $(".highlight-div").css("visibility", "visible");
                    $(".highlight-div").css("width", "350px");
                    $(".highlight-div").css("height", "40px");
                    $(".highlight-div").css("top", "-32%");
                    $(".highlight-div").css("left", "0%");
                    $(".help-details").show();
                    $(".account-anchors").css("display", "none");

                    $(".bottom-arrow").hide();
                    $(".left-arrow").hide();
                    $(".top-arrow").show();
                    $(".right-arrow").hide();

                    $("#btnNextHelp").show();

                }

                $(".help-header-title").html(proceeding[i - 1]);
                $(".help-header-description").html(proceddingheadertext[i - 1]);
                $(".help-details").html(proceddingdetails[i - 1]);
                i = i - 1;

            });

            $("#btnTakeATour").click(function () {
                //   $("#myprintcloud-help").css("top", "-250");
                //    $("#myprintcloud-help").css("display", "block");
                $(".disabled-div").css("display", "block");
                //    $("#myprintcloud-help").animate({ "top": "370" }, 500, 'linear');
                $(".bottom-arrow").show();
                $(".left-arrow").show();
                $(".right-arrow").show();
                $("#btnPreviousHelp").hide();
                i = 0;
                $(".help-header-title").html(proceeding[i]);
                $(".help-header-description").html(proceddingheadertext[i]);
                $(".help-details").html(proceddingdetails[i]);
                $(".highlight-div").css("visibility", "hidden");



                $("#myprintcloud-help").css("top", "-250");
                $("#myprintcloud-help").css("display", "block");
                $("#myprintcloud-help").animate({ "top": ($(window).height() - $("#myprintcloud-help").height()) / 2 }, 500, 'linear');
                $("#myprintcloud-help").css("left", "41%");

                lastTop = []; lastLeft = [];
                $('body').css('overflow', 'hidden');

            });
        });
    </script>

    <script>
        require(["dashboard.view", "common/confirmation.view"]);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        $(document).ready(function () {

            //min/max slider
            $('[data-toggle="popover"]').popover();
        });

    </script>

    <!-- ClickDesk Live Chat Service for websites -->
    <script type='text/javascript'>
        var _glc = _glc || []; _glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyDwsSBXVzZXJzGJD1qYkMDA');
        var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/clickdesk-ui/browser/' :
        'http://my.clickdesk.com/clickdesk-ui/browser/');
        var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
        var glcspt = document.createElement('script'); glcspt.type = 'text/javascript';
        glcspt.async = true; glcspt.src = glcpath + 'livechat-new.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(glcspt, s);
    </script>
    <!-- End of ClickDesk -->
}


