
<div class="modal fade my-modal" id="myPaymentGatewayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width: 420px;" class="modal-dialog">
        <div class="modal-content" data-bind="with: $root.selectedPaymentGateway()">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add/Edit Payment Gateway</h4>
            </div>
            <div class="col-lg-12 form-horizontal outerDiv-Padding">
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        <div class="bs-example-tooltips tooltip-float-width">
                            <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select a gateway from which you want to process the cart payment on store. Different gateways have their own sepecific parameter requirements which are entered below, please consult FAQs for more details" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                            </a>
                        </div>

                        <label for="txtSortOrder" class="control-label text-right tooltip-float">Gateway</label>
                    </div>
                    <div class="col-lg-6">
                        <select class="form-control col-lg-4" id="ddPaymentGatway" data-bind="options:$root.paymentMethods ,optionsText:'methodName',optionsValue:'paymentMethodId', value: paymentMethodId, validationTooltip: paymentMethodId"></select>  @*,optionsCaption: 'Choose...'*@
                        @*<select id="ddPaymentGatway" class="form-control" onchange="ShowHidePaymentSettings();">
                            <option>PayPal</option>
                            <option>Authorized.Net</option>
                            <option>ANZ</option>
                            <option>St George</option>
                            <option>Cash</option>
                        </select>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        <div class="bs-example-tooltips tooltip-float-width">
                            @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Merchant" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                            </a>*@
                        </div>

                        <label for="txtMerchantID" class="control-label text-right tooltip-float">Merchant ID</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txtMerchantID" data-bind="value: businessEmail, validationTooltip: businessEmail">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="col-lg-12" id="marchantIDtxt" style="font-size:12px;">
                            <!-- ko if: !$root.isAccessCodeSectionVisible() -->
                            e.g. The merchant ID used in your PayPal account.
                            <!--/ko-->
                            <!-- ko if: $root.isAccessCodeSectionVisible() -->
                            e.g. The merchant ID used in your <label data-bind="text: $root.paymentMethodName"></label> account.
                            <!--/ko-->
                        </div>
                    </div>

                </div>
                <div class="form-group paymentSettingsDisplay" style="display:none;" data-bind="visible: $root.isAccessCodeSectionVisible">
                    <div class="col-lg-4 text-right">
                        <div class="bs-example-tooltips tooltip-float-width">
                            @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Access Code" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                            </a>*@
                        </div>

                        <label for="txtMerchantID" class="control-label text-right tooltip-float">Access Code</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txtMerchantID" data-bind="value: identityToken">
                    </div>
                </div>
                <div class="form-group paymentSettingsDisplay" style="display:none;" data-bind="visible: $root.isAccessCodeSectionVisible">
                    <div class="col-lg-4 text-right">
                        <div class="bs-example-tooltips tooltip-float-width">
                            @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Secure Hash" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                            </a>*@
                        </div>

                        <label for="txtMerchantID" class="control-label text-right tooltip-float">Secure Hash</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txtMerchantID" data-bind="value: secureHash">
                    </div>
                </div>
                <div class="form-group paymentSettingsDisplay" style="display:none;" data-bind="visible: $root.isAccessCodeSectionVisible">
                    <div class="col-lg-4 text-right">
                        <div class="bs-example-tooltips tooltip-float-width">
                            @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Is Active" data-container="body" data-toggle="popover" data-placement="right" data-content="Map On Contact" data-original-title="" title="">
                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                            </a>*@
                        </div>
                        <label for="switchIsTDefault" class="control-label text-right tooltip-float">Is Active</label>
                    </div>
                    <div class="col-lg-6">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchIsTDefault" data-bind="checked: isActive">
                            <label class="onoffswitch-label" for="switchIsTDefault">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </label>
                        </div>
                        <span class="help-block text-right"></span>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                &nbsp;
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: $root.onSavePaymentGateway, css: { 'btn-warning': hasChanges() }, enable: hasChanges()">Save</button>
                <button type="button" class="btn btn-default" data-bind="click: $root.onClosePaymentGateway" style="margin-left: 0px;">Close</button>
               
                <button type="button" class="btn btn-danger archiveButton" data-bind="click:$root.onDeletePaymentGateway, enable: $root.selectedPaymentGateway().paymentGatewayId() != undefined">Archive</button>

            </div>
        </div>
    </div>
</div>
<script src="~/Content/themes/Centaurus/js/jquery.js"></script>
@*<script>
    function ShowHidePaymentSettings() {
        
        if ($("#ddPaymentGatway option:selected").text() == "PayPal" || $("#ddPaymentGatway option:selected").text() == "Cash" || $("#ddPaymentGatway option:selected").text() == "Choose...") {
            $('.paymentSettingsDisplay').css("display", "none");
            $("#marchantIDtxt").text("e.g. The marchant email address used in your PayPal account.");
        } else {
            $('.paymentSettingsDisplay').css("display", "block");
            $("#marchantIDtxt").text("e.g. The marchant email address used in your " + $("#ddPaymentGatway option:selected").text() + " account.");
        }
    }
</script>*@
@* Wizard Popup ends here*@