
<div class="modal fade my-modal" id="myTerritorySetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
    <div style="width: 838px;" class="modal-dialog">
        <div class="modal-content" data-bind="with: $root.selectedCompanyTerritory">
            <div class="modal-header" id="dialgHeaderPadding">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add/Edit Territory</h4>
            </div>
            <div class="row" id="user-profile">
                <div class="col-lg-12 col-md-12 col-sm-12 form-horizontal outerDiv-Padding" data-bind="with: $root.selectedCompanyTerritory">
                    <div class="main-box clearfix" id="tabsHeader" style="margin:11px;">
                        <div class="tabs-wrapper profile-tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab-TerritoryDetail" data-toggle="tab">Territory Detail</a></li>
                                <li><a href="#tab-TerritoryVariables" data-toggle="tab">Territory Custom CRM defaults</a></li>
                                <li><a href="#tab-TerritorySpotColors" data-toggle="tab">Spot Colors</a></li>
                                <li><a href="#tab-TerritoryFonts" data-toggle="tab">Template Fonts</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-TerritoryDetail">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal clearfix">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="enter territory name" data-original-title="" title="">
                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                            </a>*@
                                                    </div>

                                                    <label for="txtSortOrder" class="control-label text-right tooltip-float">Territory Name</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="txtTerritoryName" data-bind="value: territoryName, validationTooltip: territoryName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Territory Code" data-original-title="" title="">
                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                            </a>*@
                                                    </div>

                                                    <label for="txtSortOrder" class="control-label text-right tooltip-float">Territory Code</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="txtTerritoryCode" data-bind="value: territoryCode, validationTooltip: territoryCode">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="This territory will be set as default for the store and any new users and addresses will be assigned this territory." data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="switchIsTDefault" class="control-label text-right tooltip-float">Is Default</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="onoffswitch">
                                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchIsTDefault" data-bind="checked: isDefault, disable  : isDefault">
                                                        <label class="onoffswitch-label" for="switchIsTDefault">
                                                            <div class="onoffswitch-inner"></div>
                                                            <div class="onoffswitch-switch"></div>
                                                        </label>
                                                    </div>
                                                    <span class="help-block text-right"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-TerritoryVariables">
                                    <div class=" form-horizontal clearfix">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="col-lg-3">Title</th>

                                                        <th class="col-lg-6">
                                                            Value
                                                        </th>
                                                        <th class="col-lg-1"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- ko template: { name: 'territoryVariableTemplate' , foreach: scopeVariables } -->
                                                    <!-- /ko -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-TerritorySpotColors">
                                    <div class="form-group" style="margin-bottom:11px;">
                                        <div class="col-lg-2 text-right">
                                            <label class="control-label text-right tooltip-float">Use Spot Colors</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="col-lg-12" style="margin-left:-10px;">
                                                <div class="radio">
                                                    <input type="radio" name="optionRadioSpotColor" id="optionRadioStore" value="false" data-bind="checked: $root.isUseTerritoryColorUi">
                                                    <label for="optionRadioStore">
                                                        Store level
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <input type="radio" name="optionRadioSpotColor" id="optionRadioTerritory" value="true" data-bind="checked: $root.isUseTerritoryColorUi">
                                                    <label for="optionRadioTerritory">
                                                        Territory level (All store level spot colors will be overwritten to territory, then can be modified).
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class=" form-horizontal clearfix" style="min-height:175px; max-height:175px;overflow-y:scroll;" id="colorslist" data-bind="visible: isUseTerritoryColor() == 'true'">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th><span>Color Name</span></th>
                                                        <th><span>Cyan</span></th>
                                                        <th><span>Magenta</span></th>
                                                        <th><span>Yellow</span></th>
                                                        <th><span>Black</span></th>
                                                        <th><span>Active</span></th>
                                                    </tr>
                                                </thead>
                                                @*$root.selectedStore().companyTerritoryColors*@
                                                <tbody>
                                                    <!-- ko template: { name: 'itemCompanySpotColorsTemplate' , foreach: $root.territorySpotColors } -->
                                                    <!-- /ko -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="btn-group" style="float: left; margin-top:10px; margin-bottom: 5px;" data-bind="visible: isUseTerritoryColor() == 'true'">
                                        <button type="button" class="btn btn-primary" data-bind="click : $root.onCreateNewTerritorySpotcolor">Add New Spot Color</button>
                                    </div>
                                    @*<div class="btn-group" style="float: left;  margin-left: 5px; margin-top:10px;margin-bottom: 5px;">
                                        <button type="button" class="btn btn-primary" data-bind="click : $root.copyGlobalColorsToTerritory">Overwrite Global Colors</button>
                                    </div>*@
                                </div>
                                <div class="tab-pane fade" id="tab-TerritoryFonts">
                                    <div class="form-group" style="margin-bottom:11px;">
                                        <div class="col-lg-2 text-right">
                                            <label class="control-label text-right tooltip-float">Use Template Fonts</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="col-lg-12" style="margin-left:-10px;">
                                                <div class="radio">
                                                    <input type="radio" name="optionTemplateFont" id="optionFontStore" value="false" data-bind="checked: $root.isUseTerritoryFontUi">
                                                    <label for="optionFontStore">
                                                        Store level
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <input type="radio" name="optionTemplateFont" id="optionFontTerritory" value="true" data-bind="checked: $root.isUseTerritoryFontUi">
                                                    <label for="optionFontTerritory">
                                                        Territory level (All store level fonts will be overwritten to territory, then can be modified).
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class=" form-horizontal clearfix" style="min-height:175px; max-height:175px;overflow-y:scroll;" id="fontslist" data-bind="visible: $root.isUseTerritoryFontUi() == 'true'">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="col-lg-4"><span>Font Name</span></th>
                                                        <th class="col-lg-3"><span>Font File</span></th>
                                                        <th class="col-lg-2"><span>Enable</span></th>
                                                        <th class="col-lg-3"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- ko template: { name: 'fontsTemplateTerritory' , foreach: $root.selectedStore().territoryTemplateFonts } -->
                                                    <!-- /ko -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="btn-group" style="float: left; margin-top:10px; margin-bottom: 5px;" data-bind="visible: $root.isUseTerritoryFontUi() == 'true'">
                                        <button type="button" class="btn btn-primary" data-bind="click: $root.onAddTerritoryTemplateFont">Add New Template Font</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style="padding-left: 0;padding-right:0;">
                <div style="padding-right:8px;padding-left:3px;">
                    <button type="button" class="btn btn-primary" data-bind="click: $root.onSaveCompanyTerritory, enable: hasChanges, css: { 'btn-warning': hasChanges }">Save</button>
                    <button type="button" class="btn btn-default" data-bind="click: $root.onCloseCompanyTerritory" style="margin-left: 0px;">Close</button>
                    <button type="button" class="btn btn-danger archiveButton" data-bind="click:$root.onDeleteCompanyTerritory, enable: $root.selectedCompanyTerritory().territoryId() != undefined">Archive</button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Wizard Popup ends here*@


<script id="territoryVariableTemplate" type="text/html">
    <tr>
        <td class="modifyVariabletd"><label for="abc" class="control-label" style="padding-top:0px;" data-bind="text:title"></label></td>

        <td>

            <div data-bind="visible:type() === 2">
                <input type="text" class="form-control" id="abc" data-bind="value: value">
            </div>
            <div data-bind="visible:type() === 1">
                <select class="form-control" data-bind="options: variableOptions, optionsText: 'value', optionsValue: 'value',value:optionId, validationTooltip: optionId,event: { change: $root.onVariableOptionDropDownChange }"></select>
            </div>
        </td>
        <td></td>


    </tr>
</script>
<script id="itemCompanySpotColorsTemplate" type="text/html">
    <tr>
        <td style="cursor: pointer" data-bind="click: $root.onEditTerritoryColor">
            <a href="#" class="store-user-link" data-bind="text: spotColor"></a>
        </td>
        <td>
            <div>
                <span data-bind="text: colorC"></span><span> %</span>
            </div>
        </td>
        <td>
            <div>
                <span data-bind="text: colorM"></span><span> %</span>
            </div>
        </td>
        <td>
            <div>
                <span data-bind="text: colorY"></span><span> %</span>
            </div>
        </td>
        <td>
            <div>
                <span data-bind="text: colorK"></span><span> %</span>
            </div>
        </td>
        <td>
            <div class="type">
                <span class="label" data-bind="text: isActive() ? 'YES' : 'NO', css: { 'label-success': isActive, 'label-danger': !isActive() }"></span></
            </div>
        </td>

    </tr>
</script>
<script id="fontsTemplateTerritory" type="text/html">
    <tr>
        <td><a href="#" class="store-user-link" data-bind="text: fontName, click:$root.onEditTerritoryTemplateFont"></a></td>
        <td data-bind="text:fontFile"></td>
        <td>
            <div class="type">
                <span class="label label-success" data-bind="text: isEnable ? 'YES' : 'NO', css: { 'label-success': isEnable, 'label-danger': !isEnable() }">YES</span>
            </div>
        </td>
        <td></td>
    </tr>

</script>