
<div class="modal fade my-modal" id="ckEditorDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width: 838px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" data-bind="visible: $root.isCustomWidgetLoad" style="padding-top: 10px; padding-bottom: 10px;">
                    <div class="form-group">
                        <div class="col-lg-2 text-right">
                            <label for="txtWidgetName" class="control-label text-right tooltip-float" style="padding-top:3px;">Widget Name</label>
                        </div>
                        <div class="col-lg-6">
                            <!-- ko if: $root.selectedCustomWidget() != undefined -->
                            <input type="text" class="form-control" id="txtWidgetName" placeholder="Enter Widget Name" data-bind="value: $root.selectedCustomWidget().widgetName">
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="main-box clearfix">
                        <textarea name="html_link_content" id="content" data-bind="editor: $root.editorHtmlData, valueUpdate:'afterkeydown', openFrom:$root.ckEditorOpenFrom">TEXT</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:$root.onSaveWidgetParamFromCkEditor">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left: 0px;margin-right: 5px;">Close</button>

            </div>
        </div>
    </div>
</div>
