
<div class="modal fade my-modal" id="ckEditorDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width: 838px;" class="modal-dialog" data-bind="with:$root.selectedWidget">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="main-box clearfix">
                        <textarea name="html_link_content" id="content" data-bind="editor: paramValue, valueUpdate: 'afterkeydown',openFrom:$root.ckEditorOpenFrom">TEXT</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:$root.onSaveWidgetParamFromCkEditor">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left: 0px;margin-right: 5px;">Close</button>

            </div>
        </div>
    </div>
</div>
