
<div class="modal fade my-modal" id="mySecondaryPageCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width: 345px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit User Defined Pages</h4>
            </div>
            <div class="col-lg-12">

                <div class="col-lg-12 clearfix outerDiv-Padding">

                    <div class="main-box-body clearfix">

                        <div class="form-group">

                            <div class="col-lg-12">
                                <!-- ko template: { name: 'pageCategoryTemplate' , foreach: $root.pageCategories } -->
                                <!-- /ko -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                &nbsp;
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:$root.onSavePageCategory">Save</button>
                <button type="button" class="btn btn-default" style="margin-left: 0px;" data-bind="click:$root.colseSecondaryPageCategoryDialog">Close</button>

            </div>
        </div>
    </div>
</div>

<script id="pageCategoryTemplate" type="text/html">
    <tr>
        <td>
            <input type="text" class="form-control" id="txtGetToK" data-bind="value:name, validationTooltip:name">
        </td>
    </tr>
</script>
@* Wizard Popup ends here*@