
<div class="modal fade my-modal" id="myMediaGalleryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 50000">
    <div style="width: 838px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Media Library</h4>
            </div>
            <div class="main-box-body">
                <div id="gallery-photos-lightbox">
                    <ul class="clearfix gallery-photos">
                        <!-- ko template: { name: 'mediaGalleryItemTemplate' , foreach: $root.selectedStore().mediaLibraries  } -->
                        <!-- /ko -->
                    </ul>
                </div>
            </div>
            <div class="clearfix">
                &nbsp;
            </div>
            <div class="fileSelectedContainer">
                @*<span>1 file selected</span>
                    <a>Edit&nbsp;|</a><a>&nbsp;Clear</a>*@
            </div>
            <div class="modal-footer" style="padding-right:8px;">
                <div>
                    <button type="button" class="btn btn-primary" data-bind="click:$root.onSaveMedia">Select</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left: 0px;">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script id="mediaGalleryItemTemplate" type="text/html">
        <li class="col-md-3 col-sm-3 col-xs-6 " data-bind="click:$root.selectMediaFile ">
            <div class="checkboxGray" data-bind="visible:isSelected()">
                <i class="fa fa-check"></i>
            </div>
            @*<div class="photo-box image-link" data-bind="style:{backgroundImage:' url('+fileSource()+')'}"></div>*@
            <div class="photo-box image-link" style="padding-top: 0">
                <img class="photo-box image-link" style="padding-top: 0;object-fit: contain; background-color: white !important;height:127px !important" data-bind="visible:fileSource()===undefined,attr: { src: '@Url.Content("~/")' + imageSourcePath() }" alt="" />
                <img class="photo-box image-link" style="padding-top: 0; object-fit: contain; background-color: white !important" data-bind="visible:fileSource()!==undefined,attr: { src: fileSource }" />
            </div>
            <span class="thumb-meta-time"><i class="fa fa-clock-o"></i></span>
        </li>
    </script>
</div>


@* Wizard Popup ends here*@
