<div class="modal fade" id="SelectAddressSetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width: 838px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="dialgHeaderPadding">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Select Pickup Address</h4>
            </div>
            <div class="clearfix">
            </div>
            <br />
            <div class=" form-horizontal clearfix">
                <div class="col-lg-12" data-bind="with: $root.selectedPickupAddress">
                    <div class="form-group ">
                        <div class="col-lg-3 text-right">
                            @*<div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Address" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>*@

                            <label for="txtAddressName" class="control-label text-right tooltip-float">Pickup Address</label>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control col-lg-4" data-bind="options:$root.allCompanyAddressesList,optionsText:'addressName',optionsValue:'addressId',optionsCaption: 'Select Pickup Address ...', value: $root.selectedStore().pickupAddressId"></select>
                            @*<select class="form-control">
                        <option>West Region</option>
                        <option>South Region</option>
                        <option>East Region</option>
                        <option>Jack Nicholson</option>

                    </select>*@
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-lg-3 text-right">
                            @*<div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Company Name" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>*@

                            <label for="txtAdd1" class="control-label text-right tooltip-float">Company Name</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" value="My Print Cloud" disabled="disabled" class="form-control" id="txtAdd1"  data-bind="value: $root.selectedStore().name">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-lg-3 text-right">
                            @*<div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Address1" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>*@

                            <label for="txtAdd1" class="control-label text-right tooltip-float">Address 1</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" value="East Region London" disabled="disabled" class="form-control" id="txtAdd1" data-bind="value: address1">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-lg-3 text-right">
                            @*<div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Address2" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>*@

                            <label for="txtAdd2" class="control-label text-right tooltip-float">Address 2</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" disabled="disabled" value="East Region London" class="form-control" id="txtAdd2" data-bind="value: address2">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-lg-3 text-right">
                            @*<div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter City" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>*@

                            <label for="txtCity" class="control-label text-right tooltip-float">City</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" disabled="disabled" value="London" class="form-control" id="txtCity" data-bind="value: city">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-lg-3 text-right">
                            @*<div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select State" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>*@

                            <label for="txtState" class="control-label text-right tooltip-float">State</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" disabled="disabled" value="Bedfordshire" class="form-control" id="txtState" data-bind="value: stateName">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-lg-3 text-right">
                            @*<div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Country" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>*@

                            <label for="txtCountry" class="control-label text-right tooltip-float">Country</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" value="UK" disabled="disabled" class="form-control" id="txtCountry" data-bind="value: countryName">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-lg-3 text-right">
                            @*<div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Postal Code" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>*@

                            <label for="txtPostalCode" class="control-label text-right tooltip-float">Postal Code</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" value="ER-4569" disabled="disabled" class="form-control" id="txtPostalCode" data-bind="value: postCode">
                        </div>
                    </div>
                </div>

                <div class="modal-footer col-xs-12">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="enable: ($root.selectedPickupAddress().postCode() != undefined && $root.selectedPickupAddress().stateName() != undefined && $root.selectedPickupAddress().countryName() != undefined)">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
@* Wizard Popup ends here*@