/* http://www.menucool.com */

#sliderFrame {position:relative;width:700px;margin: 0 auto;} /*remove the "margin:0 auto;" if you want to align the whole slider to the left side*/

#divImgTabs
{
     /*width:100%; */
     background-color:#F3F4F4 !important;

    moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding:5px;
    margin-bottom:10px;
}
        
#slider
{
    width: 462px !important;
    height: 400px ; /* Make it the same size as your images */
    background: #fff url('../images/loading45_slider.gif') no-repeat;
    position: relative;
    margin: 0 auto; /*make the image slider center-aligned   box-shadow: 0px 1px 5px #999999;*/
       
    background-size: contain !important;
    background-position: center !important;
   
}
#slider img {
	position:absolute;
	border:none;
	display:none;
	max-height:435px;
	max-width:465px;
	
}

/* the link style (if an image is wrapped in a link) */
#slider a.imgLink {
	z-index:2;
	display:none;position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}

/* Caption styles */
div.mc-caption-bg, div.mc-caption-bg2 {
	position:absolute;
	width:200px;
	height:auto;
	padding:10px;
	left:120px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom:10px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size: 0;
}
div.mc-caption-bg {
	background-color:black;
	border:1px solid white;
	border-radius: 5px;
}
div.mc-caption {
	font:bold 15px Arial;
	color:#EEE;
	z-index:4;
	padding:3px 0;/*Adding a padding-left or padding-right here will make the caption area wider than its background. Sometimes you may need to define its width again here to keep it the same width as its background area (div.mc-caption-bg).*/
	text-align:center;
}
div.mc-caption a {
	color:#FB0;
}
div.mc-caption a:hover {
	color:#DA0;
}


/* ------ built-in navigation bullets wrapper ------*/
div.navBulletsWrapper  {
	top:470px;  /* Its position is relative to the #slider */
    
	background:none;
	position:relative;
	z-index:5;
	cursor:pointer;
	margin:auto;
    width: 17px;
    overflow: visible;
    height: 20px;
}

/* each bullet */
div.navBulletsWrapper div
{
    width: 11px;
    height: 11px;
    background: transparent url('../images/bullet.png') no-repeat 0 0 !important;
    float: left;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 11px; /* distance between each bullet*/
    _position: relative; /*IE6 hack*/
}

div.navBulletsWrapper div.active {background-position:0 -11px;}


/* --------- Others ------- */
#slider 
{
	transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}
        #UpdateProgressUserProfile
            {
                
                display:none;
                /*display:block; */
                z-Index:1001; 
                  }
.mcSlc
{
    background-size:  contain !important;
    background-position: center !important;
}
@media (min-width:320px) {
    #slider img {
        position: absolute;
        border: none;
        display: none;
        max-height: 245px!important;
        max-width: 245px!important;
    }
}
@media (min-width:481px) {
      #slider img {
        position: absolute;
        border: none;
        display: none;
        max-height: 335px!important;
        max-width: 365px!important;
    }

}
@media (min-width:641px) {
   #slider img {
        position: absolute;
        border: none;
        display: none;
        max-height: 435px!important;
        max-width: 465px!important;
    }

}
@media (min-width:992px) {
      #slider img {
        position: absolute;
        border: none;
        display: none;
        max-height: 435px!important;
        max-width: 465px!important;
    }
}
@media (min-width:1025px) {
     #slider img {
        position: absolute;
        border: none;
        display: none;
        max-height: 435px!important;
        max-width: 465px!important;
    }
}