.Contact-Main-Div {
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 30%;
    margin-right: 10px;
}

.Message-Main-Div {
    display: inline-block;
    float: left;
    vertical-align: top;
    width: 30%;
    margin-left: 10px;
}

.SocialMedia-Main-Div {
    margin-left: 8px;
    margin-right: 5px;
    float: left;
    display: inline-block;
    width: 4%;
    text-align: right;
}

.SocialMedia-Message-Main-Div {
    margin-right: 10px;
    display: inline-block;
    float: left;
    vertical-align: top;
    width: 30%;
    margin-right: 10px;
}
 .panel-heading:hover {
        background-color: #3e3936 !important;
        border-left: 5px solid #f46a12 !important;
        padding-left: 5px;
        height: 20px;
    }
.Parent-Div {
    padding: 10px;
    background-color: #a5a6a5;
    height: auto;
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    text-align: center;
    white-space: nowrap;
}

/*Starting Stylesheet for header*/
.Headaer-Parent-Div {
    /*position: absolute;
    white-space: nowrap;
    width: 99.9%;
    top: 0px;
    left: 0px;*/
    position: absolute;
    white-space: nowrap;
    width: 99.9%;
    top: 0px;
    left: 0px;
    background-color: #e9501d;
    vertical-align: top;
    /*box-shadow: inset 10px 0 5px -5px hsla(0,0%,0%,.25), inset 0 -5px 20px -5px white;*/
      box-shadow: inset 10px 0 5px -5px hsla(15, 81%, 52%, 1), inset 0 -5px 9px -5px rgb(117, 94, 94);
        /*background: -webkit-linear-gradient(#e9501d, #e9501d); 
    background: -o-linear-gradient(#e9501d, #e9501d); 
    background: -moz-linear-gradient(#e9501d, #e9501d); 
    background: linear-gradient(#e9501d, #e9501d);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
 
}

.HeaderBarLeft-Div {
    width: 45%;
    display: inline-block;
    height: 70px;
    background-color: #e9501d;
    vertical-align: top;
    box-shadow: inset -10px 0 5px -5px hsla(0,0%,0%,.25), inset 0 -5px 20px -5px white;
}

.HeaderBarLeft-ChildDiv {
    margin-left: 40px;
    margin-top: 20px;
    padding-top: 7px;
    padding-left: 34px;
    width: 50%;
    height: 25px;
    background-color: white;
    opacity: 0.7;
    cursor: pointer;
    text-align: left;
    display: none;
}

.HeaderBarRight-Div {
    width: 89.9%;
    display: inline-block;
    height: 70px;
    background-color: #e9501d;
    vertical-align: top;
    box-shadow: inset 10px 0 5px -5px hsla(0,0%,0%,.25), inset 0 -5px 20px -5px white;
}

.HeaderBarRight-ChildDiv {
    /*margin-top:0px;
  position: relative;
  float: right;
  width: 15%;
  text-align: left;*/
    margin-top: 10px;
    position: relative;
    float: right;
    width: 15%;
    text-align: left;
    height: 36px;
}

.HeaderBarLogo-Div {
    /*width: 10%;
    display: inline-block;
    height: 70px;
    text-align: center;*/
    /*width: 10%;*/
    /*display: inline-block;*/
    /*height: 70px;
    text-align: center;
    background-color: white;
    z-index: 100;
    position: relative;
    box-shadow: inset 0 -10px 10px -10px #959696;
    float: left;*/
    /*width: 10%;
    display: inline-block;
    height: 70px;
    text-align: center;*/
    width: 10%;
    /*display: inline-block;*/
    height: 70px;
    text-align: center;
    /*background-color: white;*/
    z-index: 100;
    position: relative;
 /*   box-shadow: inset 0 -10px 10px -10px #959696;*/
    float: left;
}
.HeaderBarLogo-Div > a > img {
max-height:70px;
}
.DropDown {
    height: auto;
    width: 55.7%;
    margin-left: 40px;
    background-color: #f6f3f3;
    z-index: 1000;
    position: relative;
}

.UserName {
    display: inline-block;
}

.realEstateHeader {
    width: 100%;
    height: 59px;
    padding-top: 10px;
    background-color: white;
    z-index: 100;
    position: relative;
    box-shadow: inset 0 -10px 10px -10px #959696;
}
/*#mycarasoulList {
    margin-top:-19px!important;
}*/

::-webkit-input-placeholder { /* WebKit browsers */
    color: gray;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: gray;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: gray;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: gray;
}
/*end*/
/*for footer*/

/*For Login Page*/
body {
}

#LoginParent_Div {
    width: 100%;
    height: 400px;
}

#Parent_Username_Password {
    width: 100%;
    height: 150px;
    padding-left: 20%;
}

#LinkButtons_Div {
    width: 65%;
    /* text-align: right; */
    float: right;
    display: none;
}

#LinkButtons_Div_Username {
    padding-bottom: 30px;
    width: 58%;
    text-align: right;
    display: none;
}

.TextBoxesRealEstateLogin {
    /*font-family: PT Sans;*/
    font-size: 12px;
    color: #999999;
    padding-left: 10px;
    border: solid;
    border-width: 1px;
    border-color: #999999;
    height: 20px;
}

.ButtonsRealEstateLoginUsername {
    background-color: #FF3300;
    width: 80px;
    height: 30px;
    border: none;
    /*font-family: PT Sans;*/
    font-size: 14pt;
    color: white;
}

.error-messageLEmail {
    color: #CC0000;
    font-size: 10px;
   /* font-family: PT Sans;*/
    font-weight: bold;
}

.LoginTitle {
    font-size: 25px !important;
   /* font-family: PT Sans;*/
    font-variant: normal;
    color: #FF3300;
}

.Message_Username {
    font-size: 12px;
    color: #999999;
   /* font-family: PT Sans;*/
}

.Validator_Username {
    color: #CC0000;
    Font-Size: 10px;
   /* font-family: PT Sans;*/
    font-weight: bold;
    margin-top: 20px;
    float: left;
}

.Message_PAssword {
    Font-Size: 12px;
    Color: #999999;
   /* font-family: PT Sans;*/
}

.Validator_Password {
    Color: #CC0000;
    Font-Size: 10px;
   /* font-family: PT Sans;*/
    font-weight: bold;
    visibility: hidden;
}

.emailMessage {
    display: none;
    width: 60%;
}

.txtBoxLoginPageRE {
    border: 1px solid #c1c6cc;
    padding: 5px;
    height: 25px;
    width: 95%;
}

/*End Login Page*/

/*Start-SmartForm Styles*/

::-webkit-input-placeholder {
    color: gray;
}

:-moz-placeholder { /* Firefox 18- */
    color: gray;
}

::-moz-placeholder { /* Firefox 19+ */
    color: gray;
}

:-ms-input-placeholder {
    color: gray;
}

.propertySection {
    color: #e9501d;
}

.detailSection {
    color: white;
    font-weight: bold;
}

label {
    color: white;
    margin-left: 0px;
    line-height: 30px;
}

.generalTextBox {
    width: 145px;
    height: 23px;
    float: right;
    background-color: lightgray;
    margin-right: 10px;
    font-size: 15px;
}

.controlParentDiv {
    margin-bottom: 7px;
    width: 100%;
    text-align: left;
}

.controlDiv {
    float: left;
    width: 50%;
    font-size: 11px;
}

.controlSecondDiv {
    float: left;
    width: 25%;
    font-size: 11px;
}

.SecondChildControlDiv {
    float: left;
    width: 25%;
}

.smartFormParentDiv {
    width: 100%;
    /*height: 405px;*/
}

.smartFormFirstChild {
    float: left;
    width: 50%;
    text-align: left;
}

.smartFormSecondChild {
    float: left;
    width: 100%;
    text-align: left;
}

/*End-SmartForm Styles*/

@media (min-width:481px) {
    .txtContact {
        width: 100px;
    }

    .txtMessage {
        width: 100px;
    }

    .textSocialMessage {
        width: 100px;
    }

    .controlStyle {
        width: 97%;
    }

    .controlDivStyle {
        width: 100%;
    }
}

@media (min-width:641px) {
    .txtContact {
        width: 180px;
    }

    .txtMessage {
        width: 180px;
    }

    .textSocialMessage {
        width: 180px;
    }

    .controlStyle {
        width: 97%;
    }

    .controlDivStyle {
        width: 100%;
    }
}

@media (min-width:961px) {
    .txtContact {
        width: 260px;
    }

    .txtMessage {
        width: 260px;
    }

    .textSocialMessage {
        width: 260px;
    }

    .Parent-Div {
        padding: 10px;
        background-color: #a5a6a5;
        height: auto;
        /*position: absolute;*/
        top: 0px;
        left: 0px;
        text-align: center;
        white-space: nowrap;
        width: 940px;
    }

    .controlStyle {
        width: 97%;
    }

    .controlDivStyle {
        width: 100%;
    }
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:992px) {
    .txtContact {
        width: 365px;
    }

    .txtMessage {
        width: 365px;
    }

    .textSocialMessage {
        width: 365px;
    }

    .Parent-Div {
        padding: 10px;
        background-color: #a5a6a5;
        height: auto;
        /*position: absolute;*/
        top: 0px;
        left: 0px;
        text-align: center;
        white-space: nowrap;
        width: 972px;
    }

    .controlStyle {
        width: 97%;
    }

    .controlDivStyle {
        width: 100%;
    }
}

/*For Desktops With Higher 1025px*/
@media (min-width:1025px) {
    .txtContact {
        width: 365px;
    }

    .txtMessage {
        width: 365px;
    }

    .textSocialMessage {
        width: 365px;
    }

    .controlStyle {
        width: 97%;
    }

    .controlDivStyle {
        width: 100%;
    }
}


/*Other styling*/


.full-width-boxes {
    width: 390px !important;
}

.width-234 {
    width: 148px !important;
}

#MainContent_pnlSmartForm {
    padding: 0px 10px 0px 10px;
}

h5 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Mtop10 {
    margin-top: 10px;
}

.inspectionBtn {
    background-color: #e9501d;
    color: white;
    height: 30px;
    width: 153px !important;
    margin-right: 10px;
    font-size: 12px;
    border: none;
}

.clearleft {
    clear: left;
}

.AgentBtn {
    background-color: #e9501d;
    color: white;
    height: 30px;
    width: 70px !important;
    margin-right: 10px;
    font-size: 12px;
    border: none;
    margin-top: 0px;
    margin-bottom: 10px;
}

.height5px {
    height: 5px !important;
}

.MultilineTextBox {
    width: 145px;
    float: right;
    background-color: lightgray;
    margin-right: 10px;
    font-size: 15px;
}

.InstallationInstContainer {
    width: 84px;
    color: white;
    float: left;
}

.btnSaveAndOrder {
    background-color: #e9501d;
    color: white;
    height: 30px;
    width: 170px !important;
    margin-right: 10px;
    font-size: 16px;
    border: none;
}

.controlSecondDiv label {
    margin-top: -3px;
}

.controlDiv label {
    margin-top: -3px;
}

.removeAgentcontrol {
    margin-right: 10px;
    font-size: 13px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

    .removeAgentcontrol:hover {
        margin-right: 10px;
        font-size: 13px;
        color: red;
        text-decoration: underline;
        cursor: pointer;
    }

.category-heading {
    padding-top: 10px;
    padding-bottom: 36px;
    font-size: 15px;
    font-weight: normal;
}

#parentCatsContainer > .category-heading {
    background-color: transparent !important;
    border-left: 5px solid transparent !important;
    padding-left: 5px;
    height: 20px;
}
#parentCatsContainer> .category-heading:hover {
        background-color: #3e3936 !important;
        border-left: 5px solid #f46a12 !important;
        padding-left: 5px;
        height: 20px;
    }

.Chevron {
    position: relative;
    display: block;
    height: 50px; /*height should be double border*/
}

    .Chevron:before,
    .Chevron:after {
        position: absolute;
        display: block;
        content: "";
        border: 7px solid transparent; /*adjust size*/
    }
    /*Change four 'top' values below to rotate (top/right/bottom/left)*/
    .Chevron:before {
        top: 6px;
        border-top-color: #bebab8;
        left: -35px;
    }

    .Chevron:after {
        top: 5px;
        border-top-color: #564e4b;
        margin-left: -35px;
    }
.category-heading a {
    display: block;
    text-decoration: none;
    outline: 0;
    color: #FFFFFF !important;
    cursor: pointer;
}

.sideMenuItems {
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 3s linear;
    -o-transition: opacity 3s linear;
    -ms-transition: opacity 3s linear;
    transition: opacity 3s linear;
}

.icon-text-file:after {
    Content: "\f15c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.icon-text-signout:after {
    Content: "\f08b";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.icon-text-cog:after {
    Content: "\f013";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.relEstateTel {
    font-size: 25px;
    color: white;
}

    .relEstateTel:before {
        Content: "\f025";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
    }

    .relEstateTel:after {
        /*Content:"support@realestatecampaigns.com.au";
       font-size: 10px !important;
  font-weight: normal;*/
        Content: "support@realestatecampaigns.com.au";
        font-size: 10px !important;
        font-weight: normal;
        margin-left: -150px;
        margin-top: 30px;
        position: absolute;
    }

.realEstFooterTxtColor {
    color: #6a6562;
}

.realEs-myProfile-leftPanel {
    width: 26%;
    background-color: #564e4b;
    text-align: left;
    float: left;
}

.realEs-myProfile-rightPanel {
    width: 70%;
    /*background-color: #ffffff;*/
    text-align: left;
    padding-left: 20px;
    float: left;
    /*box-shadow: 0px 0px 10px #888888;*/
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 25px;
}

.realEs-carousal-evolution {
    background: white !important;
    padding: 10px !important;
    text-align: center;
    box-shadow: 0px 0px 10px #888888;
}

.reales-profile-border {
    margin: 10px;
    height: 1px;
    border-bottom: 1px solid #bebab8;
}

.reales-profile-pad10 {
    padding-left: 10px;
}

.relEst-profile-sigout {
 margin-left: 10px;
  color: #bebab8;
  margin-top: 0px;
  font-size: 12px;
  border: 1px solid #bebab8;
  padding: 5px;
  border-radius: 13px;
  cursor: pointer;
  padding-left: 7px;
  padding-right: 7px;
  cursor:pointer;
  margin-right:10px;
}
.relEst-profile-sigout > a {
      color: #bebab8;
}
.relEst-profile-saved {
   margin-left: 10px;
  color: #bebab8;
  margin-top: 0px;
  font-size: 12px;
  border: 1px solid #bebab8;
  padding: 5px;
  border-radius: 13px;
  cursor: pointer;
  padding-left: 7px;
  padding-right: 7px;
  cursor:pointer;
}

.relEst-profile-dashb {
  margin-left: 10px;
  color: #bebab8;
  margin-top: 0px;
  font-size: 12px;
  border: 1px solid #bebab8;
  padding: 5px;
  border-radius: 13px;
  cursor: pointer;
  padding-left: 7px;
  padding-right: 7px;
  cursor:pointer;
}

.resEst-width50 {
    width: 50px;
}

.resEst-profile-username {
    margin-left: 20px;
    margin-top: 15px;
}

.real-profile-textcolor {
    color: #bebab8;
}
.realEst-footer-PrivacyPolicy {
    width:15%;  margin-top: 7px;
}

.realEst-footer-terms {
    width:25%;  margin-top: 7px;
}

.realEst-footer-copyright {width:35%;  margin-top: 7px;
}
.wdthWrp {
width:54px !important;
}
.corpBox {
    margin-bottom: 20px;
    margin-top: 10px;
}