@{
    ViewBag.Title = "Add/Edit Delivery Carriers";
}



<div class="modal fade" id="myAddEditDelvCarrierModalDialog"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width: 838px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add/Edit Shipping Carrier</h4>
            </div>
            <div class="col-lg-12 form-horizontal outerDiv-Padding" data-bind="with:$root.selectedCarrier">
                <div class="form-horizontal clearfix">
                    <div class="form-group">
                        <div class="col-lg-4 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                @*<a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>*@
                            </div>
                            <label for="txtCName" class="control-label text-right tooltip-float">Carrier Name</label>
                        </div>
                        <div class="input col-lg-6">
                            <input type="text" class="form-control" data-bind="value:carrierName,validationTooltip:carrierName,css:{'error':(!carrierName.isValid() && showErrors())},enable:readonly()">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                @*<a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>*@
                            </div>
                            <label for="txtBillingCInfo" class="control-label text-right tooltip-float">URL</label>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" data-bind="value:url,validationTooltip:url,css:{'error':(!url.isValid() && showErrors())}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label for="txtTrackingCInfo" class="control-label text-right tooltip-float">API Key</label>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" data-bind="value:apiKey,validationTooltip:url,css:{'error':(!apiKey.isValid() && showErrors())}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4 text-right">
                            <div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label for="txtTrackingCInfo" class="form-control" style="border:none;">API Password</label>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control errorFill error" id="txtTrackingCInfo" data-bind="value:apiPassword,validationTooltip:apiPassword,css:{'error':(!apiPassword.isValid() && showErrors())}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            &nbsp;
                        </div>
                        <div class="col-xs-8">
                            <div class="checkbox-nice">
                                <input type="checkbox" />
                                <input type="checkbox" style="margin-top: 5px;" id="checkbox-1" data-bind="checked:isenable" />
                                <label for="checkbox-1">
                                    Enable
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="modal-footer" data-bind="with:selectedCarrier">
                <button type="button" class="btn btn-primary" data-bind="click: $root.onsaveDeliveryCarrier,css: { 'btn-warning': hasChanges } , enable: hasChanges">Save</button>
                <button type="button" class="btn btn-default" data-bind="click:$root.onCloseDeliveryCarrier">Close</button>
                
            </div>
        </div>
    </div>
</div>




