<style>
   
    .aligndivs
    {
        display:inline;
        float:left;
        
        margin-right:10px;
        margin-bottom:10px;
    }
</style>

<div>

    <div>
        <h3 style="padding-right:10px;margin:0px;">Specify values for the click charge Zone Calculation</h3>
    </div>
    <div style="margin-top:20px;">
        <div class="aligndivs" style="text-align:right;width:224px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float">Enter the name of the Lookup method</label>
        </div>
        <div class="aligndivs" style="width:30px;padding-top:7px;">
            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="Click Chnage Lookup" style="width:385px;">
        </div>
    </div>
    <br />
    
    <div style="margin-top:20px;">
        <div class="aligndivs" style="text-align:right;width:265px;display:inline;">
           
        </div>
        <div class="aligndivs">
            <div class="checkbox-nice" style="display:inline;position:relative;">
                <input type="checkbox" id="checkbox-1"  style="position:relative;">
                <label for="checkbox-1">
                    Accumulate click charge rate across all parts
                </label>
            </div>
        </div>
    </div>
   
    <br />
    <div style="margin-top:20px;">
        <div class="aligndivs" style="text-align:right;width:265px;display:inline;">
        </div>
        <div class="aligndivs">
            <div class="checkbox-nice" style="display:inline;position:relative;">
                <input type="checkbox" id="checkbox-2"  style="position:relative;">
                <label for="checkbox-2">
                    Accumulate click charge rate across all parts
                </label>
            </div>
        </div>
    </div>
    
    <br />

  
    <div style="margin-top:20px;">
        <div class="aligndivs" style="text-align:right;width:265px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">Specify Click Charge Zone Rates</label>
        </div>
        <div class="aligndivs" style="width:145px;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">Chargeable Sheets</label>
        </div>
        <div class="aligndivs" style="width:100px;text-align:center;">
            <label for="txtCompanyName" class="control-label text-right">Cost</label>
        </div>
        <div class="aligndivs" style="width:100px;text-align:center;">
            <label for="txtCompanyName" class="control-label text-right" >Price</label>
        </div>
    </div>
    <br />
    <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">From</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">0</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">To</label>
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
 
    
    <br />
   
        <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">101</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
   

    <br />
        
    <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">201</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
  
    <br />

   
        <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">301</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
    <br />

   
        <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">401</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
    <br />

    
        <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">501</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
    <br />

  
        <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">1001</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
    <br />

    
        <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">5001</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
    <br />

    
        <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">10001</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
    <br />

   
        <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">50001</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
    <br />

    
        <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">90001</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
    <br />

    
        <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">100001</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
    <br />

   
        <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">110001</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
    <br />
    
    
        <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">120001</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
    <br />
    
        <div class="aligndivs" style="text-align:right;width:200px;display:inline;">
        </div>
        <div class="aligndivs" style="text-align:center;width:25px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float" style="float:right;">130001</label>
        </div>
        <div class="aligndivs" style="text-align:center;width:20px;display:inline;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
        <div class="aligndivs">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:68px;">
        </div>
   

</div>