


<div data-bind="visible: $root.isClickChargeEditorVisible(), with: selectedClickCharge()" style="display: none">



    <div>
        <h3 style="padding-right:10px;margin:0px;">Specify values for the click charge Lookup Calculation</h3>
    </div>
    <br />
    <div class="form-group">
        <div class="col-lg-6 text-right">
            <div class="bs-example-tooltips tooltip-float-width">
                <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter the name of the Lookup method" data-original-title="" title="">
                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                </a>
            </div>
            <label for="txtCompanyName" class="control-label text-right tooltip-float">Enter the name of the Lookup method</label>
        </div>
        <div class="col-lg-5" data-bind="with:$root.selectedlookup() ">
            <input type="text" name="Store Name" class="form-control" data-bind="value:Name" placeholder="Click Charge Lookup">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-6 text-right">
            <div class="bs-example-tooltips tooltip-float-width">
                <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter the number of chargeable sheets" data-original-title="" title="">
                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                </a>
            </div>
            <label for="txtCompanyName" class="control-label text-right tooltip-float">Enter the number of chargeable sheets</label>
        </div>
        <div class="col-lg-5">
            <input type="text" class="form-control" data-bind="autoNumeric: Sheets , settings:{mDec:0}" placeholder="Chargeable Sheets">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-6 text-right">
            <div class="bs-example-tooltips tooltip-float-width">
                <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Cost of the chargeable sheets" data-original-title="" title="">
                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                </a>
            </div>
            <label for="txtCompanyName" class="control-label text-right tooltip-float">Enter Cost of the chargeable sheets</label>
        </div>
        <div class="col-lg-5">

            <div class="input-group">
                <span class="input-group-addon" tabindex="-1" data-bind="text:$root.CurrencySymbol"></span>
                <input type="text" class="form-control" data-bind="autoNumeric: SheetCost , settings:{mDec:2}" placeholder="Cost Chargeable Sheet">
               
            </div>


        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-6 text-right">
            <div class="bs-example-tooltips tooltip-float-width">
                <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Price of the chargeable sheets" data-original-title="" title="">
                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                </a>
            </div>
            <label for="txtCompanyName" class="control-label text-right tooltip-float">Enter Price of the chargeable sheets</label>
        </div>
        <div class="col-lg-5">

            <div class="input-group">
                <span class="input-group-addon" tabindex="-1" data-bind="text:$root.CurrencySymbol"></span>
                <input type="text" class="form-control" data-bind="autoNumeric: SheetPrice , settings:{mDec:2}" placeholder="Price Chargeable Sheet">
               
            </div>


        </div>


    </div>
</div>
