
@*<div class="tab-pane clearfix fade" id="tab-languageeditor">*@
<div class="main-box-body clearfix" data-bind="visible: $root.isLanguageEditorVisible" style="display:none;">
        <div class="col-md-12 form-horizontal" style="padding-left:0px;padding-right:0px;">
            <h3>Localize text labels used on webstores and MIS Dashboard</h3>
            <p class="group-header-description">Any label or text used within a webstore can be modified globally by editing the language file for example if a button says "Order Now" and you would like to change that text to "Order Today" you would change it within this language file, you can modify and correct any localized spelling as well.</p>
            <div style="height:20px;">
                &nbsp;
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <div class="col-lg-3 text-right">

                    @*<div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Name of the company or organization." data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>*@
                    <label for="txtCompanyName" class="control-label text-right tooltip-float">Dictionary pack</label>

                </div>

                <div class="col-lg-6">
                    <select id="language" class="form-control" data-bind="options: $root.languagePacks, optionsText: 'FriendlyName', optionsValue: 'LanguageId' ,value:languageId,validationtooltip:languageId, event: { change : $root.getLanguageEditorDataByLanguageId}"></select>
                    <span class="help-block text-right"></span>
                </div>

            </div>
           <div class="col-lg-12" style="padding-left:0px;padding-right:0px;">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="col-lg-1"></th>
                                <th class="col-lg-3"><a href="#"><span>Caption</span></a></th>
                                <th class="col-lg-2"><span>Details</span></th>
                                <th class="col-lg-2"></th>
                                <th class="col-lg-2"></th>
                                <th class="col-lg-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko template: { name: 'languageEditorItemTemplate' , foreach: languageEditors } -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    @*</div>*@
