

<div class="main-box-body clearfix" data-bind="visible: $root.isNotesVisible" style="display:none;">
    <div class="col-md-12 form-horizontal" style="margin-top:25px;padding-left:0;">
        <div style="margin-bottom:15px;">
            <p class="group-header-description"> Set head and foot notes for orders, invoices, delivery and purchase orders.</p>
            <div style="height:20px;">
                &nbsp;
            </div>
        </div>
        <div class="col-md-12" style="padding-left: 0;">
            <div class="col-md-12 col-lg-12" style="padding-left: 0;">
                <h3 class="group-header">Order Notes</h3>
            </div>

            <div class="form-group">
                <div class="col-lg-3 text-right">
                    <label for="orderHeadNote" class="control-label text-right tooltip-float">
                        Head Note
                    </label>

                </div>

                <div class="col-lg-6">
                    <textarea class="form-control" id="orderHeadNote" placeholder="Enter opening paragraph as it would appear on new order" rows="4" data-bind="value: orderHeadNote"></textarea>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-3 text-right">
                    <label for="orderFootNote" class="control-label text-right tooltip-float">
                        Foot Note
                    </label>

                </div>

                <div class="col-lg-6">
                    <textarea class="form-control" id="orderFootNote" placeholder="Enter closing paragraph as it would appear on new order" rows="4" data-bind="value: orderFootNote"></textarea>
                </div>

            </div>

            <div class="col-md-12 col-lg-12" style="padding-left: 0;">
                <h3 class="group-header">Invoice Notes</h3>
            </div>

            <div class="form-group">
                <div class="col-lg-3 text-right">
                    <label for="invoiceHeadNote" class="control-label text-right tooltip-float">
                        Head Note
                    </label>

                </div>

                <div class="col-lg-6">
                    <textarea class="form-control" id="invoiceHeadNote" placeholder="Enter opening paragraph as it would appear on new invoice" rows="4" data-bind="value: invoiceHeadNote"></textarea>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-3 text-right">
                    <label for="invoiceFootNote" class="control-label text-right tooltip-float">
                        Foot Note
                    </label>

                </div>

                <div class="col-lg-6">
                    <textarea class="form-control" id="invoiceFootNote" placeholder="Enter closing paragraph as it would appear on new invoice" rows="4" data-bind="value: invoiceFootNote"></textarea>
                </div>

            </div>

            <div class="col-md-12 col-lg-12" style="padding-left: 0;">
                <h3 class="group-header">Delivery Notes</h3>
            </div>

            <div class="form-group">
                <div class="col-lg-3 text-right">
                    <label for="deliveryHeadNote" class="control-label text-right tooltip-float">
                        Head Note
                    </label>

                </div>

                <div class="col-lg-6">
                    <textarea class="form-control" id="deliveryHeadNote" placeholder="Enter opening paragraph as it would appear on new delivery notes" rows="4" data-bind="value: deliveryHeadNote"></textarea>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-3 text-right">
                    <label for="deliveryFootNote" class="control-label text-right tooltip-float">
                        Foot Note
                    </label>

                </div>

                <div class="col-lg-6">
                    <textarea class="form-control" id="deliveryFootNote" placeholder="Enter closing paragraph as it would appear on new delivery notes" rows="4" data-bind="value: deliveryFootNote"></textarea>
                </div>

            </div>

            <div class="col-md-12 col-lg-12" style="padding-left: 0;">
                <h3 class="group-header">Purchase Order Notes</h3>
            </div>

            <div class="form-group">
                <div class="col-lg-3 text-right">
                    <label for="purchaseHeadNote" class="control-label text-right tooltip-float">
                        Head Note
                    </label>

                </div>

                <div class="col-lg-6">
                    <textarea class="form-control" id="purchaseHeadNote" placeholder="Enter opening paragraph as it would appear on new purchase order" rows="4" data-bind="value: purchaseHeadNote"></textarea>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-3 text-right">
                    <label for="purchaseFootNote" class="control-label text-right tooltip-float">
                        Foot Note
                    </label>
                </div>
                <div class="col-lg-6">
                    <textarea class="form-control" id="purchaseFootNote" placeholder="Enter closing paragraph as it would appear on new purchase order" rows="4" data-bind="value: purchaseFootNote"></textarea>
                </div>

            </div>
        </div>
    </div>
</div>