 
<div class="main-box-body clearfix" data-bind="visible: $root.isOrganisationVisible" style="display:none;">
    <div class="col-md-12 form-horizontal" style="margin-top:20px;">
        <div style="margin-bottom:15px;">
            <p class="group-header-description">Set your company’s name, address and logo for internal reports</p>
            @*  <span style="margin-bottom:5px;font-size:12px;">Set your company’s name, address and logo for internal reports</span>*@
        </div>
        <div class="col-md-6">
           
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    @*<div class="bs-example-tooltips tooltip-float-width">
                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter your company name (Acme Printing)" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>*@
                    <label for="txtCompanyName" class="control-label text-right tooltip-float">Company Name</label>

                </div>

                <div class="col-lg-6">
                    <input type="text" class="form-control" id="txtCompanyName" placeholder="Enter Company Name" data-bind="value:name , validationTooltip:name">
                    <span class="help-block text-right"></span>
                </div>

            </div>

            <div class="form-group">
                <div class="col-lg-4 text-right">

                    @*<div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Street address" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>*@
                    <label for="txtcompanyname" class="control-label text-right tooltip-float">Addresss Line 1</label>

                </div>

                <div class="col-lg-6">
                    <input type="text" class="form-control" id="txtAddressLine1" placeholder="Enter Address Line 1" data-bind="value:address1 , validationTooltip:address1">
                    <span class="help-block text-right"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    @*<div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Continue Street address if needed" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>*@
                    <label for="txtCompanyName" class="control-label text-right tooltip-float">Addres Line 2</label>

                </div>

                <div class="col-lg-6">
                    <input type="text" class="form-control" id="txtAddressLine2" placeholder="Enter Address Line 2" data-bind="value:address2 , validationTooltip:address2">
                    <span class="help-block text-right"></span>
                </div>

            </div>

            <div class="form-group">
                <div class="col-lg-4 text-right">

                    @*<div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter City" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>*@
                    <label for="txtCompanyName" class="control-label text-right tooltip-float">City</label>

                </div>

                <div class="col-lg-6">
                    <input type="text" class="form-control" id="txtCity" placeholder="Enter City" data-bind="value:city , validationTooltip:city">
                    <span class="help-block text-right"></span>
                </div>

            </div>


            <div class="form-group">
                <div class="col-lg-4 text-right">

                    @*<div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Country of your location" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>*@
                    <label for="txtCompanyName" class="control-label text-right tooltip-float">Country</label>

                </div>

                <div class="col-lg-6">
                    <select id="country" class="form-control" data-bind="options: $root.countries , optionsText: 'CountryName', optionsValue: 'CountryId' ,value:country,validationtooltip:country"></select>
                    <span class="help-block text-right"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    @*<div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter State, Providence, or county" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>*@
                    <label for="txtCompanyName" class="control-label text-right tooltip-float">State</label>

                </div>

                <div class="col-lg-6">
                    <select id="state" class="form-control" data-bind="options: $root.filteredStates  , optionsText: 'StateName', optionsValue: 'StateId' ,value:state,validationtooltip:state"></select>
                    <span class="help-block text-right"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    @*<div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Post or Zip code" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>*@
                    <label for="txtCompanyName" class="control-label text-right tooltip-float">Post Code</label>

                </div>

                <div class="col-lg-6">
                    <input type="text" class="form-control" id="txtPostCode" placeholder="Enter Post Code" data-bind="value:zipCode,validationTooltip:zipCode">
                    <span class="help-block text-right"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    @*<div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Your main telephone number" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>*@
                    <label for="txtCompanyName" class="control-label text-right tooltip-float">Main Tel</label>

                </div>

                <div class="col-lg-6">
                    <input type="text" class="form-control" id="txtMainTel" placeholder="Enter Telephone Number" data-bind="value:tel,validationTooltip:tel">
                    <span class="help-block text-right"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    @*<div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Your fax number" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>*@
                    <label for="txtCompanyName" class="control-label text-right tooltip-float">Fax</label>

                </div>

                <div class="col-lg-6">
                    <input type="text" class="form-control" id="txtFax" placeholder="Enter Fax" data-bind="value:fax,validationTooltip:fax">
                    <span class="help-block text-right"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    @*<div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address Line 1." data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>*@
                    <label for="txtCompanyName" class="control-label text-right tooltip-float">Email</label>

                </div>

                <div class="col-lg-6">
                    <input type="text" class="form-control" id="txtEmail" name="Email" placeholder="Enter Email" data-bind="value:email,validationTooltip:email, validationOnElement: email">
                    <span class="help-block text-right"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    @*<div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Mobile number to call if needed" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>*@
                    <label for="txtCompanyName" class="control-label text-right tooltip-float">Mobile</label>

                </div>

                <div class="col-lg-6">
                    <input type="text" class="form-control" id="txtEmail" placeholder="Enter Mobile Number" data-bind="value:mobile,validationTooltip:mobile">
                    <span class="help-block text-right"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    @*<div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Your current web site URL" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>*@
                    <label for="txtCompanyName" class="control-label text-right tooltip-float">Web Site URL</label>

                </div>

                <div class="col-lg-6">
                    <input type="text" class="form-control" id="txtWebsite" placeholder="Enter WebSite URL" data-bind="value:url,validationTooltip:url">
                    <span class="help-block text-right"></span>
                </div>

            </div>

            </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-lg-7">
                </div>
                <div class="col-lg-5" style="width:220px;">
                    <div style="padding-left:0px;text-align:right;">
                        <div>
                            <!-- ko if: orgnizationImage() -->
                            <img id="orgImage" alt="" src="" style="width:220px;height:130px;-o-object-fit: contain; object-fit: contain;" data-bind="attr:{ src: orgnizationImage() }" />
                            <!-- /ko -->
                            <!-- ko ifnot: orgnizationImage() -->
                           
                            <img id="orgImage" alt="" src="/mis/Content/Images/imageplaceholder.png" style="width:200px;height:180px;-o-object-fit: contain; object-fit: contain;" />
                            <!-- /ko -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-12" style="padding-left:0px;padding-right:0px;">
                    <div class="col-lg-7">
                        &nbsp;

                    </div>
                    <div class="col-lg-4" style="margin-top:10px;width:220px;text-align:center;padding-right:0px;padding-left:20px;">
                        <div class="fileUpload btn btn-primary">
                            <span>Upload</span>
                            <input type="file" class="upload" id="orgLogo" name="file" data-bind=" files: { onLoaded: $root.orgImageLoadedCallback, fileFilter: 'image.*'}" />
                        </div>
                    </div>

                    <input type="hidden" id="organizationId" name="organizationId" data-bind="value:id" />
                </div>

                <div class="col-lg-12" style="margin-top:10px;text-align:center;padding:0px;">
                    <div class="col-lg-7">
                        &nbsp;
                    </div>
                    <div class="col-lg-4" style="width:220px;text-align:center;padding-right:0px;">
                        <span class="help-block">Company Logo for MIS Dashboard</span>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
