

<div data-bind="visible: $root.isPerHourEditorVisible(), with: selectedPerHour()" style="display: none">

    <div>
        <h3 style="padding-right:10px;margin:0px;">Specify values for the per hour Lookup Calculation</h3>
    </div>
    <br />
    <div class="form-group">
        <div class="col-lg-6 text-right">
            <div class="bs-example-tooltips tooltip-float-width">
                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter the name of the Lookup method" data-original-title="" title="">
                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                </a>
            </div>
            <label for="txtCompanyName" class="control-label text-right tooltip-float">Enter the name of the Lookup method</label>
        </div>
        <div class="col-lg-6" data-bind="with:$root.selectedlookup() ">
            <input type="text" name="Store Name" class="form-control" data-bind="value:Name" placeholder="Click Chnage Lookup">

        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-6 text-right">
            <div class="bs-example-tooltips tooltip-float-width">
                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter the speed per hour sheets" data-original-title="" title="">
                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                </a>
            </div>
            <label for="txtCompanyName" class="control-label text-right tooltip-float">Enter the speed per hour sheets</label>
        </div>
        <div class="col-lg-6">
            <input type="text" class="form-control" data-bind="autoNumeric: Speed , settings:{mDec:2}" placeholder="Chargeable Sheets">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-6 text-right">
            <div class="bs-example-tooltips tooltip-float-width">
                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Cost per hourly charge" data-original-title="" title="">
                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                </a>
            </div>
            <label for="txtCompanyName" class="control-label text-right tooltip-float">Enter Cost per hourly charge</label>
        </div>
        <div class="col-lg-6">

            <div class="input-group">
                <span class="input-group-addon" data-bind="text:$root.CurrencySymbol"></span>
                <input type="text" class="form-control" data-bind="autoNumeric: SpeedCost , settings:{mDec:2}" placeholder="Cost Per Hourly Sheet">
                
            </div>


        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-6 text-right">
            <div class="bs-example-tooltips tooltip-float-width">
                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Price per hourly charge" data-original-title="" title="">
                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                </a>
            </div>
            <label for="txtCompanyName" class="control-label text-right tooltip-float">Enter Price per hourly charge</label>
        </div>
        <div class="col-lg-6">

            <div class="input-group">
                <span class="input-group-addon" data-bind="text:$root.CurrencySymbol"></span>
                <input type="text" class="form-control" data-bind="autoNumeric: SpeedPrice , settings:{mDec:2}" placeholder="Price Per Hourly Sheet">
                
            </div>


        </div>


    </div>
</div>