

<div class="main-box-body clearfix" data-bind="visible: $root.isRegionalSettingVisible" style="display:none;">
    <div class="col-md-12 form-horizontal" style="padding-left:0px;">
        <div class="tabsdescriptions" style="margin-left:-2px;">
            <p class="group-header-description"> Configure the currency, units of lengths and weights</p>
           

            @*  <span style="margin-bottom:5px;font-size:12px;">Set your company’s name, address and logo for internal reports</span>*@
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <label for="txtCompanyName" class="control-label text-right tooltip-float">
                        Currency Symbol
                    </label>
                </div>

                <div class="col-lg-8">
                    <select id="currency" class="form-control" data-bind="options: $root.currencySymbols, optionsText: 'CurrencyName', optionsValue: 'CurrencyId' ,value:currencyId,validationtooltip:currencyId"></select>
                    <span class="help-block text-right"></span>
                </div>

            </div>
            @*<div class="form-group">
                    <div class="col-lg-5 text-right">

                        <div class="bs-example-tooltips tooltip-float-width">

                            <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Name of the company or organization." data-original-title="" title="">
                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                            </a>

                        </div>
                        <label for="txtCompanyName" class="control-label text-right tooltip-float">Language pack</label>

                    </div>

                    <div class="col-lg-6">
                        <select id="language" class="form-control" data-bind="options: $root.languagePacks, optionsText: 'FriendlyName', optionsValue: 'LanguageId' ,value:languageId,validationtooltip:languageId, event: { change : $root.getLanguageEditorDataByLanguageId}"></select>
                        <span class="help-block text-right"></span>
                    </div>

                </div>*@

            <div class="form-group">
                <div class="col-lg-4 text-right">

                    @*<div class="bs-example-tooltips tooltip-float-width">

                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Name of the company or organization." data-original-title="" title="">
                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                    </a>

                </div>*@
                    @*<label for="txtCompanyName" class="control-label text-right tooltip-float">Unit of Length</label>*@

                </div>

                <div class="col-lg-6">
                    <div class="col-lg-12" style="margin-left:-10px;">
                        <div class="radio" style="margin-bottom: 10px;">
                            <input type="radio" name="optionsRadiosStoreType" id="optionsRadiosImperical" value="true" data-bind="checked: $root.selectedMyOrganization().isImperical">
                            <label for="optionsRadiosImperical">
                                Imperial (US)
                            </label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="optionsRadiosStoreType" id="optionsRadiosMetric" value="false" data-bind="checked: $root.selectedMyOrganization().isImperical">
                            <label for="optionsRadiosMetric">
                                Metric
                            </label>
                            <span class="help-block text-right"></span>
                        </div>
                    </div>
                </div>

            </div>


            <div class="form-group">
                <div class="col-lg-5 text-right">
                    <label for="switchBleedSize" class="control-label text-right tooltip-float">
                        Show Bleed Area
                    </label>
                </div>
                <div class="col-lg-6">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchBleedSize" data-bind="checked:showBleedArea">
                        <label class="onoffswitch-label" for="switchBleedSize">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>
                    </div>

                </div>

            </div>
            <div class="form-group" data-bind="visible: showBleedArea">
                <div class="col-lg-5 text-right">
                    <label for="txtBleedArea" class="control-label text-right tooltip-float">
                        Bleed Size
                    </label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control text-right" id="txtBleedArea" placeholder="Enter Bleed Size" data-bind="value:bleedAreaSize">
                </div>

            </div>
           
        </div>
    </div>
</div>