<style>
    .aligndivs 
    {
        display: inline;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
</style>

<div>

    <div>
        <h3 style="padding-right:10px;margin:0px;">Specify values of the speed weight calculation</h3>
    </div>

    <div style="margin-top:20px;">
        
        <div class="aligndivs" style="text-align:right;width:224px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float">Enter the name of the Lookup method</label>
        </div>
        <div class="aligndivs" style="width:30px;padding-top:7px;">
            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="Click Chnage Lookup" style="width:380px;">
        </div>

        <br />

        <div class="aligndivs" style="text-align:right;width:224px;display:inline;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float">lbs</label>
        </div>
      
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>

        <br />


        <div class="aligndivs" style="width:224px;display:inline;">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;float:right;">
        </div>
      
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>

        <br />


        <div class="aligndivs" style="width:224px;display:inline;text-align:right;">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;float:right;">
        </div>

        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>

        <br />

        <div class="aligndivs" style="width:224px;display:inline;text-align:right;">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;float:right;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>
        <div class="aligndivs">
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="0" style="width:76px;">
        </div>

        <br />

        <div class="aligndivs" style="text-align:right;width:224px;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float">Press hourly charge cost</label>
        </div>
        <div class="aligndivs" style="width:30px;padding-top:7px;">
            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
        </div>
        <div class="aligndivs">

            <span class="input-group-addon" style="width:40px;display:inline;position:relative;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="Cost Chargeable Sheet" style="display:inline;position:relative;width:300px;float:left;">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">.00</span>


        </div>
       
        <br />

        <div class="aligndivs" style="text-align:right;width:224px;">
            <label for="txtCompanyName" class="control-label text-right tooltip-float">Press hourly charge price</label>
        </div>
        <div class="aligndivs" style="width:30px;padding-top:7px;">
            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
        </div>
        <div class="aligndivs">

            <span class="input-group-addon" style="width:40px;display:inline;position:relative;float:left;height:34px;padding:10px;margin-left:0px;">$</span>
            <input type="text" class="form-control" id="txtAddressLine1" placeholder="Price Chargeable Sheet" style="display:inline;position:relative;width:300px;float:left;">
            <span class="input-group-addon" style="width:40px;display:inline;float:left;height:34px;padding:10px;margin-left:0px;">.00</span>


        </div>

      
    </div>

</div>