

<div class="main-box-body clearfix" data-bind="visible: $root.isZapierlVisible" style="display:none;">
    <div class="col-md-12 form-horizontal" style="margin-top:25px;">
        <div style="margin-bottom:15px;">
            <span> Set Zapier integration ON/OFF</span>
            <div style="height:20px;">
                &nbsp;
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-lg-5 text-right">
                    <label for="switchZapierActive" class="control-label text-right tooltip-float">
                        Active
                    </label>
                </div>
                <div class="col-lg-6">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchZapierActive" data-bind="checked:isZapierActive">
                        <label class="onoffswitch-label" for="switchZapierActive">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>