@{
    ViewBag.Title = "Add/Edit Delivery AddOns ";
}
@section leftmenue {
}
<div class="row" data-bind="visible: $root.isEditorVisible()" style="display: none">
    <div class="col-lg-12 clearfix" data-bind="with: selectedCostCenter()">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb" style="padding-left:8px;">
                    <li><a href="~/Dashboard/Index">Home</a></li>
                    <li><a href="/mis/Settings" class="my-navigator">Settings</a></li>
                    <li><a href="~/Settings/Home/DeliveryCostCentres">Delivery Cost Centers</a></li>
                    <li class="active"><span>Shipping Cost Center</span></li>
                </ol>

            </div>
        </div>
        <div class="row" id="user-profile">
            <div>
                <h1 class="pull-left" style="min-height: 30px;" data-bind="text: name()"></h1>
            </div>
            <div style="margin-top:42px;">
                <div class="pull-right" style="margin-right:15px;">
                    <button type="button" class="btn btn-primary" data-bind="click: $root.saveCostCenter, enable: hasChanges, css: { 'btn-warning': hasChanges }">
                        &nbsp;Save
                    </button>
                    <button type="button" class="btn btn-primary" data-bind="click: $root.closeCostCenterDetail">
                        &nbsp;Close
                    </button>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="padding-left:17px;padding-right:17px;margin-top:28px;">
                <div class="main-box clearfix">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-CCDescription" data-toggle="tab">Cost Center Description</a></li>

                            @*<li><a href="#tab-DeliveryTimeZone" data-toggle="tab">Delivery Zone Table</a></li>*@
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-CCDescription">
                                <div class="col-lg-12">
                                    <div class=" form-horizontal clearfix">

                                        <div class="col-lg-6">
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">

                                                    

                                                </div>

                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control font24px height60" id="txtEmail" placeholder="Enter Cost Center name" data-bind="value: name, validationTooltip: name">
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">

                                                    <div class="bs-example-tooltips tooltip-float-width">


                                                        </div>


                                                    <label for="txtWebDesc" class="control-label text-right tooltip-float">Description</label>

                                                </div>

                                                <div class="col-lg-7">
                                                    <textarea class="form-control" id="txtWebDesc" placeholder="Enter Web Store Description" rows="5" data-bind="value: webStoreDesc"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-5 text-right">

                                                    <div class="bs-example-tooltips tooltip-float-width">

                                                        <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-content="You can Select UPS, Fedex or your own shipping carrier. In case of Fedex you will need to select the Fedex service type also. For both Fedex and UPS, shipping price and time will be calculated when user selects his/her shipping address and goes to confirmation screen by calling the respective service. In case of other (your own) you will need to setup the shipping price and time which will be display on store’s checkout area." data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>

                                                    </div>


                                                    <label for="ddCarrier" class="control-label text-right tooltip-float">Send & Calculate Shipping Via</label>

                                                </div>

                                                <div class="col-lg-7">

                                                    <select class="form-control" data-bind="options:$root.deliveryCarriers, optionsText:'CarrierName',optionsValue:'CarrierId', value: carrierId"></select>

                                                </div>

                                            </div>

                                            <div class="form-group" data-bind="visible: carrierId() === 1">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">


                                                    </div>
                                                    
                                                    <label for="ddCarrier" class="control-label text-right tooltip-float">Fedex Service Type</label>

                                                </div>

                                                <div class="col-lg-7">
                                                    <select class="form-control" data-bind="options:$root.fedexServiceTypes, optionsText:'Text',optionsValue:'Text' ,value:deliveryServiceType"></select>
                                                </div>
                                            </div>

                                            <div class="form-group" data-bind="visible: carrierId() === 3">
                                                <div class="col-lg-5 text-right">

                                                    <div class="bs-example-tooltips tooltip-float-width">

                                                    </div>


                                                    <label for="txtDelcharges" class="control-label text-right tooltip-float">Fixed Shipping Price</label>

                                                </div>
                                                <div>
                                                    <div class="col-md-4 input-group" style="padding-left: 8px;">
                                                        <span class="input-group-addon" data-bind="text:$root.CurrencySymbol"></span>
                                                        <input type="text" class="form-control" data-bind="value:deliveryCharges">
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="form-group" data-bind="visible: carrierId() === 3">
                                                <div class="col-lg-5 text-right">

                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                    </div>
                                                    
                                                    <label for="txtDelvTime" class="control-label text-right tooltip-float">Fixed Delivery Time</label>
                                                </div>
                                                <div>
                                                    <div class="col-md-4" style="padding-right:0px;">
                                                        <input type="text" class="form-control"  data-bind="value:estimateProductionTime">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="help-block" style=" margin-top: 8px;">Day(s)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                    </div>
                                                    <label for="switchisDisabled" class="control-label text-right tooltip-float">Is Cost Center enable</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="onoffswitch">
                                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchisDisabled" data-bind="checked:isDisabled">
                                                        <label class="onoffswitch-label" for="switchisDisabled">
                                                            <div class="onoffswitch-inner"></div>
                                                            <div class="onoffswitch-switch"></div>
                                                        </label>
                                                    </div>
                                                    <span class="help-block text-right"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                    </div>
                                                    <label for="switchIsPublished" class="control-label text-right tooltip-float">Is Cost Center Published on Webstore</label>

                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="onoffswitch">
                                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchIsPublished" data-bind="checked:isPublished">
                                                        <label class="onoffswitch-label" for="switchIsPublished">
                                                            <div class="onoffswitch-inner"></div>
                                                            <div class="onoffswitch-switch"></div>
                                                        </label>
                                                    </div>
                                                    <span class="help-block text-right"></span>
                                                </div>

                                            </div>
                                            @*<div class="form-group ">
                                                                                                <div class="col-lg-5 text-right">

                                                                                                    <div class="bs-example-tooltips tooltip-float-width">

                                                                                                        <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                                        </a>

                                                                                                    </div>


                                                                                                    <label for="txtJTitle" class="control-label text-right tooltip-float">Grouping and Job Title Priority</label>

                                                                                                </div>

                                                                                                <div class="col-lg-7">
                                                                                                    <input type="text" class="form-control" data-bind="value: priority">
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="form-group ">
                                                                                                <div class="col-lg-5 text-right">

                                                                                                    <div class="bs-example-tooltips tooltip-float-width">

                                                                                                        <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                                        </a>

                                                                                                    </div>


                                                                                                    <label for="txtDirectL" class="control-label text-right tooltip-float">Notes</label>

                                                                                                </div>

                                                                                                <div class="col-lg-7">
                                                                                                    <textarea class="form-control" rows="5" placeholder="Enter Notes" data-bind="value: itemDescription"></textarea>
                                                </div>
                                                                                            </div>*@
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group ">
                                                <div class="col-lg-4 text-right">



                                                </div>

                                                <div class="col-lg-8">
                                                    <textarea class="form-control notes" id="txtInternalDesc" style="position: relative;" placeholder="Enter Notes" rows="5" data-bind="value: description"></textarea>

                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            @*<div class="tab-pane fade" id="tab-DeliveryTimeZone">
                                    <div class="col-lg-12 form-horizontal">
                                        <div class="main-box no-header clearfix">
                                            <div class="main-box-body clearfix">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th><a href="#"><span>RANGE of Zip Code</span></a></th>
                                                                <th><a href="#"><span>Weight RANGE (kilos)</span></a></th>
                                                                <th><a href="#"><span>to Delivery Price per Kilo</span></a></th>
                                                                <th><a href="#"><span>Work Ticket Description</span></a></th>
                                                                <th><a href="#"><span>Minimum Charge</span></a></th>
                                                                <th>&nbsp;</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <input type="text" class="range-box-control" id="txtZiCodeRangeFrom" value="3000" />
                                                                    -
                                                                    <input type="text" class="range-box-control " id="txtZiCodeRangeTo" value="3340" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="range-box-control " id="txtPerKGRangeFrom" value="0" />
                                                                    to
                                                                    <input type="text" class="range-box-control" id="txtPerKGRangeTo" value="5" />
                                                                    kg
                                                                </td>
                                                                <td class="col-lg-3">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon" tabindex="-1">$</span>
                                                                        <input type="text" class="form-control" id="txtDelvPricePerKilo" /><span class="input-group-addon" tabindex="-1">per kg</span>
                                                                    </div>
                                                                </td>
                                                                <td class="col-lg-2">
                                                                    <input type="text" class="form-control" id="txtWorkTicketDescription" value="Brisbane regional" />
                                                                </td>
                                                                <td class="col-lg-3">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon" tabindex="-1">$</span>
                                                                        <input type="text" class="form-control" id="txtMinimumCharge" /><span class="input-group-addon" tabindex="-1">.00</span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="text" class="range-box-control" id="txtZiCodeRangeFrom1" value="3341" />
                                                                    -
                                                                    <input type="text" class="range-box-control " id="txtZiCodeRangeTo1" value="3360" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="range-box-control " id="txtPerKGRangeFrom1" value="6" />
                                                                    to
                                                                    <input type="text" class="range-box-control" id="txtPerKGRangeTo1" value="10" />
                                                                    kg
                                                                </td>
                                                                <td class="col-lg-3">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon" tabindex="-1">$</span>
                                                                        <input type="text" class="form-control" id="txtDelvPricePerKilo1" /><span class="input-group-addon" tabindex="-1">per kg</span>
                                                                    </div>
                                                                </td>
                                                                <td class="col-lg-2">
                                                                    <input type="text" class="form-control" id="txtWorkTicketDescription1" value="Queensland Regional" />
                                                                </td>
                                                                <td class="col-lg-3">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon" tabindex="-1">$</span>
                                                                        <input type="text" class="form-control" id="txtMinimumCharge1" /><span class="input-group-addon" tabindex="-1">.00</span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="text" class="range-box-control" id="txtZiCodeRangeFrom2" value="3361" />
                                                                    -
                                                                    <input type="text" class="range-box-control " id="txtZiCodeRangeTo2" value="3380" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="range-box-control " id="txtPerKGRangeFrom2" value="11" />
                                                                    to
                                                                    <input type="text" class="range-box-control" id="txtPerKGRangeTo2" value="20" />
                                                                    kg
                                                                </td>
                                                                <td class="col-lg-3">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon" tabindex="-1">$</span>
                                                                        <input type="text" class="form-control" id="txtDelvPricePerKilo2" /><span class="input-group-addon" tabindex="-1">per kg</span>
                                                                    </div>
                                                                </td>
                                                                <td class="col-lg-2">
                                                                    <input type="text" class="form-control" id="txtWorkTicketDescription2" value="Brisbane regional" />
                                                                </td>
                                                                <td class="col-lg-3">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon" tabindex="-1">$</span>
                                                                        <input type="text" class="form-control" id="txtMinimumCharge2" /><span class="input-group-addon" tabindex="-1">.00</span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#lisettings').addClass('active');
            $('#limissettings').addClass('active');
        });
        
        
    </script>
}