@{
    ViewBag.Title = "Delivery Carrier";
}
<div class="row" id="carrierdeliveryBinding">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="~/Dashboard/Index">&nbsp;</a></li>
                </ol>
                <h1 style="padding-left:0px;">Shipping Carrier</h1>
            </div>
        </div>
        <div class="col-lg-12" style="padding-right:0px;">
            <div class="pull-right" style="margin-bottom:8px;">
                <a href="~/Settings" class="btn  btn-default" style="float: right;margin-bottom: 10px;margin-left: 5px;">Close</a>
                <button id="open-wizard" class="btn btn-primary pull-right" data-bind="click:$root.createNewDeliveryDialog">
                    Add New Shipping Carrier
                </button>
            </div>
        </div>
        
        <div class="row" id="user-profile">
            <div class="col-lg-12 form-horizontal ">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <p class="group-header-description">Sync your MyPRINTCloud Subscription to your shipping suppliers</p>
                           
                            <br />
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th><a href="#"><span>Name</span></a></th>
                                        <th><a href="#"><span>URL</span></a></th>
                                        <th><a href="#"><span>API Key</span></a></th>
                                        <th>STATUS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ko template: { name: 'listDeliveryCarrierTemplate' , foreach: $root.deliverycarrierlist } -->
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("~/Areas/Settings/Views/Home/_AddEditDeliveryCarriers.cshtml")
    <!-- ko stopBinding: true -->
    @Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
    <!-- /ko -->
</div>

<script id="listDeliveryCarrierTemplate" type="text/html">
    <tr data-bind="click:$root.openEditDialog" style="cursor: pointer">
        <td>
            <a style="cursor:pointer;" data-bind="text:carrierName"></a>
        </td>
        <td data-bind="text:url"></td>
        <td data-bind="text:apiKey"></td>
        <td>
            <!-- ko if: isenable() == true -->
            <span class="label label-success">Active</span>
            <!-- /ko -->
            <!-- ko if: isenable() == false -->
            <span class="label label-danger">In Active</span>
            <!-- /ko -->
        </td>
    </tr>
</script>



@section Scripts {
     
    <script type="text/javascript">
        require(["deliverycarrier/deliverycarrier.view", "common/confirmation.view"]);
        $(document).ready(function ()
        {
            $('#lisettings').addClass('active');
            $('#limissettings').addClass('active');

        });
    </script>
    <style>
        .error
        {
            border:1px solid red;
            background-color:#fdd;
        }
    </style>
}