@{
    ViewBag.Title = "MPC MIS 2014 Settings";
}
@section leftmenue {

}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active"><span>Settings</span></li>
                </ol>
                <h1>Settings</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box">
                    <header class="main-box-header">
                        <h2>General Settings</h2>
                    </header>
                    <div class="main-box-body">
                        <div id="gallery-photos-wrapper">
                            <ul id="gallery-photos" class="clearfix gallery-photos gallery-photos-hover">
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/myorganization128.png');"></div>
                                        <h5 style="text-align: center">My Organization</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/usersManager128.png');"></div>
                                        <h5 style="text-align: center">User Manager</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/UserRoles128.png');"></div>
                                        <h5 style="text-align: center">User Roles</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/SystemEmails128.png');"></div>
                                        <h5 style="text-align: center">System Emails</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/myreports256.png');"></div>
                                        <h5 style="text-align: center">My Reports</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/startnumbers128.png');"></div>
                                        <h5 style="text-align: center">Start Numbers</h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box">
                    <header class="main-box-header">
                        <h2>Retail Web Store Settings</h2>
                    </header>
                    <div class="main-box-body">
                        <div id="gallery-photos-wrapper">
                            <ul id="gallery-photos" class="clearfix gallery-photos gallery-photos-hover">
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/myorganization128.png');"></div>
                                        <h5 style="text-align: center">My Organization</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/usersManager128.png');"></div>
                                        <h5 style="text-align: center">User Manager</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/UserRoles128.png');"></div>
                                        <h5 style="text-align: center">User Roles</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/SystemEmails128.png');"></div>
                                        <h5 style="text-align: center">System Emails</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/myreports256.png');"></div>
                                        <h5 style="text-align: center">My Reports</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/startnumbers128.png');"></div>
                                        <h5 style="text-align: center">Start Numbers</h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box">
                    <header class="main-box-header">
                        <h2>MIS</h2>
                    </header>
                    <div class="main-box-body">
                        <div id="gallery-photos-wrapper">
                            <ul id="gallery-photos" class="clearfix gallery-photos gallery-photos-hover">
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/myorganization128.png');"></div>
                                        <h5 style="text-align: center">My Organization</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/usersManager128.png');"></div>
                                        <h5 style="text-align: center">User Manager</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/UserRoles128.png');"></div>
                                        <h5 style="text-align: center">User Roles</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/SystemEmails128.png');"></div>
                                        <h5 style="text-align: center">System Emails</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/myreports256.png');"></div>
                                        <h5 style="text-align: center">My Reports</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/startnumbers128.png');"></div>
                                        <h5 style="text-align: center">Start Numbers</h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box">
                    <header class="main-box-header">
                        <h2>Plant</h2>
                    </header>
                    <div class="main-box-body">
                        <div id="gallery-photos-wrapper">
                            <ul id="gallery-photos" class="clearfix gallery-photos gallery-photos-hover">
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/myorganization128.png');"></div>
                                        <h5 style="text-align: center">My Organization</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/usersManager128.png');"></div>
                                        <h5 style="text-align: center">User Manager</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/UserRoles128.png');"></div>
                                        <h5 style="text-align: center">User Roles</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/SystemEmails128.png');"></div>
                                        <h5 style="text-align: center">System Emails</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/myreports256.png');"></div>
                                        <h5 style="text-align: center">My Reports</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/startnumbers128.png');"></div>
                                        <h5 style="text-align: center">Start Numbers</h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box">
                    <header class="main-box-header">
                        <h2>Reports</h2>
                    </header>
                    <div class="main-box-body">
                        <div id="gallery-photos-wrapper">
                            <ul id="gallery-photos" class="clearfix gallery-photos gallery-photos-hover">
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/myorganization128.png');"></div>
                                        <h5 style="text-align: center">My Organization</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/usersManager128.png');"></div>
                                        <h5 style="text-align: center">User Manager</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/UserRoles128.png');"></div>
                                        <h5 style="text-align: center">User Roles</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/SystemEmails128.png');"></div>
                                        <h5 style="text-align: center">System Emails</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/myreports256.png');"></div>
                                        <h5 style="text-align: center">My Reports</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/startnumbers128.png');"></div>
                                        <h5 style="text-align: center">Start Numbers</h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box">
                    <header class="main-box-header">
                        <h2>System Utilities</h2>
                    </header>
                    <div class="main-box-body">
                        <div id="gallery-photos-wrapper">
                            <ul id="gallery-photos" class="clearfix gallery-photos gallery-photos-hover">
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/myorganization128.png');"></div>
                                        <h5 style="text-align: center">My Organization</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/usersManager128.png');"></div>
                                        <h5 style="text-align: center">User Manager</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/UserRoles128.png');"></div>
                                        <h5 style="text-align: center">User Roles</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/SystemEmails128.png');"></div>
                                        <h5 style="text-align: center">System Emails</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/myreports256.png');"></div>
                                        <h5 style="text-align: center">My Reports</h5>
                                    </a>
                                </li>
                                <li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
                                    <a href="#" style="text-decoration: none;">
                                        <div class="photo-box" style="background-image: url('../Content/themes/Centaurus/img/samples/startnumbers128.png');"></div>
                                        <h5 style="text-align: center">Start Numbers</h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
