@{
    ViewBag.Title = "Machines List";
}
@section leftmenue {
    
}
<div class="row" id="divMachineListBinding">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="~/Dashboard/Index">Home</a></li>
                    <li><a href="~/Estimate/EstimateList">Settings</a></li>
                      <li><a href="~/Estimate/EstimateDetail">Plant</a></li>
                    <li class="active"><span>Machines</span></li>
                </ol>
                <h1>Machines</h1>
            </div>
        </div>
        <div class="row" > @*id="user-profile"*@
          
            <div class="col-lg-12 col-md-8 col-sm-8">
                <div class="main-box clearfix">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs">
                             <li class="active"><a href="#tab-presses" data-toggle="tab">Presses</a></li>
                              <li><a href="#tab-Guillotine" data-toggle="tab">Guillotine</a></li> 
                        </ul>
                        <div class="tab-content">
                              <div class="tab-pane fade in active" id="tab-presses">
                                   <div class="col-lg-12">
                                <div class="main-box no-header clearfix">
                                    <div class="main-box-body clearfix">
                                        <div class="table-responsive">
                                            <table class="table user-list">
                                                <thead>
                                                    <tr>
                                                        <th><span>Machine Name</span></th>
                                                        <th><span></span></th>
                                                        <th class="text-center"><span>Calculation Method</span></th>
                                                        <th><span></span></th>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @*<tr>
                                                        <td>
                                                            <img src="~/Content/themes/Centaurus/img/Machine_SheetPress.png" alt="" />
                                                            <a href="~/Settings/MachinesDetail?MachineID=1" class="user-link">GTO 46 2 Colour</a>
                                                            <span class="user-subhead machine-list-margin" >2 Colours</span>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td class="text-center">
                                                            <span>Speed Weight Calculation Method</span>
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <a href="#" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="~/Settings/MachinesDetail" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="#" class="table-link danger">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <td>
                                                            <img src="~/Content/themes/Centaurus/img/Machine_SheetPress.png" alt="" />
                                                            <a href="~/Settings/MachinesDetail" class="user-link">Heidelberg Speedmaster 52</a>
                                                            <span class="user-subhead machineListMargin">5 Colour Press</span>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td class="text-center">
                                                            <span>Per Hour Lookup</span>
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <a href="#" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="~/CRM/ContactCompanyDetail" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="#" class="table-link danger">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <td>
                                                            <img src="~/Content/themes/Centaurus/img/Machine_DigitalPress.png" alt="" />
                                                            <a href="~/Settings/MachinesDetail" class="user-link">Xerox</a>
                                                            <span class="user-subhead machineListMargin" style="margin-left:62px;">4 Colour Digital Plant</span>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td class="text-center">
                                                            <span>Click Charge Lookup</span>
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <a href="#" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="~/Settings/MachinesDetail" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="#" class="table-link danger">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <td>
                                                            <img src="~/Content/themes/Centaurus/img/Machine_Copier.png" alt="" />
                                                            <a href="~/Settings/MachinesDetail" class="user-link">Xerox Documate 12</a>
                                                            <span class="user-subhead machineListMargin">Single Colour - Short Runs</span>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td class="text-center">
                                                            <span>Meter per hour</span>
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <a href="#" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="~/Settings/MachinesDetail" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="#" class="table-link danger">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <td>
                                                            <img src="~/Content/themes/Centaurus/img/Machine_SheetPress.png" alt="" />
                                                            <a href="~/Settings/MachinesDetail" class="user-link">H-Berg 102</a>
                                                            <span class="user-subhead machineListMargin">Full size sheet-fed</span>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td class="text-center">
                                                            <span>Per Hour Lookup</span>
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <a href="#" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="~/CRM/ContactCompanyDetail" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="#" class="table-link danger">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <td>
                                                            <img src="~/Content/themes/Centaurus/img/Machine_DigitalPress.png" alt="" />
                                                            <a href="~/CRM/ContactCompanyDetail" class="user-link">Konica C8000</a>
                                                            <span class="user-subhead machineListMargin" style="margin-left:62px;">Konica C8000 Digital Press</span>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td class="text-center">
                                                            <span>Click Charge Lookup</span>
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <a href="#" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="~/CRM/ContactCompanyDetail" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="#" class="table-link danger">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <td>
                                                            <img src="~/Content/themes/Centaurus/img/Machine_SheetPress.png" alt="" />
                                                            <a href="~/CRM/ContactCompanyDetail" class="user-link">Xerox 8000</a>
                                                            <span class="user-subhead machineListMargin">2 Colours</span>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td class="text-center">
                                                            <span>Speed Weight Calculation Method</span>
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <a href="#" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="~/CRM/ContactCompanyDetail" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="#" class="table-link danger">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>*@
                                                   
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                                </div>
                                       @*<div id="pagerDiv">
                                           <!-- ko with: pager -->
                                           @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                                           <!-- /ko -->
                                       </div>*@
                                
                            </div>
                              
                            </div>
                            <div class="tab-pane fade " id="tab-Guillotine">
                                    <div class="col-lg-12">
                                <div class="main-box no-header clearfix">
                                    <div class="main-box-body clearfix">
                                        <div class="table-responsive">
                                             <table class="table user-list">
                                                <thead>
                                                    <tr>
                                                        <th><span>Machine Name</span></th>
                                                        <th><span></span></th>
                                                        <th class="text-center"><span>Calculation Method</span></th>
                                                        <th><span></span></th>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <img src="~/Content/themes/Centaurus/img/Machine_Guillotine.png" alt="" />
                                                            <a href="~/Settings/MachinesDetail?MachineID=2" class="user-link">Polar Guillotine</a>
                                                            <span class="user-subhead machine-list-margin" >Guillotine</span>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td class="text-center">
                                                            <span>Guillotine Lookup Methods</span>
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <a href="#" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="~/CRM/ContactCompanyDetail" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="#" class="table-link danger">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <td>
                                                            <img src="~/Content/themes/Centaurus/img/Machine_Guillotine.png" alt="" />
                                                            <a href="~/Settings/MachineDetail" class="user-link">Polars</a>
                                                            <span class="user-subhead machineListMargin">Guillotine</span>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td class="text-center">
                                                            <span>Guillotine Lookup Methods</span>
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <a href="#" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="~/CRM/ContactCompanyDetail" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="#" class="table-link danger">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <td>
                                                            <img src="~/Content/themes/Centaurus/img/Machine_Guillotine.png" alt="" />
                                                            <a href="~/Settings/MachineDetail" class="user-link">XX Polars</a>
                                                            <span class="user-subhead machineListMargin">Guillotine</span>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td class="text-center">
                                                            <span>Guillotine Lookup Methods</span>
                                                        </td>
                                                        <td>
                                                           
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <a href="#" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="~/CRM/ContactCompanyDetail" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="#" class="table-link danger">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                   
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                                </div>
                                <div id="pagerDiv">
                                    <ul class="pagination pull-right">
                                    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                                </div>
                                
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*@section Scripts {
    <script src="~/Content/themes/Centaurus/js/jquery-ui.custom.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/bootstrap-wizard.js"></script>
    <script src="~/Content/themes/Centaurus/js/select2.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/dropzone.js"></script>
<script src="~/Content/themes/Centaurus/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/bootstrap-datepicker.js"></script>
<script src="~/Content/themes/Centaurus/js/daterangepicker.js"></script>
<script src="~/Content/themes/Centaurus/js/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/fullcalendar.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.bs-example-tooltips a').popover();
            $('#liplansettings').addClass('active');
          

        });

        function setServerName(card) {
            var host = $("#new-server-fqdn").val();
            var name = $("#new-server-name").val();
            var displayName = host;

            if (name) {
                displayName = name + " (" + host + ")";
            };

            card.wizard.setSubtitle(displayName);
            card.wizard.el.find(".create-server-name").text(displayName);
        }

        function validateIP(ipaddr) {
            //Remember, this function will validate only Class C IP.
            //change to other IP Classes as you need
            ipaddr = ipaddr.replace(/\s/g, "") //remove spaces for checking
            var re = /^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/; //regex. check for digits and in
            //all 4 quadrants of the IP
            if (re.test(ipaddr)) {
                //split into units with dots "."
                var parts = ipaddr.split(".");
                //if the first unit/quadrant of the IP is zero
                if (parseInt(parseFloat(parts[0])) == 0) {
                    return false; 
                }
                //if the fourth unit/quadrant of the IP is zero
                if (parseInt(parseFloat(parts[3])) == 0) {
                    return false;
                }
                //if any part is greater than 255
                for (var i = 0; i < parts.length; i++) {
                    if (parseInt(parseFloat(parts[i])) > 255) {
                        return false;
                    }
                }
                return true;
            }
            else {
                return false;
            }
        }

        function validateFQDN(val) {
            return /^[a-z0-9-_]+(\.[a-z0-9-_]+)*\.([a-z]{2,4})$/.test(val);
        }

        function fqdn_or_ip(el) {
            var val = el.val();
            ret = {
                status: true
            };
            if (!validateFQDN(val)) {
                if (!validateIP(val)) {
                    ret.status = false;
                    ret.msg = "Invalid IP address or FQDN";
                }
            }
            return ret;
        }


        $(function () {

            $('#sel2').select2();

            $.fn.wizard.logging = false;

            var wizard = $("#wizard-demo").wizard({
                showCancel: true
            });

            //$(".chzn-select").chosen();

            wizard.el.find(".wizard-ns-select").change(function () {
                wizard.el.find(".wizard-ns-detail").show();
            });

            wizard.el.find(".create-server-service-list").change(function () {
                var noOption = $(this).find("option:selected").length == 0;
                wizard.getCard(this).toggleAlert(null, noOption);
            });

            wizard.cards["name"].on("validated", function (card) {
                var hostname = card.el.find("#new-server-fqdn").val();
            });

            wizard.on("submit", function (wizard) {
                var submit = {
                    "hostname": $("#new-server-fqdn").val()
                };

                setTimeout(function () {
                    wizard.trigger("success");
                    wizard.hideButtons();
                    wizard._submitting = false;
                    wizard.showSubmitCard("success");
                    wizard.updateProgressBar(0);
                }, 2000);
            });

            wizard.on("reset", function (wizard) {
                wizard.setSubtitle("");
                wizard.el.find("#new-server-fqdn").val("");
                wizard.el.find("#new-server-name").val("");
            });

            wizard.el.find(".wizard-success .im-done").click(function () {
                wizard.reset().close();
            });

            wizard.el.find(".wizard-success .create-another-server").click(function () {
                wizard.reset();
            });

            $(".wizard-group-list").click(function () {
                alert("Disabled for demo.");
            });

            $("#open-wizard").click(function () {
                wizard.show();
            });



            //wizard.show();
        });

        $(function () {
            $('ul#gallery-photos').sortable({
                opacity: 0.6, cursor: 'move', update: function () {
                    var order = $(this).sortable('serialize');
                    $.post('/gallery-sortimages.html', order, function (theResponse) {

                    });
                }
            });


            //datepicker
            
           
            $(document).ready(function () {
       

                $('#gallery-photos-lightbox').magnificPopup({
                    type: 'image',
                    delegate: 'a',
                    gallery: {
                        enabled: true
                    }
                });
            });
        });
    </script>  
    }*@

@section Scripts{
    <script src="~/Scripts/jquery.form.js"></script>
    <script>
        require(["machine/machine.view", "common/confirmation.view"]);
        $(function () {
            $('#lisettings').addClass('active');
            $('#limissettings').addClass('active');
            $('#liMachineList').addClass('active');
        });

    </script>
}