

<div class="main-box-body clearfix" data-bind="visible: $root.isXeroVisible" style="display:none;">
    <div class="col-md-12 form-horizontal" style="margin-top:25px;padding-left:0px;">
        <div style="margin-bottom:15px;">
            <p class="group-header-description"> Configure the API Credentials of Xero</p>
            <div style="height:20px;">
                &nbsp;
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-lg-5 text-right">
                    <label for="txtConsumerKey" class="control-label text-right tooltip-float">
                        Consumer Key
                    </label>

                </div>

                <div class="col-lg-7">
                    <input type="text" class="form-control" id="txtConsumerKey" placeholder="Enter Consumer Key" data-bind="value:xeroConsumerKey">
                </div>

            </div>

            <div class="form-group">
                <div class="col-lg-5 text-right">
                    <label for="txtConsumerSecret" class="control-label text-right tooltip-float">
                        Consumer Secret
                    </label>
                </div>
                <div class="col-lg-7">
                    <input type="text" class="form-control" id="txtConsumerSecret" placeholder="Enter Consumer Secret" data-bind="value:xeroConsumerSecret">
                </div>

            </div>
            
            <div class="form-group">
                <div class="col-lg-5 text-right">
                    <label for="switchXeroActive" class="control-label text-right tooltip-float">
                        Active
                    </label>
                </div>
                <div class="col-lg-6">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchXeroActive" data-bind="checked:isXeroActive">
                        <label class="onoffswitch-label" for="switchXeroActive">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>
                    </div>

                </div>

            </div>
            

        </div>
    </div>
</div>