@model MPC.MIS.Areas.Reports.Models.ReportDescriptor

@{
    ViewBag.Title = "Viewer";
    
   
}

<div id="body">
<div style=" margin-left:50px">

</div>



<hr />

   
    @Html.Action("GetReport")

 </div>   
@*<ActiveReportsWeb:WebViewer ID="WebViewer1" runat="server" height="559px"
                                width="784px" onload="WebViewer1_Load" ViewerType="AcrobatReader" >
</ActiveReportsWeb:WebViewer>
</div>
<script runat="server">

    protected void WebViewer1_Load(object sender, EventArgs e)
      {
          WebViewer1.Report = (DataDynamics.ActiveReports.ActiveReport)ViewBag.Report;
      }
</script>*@