
@{
    Layout = null;
}


<div id="body">
    

    <hr />
    <div style=" margin-left:50px">
       
    </div>
 
  
    @Html.Partial("WebViewer")

   @*@Html.Action("GetReport")*@
  
    @*@if (Model.Id != null)
    {
        
    }*@
</div>

