<div class="modal fade" id="itemAddonCostCentreDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="itemAddonCostCentreDialogMainContainer" class="modal-dialog" data-bind="with: activeStockOption">
        <div class="modal-content" data-bind="with: activeItemAddonCostCentre">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add/Edit Refining Option</h4>
            </div>
            <div class="col-lg-12 form-horizontal outerDiv-Padding">
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        <label class="control-label text-right tooltip-float">Cost Center</label>

                    </div>

                    <div class="col-lg-3">
                        <select class="form-control" data-bind="options: $root.costCentres, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select...', value: costCentreId"></select>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        <label class="control-label text-right tooltip-float">Type</label>

                    </div>

                    <div class="col-lg-3">
                        <input type="text" class="form-control" data-bind="value: costCentreType, enable: false" />
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        <div class="bs-example-tooltips tooltip-float-width">

                            <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="User must select this Refining in product to add it to shopping cart." data-original-title="" title="">
                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                            </a>

                        </div>
                        <label class="control-label text-right tooltip-float">Mandatory selection in product</label>

                    </div>

                    <div class="col-lg-6">
                        <div>
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchMandatoryCostCentre" data-bind="checked: isMandatory">
                                <label class="onoffswitch-label" for="switchMandatoryCostCentre">
                                    <div class="onoffswitch-inner"></div>
                                    <div class="onoffswitch-switch"></div>
                                </label>
                            </div>
                            <span class="help-block text-right"></span>
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <hr />
                <button type="button" data-dismiss="modal" class="btn btn-danger pull-left" data-bind="click: $root.onDeleteItemAddonCostCentre, enable: id() > 0">Delete</button>
                <button type="button" class="btn btn-primary" data-bind="click: $parent.onSaveItemCostCentre, css: { 'btn-warning': hasChanges() }, enable: hasChanges()">Save</button>
                <button type="button" class="btn btn-default" data-bind="click: $root.closeItemAddonCostCentreDialog" style="margin-left: 0">Close</button>

            </div>
        </div>
    </div>
</div>


@* Wizard Popup ends here*@