<div class="row" data-bind="visible: !isProductDetailsVisible()">
    <div class="col-lg-12">
        <div id="changeViewSection" class="pull-left col-lg-5">
            <a id="listViewIcon" class="productListGrayIcon pull-left" data-bind="click: toggleView, css: { inactiveView: isGridViewVisible, activeView: isListViewVisible }">
                <i class="fa fa-list"></i>
            </a>
            <a id="gridViewIcon" class="productListOrangeIcon pull-left activeView" data-bind="click: toggleView, css: { inactiveView: isListViewVisible, activeView: isGridViewVisible }">
                <i class="fa fa-th-large"></i>
            </a>
            <div class="pull-left width105 padTop13">
                <div class="slider-minmax"></div>
            </div>
        </div>
        <div class="pull-right">
            <button id="open-wizard" data-bind="click: createProduct" class="btn btn-primary pull-right">
                <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add
            </button>
        </div>
    </div>
    <div>
        &nbsp;
    </div>
    <div id="gridForm" data-bind="visible: isGridViewVisible" style="display: none;">
        <div class="col-lg-12">
            <!-- ko template: { name: 'productFilterTemplate' } -->
            <!-- /ko -->
            <div class="clearfix">
            </div>
            <div class="main-box-body main-box clearfix">
                <div id="gridZoomSlider">
                    <!-- ko template: { name: 'gridViewTemplate', foreach: products } -->
                    <!-- /ko -->
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <div id="ListForm" data-bind="visible: isListViewVisible" style="display: none;">
        <div class="col-lg-12">
            <!-- ko template: { name: 'productFilterTemplate' } -->
            <!-- /ko -->
            <div class="clearfix">
            </div>
            <div class="main-box-body main-box clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table id="ProductListtbl" class="table">
                            <thead>
                                <tr>
                                    <th class="text-center" id="productCodeHeader">
                                        Code
                                    </th>
                                    <th class="text-center" id="productImageHeader">
                                        Image
                                    </th>
                                    <th class="text-center" id="productNameHeader">
                                        Name
                                    </th>
                                    <th class="text-center" id="productPriceHeader">
                                        Price
                                    </th>
                                    <th class="text-center" id="productCategoriesHeader">
                                        Categories
                                    </th>
                                    <th class="text-center" id="productPublishedHeader">
                                        Published
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko template: { name: 'listViewTemplate', foreach: products } -->
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Filter Template *@
    <script id="productFilterTemplate" type="text/html">
        <div class="filter-body">
            <div class="filter-block pull-left">
                <div class="pull-left spanfilterlbl">
                    Search: &nbsp;
                </div>
                <div class="form-group pull-left">
                    <input type="text" class="form-control" placeholder="Search..." data-bind="value: filterText">
                    <i class="fa fa-search search-icon"></i>
                </div>
                <div class="pull-left">
                    <button type="submit" class="btn btn-primary" data-bind="click: filterProducts">Search</button>
                    <button type="reset" class="btn btn-default" data-bind="click: resetFilter">Reset</button>
                </div>
            </div>
            <div class="pull-right">
                <div class="pull-right spanfilterlbl" data-bind="">
                    <a class=" pagerLeftIcon " data-bind="click: pager().previousPage">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="pagerRightIcon" data-bind="click: pager().nextPage">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
                <span class="pull-right spanfilterlbl">of <span data-bind="text: pager().totalPages"></span></span>
                <div class="pull-right col-xs-3">
                    <input type="text" class="form-control" data-bind="value: currentPageCustom" />
                </div>
                <span class="pull-right spanfilterlbl">Page</span>

            </div>
            <div class="clearfix">
            </div>
        </div>
    </script>

    @* Grid View Template *@
    <script id="gridViewTemplate" type="text/html">
        <div class="Top_Cat_Body">
            <div class="LCLB">
                <div class="PDTC_TL FI_TL" data-bind="click: $root.editProduct">
                    <img src="" alt="image" data-bind="attr: { src: thumbnail }" class="Top_Cat_ThumbnailPath" />
                </div>
                <div class="productListIcons">
                    <!-- ko template: { name: 'productActionTemplate' } -->
                    <!-- /ko -->
                </div>
            </div>
            <div>
                <span data-bind="text: productNameForGrid"></span>
            </div>
            <div class="">
                <span data-bind="text: 'Starting From $' + miniPrice()"></span>
            </div>
        </div>
    </script>

    @* Action Template *@
    <script id="productActionTemplate" type="text/html">
        <a href="#" class="table-link" title="Copy" data-bind="click: $root.onCloneProduct">
            Copy
        </a>
        <a href="#" class="table-link" title="Design" data-bind="click: $root.editTemplate, visible: ((isFinishedGoodsUi() === '1') && templateId() && (templateTypeUi() !== '3'))">
            Design
        </a>
    </script>

    @* List View Template *@
    <script id="listViewTemplate" type="text/html">
        <tr>
            <td class="text-center">
                <a data-bind="click: $root.editProduct"><span data-bind="text: productCode"></span></a>
            </td>
            <td class="text-center">
                <img src="" alt="image" data-bind="attr: { src: thumbnail }" class="Top_Cat_ThumbnailPath" />
            </td>
            <td class="text-center">
                <span class="NoneditableName" data-bind="text: productName"></span>
            </td>
            <td class="text-center">
                <span class="NoneditablePrice" data-bind="text: '$' + miniPrice()"></span>
            </td>
            <td class="text-center">
                <span class="NoneditableCat" data-bind="text: productCategoryName"></span>
            </td>
            <td class="text-center">
                <span class="label" data-bind="text: isPublishedUi, css: { 'label-success': isPublished, 'label-danger': !isPublished() }"></span>
            </td>
        </tr>
    </script>

</div>

