<div class="row" data-bind="visible: !isProductDetailsVisible()">
    <div class="col-lg-12 pull-right" style="padding-right:6px;">
        <div class="col-lg-4" style="padding-left:0px;">

            <h2>Products</h2>
             
        </div>

        <div class="col-lg-8" style="padding-right:0px;">
            <button id="open-wizard" data-bind="click: createProduct, enable: !pageHasErrors()" class="btn btn-primary pull-right" style="margin-right:15px;">
                Add New Product
            </button>

            @*<button id="open-wizard" data-bind="click: exportProduct, enable: !pageHasErrors()" class="btn btn-primary pull-right" style="margin-right:15px;">
                Export Products
            </button>*@
            @*<button id="open-wizard" data-bind="click: selectedCsvFileForProduct, enable: !pageHasErrors()" class="btn btn-primary pull-right">
                Import Products
            </button>*@

            @*<div class="fileUpload btn btn-primary" style="float:right;margin-right:15px;">
                <span>Import Products</span>
                <input type="file" class="upload" id="csv_files" accept=".csv " data-bind="files: {onLoaded: $root.selectedCsvFileForProduct }" />
            </div>*@

           
        </div>
    </div>
    <div>
        &nbsp;
    </div>
    <div id="gridForm" data-bind="visible: isGridViewVisible" style="display: none;">
        <div class="col-lg-12">
            <!-- ko template: { name: 'productFilterTemplate' } -->
            <!-- /ko -->
            <div class="clearfix">
            </div>
            <div class="main-box-body main-box clearfix box-shadow-all" style="padding-left:32px;">
                <div id="gridZoomSlider">
                    <!-- ko template: { if: subCategories, name: 'categoryViewTemplate', foreach: subCategories() } -->
                    <!-- /ko -->
                    <!-- ko template: { name: 'gridViewTemplate', foreach: products } -->
                    <!-- /ko -->
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <div id="ListForm" data-bind="visible: isListViewVisible" style="display: none;">
        <div class="col-lg-12">
            <!-- ko template: { name: 'productFilterTemplate' } -->
            <!-- /ko -->
            <div class="clearfix">
            </div>
            <div class="main-box-body main-box clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table id="ProductListtbl" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center" id="productCodeHeader">
                                        Code
                                    </th>
                                    <th class="text-center" id="productImageHeader">
                                        Image
                                    </th>
                                    <th class="text-center" id="productNameHeader">
                                        Name
                                    </th>
                                    <th class="text-center" id="productPriceHeader">
                                        Price
                                    </th>
                                    <th class="text-center" id="productCategoriesHeader">
                                        Categories
                                    </th>
                                    <th class="text-center" id="productPublishedHeader">
                                        Published
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko template: { name: 'listViewTemplate', foreach: products } -->
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ko stopBinding: true -->
    <div id="pagerDivForProducts" class="pull-right" style="margin-right:7px;">

        <!-- ko with: pager -->
        @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
        <!-- /ko -->
    </div>
    <!-- /ko -->
    @*<div class="pull-right">
            <div class="pull-right spanfilterlbl" data-bind="">
                <a class=" pagerLeftIcon " data-bind="click: pager().previousPage">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a class="pagerRightIcon" data-bind="click: pager().nextPage">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
            <span class="pull-right spanfilterlbl">of <span data-bind="text: pager().totalPages"></span></span>
            <form data-bind="submit: function(){ }">
                <div class="pull-right col-xs-3">
                    <input type="text" class="form-control" data-bind="value: currentPageCustom, valueUpdate: 'keyup'" />
                </div>
            </form>
            <span class="pull-right spanfilterlbl">Page</span>

        </div>*@
    @* Filter Template *@
    <script id="productFilterTemplate" type="text/html">
        <div class="filter-body">
            <form data-bind="submit: filterProducts">
                <div class="filter-block pull-right">
                    <div class="form-group pull-right" style="height:45px;">
                        <input type="text" class="form-control" placeholder="Search..." data-bind="value: filterText">
                        <i class="fa fa-search search-icon" data-bind="click: filterProducts"></i>
                    </div>
                </div>
            </form>

            <div class="clearfix">
            </div>
        </div>
    </script>

    @* Grid View Template *@
    <script id="gridViewTemplate" type="text/html">
        <div class="Top_Cat_Body">
            <div class="LCLB" style="overflow:hidden">
                <div class="PDTC_TL FI_TL" data-bind="click: $root.editProduct">
                    <img src="" alt="image" data-bind="attr: {  src: thumbnailPath }" class="Top_Cat_ThumbnailPath" />
                </div>
                @*<div class="productIcons">

                    </div>*@
            </div>
            <div class="productText">
                <span data-bind="text: productNameForGrid, attr:{ title: productName }"></span>
            </div>
            <div class="" style="height:32px">
                <span data-bind="text: 'Starting From ' + $root.currencyUnit()"></span>  <span data-bind="text: miniPrice()"></span>
            </div>
            <div style="margin-top:10px; height:75px;">
                <!-- ko template: { name: 'productActionTemplate' } -->
                <!-- /ko -->
            </div>
        </div>
    </script>

    @* Category View Template *@
    <script id="categoryViewTemplate" type="text/html">
        <div class="Top_Cat_Body">
            <div class="LCLB" style="overflow:hidden">
                <div class="PDTC_TL FI_TL" style="background: white" data-bind="click: $root.onSelectSubCategory">
                    <img alt="image" class="photo-box Top_Cat_ThumbnailPath" style="padding: 20px;cursor: pointer;" src="@Url.Content("~/Content/Images/foldericon3.png")" />
                    <i class="fa fa-pencil font20px" style="cursor: pointer; bottom: 40px;margin-left: 75%;position: relative;" data-bind="click: $root.editSubCategory"></i>
                </div>
            </div>
            <div class="productText">
                <span data-bind="text: categoryName.length > 30 ? categoryName.substring(0, 29) : categoryName, attr:{ title: categoryName }"></span>
            </div>
            <div class="" style="height:32px">
                <span>&nbsp;</span>
            </div>
        </div>
    </script>

    @* Action Template *@
    <script id="productActionTemplate" type="text/html">
        <button type="button" style="width:50px;" class="btn btn-info" title="Edit Product" data-bind="click: $root.editProduct">
            <span style="font-size:10px;">Edit</span>
        </button>
        <button type="button" style="width:50px;" class="btn btn-success" title="Copy Product" data-bind="click: $root.onCloneProduct">
            <span style="font-size:10px;">Copy</span>
        </button>
        <button type="button" style="width:50px;" class="btn btn-yellow" title="Design Template" data-bind="click: $root.editTemplate, visible: ((isFinishedGoodsUi() === '1') && templateId() && (templateTypeUi() !== '3'))">
            <span style="font-size:10px;">Design</span>
        </button>

    </script>

    @* List View Template *@
    <script id="listViewTemplate" type="text/html">
        <tr data-bind="click: $root.editProduct" style="cursor: pointer">
            <td class="text-center">
                <a href="#" data-bind="click: undefined"><span data-bind="text: productCode"></span></a>
            </td>
            <td class="text-center">
                <img src="" alt="image" data-bind="attr: { src: thumbnail }" class="Top_Cat_ThumbnailPath" />
            </td>
            <td class="text-center">
                <span class="NoneditableName" data-bind="text: productName"></span>
            </td>
            <td class="text-center">
                <span class="NoneditablePrice" data-bind="text: '$' + miniPrice()"></span>
            </td>
            <td class="text-center">
                <span class="NoneditableCat" data-bind="text: productCategoryName"></span>
            </td>
            <td class="text-center">
                <span class="label" data-bind="text: isPublishedUi, css: { 'label-success': isPublished, 'label-danger': !isPublished() }"></span>
            </td>
        </tr>
    </script>

</div>

