@{
    ViewBag.Title = "Products";
}
@section leftmenue {
}

<div class="row" id="productBinding">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="~/Dashboard/Index">Home</a></li>
                        <li class="active"><span>Products</span></li>
                    </ol>
                    <div class="clearfix">
                        <h1 class="pull-left" data-bind="text: pageHeader">Products</h1>

                    </div>
                    @Html.Partial("_Products")
                    @Html.Partial("_ProductDetail")
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")

@section Scripts{

    <script>
        require(["product/product.view", "dropzone", "common/confirmation.view"]);

        $(function () {
            $('#liProducts').addClass('active');
            $('.bs-example-tooltips a').popover();
        });

        $(document).ready(function () {
            //min/max slider
            $('.slider-minmax').noUiSlider({
                range: [0, 100],
                start: [100],
                handles: 1,
                connect: 'upper',
                slide: function () {


                },
                set: function () {
                    var val = $(this).val();
                    if (val >= 60) {

                        $('.Top_Cat_Body').css("width", "22%");
                        $('.FI_TL').css("height", "210px");
                        $('.productListIcons').css("width", "239px");
                    } else if (val >= 40) {

                        $('.Top_Cat_Body').css("width", "18%");
                        $('.FI_TL').css("height", "210px");
                        $('.productListIcons').css("width", "194px");
                    } else if (val <= 20) {

                        $('.Top_Cat_Body').css("width", "13%");
                        $('.FI_TL').css("height", "140px");
                        $('.productListIcons').css("width", "139px");
                    }
                }

            });
            $('.slider-minmax').val(100, true);
        });

        function AddNew() {

            var currentRec = parseInt($('#hfNoOfRec').val());
            var numOfRec = currentRec + 1;
            $('#hfNoOfRec').val(numOfRec);
            ShowGUI();
            if (numOfRec > 1) {

                $('#DivRemove').css('display', 'block');
            }
        }

        function HideTempDesginerControl(RadioID) {

            if (RadioID == "1") {
                $('#LinkDesign').css('display', 'none');
            }
            else if (RadioID == "2") {
                $('#LinkDesign').css('display', 'none');
            }
            else if (RadioID == "3") {
                $('#LinkDesign').css('display', 'block');
            }

        }
        function Remove() {
            //Remove the view and Show the add new button
            var numofRec = parseInt($('#hfNoOfRec').val());

            $("#stockMainDiv #" + numofRec + "").css('display', 'none');

            //  $('#' + recNo).css('display', 'none');
            // $('#divAddNew').css('display', 'block');
            $('#hfNoOfRec').val((numofRec - 1));
            //if (numofRec == 2) {

            //    $('#DivRemove').css('display', 'none');
            //}
            if (numofRec == 11) {
                $('#Add10').css('display', '');
                $('#Remove10').css('display', '');
            }
            if (numofRec == 10) {
                $('#Add9').css('display', '');
                $('#Remove9').css('display', '');
            }
            if (numofRec == 9) {
                $('#Add8').css('display', '');
                $('#Remove8').css('display', '');
            }
            if (numofRec == 8) {
                $('#Add7').css('display', '');
                $('#Remove7').css('display', '');
            }
            if (numofRec == 7) {
                $('#Add6').css('display', '');
                $('#Remove6').css('display', '');
            }
            if (numofRec == 6) {
                $('#Add5').css('display', '');
                $('#Remove5').css('display', '');
            }
            if (numofRec == 5) {
                $('#Add4').css('display', '');
                $('#Remove4').css('display', '');
            }
            if (numofRec == 4) {
                $('#Add3').css('display', '');
                $('#Remove3').css('display', '');
            }
            if (numofRec == 3) {
                $('#Add2').css('display', '');
                $('#Remove2').css('display', '');
            }
            if (numofRec == 2) {
                $('#Add1').css('display', '');

            }
            //if (numofRec == 1) {
            //    $('#Add8').css('display', 'block');
            //    $('#Remove8').css('display', 'block');
            //}



        }

        function HideSupp2() {

            if ($('input:checkbox[id=switchAutoCreateGreater]').is(':checked')) {

                $("#Supp2").css("display", "block");
                $("#tab-supplier2").css("display", "block");
            }
            else {
                $("#Supp2").css("display", "none");
                $("#tab-supplier2").css("display", "none");
            }

        }
        function HideExternalActivity(isInternal) {

            if (isInternal == "1") {
                $('#externalDiv').css('display', 'none');
            }
            else {

                $('#externalDiv').css('display', 'block');
            }

        }
        function ShowGUI() {
            var numofRec = $('#hfNoOfRec').val();

            if (numofRec >= 1) {

                $('#1').css('display', 'block');
            }
            if (numofRec >= 2) {
                $('#2').css('display', 'block');
                $('#Add1').css('display', 'none');
                $('#Remove1').css('display', 'none');
            }
            if (numofRec >= 3) {
                $('#3').css('display', 'block');
                $('#Add2').css('display', 'none');
                $('#Remove2').css('display', 'none');
            }
            if (numofRec >= 4) {
                $('#4').css('display', 'block');
                $('#Add3').css('display', 'none');
                $('#Remove3').css('display', 'none');
            }
            if (numofRec >= 5) {
                $('#5').css('display', 'block');
                $('#Add4').css('display', 'none');
                $('#Remove4').css('display', 'none');
            }
            if (numofRec >= 6) {
                $('#6').css('display', 'block');
                $('#Add5').css('display', 'none');
                $('#Remove5').css('display', 'none');
            }
            if (numofRec >= 7) {
                $('#7').css('display', 'block');
                $('#Add6').css('display', 'none');
                $('#Remove6').css('display', 'none');
            }
            if (numofRec >= 8) {
                $('#8').css('display', 'block');
                $('#Add7').css('display', 'none');
                $('#Remove7').css('display', 'none');
            }
            if (numofRec >= 9) {
                $('#9').css('display', 'block');
                $('#Add8').css('display', 'none');
                $('#Remove8').css('display', 'none');
            }
            if (numofRec >= 10) {
                $('#10').css('display', 'block');
                $('#Add9').css('display', 'none');
                $('#Remove9').css('display', 'none');
            }
            if (numofRec >= 11) {
                $('#11').css('display', 'block');
                //$('#divAddNew').css('display', 'none');
                $('#Add10').css('display', 'none');
                $('#Remove10').css('display', 'none');
                $('#Add11').css('display', 'none');
                $('#Remove11').css('margin-left', '7%');
            }

        }

        function AddNewVideo() {


            var currentRec = parseInt($('#hfNoOfVideo').val());
            var numOfRec = currentRec + 1;
            $('#hfNoOfVideo').val(numOfRec);
            ShowVideo();

        }
        function RemoveVideo() {

            var numofRec = parseInt($('#hfNoOfVideo').val());

            $("#OuterVidDiv #Vid" + numofRec + "").css('display', 'none');

            //  $('#' + recNo).css('display', 'none');
            // $('#AddSection').css('display', 'block');
            $('#hfNoOfVideo').val((numofRec - 1));


        }
        function ShowVideo() {
            var numofRec = $('#hfNoOfVideo').val();

            if (numofRec >= 1) {

                $('#Vid1').css('display', 'block');
            }
            if (numofRec >= 2) {
                $('#Vid2').css('display', 'block');
            }


        }

        function AddNewSection() {


            // var txtSect = $("#txtSection").val();

            var txtSect = parseInt($('#txtSection').val());
            var incValu = txtSect + 1;
            $('#txtSection').val(incValu);



            var currentRec = parseInt($('#hfNoOfSec').val());
            var numOfRec = currentRec + 1;
            $('#hfNoOfSec').val(numOfRec);
            ShowGUISections();
            if (numOfRec > 1) {

                $('#RemoveSection').css('display', 'block');
            }
        }

        function RemoveSection() {
            //Remove the view and Show the add new button

            var txtSect = parseInt($('#txtSection').val());
            var incValu = txtSect - 1;
            $('#txtSection').val(incValu);


            var numofRec = parseInt($('#hfNoOfSec').val());

            $("#mainDivSections #Sec" + numofRec + "").css('display', 'none');

            //  $('#' + recNo).css('display', 'none');
            $('#AddSection').css('display', 'block');
            $('#hfNoOfSec').val((numofRec - 1));
            if (numofRec == 2) {

                $('#RemoveSection').css('display', 'none');
            }



        }

        function ShowGUISections() {
            var numofRec = $('#hfNoOfSec').val();

            if (numofRec >= 1) {

                $('#Sec1').css('display', 'block');
            }
            if (numofRec >= 2) {
                $('#Sec2').css('display', 'block');
            }
            if (numofRec >= 3) {
                $('#Sec3').css('display', 'block');

            }
            if (numofRec >= 4) {
                $('#Sec4').css('display', 'block');

            }
            if (numofRec >= 5) {
                $('#Sec5').css('display', 'block');
                $('#AddSection').css('display', 'none');
            }



        }
        function VisiblePhraseLibrary(DescID) {

            if (DescID == "1") {
                $('#P1').css('display', 'block');
                $('#P2').css('display', 'none');
                $('#P3').css('display', 'none');
                $('#P4').css('display', 'none');
                $('#P5').css('display', 'none');
                $('#P6').css('display', 'none');
                $('#P7').css('display', 'none');
            }
            else if (DescID == "2") {
                $('#P1').css('display', 'none');
                $('#P2').css('display', 'block');
                $('#P3').css('display', 'none');
                $('#P4').css('display', 'none');
                $('#P5').css('display', 'none');
                $('#P6').css('display', 'none');
                $('#P7').css('display', 'none');
            }
            else if (DescID == "3") {
                $('#P1').css('display', 'none');
                $('#P2').css('display', 'none');
                $('#P3').css('display', 'block');
                $('#P4').css('display', 'none');
                $('#P5').css('display', 'none');
                $('#P6').css('display', 'none');
                $('#P7').css('display', 'none');
            }
            else if (DescID == "4") {
                $('#P1').css('display', 'none');
                $('#P2').css('display', 'none');
                $('#P3').css('display', 'none');
                $('#P4').css('display', 'block');
                $('#P5').css('display', 'none');
                $('#P6').css('display', 'none');
                $('#P7').css('display', 'none');
            }
            else if (DescID == "5") {
                $('#P1').css('display', 'none');
                $('#P2').css('display', 'none');
                $('#P3').css('display', 'none');
                $('#P4').css('display', 'none');
                $('#P5').css('display', 'block');
                $('#P6').css('display', 'none');
                $('#P7').css('display', 'none');
            }
            else if (DescID == "6") {
                $('#P1').css('display', 'none');
                $('#P2').css('display', 'none');
                $('#P3').css('display', 'none');
                $('#P4').css('display', 'none');
                $('#P5').css('display', 'none');
                $('#P6').css('display', 'block');
                $('#P7').css('display', 'none');
            }
            else if (DescID == "7") {
                $('#P1').css('display', 'none');
                $('#P2').css('display', 'none');
                $('#P3').css('display', 'none');
                $('#P4').css('display', 'none');
                $('#P5').css('display', 'none');
                $('#P6').css('display', 'none');
                $('#P7').css('display', 'block');
            }

        }
        function setServerName(card) {
            var host = $("#new-server-fqdn").val();
            var name = $("#new-server-name").val();
            var displayName = host;

            if (name) {
                displayName = name + " (" + host + ")";
            };

            card.wizard.setSubtitle(displayName);
            card.wizard.el.find(".create-server-name").text(displayName);
        }

        function validateIP(ipaddr) {
            //Remember, this function will validate only Class C IP.
            //change to other IP Classes as you need
            ipaddr = ipaddr.replace(/\s/g, "") //remove spaces for checking
            var re = /^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/; //regex. check for digits and in
            //all 4 quadrants of the IP
            if (re.test(ipaddr)) {
                //split into units with dots "."
                var parts = ipaddr.split(".");
                //if the first unit/quadrant of the IP is zero
                if (parseInt(parseFloat(parts[0])) == 0) {
                    return false;
                }
                //if the fourth unit/quadrant of the IP is zero
                if (parseInt(parseFloat(parts[3])) == 0) {
                    return false;
                }
                //if any part is greater than 255
                for (var i = 0; i < parts.length; i++) {
                    if (parseInt(parseFloat(parts[i])) > 255) {
                        return false;
                    }
                }
                return true;
            }
            else {
                return false;
            }
        }

        function validateFQDN(val) {
            return /^[a-z0-9-_]+(\.[a-z0-9-_]+)*\.([a-z]{2,4})$/.test(val);
        }

        function fqdn_or_ip(el) {
            var val = el.val();
            ret = {
                status: true
            };
            if (!validateFQDN(val)) {
                if (!validateIP(val)) {
                    ret.status = false;
                    ret.msg = "Invalid IP address or FQDN";
                }
            }
            return ret;
        }

        function visibleVDP() {

            if ($('input:checkbox[id=switchVDPs]').is(':checked')) {

                $("#VDPTable").css("display", "block");
            }
            else {
                $("#VDPTable").css("display", "none");
            }
        }
        function TickRadio(RadioClassName) {
            $('input:radio[data-id=' + RadioClassName + ']').attr('checked', true);
            if ($('input:radio[data-id=' + RadioClassName + ']').is(':checked')) {


                $("#gg").css("display", "none");

                // alert();
            }
        }

        $(function () {

            

            //$.fn.wizard.logging = false;

            //var wizard = $("#wizard-demo").wizard({
            //    showCancel: true
            //});

            ////$(".chzn-select").chosen();

            //wizard.el.find(".wizard-ns-select").change(function () {
            //    wizard.el.find(".wizard-ns-detail").show();
            //});

            //wizard.el.find(".create-server-service-list").change(function () {
            //    var noOption = $(this).find("option:selected").length == 0;
            //    wizard.getCard(this).toggleAlert(null, noOption);
            //});

            //wizard.cards["name"].on("validated", function (card) {
            //    var hostname = card.el.find("#new-server-fqdn").val();
            //});

            //wizard.on("submit", function (wizard) {
            //    var submit = {
            //        "hostname": $("#new-server-fqdn").val()
            //    };

            //    setTimeout(function () {
            //        wizard.trigger("success");
            //        wizard.hideButtons();
            //        wizard._submitting = false;
            //        wizard.showSubmitCard("success");
            //        wizard.updateProgressBar(0);
            //    }, 2000);
            //});

            //wizard.on("reset", function (wizard) {
            //    wizard.setSubtitle("");
            //    wizard.el.find("#new-server-fqdn").val("");
            //    wizard.el.find("#new-server-name").val("");
            //});

            //wizard.el.find(".wizard-success .im-done").click(function () {
            //    wizard.reset().close();
            //});

            //wizard.el.find(".wizard-success .create-another-server").click(function () {
            //    wizard.reset();
            //});

            //$(".wizard-group-list").click(function () {
            //    alert("Disabled for demo.");
            //});

            //$("#open-wizard").click(function () {
            //    wizard.show();
            //});



            //wizard.show();
        });

    </script>
}
