@{
    ViewBag.Title = "Products";
}
@section leftmenue {
}

<div class="row" id="productBinding">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="~/Dashboard/Index">Home</a></li>
                        <li class="active"><span>Products</span></li>
                    </ol>
                    <div class="clearfix">
                        <h1 class="pull-left">Products</h1>

                    </div>

                    <div class="row">
                        @Html.Partial("Product/_Products")
                    </div>
                </div>
            </div>
        </div>
    </div>

    @**Error Template*@
    <script id="itemErrorTemplate" type="text/html">
        <tr>
            <!-- ko if: tabId === 1 -->
            <td><a data-bind="text: name,click: $root.selectTab" class="errorMsgText"></a></td>
            <!-- /ko -->
        </tr>
        <tr>
            <!-- ko if: tabId === 2 -->
            <td><a data-bind="text: name,click: $root.selectTab" class="errorMsgText"></a></td>
            <!-- /ko -->
        </tr>
        <tr>
            <!-- ko if: tabId === 3 -->
            <td><a data-bind="text: name,click: $root.selectTab" class="errorMsgText"></a></td>
            <!-- /ko -->
        </tr>
    </script>
</div>

@section Scripts{

    <script>
        require(["product/product.view"]);

        $(function () {
            $('#liProducts').addClass('active');
        });

        function redirectToProductDetail() {
            window.location.href = '/Products/ProductDetail';
        }
        function changeToListView() {
            $("#listViewIcon").css("background-color", "#ff7e47");
            $("#gridViewIcon").css("background-color", "#ffffff");
            $("#gridViewIcon").css("color", "black");
            $("#listViewIcon").css("color", "white");
            $("#gridForm").css("display", "none");
            $("#ListForm").css("display", "block");
        }
        function changeToGridView() {
            $("#gridViewIcon").css("background-color", "#ff7e47");
            $("#listViewIcon").css("background-color", "#ffffff");
            $("#gridViewIcon").css("color", "white");
            $("#listViewIcon").css("color", "black");
            $("#gridForm").css("display", "block");
            $("#ListForm").css("display", "none");
        }

        function enableProductBoxes() {
            $("#ProductDisableEditICon").css("display", "block");
            $("#ProductEditICon").css("display", "none");
            $(".editableName").css("display", "block");
            $(".NoneditableName").css("display", "none");
        }
        function DisableProductBoxes() {
            $("#ProductDisableEditICon").css("display", "none");
            $("#ProductEditICon").css("display", "block");
            $(".editableName").css("display", "none");
            $(".NoneditableName").css("display", "block");
        }
        function enablePriceBoxes() {
            $("#PriceDisableEditICon").css("display", "block");
            $("#PriceEditICon").css("display", "none");
            $(".editablePrice").css("display", "block");
            $(".NoneditablePrice").css("display", "none");
        }
        function DisablePriceBoxes() {
            $("#PriceDisableEditICon").css("display", "none");
            $("#PriceEditICon").css("display", "block");
            $(".editablePrice").css("display", "none");
            $(".NoneditablePrice").css("display", "block");
        }
        function enableCategoryBoxes() {
            $("#CategoryDisableEditICon").css("display", "block");
            $("#CategoryEditICon").css("display", "none");
            $(".editableCat").css("display", "block");
            $(".NoneditableCat").css("display", "none");
        }
        function DisableCategoryBoxes() {
            $("#CategoryDisableEditICon").css("display", "none");
            $("#CategoryEditICon").css("display", "block");
            $(".editableCat").css("display", "none");
            $(".NoneditableCat").css("display", "block");
        }
        $(document).ready(function () {
            //min/max slider
            $('.slider-minmax').noUiSlider({
                range: [0, 100],
                start: [100],
                handles: 1,
                connect: 'upper',
                slide: function () {


                },
                set: function () {
                    var val = $(this).val();
                    if (val >= 60) {

                        $('.Top_Cat_Body').css("width", "22%");
                        $('.FI_TL').css("height", "210px");
                        $('.productListIcons').css("width", "239px");
                    } else if (val >= 40) {

                        $('.Top_Cat_Body').css("width", "18%");
                        $('.FI_TL').css("height", "210px");
                        $('.productListIcons').css("width", "194px");
                    } else if (val <= 20) {

                        $('.Top_Cat_Body').css("width", "13%");
                        $('.FI_TL').css("height", "140px");
                        $('.productListIcons').css("width", "139px");
                    }
                }

            });
            $('.slider-minmax').val(100, true);
        });

    </script>
}
