
/*slider frame*/
#sliderFrame 
{
    width: 942px;
margin: auto; /*remove the "margin:0 auto;" if you want to align the whole slider to the left side*/
padding: 10px;
margin-top: 5px;
/*
box-shadow: 0 0 5px #BBB;
border: 1px solid #CCC;
background-color: rgb(237, 239, 240);
*/
border: 1px solid White;
box-shadow: 0 0 5px White;
background-color: White;
moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
}
     
        

#sliderDesigner
{
    float: right;
    width: 744px;
    height: 600px; /* Make it the same size as your images. */
    background: #E6F5FA url('../Designer/assets-v2/loadingSlider.gif') no-repeat 50% 50%;
    position: relative;
    margin: 0 auto; /*make the image slider center-aligned */
    background-color: #D3D3D3 !important;
    background-size: contain !important;
    background-position: center !important;
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#sliderDesigner img {
	position:absolute;
	border:none;
	visibility:hidden;
	
}

/* the link style (if an image is wrapped in a link) */
#sliderDesigner a.imgLink {
	z-index:2;
	display:none;position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}

/* Caption styles */
div.mc-caption-bg, div.mc-caption-bg2 {
	position:absolute;
	width:400px;
	height:auto;
	padding:10px;
	left:120px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom:10px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size:0;
	
	display:none;
}
div.mc-caption-bg {
	background:#DDD; /*Caption background color. Can be set to "background:transparent;", or set to semi-transparent through the sliderOptions.captionOpacity setting in the javascript.*/
	border:1px solid white;
	border-radius: 5px;
}
div.mc-caption {
	font:bold 13px/16px Arial;
	color:#069;
	z-index:4;
	text-align:center;
}
div.mc-caption a { 
	color:#060;
}


/* ------ built-in navigation bullets wrapper that is relative to the #sliderDesigner ------*/
div.navBulletsWrapper  {
	display:none;
}
.thumbNailFrame
{
    height:44px;
    width:auto;
    max-width:70px;
}

/*thumbnails*/
#thumbs 
{
    float: left;
    margin-right:8px;
    width: 162px;
    font: normal 11px/13px Arial;
   /* border-top: 1px solid #CCC;*/
    border-top: 1px solid White;
    color: #666;
    overflow: auto;
    background-color: White;
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#thumbs .thumb 
{
    border:1px solid #FFF;
    border-top:1px solid #FFF;
    padding:11px 8px;
    background:#FFF;
    /*background:rgb(197, 201, 207);*/
    margin: 3px 3px 3px 3px;
}
#thumbs .thumb-on 
{
    background:#DCDCDC;
}

#thumbs img{border:1px solid #DDD; cursor:pointer; max-width:55px; max-height:44px;}

#thumbs .frame {float:left;padding:2px;border:1px solid #CCC;background:white;border-radius:3px;box-shadow:0 0 3px #BBB;font-size:0;line-height:0;}
#thumbs .thumb-content 
{
    float: left;
    width: 60px;
    padding-left: 5px;
    margin-top: 14px;
}

/* Captions in #thumbs .thumb-content */
#thumbs .thumb-content p {font-weight:bold; color:#CCC; margin:0 0 3px;padding:0; font-family: 'Lato';}
#thumbs .thumb-on .thumb-content p {color:#666666;}


/* --------- Others ------- */
#sliderDesigner 
{
	transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    box-shadow: 5px 3px 3px #6A6A69;
    border: 1px solid #a1a1a1;
    border-color: #6a6a6a;
    border-bottom: 0px;
    border-right: 0px;
}

.mcSlc
{
    background-size: contain !important;
    background-position: center !important;
    background-color: #D3D3D3 !important;
}


#PreviewerContainerDesigner {
    width: 1000px;
    height: 500px;
    z-Index: 100001;
    display: none;
    background-color: #FFFFFF;
    padding-top: 25px;
    text-align: center;
    font-family: 'Lato';
    position: fixed;
    padding: 5px;
    color: White;
    top: 9px;
    padding-left: 0px;
}

.PreviewerContainerDesignerClose {
    line-height: 2.1;
    position: absolute;
    top: 30px;
    right: 30px;
    text-shadow: 0 -1px 1px rbga(0,0,0,.4);
    font-weight: normal;
    cursor: pointer;
    padding: 15px;
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    padding-left: 15px;
    font-size: 18px;
    -webkit-box-shadow: 0 8px 6px -6px #666;
    -moz-box-shadow: 0 8px 6px -6px #666;
    box-shadow: 0 8px 6px -6px #666;
    background: #aaa;
    float: right;
    margin-top: -17px !important;
    margin-right: 6px;  line-height: 9px;
    cursor: pointer;
}

    .PreviewerContainerDesignerClose:hover {
        background: #74B846;
    }

 .previewfontStyles 
 {
     font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
 }
 
.previewerTitle {
    font-size: 18px;
    text-align: left;
    margin-left: 32px;
    margin-top: 27px;
    padding-top: 4px;
    color: Black;
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    color: #666666;
    padding-bottom: 5px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.lightGray {
    color: #ccc;
}


.sliderLine {
    background-color: #666666;
    height: 1px;
    width: 948px;
    margin-left: 32px;
}

.sliderLineBtm {
    margin-left: 21px !important;
    display:inline-block;
}

#previewProofingDesigner {
    width: 964px;
    height: 55px;
    margin: auto;
    background-color: White;
    margin-top: 4px;
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.divTxtProofingDesigner {
    width: 736px;
    height: 42px;
    font-size: 14px;
    margin-left: 10px;
    display: inline-block;
    float: left;
    padding-top: 7px;
    text-align: left;
    padding-left: 5px;
    color: #666666;
    font-size: 16px;
}


.ConfirmPopupProofDesigner {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
}

.lblChkSpellings {
    vertical-align: super;
    font-size: 19px;
    display:inline;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.regular-checkbox-new {
    display: none;
    outline: none !important;
    -webkit-transition: background-color;
    -moz-transition: background-color;
    -o-transition: background-color;
    -ms-transition: background-color;
    transition: background-color;
}

    .regular-checkbox-new + label {
        display: inline-block !important;
        padding: 6px 0 6px 45px;
        line-height: 25px;
        background-image: url('assets-v2/checkbox_sprite.png');
        background-image: none,url('assets-v2/checkbox_sprite.svg');
        background-position: -108px 0;
        background-repeat: no-repeat;
        -webkit-background-size: 143px 143px;
        -moz-background-size: 143px 143px;
        background-size: 143px 143px;
        overflow: visible;
        outline: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        cursor: hand;
        color: #66615b;
        outline: none !important;
        height: 25px;
    }

        .regular-checkbox-new:hover + label, .regular-checkbox-new + label:hover, .regular-checkbox-new:hover + label:hover {
            background-position: -72px -36px;
            color: #403d39;
        }

    .regular-checkbox-new:checked + label {
        background-position: -36px -72px;
        color: #403d39;
    }

        .regular-checkbox-new:checked:hover + label, .regular-checkbox-new:checked + label:hover, .regular-checkbox-new:checked:hover + label:hover {
            background-position: 0 -108px;
            color: #403d39;
        }


.btnBlueProofing {
    border: 0px !important;
    background: #8FC041;
    color: #fff;
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    font-size: 16px;
    -webkit-box-shadow: 0 8px 6px -6px #666;
    -moz-box-shadow: 0 8px 6px -6px #666;
    box-shadow: 0 8px 6px -6px #666;
    margin-top: 13px !important;
    float: right;
    margin-right: 10px;
    width: 196px;
    font-family: 'Lato';
    height: 36px;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

    .btnBlueProofing:hover {
        background: #74B846;
    }

    .ckeckboxChecked {
        background-position: -36px -72px !important;
        color: #403d39;
    }

