
<div class="modal fade my-modal" id="orderPrePaymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width: 838px;" class="modal-dialog">
        <div class="modal-content" data-bind="with:$root.selectedPrePayment">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-bind="visible:$root.flagForToShowAddTitle()">Add Pre Payment</h4>
                <h4 class="modal-title" data-bind="visible:!$root.flagForToShowAddTitle()">Edit Pre Payment</h4>
            </div>
            <div class="col-sm-12 form-horizontal outerDiv-Padding">
                <div class="form-group">
                    <div class="col-sm-5 text-right">
                       
                        <label for="customer" class="control-label text-right tooltip-float">Customer</label>
                    </div>
                    <div class="col-sm-5">
                        <span class="form-control" id="customer" style="border:none" data-bind="text:$root.selectedOrder().companyName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 text-right">
                        
                        <label for="address" class="control-label text-right tooltip-float">Address Title</label>
                    </div>
                    <div class="col-sm-5">
                        <span class="form-control" id="address" style="border:none" data-bind="text:$root.selectedAddress().name"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 text-right">
                        
                        <label for="date" class="control-label text-right tooltip-float">Payment Date</label>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="date" data-bind="datepicker:paymentDate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 text-right">
                        
                        <label for="ref" class="control-label text-right tooltip-float">Payment Ref.</label>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="ref" data-bind="value:referenceCode">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 text-right">
                       
                        <label for="amount" class="control-label text-right tooltip-float">Amount</label>
                    </div>
                    <div class="col-sm-5">
                        <div class="input-group">
                            <span class="input-group-addon" data-bind="text:$root.currencySymbol"></span>
                            <input type="text" class="form-control  text-right" id="amount" data-bind="numberValue:amount,validationTooltip:amount">
                        </div>
                       
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 text-right">
                        
                        <label class="control-label text-right tooltip-float">Payment Method</label>
                    </div>
                    <div class="col-sm-5">
                        <select class="form-control" data-bind="options: $root.paymentMethods, optionsText: 'MethodName', optionsValue: 'PaymentMethodId',value:paymentMethodId"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 text-right">
                        
                        <label class="control-label text-right tooltip-float">Description</label>
                    </div>
                    <div class="col-sm-5">
                        <textarea class="form-control" rows="4" data-bind="value:paymentDescription"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <hr />
                <button type="button" class="btn btn-primary" data-bind="click:$root.onSavePrePayment">Save</button>
                <button type="button" class="btn btn-default" style="margin-left: 0px;" data-bind="click:$root.onCancelOrderPrePayment">Close</button>
            </div>
        </div>
    </div>
</div>


@* Wizard Popup ends here*@
