<div class="modal fade" id="inkDialogModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width:838px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="dialgHeaderPadding">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Inks Dialog</h4>
            </div>
            <div class="col-lg-12">
            </div>
            <div class="col-lg-12 form-horizontal" data-bind="with: $root.selectedSection()">
                <div class="col-lg-6">
                    <div class="group-header col-lg-12" id="dialgHeaderPadding" >
                        <h4 class="">Side 1</h4>
                    </div>
                    <div class="col-lg-12 table" style="margin-top: 2%">

                        <div class="col-lg-12">
                            <div class="col-lg-6">Ink Order</div>
                            <div class="col-lg-6">Coverage</div>
                        </div>

                        <!-- ko template: { name: 'side1List' , foreach: sectionInkCoverageList } -->
                        <!-- /ko -->

                    </div>
                </div>
                <!--ko if: doubleWorknTurn() != "1"-->
                <div class="col-lg-6" >
                    <div class="group-header col-lg-12" id="dialgHeaderPadding" >
                        <h4 class="">Side 2</h4>
                    </div>
                    <div class="col-lg-12 table" style="margin-top: 2%">

                        <div class="col-lg-12">
                            <div class="col-lg-6">Ink Order</div>
                            <div class="col-lg-6">Coverage</div>
                        </div>

                        <!-- ko template: { name: 'side2List' , foreach: sectionInkCoverageList } -->
                        <!-- /ko -->

                    </div>
                </div>
                <!--/ko-->
            </div>
            <div class="modal-footer">
                <hr />
            </div>
        </div>
    </div>
</div>
<script id="side1List" type="text/html">
    <!-- ko if : side() === 1 -->
    <div class="col-lg-12" style="margin-top: 2%">
        <div class="col-lg-6">
            <select class="form-control" data-bind="options: $root.inks, optionsText: 'ItemName', optionsValue: 'StockItemId', value: inkId"></select>
        </div>
        <div class="col-lg-6">
            <select class="form-control" data-bind="options: $root.inkCoverageGroup, optionsText: function(item) { return item.GroupName +' '+ item.Percentage + '%'}, optionsValue: 'CoverageGroupId', value: coverageGroupId"></select>
        </div>
    </div>
    <!-- /ko -->
</script>
<script id="side2List" type="text/html">
    <!-- ko if : side() === 2 -->
    <div class="col-lg-12" style="margin-top: 2%">
        <div class="col-lg-6">
            <select class="form-control" data-bind="options: $root.inks, optionsText: 'ItemName', optionsValue: 'StockItemId', value: inkId"></select>
        </div>
        <div class="col-lg-6">
            <select class="form-control" data-bind="options: $root.inkCoverageGroup, optionsText: function(item) {return item.GroupName +' '+ item.Percentage + '%'}, optionsValue: 'CoverageGroupId', value: coverageGroupId"></select>
        </div>
    </div>
    <!-- /ko -->
</script>