<div>
    <div class="col-sm-12 form-horizontal">
        <div style="margin-bottom:15px;">
            <div class="tabsdescriptions" style="margin-left:-1px;">
                <span class="group-header-description">Define important milestones for this job, NOTE: these target dates determines the jobs anticipated due date, and will be displayed as overdue if the target print/bind date is past due.</span>
            </div>
               
        </div>
        <div class="col-sm-9">
            @*<div class="form-group">
                <div class="col-sm-3 text-right">
                    <label class="control-label text-right tooltip-float">Target Artwork Date</label>
                </div>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="datepickerArtworkBy" data-bind="datepicker: artworkByDate">

                </div>

            </div>*@



            <div class="form-group">
                <div class="col-sm-3 text-right">
                    <label class="control-label text-right tooltip-float">Target Files Date</label>
                </div>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="datepickerDateFilesDataBy" data-bind="datepicker: dataByDate">

                </div>

            </div>
            @*<div class="form-group">
                <div class="col-sm-3 text-right">
                    <label class="control-label text-right tooltip-float">Target Paper Date</label>
                </div>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="datepickerDatePaperBy" data-bind="datepicker: paperByDate">

                </div>

            </div>*@
            <div class="form-group">
                <div class="col-sm-3 text-right">
                    <label class="control-label text-right tooltip-float">Target Print Date</label>
                </div>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="datepickerDateTPrint" data-bind="datepicker: targetPrintDate">

                </div>

            </div>

            @*<div class="form-group">
                <div class="col-sm-3 text-right">
                    <label class="control-label text-right tooltip-float">Target Bind Date</label>
                </div>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="datepickerDateTBind" data-bind="datepicker: targetBindDate">

                </div>

            </div>*@

            @*<div class="form-group">
                <div class="col-sm-3 text-right">
                    <label class="control-label text-right tooltip-float">Finish Delivery Date</label>
                </div>

                <div class="col-sm-6">
                    <input type="text" class="form-control" data-bind="datepicker: finishDeliveryDate">

                </div>

            </div>*@
        </div>

    </div>
    <div class="col-sm-12 form-horizontal">
        <h3 class="group-header">Other Information</h3>
        <div class="col-sm-9">


            <div class="form-group">
                <div class="col-sm-3 text-right">
                    <label class="control-label text-right tooltip-float">Order Manager</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: $root.systemUsers, optionsText: 'fullName', optionsValue: 'id', optionsCaption: 'Select Order Manager', value: orderManagerId"></select>                    
                </div>
            </div>

            <div class="form-group" style="margin-bottom:10px;">
                <div class="col-sm-3 text-right">
                    <label class="control-label text-right tooltip-float">Sales Person</label>
                </div>

                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: $root.systemUsers, optionsText: 'fullName', optionsValue: 'id', optionsCaption: 'Select Sales Person', value: salesPersonId"></select>
                    <span class="help-block text-right"></span>
                </div>

            </div>
            @*<div class="form-group">
                <div class="col-sm-3 text-right">
                    <label class="control-label text-right tooltip-float">Marketing Source</label>
                </div>

                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: $root.pipelineSources, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select Marketing Source', value: sourceId"></select>
                    <span class="help-block text-right"></span>
                </div>

            </div>*@
        </div>

    </div>
</div>

