<div>
    <div class="col-lg-12 form-horizontal">
        <h3 class="group-header">Order Detail</h3>
        <div class="col-lg-6">
            <div class="form-group">
                <div class="col-lg-4 text-right">
@* ReSharper disable UnknownCssClass *@
                    <div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Customer for Estimate" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>



                    <label class="control-label tooltip-float">Customer</label>

                </div>
                <div class="col-lg-6">
                    <div>
                        <input type="text" class="form-control OpenStockPopup-Class1" id="txtCompany" data-bind="value: companyName, enable: false" />
                        <a data-bind="click: $root.openCompanyDialog" href="#" class="btn btn-primary pull-right">
                            <i class="fa fa-lg"></i>&nbsp;....
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Contact of Company." data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>
                    <label class="control-label text-right tooltip-float">Attention</label>
                </div>

                <div class="col-lg-6">
                    <select class="form-control" data-bind="options: $root.companyContacts, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select...', value: contactId">
                    </select>
                    <span class="help-block text-right"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <div class="bs-example-tooltips tooltip-float-width">
                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Address Name." data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>
                    </div>
                    <label class="control-label text-right tooltip-float">Address Name</label>
                </div>
                <div class="col-lg-6">
                    <select class="form-control" data-bind="options: $root.companyAddresses, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select...', value: addressId"></select>
                    <span class="help-block text-right"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <div class="bs-example-tooltips tooltip-float-width">
                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address 1" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>
                    </div>
                    <label class="control-label tooltip-float">Address 1</label>
                </div>
                <div class="col-lg-6" data-bind="with: $root.selectedAddress">
                    <div>
                        <input type="text" class="form-control" id="address1" data-bind="value: address1, enable: false" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <div class="bs-example-tooltips tooltip-float-width">
                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Address 2" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>
                    </div>
                    <label class="control-label tooltip-float">Address 2</label>
                </div>
                <div class="col-lg-6" data-bind="with: $root.selectedAddress">
                    <div>
                        <input type="text" class="form-control" data-bind="value: address2, enable: false" id="address2" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <div class="bs-example-tooltips tooltip-float-width">
                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Telephone" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>
                    </div>
                    <label class="control-label tooltip-float">Telephone</label>
                </div>
                <div class="col-lg-6" data-bind="with: $root.selectedAddress">
                    <div>
                        <input type="text" data-bind="value: telephone1, enable: false" class="form-control" id="telephone">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <div class="bs-example-tooltips tooltip-float-width">
                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Email" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>
                    </div>
                    <label class="control-label tooltip-float">Email</label>
                </div>
                <div class="col-lg-6" data-bind="with: $root.selectedCompanyContact">
                    <div>
                        <input type="text" data-bind="value: email, enable: false" class="form-control" id="email">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <div class="bs-example-tooltips tooltip-float-width">
                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Estimate Title" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>
                    </div>
                    <label class="control-label tooltip-float">Order Title</label>
                </div>
                <div class="col-lg-6">
                    <div>
                        <input type="text" data-bind="value: name, validationTooltip: name, validationOnElement: name" placeholder="Enter Order Title" class="form-control" id="EstimateTitle" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <div class="bs-example-tooltips tooltip-float-width">
                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Online Order" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>
                    </div>
                    <label class="control-label text-right tooltip-float">Order Type</label>
                </div>
                <div class="col-lg-6" style="margin-top:5px;">
                    <span id="orderType" data-bind="text: isDirectSaleUi"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Is Credit Approved." data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>
                    <label class="control-label text-right tooltip-float">Credit Approved</label>
                </div>

                <div class="col-lg-6" style="margin-top:5px;">
                    <ul style="list-style: none">
                        <li class="product-has-nofeature" data-bind="css: { 'product-has-feature' : isCreditApproved, 'product-has-nofeature' : !isCreditApproved() }">
                        </li>
                    </ul>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    <div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="P/O Number." data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>
                    <label class="control-label text-right tooltip-float">P/O Number</label>
                </div>

                <div class="col-lg-6" style="margin-top:5px;">
                    <ul style="list-style: none">
                        <li class="product-has-nofeature" data-bind="css: { 'product-has-feature' : isOfficialOrder, 'product-has-nofeature' : !isOfficialOrder() }">
                        </li>

                    </ul>
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    <div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Order Flag." data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>
                    <label class="control-label text-right tooltip-float">Order Flag</label>
                </div>

                <div class="col-lg-6">
                    <select class="form-control" data-bind="options: $root.sectionFlags, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select...', value: sectionFlagId"></select>
                    <span class="help-block text-right"></span>
                </div>

            </div>

            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Order date." data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>
                    <label class="control-label text-right tooltip-float">Order Date</label>
                </div>
                <div class="col-lg-6">

                    <input type="text" class="form-control" id="orderDate" data-bind="datepicker: orderDate">
                </div>
            </div>



            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Select delivery date." data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>
                    <label class="control-label text-right tooltip-float">Start Delivery</label>
                </div>
                <div class="col-lg-6">

                    <input type="text" class="form-control" id="datepickerStartDDate" data-bind="datepicker: startDeliveryDate">

                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Select finish date." data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>
                    <label class="control-label text-right tooltip-float">Finish Delivery</label>
                </div>
                <div class="col-lg-6">

                    <input type="text" class="form-control" id="datepickerFinishDDate" data-bind="datepicker: finishDeliveryDate">

                </div>
            </div>
        </div>


    </div>
    <div class="col-lg-12 form-horizontal" style="margin-top:-18px;">
        <div>
            @* <div class="input-group">
    <div class="input-group-btn">
        <button type="button" class="btn btn-primary dropdown-toggle" style="float:right;margin-bottom: 3px;" data-toggle="dropdown">Add New Product <span class="caret"></span></button>
         <ul class="dropdown-menu">
            <li><a href="#">From Retail Store</a></li>
            <li><a href="#">Cost Center</a></li>
            <li><a href="#">Inventory Item</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            </ul>
                </div>
            </div>*@
            <h3 class="group-header" @*style="margin-top:-21px;"*@>Other Information</h3>
            <div class="btn-group" style="float:right;margin-bottom: 3px;">
                <button type="button" class="btn btn-primary">Add New Product</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-bind="click : $root.onCreateNewProductFromRetailStore">From Retail Store</a></li>
                    <li><a href="#">Cost Center</a></li>
                    <li><a href="#">Inventory Item</a></li>
                </ul>
            </div>

        </div>
        <div class="form-group" style="margin-top: -43px;">


            <div class="col-lg-12">
                <div class="col-lg-12 clearfix">
                    <header class="main-box-header clearfix">
                        <div class="filter-block pull-right">

                        </div>
                    </header>
                    <div class="main-box-body clearfix" style="padding-left: 177px;">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th><a href="#"><span>Product Name</span></a></th>
                                        <th><span>Qty 1</span></th>
                                        <th style="text-align:center;"><span>Status</span></th>
                                        <th><span>Gross Total</span></th>
                                        <th style="width:83px;">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ko template: { name: 'itemTemplate', foreach: items } -->
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-12 form-horizontal">
        <h3 class="group-header">Header & Footer</h3>
        <div class="col-lg-6">

            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Order Header" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>



                    <label class="control-label tooltip-float">Order Header</label>

                </div>
                <div class="col-lg-6">
                    <div>
                        <textarea class="form-control" placeholder="Enter Order Header" id="EstimateHeader" rows="3" data-bind="value: headNotes"></textarea>


                    </div>

                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <div class="bs-example-tooltips tooltip-float-width">

                        <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Order Footer" data-original-title="" title="">
                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                        </a>

                    </div>



                    <label class="control-label tooltip-float">Order Footer</label>

                </div>
                <div class="col-lg-6">
                    <div>
                        <textarea class="form-control" placeholder="Enter Order Footer" id="estimateFooter" rows="3" data-bind="value: footNotes"></textarea>


                    </div>

                </div>
            </div>
        </div>

        @* ReSharper restore UnknownCssClass *@

    </div>
    
    @* Item Template *@
    <script id="itemTemplate" type="text/html">
        <tr>
            <td>
                <a href="#" data-bind="text: productName, click: $root.editItem"><span></span></a>
            </td>
            <td>
                <span data-bind="text: qty1"></span>
            </td>
            <td class="text-center">
                <span class="label label-success" data-bind="text: statusName"></span>
            </td>
            <td>
                <span data-bind="text: '$' + qty1NetTotal()"></span>
            </td>
            <td class="text-right">
                <a href="#" class="table-link" data-bind="click: $root.editItem">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="table-link danger" data-bind="click: $root.deleteItem">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>

        </tr>

    </script>

    @Html.Partial("~/Areas/Orders/Views/Home/_ProductFromRetailStore.cshtml")
</div>

