<div class="modal fade my-modal" id="orderItemDetailDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="orderItemDetail">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Item Detail</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>
                                    <span data-bind="text: productName"></span>
                                    <span data-bind="text: ' '"></span>
                                    <span data-bind="text: code"></span>
                                </h1>
                            </div>
                        </div>
                        <div class="row" id="user-profile">
                            <div class="col-lg-12 col-md-8 col-sm-8">
                                <div class="main-box clearfix my-tabsHeader">
                                    <div class="tabs-wrapper profile-tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab-detail" data-toggle="tab">Basic Detail</a></li>
                                            <li><a href="#tab-Sections" data-toggle="tab">Sections</a></li>
                                            <li><a href="#tab-desc" data-toggle="tab">Descriptions</a></li>
                                            <li><a href="#tab-jobs" data-toggle="tab">Job Detail</a></li>
                                            <li><a href="#tab-invoice" data-toggle="tab">Invoice Detail</a></li>
                                            <li><a href="#tab-attachments" data-toggle="tab">Attachments</a></li>


                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab-detail">
                                                <div class="col-lg-12 form-horizontal">
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <div class="bs-example-tooltips tooltip-float-width">

                                                                <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Category for specific product" data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>

                                                            </div>



                                                            <label class="control-label tooltip-float">Product Category</label>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label class="control-label" data-bind="text: productCategoryName" style="margin-left:5px;"></label>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <div class="bs-example-tooltips tooltip-float-width">

                                                                <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Product Name" data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>

                                                            </div>



                                                            <label class="control-label tooltip-float">Product Name</label>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div>
                                                                <input type="text" class="form-control" id="ProductTitle" data-bind="value: productName" />


                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <div class="bs-example-tooltips tooltip-float-width">

                                                                <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Notes for Specific Product" data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>

                                                            </div>



                                                            <label class="control-label tooltip-float">User Notes</label>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <textarea class="form-control" data-bind="value: itemNotes" id="txtNotes" placeholder="Enter Notes" rows="5"></textarea>

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="tab-pane fade " id="tab-desc">
                                                <div class="col-lg-12 form-horizontal">



                                                    <label class="control-label" style="margin-bottom:10px;">Enter in Estimate / Job description below</label>


                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <input type="text" class="form-control" id="txtTitle1" placeholder="Enter Title 1">
                                                            <span class="label label-circle-question"></span>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <textarea class="form-control" id="txtDescription1" placeholder="Enter Description 1" rows="3"></textarea>
                                                            <span class="help-block text-right"></span>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <input type="text" class="form-control" id="txtTitle2" placeholder="Enter Title 2">
                                                            <span class="label label-circle-question"></span>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <textarea class="form-control" id="txtDescription2" placeholder="Enter Description 2" rows="3"></textarea>
                                                            <span class="help-block text-right"></span>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <input type="text" class="form-control" id="txtTitle3" placeholder="Enter Title 3">
                                                            <span class="label label-circle-question"></span>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <textarea class="form-control" id="txtDescription3" placeholder="Enter Description 3" rows="3"></textarea>
                                                            <span class="help-block text-right"></span>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <input type="text" class="form-control" id="txtTitle4" placeholder="Enter Title 4">
                                                            <span class="label label-circle-question"></span>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <textarea class="form-control" id="txtDescription4" placeholder="Enter Description 4" rows="3"></textarea>
                                                            <span class="help-block text-right"></span>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <input type="text" class="form-control" id="txtTitle5" placeholder="Enter Title 5">
                                                            <span class="label label-circle-question"></span>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <textarea class="form-control" id="txtDescription5" placeholder="Enter Description 5" rows="3"></textarea>
                                                            <span class="help-block text-right"></span>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <input type="text" class="form-control" id="txtTitle6" placeholder="Enter Title 6">
                                                            <span class="label label-circle-question"></span>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <textarea class="form-control" id="txtDescription6" placeholder="Enter Description 6" rows="3"></textarea>
                                                            <span class="help-block text-right"></span>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <input type="text" class="form-control" id="txtTitle7" placeholder="Enter Title 7">
                                                            <span class="label label-circle-question"></span>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <textarea class="form-control" id="txtDescription7" placeholder="Enter Description 7" rows="3"></textarea>
                                                            <span class="help-block text-right"></span>
                                                        </div>

                                                    </div>

                                                </div>




                                            </div>
                                            <div class="tab-pane fade" id="tab-jobs">
                                                <div class="col-lg-12 form-horizontal">



                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <div class="bs-example-tooltips tooltip-float-width">

                                                                <a class="input-group-addon" data-container="body" data-toggle="popover" data-placement="right" data-content="Job Code fro specific Product" data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>

                                                            </div>



                                                            <label class="control-label tooltip-float">Job Code</label>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label class="control-label" style="margin-left:5px;"></label>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <div class="bs-example-tooltips tooltip-float-width">

                                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Creation Date for Specific Product " data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>

                                                            </div>



                                                            <label class="control-label tooltip-float">Creation Date</label>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label class="control-label" style="margin-left:5px;">2014/06/14</label>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <div class="bs-example-tooltips tooltip-float-width">

                                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Start time" data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>

                                                            </div>



                                                            <label class="control-label tooltip-float">Start Time</label>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label class="control-label" style="margin-left:5px;">2014/06/14</label>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <div class="bs-example-tooltips tooltip-float-width">

                                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Shows Completion time" data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>

                                                            </div>



                                                            <label class="control-label tooltip-float">Completion Time</label>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label class="control-label" style="margin-left:5px;">2014/06/14</label>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <div class="bs-example-tooltips tooltip-float-width">

                                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Job Status of Product" data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>

                                                            </div>



                                                            <label class="control-label tooltip-float">
                                                                Job Status
                                                            </label>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <select class="form-control">
                                                                <option>Need Assigning</option>
                                                                <option>In Studio / In Press</option>
                                                                <option>In Print / Press</option>
                                                                <option>Ready for Shipping</option>
                                                                <option>Shipped, Not Invoiced</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <div class="bs-example-tooltips tooltip-float-width">

                                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Job Manager" data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>

                                                            </div>

                                                            <label class="control-label tooltip-float">
                                                                Job Manager
                                                            </label>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <select class="form-control">
                                                                <option>Lucas Eyre</option>
                                                                <option>David</option>
                                                                <option>Gary McCutting</option>
                                                                <option>Smit Jones</option>
                                                                <option>Stephen</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <div class="bs-example-tooltips tooltip-float-width">

                                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Progressed By for product" data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>

                                                            </div>



                                                            <label class="control-label tooltip-float">Progressed By</label>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label class="control-label" style="margin-left:5px;">Gray McCutting</label>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <div class="bs-example-tooltips tooltip-float-width">

                                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Signed By" data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>

                                                            </div>



                                                            <label class="control-label tooltip-float">
                                                                Signed By
                                                            </label>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <select class="form-control">
                                                                <option>Lucas Eyre</option>
                                                                <option>David</option>
                                                                <option>Gary McCutting</option>
                                                                <option>Smit Jones</option>
                                                                <option>Stephen</option>
                                                            </select>

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="tab-invoice">
                                                <div class="col-lg-12 form-horizontal">
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <div class="bs-example-tooltips tooltip-float-width">

                                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Invoice Description" data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>

                                                            </div>



                                                            <label class="control-label tooltip-float">Invoice Description</label>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <textarea class="form-control" id="txtInvoiceDescription" placeholder="Enter Invoice Description" rows="5"></textarea>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <div class="bs-example-tooltips tooltip-float-width">

                                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Nominal Code" data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>

                                                            </div>



                                                            <label class="control-label tooltip-float">
                                                                Nominal Code
                                                            </label>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <select class="form-control">
                                                                <option>4001 Online Print Sales</option>
                                                                <option>4002 Labour Press</option>
                                                                <option>4003 Paper</option>
                                                                <option>4004 Post Press </option>
                                                                <option>4007 Bindary</option>
                                                            </select>

                                                        </div>




                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">


                                                        </div>
                                                        <div class="col-lg-6">
                                                            <a href="#" class="btn btn-primary">
                                                                <i class="fa fa-lg"></i>&nbsp;Copy Job Description
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>



                                            </div>
                                            <div class="tab-pane fade" id="tab-attachments">
                                                <div class="col-lg-12 form-horizontal">

                                                    <div class="form-group">
                                                        <div class="col-lg-3 text-right">
                                                            <div class="bs-example-tooltips tooltip-float-width">

                                                                <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Upload Attachments" data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>

                                                            </div>

                                                            <label for="txtCompanyName" class="control-label text-right tooltip-float">Draft</label>

                                                        </div>

                                                        <div class="col-lg-6">
                                                            <div id="dropzone1" class="dropzonepl">
                                                                <form id="demo-upload1" class="dropzone dz-clickable" style="min-height: 200px; width: 250px;" action="#">
                                                                    <div class="dz-default dz-message">
                                                                        <span>Drop file here to upload</span>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <span class="help-block text-right"></span>
                                                        </div>

                                                    </div>


                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab-Sections">


                                                <div class="col-lg-12 form-horizontal">
                                                    <h3 class="group-header">Sections</h3>

                                                    <div class="col-lg-9">
                                                        <div class="form-group">
                                                            <div class="col-lg-3 text-right">
                                                                <div class="bs-example-tooltips tooltip-float-width">

                                                                    <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Quantities" data-original-title="" title="">
                                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                    </a>

                                                                </div>



                                                                <label class="control-label tooltip-float">Number of Sections</label>

                                                            </div>
                                                            <div class="col-lg-9">
                                                                <div>

                                                                    <label class="control-label SectionNo_Font">1 Section</label>

                                                                    <a href="#" class="btn btn-primary pull-right">
                                                                        <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add New Section
                                                                    </a>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9" style="width: 68%;">
                                                        <div class="form-group">
                                                            <div class="col-lg-3 text-right">
                                                                <div class="bs-example-tooltips tooltip-float-width">

                                                                    <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Quantities" data-original-title="" title="">
                                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                    </a>

                                                                </div>



                                                                <label class="control-label tooltip-float">Quantities</label>

                                                            </div>
                                                            <div class="col-lg-9">
                                                                <div class="col-xs-3">


                                                                </div>
                                                                <div class="col-xs-3 txtBox-contentAlignRight">
                                                                    <label class="control-label">200</label>

                                                                </div>
                                                                <div class="col-xs-3 txtBox-contentAlignRight">

                                                                    <label class="control-label">250</label>
                                                                </div>
                                                                <div class="col-xs-3 txtBox-contentAlignRight">


                                                                    <label class="control-label Qty-TextBox-width">500</label>
                                                                </div>



                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-lg-9">
                                                        <div class="form-group">
                                                            <div class="col-lg-3 text-right">

                                                            </div>
                                                            <div class="col-lg-9">
                                                                <div class="clearfix">
                                                                    <div class="table-responsive" style="border:groove;border-width:1px;">
                                                                        <table class="table table-striped table-hover">
                                                                            <thead>
                                                                                <tr>

                                                                                    <th style="width:24%"><span>Section Name</span></th>
                                                                                    <th style="width:24%"><span>Qty 1 </span></th>
                                                                                    <th style="width:26%"><span>Qty 2</span></th>
                                                                                    <th><span>Qty 3</span></th>
                                                                                    <th style="width:55px;">&nbsp;</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>

                                                                                    <td style="width:31%">
                                                                                        @*<div style="width:87px;">*@
                                                                                        <div class="col-xs-4" style="width: 66%;">
                                                                                            <a href="#" data-bind="click: $root.editSection"><span>Top Section</span></a>
                                                                                            <span style="font-size:13px;">4 Color</span>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td>
                                                                                        <div class="col-xs-3 ">
                                                                                            <span>200</span>
                                                                                            <span>$58543.20</span>

                                                                                        </div>

                                                                                    </td>


                                                                                    <td class="text-center">
                                                                                        <div class="col-xs-3">
                                                                                            <span>250</span>
                                                                                            <span> $45630.0</span>

                                                                                        </div>

                                                                                    </td>

                                                                                    <td>
                                                                                        <div class="col-xs-3" style="margin-left:12px;">
                                                                                            <span>500</span>
                                                                                            <span> $78965</span>

                                                                                        </div>
                                                                                    </td>


                                                                                    <td class="text-right">
                                                                                        @*<div style="width: 32px;float: right;">
                                                                                                <span>0</span>
                                                                                                  <span> $0.0</span>

                                                                                            </div>*@
                                                                                        <div class="col-xs-3">
                                                                                            <a href="#" class="table-link">
                                                                                                <span class="fa-stack">
                                                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                                                </span>
                                                                                            </a>
                                                                                            <a href="#" class="table-link danger">
                                                                                                <span class="fa-stack">
                                                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                                                </span>
                                                                                            </a>
                                                                                        </div>
                                                                                    </td>

                                                                                </tr>
                                                                                <tr style="width:31%">
                                                                                    <td>
                                                                                        @*  <div style="width:87px;">
                                                                                             <a href="~/Estimate/SectionDetail"><span>Section 1</span></a>
                                                                                             <span style="font-size:13px;" >4 Color</span>
                                                                                            </div>*@
                                                                                        <div class="col-xs-3" style="width:56%">
                                                                                            <a href="~/Order/OrderSectionDetail"><span>Section 1</span></a>
                                                                                            <span style="font-size:13px;">4 Color</span>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td>
                                                                                        @*  <div style="width: 34px;float: right;">
                                                                                                <span>4000</span>
                                                                                                  <span>$585.20</span>

                                                                                            </div>*@

                                                                                        <div class="col-xs-3 margin-zero-value">
                                                                                            <span>0</span>
                                                                                            <span>$0.0</span>

                                                                                        </div>


                                                                                    </td>


                                                                                    <td class="text-center">
                                                                                        <div class="col-xs-3 margin-zero-value">
                                                                                            <span>0</span>
                                                                                            <span> $0.0</span>

                                                                                        </div>

                                                                                    </td>

                                                                                    <td>
                                                                                        <div class="col-xs-3 margin-zero-value">
                                                                                            <span>0</span>
                                                                                            <span> $0.0</span>

                                                                                        </div>
                                                                                    </td>


                                                                                    <td class="text-right">
                                                                                        @*<div style="width: 32px;float: right;">
                                                                                                <span>0</span>
                                                                                                  <span> $0.0</span>

                                                                                            </div>*@
                                                                                        <div class="col-xs-3">
                                                                                            <a href="#" class="table-link">
                                                                                                <span class="fa-stack">
                                                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                                                </span>
                                                                                            </a>
                                                                                            <a href="#" class="table-link danger">
                                                                                                <span class="fa-stack">
                                                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                                                </span>
                                                                                            </a>
                                                                                        </div>
                                                                                    </td>

                                                                                </tr>
                                                                                <tr style="width:31%">
                                                                                    <td>
                                                                                        @*  <div style="width:87px;">
                                                                                             <a href="~/Estimate/SectionDetail"><span>Section 1</span></a>
                                                                                             <span style="font-size:13px;" >4 Color</span>
                                                                                            </div>*@
                                                                                        <div class="col-xs-3" style="width:58%">
                                                                                            <a href="~/Order/OrderSectionDetail"><span>Section 2</span></a>
                                                                                            <span style="font-size:13px;">4 Color</span>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td>
                                                                                        @*  <div style="width: 34px;float: right;">
                                                                                                <span>4000</span>
                                                                                                  <span>$585.20</span>

                                                                                            </div>*@

                                                                                        <div class="col-xs-3 margin-zero-value">
                                                                                            <span>0</span>
                                                                                            <span>$0.0</span>

                                                                                        </div>


                                                                                    </td>


                                                                                    <td class="text-center">
                                                                                        <div class="col-xs-3 margin-zero-value">
                                                                                            <span>0</span>
                                                                                            <span> $0.0</span>

                                                                                        </div>

                                                                                    </td>

                                                                                    <td>
                                                                                        <div class="col-xs-3 margin-zero-value">
                                                                                            <span>0</span>
                                                                                            <span> $0.0</span>

                                                                                        </div>
                                                                                    </td>


                                                                                    <td class="text-right">
                                                                                        @*<div style="width: 32px;float: right;">
                                                                                                <span>0</span>
                                                                                                  <span> $0.0</span>

                                                                                            </div>*@
                                                                                        <div class="col-xs-3">
                                                                                            <a href="#" class="table-link">
                                                                                                <span class="fa-stack">
                                                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                                                </span>
                                                                                            </a>
                                                                                            <a href="#" class="table-link danger">
                                                                                                <span class="fa-stack">
                                                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                                                </span>
                                                                                            </a>
                                                                                        </div>
                                                                                    </td>

                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="col-lg-9" style="width: 68%;">
                                                        <div class="form-group">
                                                            <div class="col-lg-3 text-right">
                                                                <div class="bs-example-tooltips tooltip-float-width">

                                                                    <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Total of all section." data-original-title="" title="">
                                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                    </a>

                                                                </div>



                                                                <label class="control-label tooltip-float">All Section(s) Total</label>

                                                            </div>
                                                            <div class="col-lg-9">
                                                                <div class="col-xs-3">
                                                                </div>
                                                                <div class="col-xs-3 txtBox-contentAlignRight">
                                                                    <label class="control-label">$ 58545.20</label>

                                                                </div>
                                                                <div class="col-xs-3 txtBox-contentAlignRight">

                                                                    <label class="control-label">$ 0.0</label>
                                                                </div>
                                                                <div class="col-xs-3 txtBox-contentAlignRight">


                                                                    <label class="control-label">$ 0.0</label>
                                                                </div>

                                                                <div>

                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-lg-3 text-right">
                                                                <div class="bs-example-tooltips tooltip-float-width">

                                                                    <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Addtional Profits for quantites" data-original-title="" title="">
                                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                    </a>

                                                                </div>



                                                                <label class="control-label tooltip-float">Additional Profit</label>

                                                            </div>
                                                            <div class="col-lg-9">
                                                                <div class="col-xs-3">
                                                                </div>
                                                                <div class="col-xs-3 " style="float:left;">
                                                                    <select class="form-control">
                                                                        <option>M 0</option>
                                                                        <option>M 5</option>
                                                                        <option>M 10</option>
                                                                        <option>M 15</option>
                                                                        <option>M 20</option>
                                                                    </select>

                                                                </div>
                                                                <div class="col-xs-3">

                                                                    <select class="form-control txtBox-contentAlignRight">
                                                                        <option>M 0</option>
                                                                        <option>M 5</option>
                                                                        <option>M 10</option>
                                                                        <option>M 15</option>
                                                                        <option>M 20</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-xs-3">


                                                                    <select class="form-control txtBox-contentAlignRight">
                                                                        <option>M 0</option>
                                                                        <option>M 5</option>
                                                                        <option>M 10</option>
                                                                        <option>M 15</option>
                                                                        <option>M 20</option>
                                                                    </select>

                                                                </div>

                                                                <div>

                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-lg-3 text-right">

                                                                <div class="bs-example-tooltips tooltip-float-width">

                                                                    <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Addtional Profits for quantites" data-original-title="" title="">
                                                                        <span class="label label-circle-questions">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                    </a>

                                                                </div>


                                                                <label class="control-label tooltip-float" style="font-weight:bolder">Net Total</label>

                                                            </div>
                                                            <div class="col-lg-9">
                                                                <div class="col-xs-3">
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <input type="text" class="form-control txtBox-contentAlignRight" style="font-weight:bolder" value="$64356.72" id="txtQty1" />

                                                                </div>
                                                                <div class="col-xs-3">

                                                                    <input type="text" class="form-control txtBox-contentAlignRight" style="font-weight:bolder" value="$0.0" id="txtQty2" />
                                                                </div>
                                                                <div class="col-xs-3">


                                                                    <input type="text" class="form-control txtBox-contentAlignRight" style="font-weight:bolder" value="$0.0" id="txtQty3" />
                                                                </div>
                                                                <div>




                                                                </div>

                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <div class="col-lg-3 text-right">
                                                                <div class="bs-example-tooltips tooltip-float-width">

                                                                    <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="VAT of Quantities" data-original-title="" title="">
                                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                    </a>

                                                                </div>



                                                                <label class="control-label tooltip-float">VAT</label>


                                                            </div>
                                                            <div class="col-lg-9">

                                                                <div class="col-xs-3">
                                                                    <select class="form-control Qty-TextBox-width Qty-TextBox-float ">
                                                                        <option>VAT Free</option>
                                                                        <option>VAT 20%</option>
                                                                        <option>VAT 10%</option>

                                                                    </select>
                                                                </div>
                                                                <div class="col-xs-3 txtBox-contentAlignRight">
                                                                    <label class="control-label">$ 643.72</label>

                                                                </div>
                                                                <div class="col-xs-3  txtBox-contentAlignRight">

                                                                    <label class="control-label">$ 0.0</label>
                                                                </div>
                                                                <div class="col-xs-3 txtBox-contentAlignRight">


                                                                    <label class="control-label ">$ 0.0</label>
                                                                </div>

                                                                <div>



                                                                </div>

                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <div class="col-lg-3 text-right">
                                                                <div class="bs-example-tooltips tooltip-float-width">

                                                                    <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Gross Totals of all sections" data-original-title="" title="">
                                                                        <span class="label label-circle-questions">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                    </a>

                                                                </div>



                                                                <label class="control-label tooltip-float" style="font-weight:bold">Gross Total</label>

                                                            </div>
                                                            <div class="col-lg-9">

                                                                <div class="col-xs-3">
                                                                </div>
                                                                <div class="col-xs-3 txtBox-contentAlignRight">
                                                                    <label class="control-label" style="font-weight:bold">$ 70845</label>

                                                                </div>
                                                                <div class="col-xs-3 txtBox-contentAlignRight">

                                                                    <label class="control-label" style="font-weight:bold">$ 0.0</label>
                                                                </div>
                                                                <div class="col-xs-3 txtBox-contentAlignRight">


                                                                    <label class="control-label" style="font-weight:bold">$ 0.0</label>
                                                                </div>

                                                            </div>


                                                        </div>
                                                    </div>


                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: $root.saveProduct">Save</button>
                <button type="button" class="btn btn-default" data-bind="click: $root.closeItemDetail">Close</button>
            </div>
        </div>
    </div>

</div>
