
<script id="orderItemAttachmentTemplate" type="text/html">
    <li class="col-md-2 col-sm-3 col-xs-6">
        <div class="photo-box image-link" style="padding-top: 0; ">
            <img class="photo-box image-link" style="padding-top: 0;width: 169px !important;height:127px !important" data-bind="visible:fileSourcePath()===undefined,attr: { src: '@Url.Content("~/")' + folderPath() }" alt="" />
            <img class="photo-box image-link" style="padding-top: 0;width: 169px !important;height:127px !important" data-bind="visible:fileSourcePath()!==undefined,attr: { src: fileSourcePath }" />
        </div>
        <span class="thumb-meta-time"><i class="fa fa-clock-o"></i></span>
    </li>
</script>




@* Item Section Template *@

<script id="itemSectionItemTemplate" type="text/html">
    <tr>

        <td class="col-xs-4">

            <div>
                <a href="#" data-bind="text: name, click: $root.editSection"><span></span></a>
                <br />
                <span style="font-size: 13px;">4 Color</span>
            </div>
        </td>
        <td class="col-xs-2 text-right">
            <div>
                <span data-bind="text: qty1()==undefined ? 0 : qty1"></span>
                <br />
                <div><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:  baseCharge1()!=undefined ? parseFloat(baseCharge1())+parseFloat(qty1Profit()): 0" style="margin-right: 3px;"></span></div>
            </div>

        </td>

        <td class="col-xs-2 text-right">
            <div>
                <span data-bind="text: qty2()==undefined ? 0 : qty2"></span>
                <br />
                <div><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:  baseCharge2()!=undefined ? parseFloat(baseCharge2())+parseFloat(qty2Profit()): 0" style="margin-right: 3px;"></span></div>

            </div>

        </td>
        <td class="col-xs-2 text-right">
            <div>
                <span data-bind="text: qty3()==undefined ? 0 : qty3"></span>
                <br />
                <div><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:  baseCharge3()!=undefined ? parseFloat(baseCharge3())+parseFloat(qty3Profit()): 0" style="margin-right: 3px;"></span></div>
            </div>
        </td>

        <td class="text-right">

            <div>
                <a href="#" class="table-link" data-bind="click: $root.editSection">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="table-link danger">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
        </td>

    </tr>

</script>
