<div id="orderitemDiv" class="row" data-bind="visible: $root.isItemDetailVisible() && !$root.isSectionDetailVisible()" style="display: none">
    <div class="col-lg-12" data-bind="with: $root.selectedProduct">
        <div class="row">
            <div class="col-lg-12">
                @*<a href="#" data-bind="click: $root.closeItemDetail">< Back</a>*@
                <h1> </h1>
            </div>
            <div class="col-lg-12">
                <div class="clearfix">
                    <div class="pull-left validationSummaryContainer">
                        <a class="validationSummaryLink" data-bind="visible: $root.errorList().length > 0, bootstrapPopover: { html: true, title: 'Please fix following errors', elementNode: 'validationSummaryPopupForItem', popoverId: 'validationSummaryPopoverBodyForItem' }" style="display: none">Invalid data: Click here to see details.</a>
                        @* ReSharper disable UnknownCssClass *@
                        <div class="well well-small validationSummaryModal" id="validationSummaryPopupForItem" style="display: none">
                            @* ReSharper restore UnknownCssClass *@
                            <div id="validationSummaryPopoverBodyForItem">
                                <ul data-bind="foreach: $root.errorList">
                                    <li>
                                        <a data-bind="click: $root.gotoElement.bind($data.element)"><span data-bind="text: name"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 PaddingZero">
                <div class="col-lg-12 PaddingZero">
                    <div style="text-align: right; ">
                        <button data-bind="click:$root.closeItemDetail," class="btn btn-default" style="margin-right: 8px;margin-bottom:23px; margin-top: -21px" id="cancelBtn">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="user-profile">
            <div class="col-lg-12 col-md-8 col-sm-8">
                <div class="main-box clearfix">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-detail" data-toggle="tab">Components</a></li>
                            <li><a href="#tab-jobs" data-toggle="tab">Job Card</a></li>
                            <li><a href="#tab-attachments" data-toggle="tab">Attachments</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-detail">
                                <div class="col-lg-12 form-horizontal" style="margin-top: -17px">

                                    @Html.Partial("_OrderSectionDetail")

                                    <div class="col-lg-12" style="margin-top: 5px">
                                        <div class="form-group">
                                            <div class="col-lg-4" style="padding-right:12px;">
                                                <label class="control-label tooltip-float">Components Total</label>
                                            </div>
                                            <div class="col-xs-2 txtBox-contentAlignRight">
                                                <label class="control-label"><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:$root.baseCharge1Total"></span></label>
                                            </div>
                                            <div class="col-xs-2 txtBox-contentAlignRight">
                                                <label class="control-label"><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:$root.baseCharge2Total"></span></label>
                                            </div>
                                            <div class="col-xs-2 txtBox-contentAlignRight">
                                                <label class="control-label"><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:$root.baseCharge3Total"></span></label>
                                            </div>
                                            <div class="col-xs-2">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4" style="padding-right:10px;">
                                            <label class="control-label tooltip-float">Apply MarkUp on all components</label>
                                        </div>
                                        <div class="col-xs-2" style="float:left;">
                                            <select class="form-control col-lg-4" data-bind="options:$root.markups,optionsText:'MarkUpName',optionsCaption: 'Select Markup',optionsValue:'MarkUpId', value: qty1MarkUpId1,event:{ change: $root.onChangeQty1MarkUpId}"></select>
                                        </div>
                                        <div class="col-xs-2">
                                            <select class="form-control col-lg-4" data-bind="options:$root.markups,optionsText:'MarkUpName',optionsCaption: 'Select Markup',optionsValue:'MarkUpId', value: qty2MarkUpId2,event:{ change: $root.onChangeQty2MarkUpId}"></select>
                                        </div>
                                        <div class="col-xs-2">
                                            <select class="form-control col-lg-4" data-bind="options:$root.markups,optionsText:'MarkUpName',optionsCaption: 'Select Markup',optionsValue:'MarkUpId', value: qty3MarkUpId3,event:{ change: $root.onChangeQty3MarkUpId}"></select>
                                        </div>
                                        <div class="col-xs-2">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            <label class="control-label tooltip-float" style="font-weight:bolder">Net Total with MarkUp Applied</label>
                                        </div>
                                        <div class="col-xs-2">
                                            <input type="text" class="form-control txtBox-contentAlignRight" style="font-weight:bolder;width:99% !important;margin-left:2px;" id="txtQty1" data-bind="value:qty1NetTotal" />
                                        </div>
                                        <div class="col-xs-2">
                                            <input type="text" class="form-control txtBox-contentAlignRight" style="font-weight:bolder;width:99% !important;" id="txtQty2" data-bind="value:qty2NetTotal" />
                                        </div>
                                        <div class="col-xs-2">
                                            <input type="text" class="form-control txtBox-contentAlignRight" style="font-weight:bolder;margin-right:2px;" id="txtQty3" data-bind="value:qty3NetTotal" />
                                        </div>
                                        <div class="col-xs-2">
                                            &nbsp;
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            <label class="control-label tooltip-float">Tax</label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input type="text" class="form-control txtBox-contentAlignRight" data-bind="disable:taxRateIsDisabled,value:tax1" />
                                            @*<select class="form-control Qty-TextBox-width Qty-TextBox-float ">
                                                    <option>VAT Free</option>
                                                    <option>VAT 20%</option>
                                                    <option>VAT 10%</option>
                                                </select>*@
                                        </div>
                                        <div class="col-xs-2 txtBox-contentAlignRight">
                                            <label class="control-label"><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:qty1Tax1Value"></span></label>
                                        </div>
                                        <div class="col-xs-2  txtBox-contentAlignRight">
                                            <label class="control-label"><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:qty2Tax1Value"></span></label>
                                        </div>
                                        <div class="col-xs-2 txtBox-contentAlignRight">
                                            <label class="control-label"><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:qty3Tax1Value"></span></label>
                                        </div>
                                        <div class="col-lg-2">
                                            &nbsp;
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            <label class="control-label tooltip-float" style="font-weight:bold">Gross</label>
                                        </div>
                                        <div class="col-xs-2 txtBox-contentAlignRight">
                                            <label class="control-label"><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:qty1GrossTotal"></span></label>

                                        </div>
                                        <div class="col-xs-2 txtBox-contentAlignRight">
                                            <label class="control-label"><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:qty2GrossTotal"></span></label>
                                        </div>
                                        <div class="col-xs-2 txtBox-contentAlignRight">
                                            <label class="control-label"><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:qty3GrossTotal"></span></label>
                                        </div>
                                        <div class="col-xs-2">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <h3 style="color:black;">Descriptions to Appear on Estimates for combined components</h3>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-2 text-right">
                                            <label class="control-label tooltip-float">Product Name</label>
                                        </div>
                                        <div class="col-lg-4" style="padding-left:12px;">
                                            <div>
                                                <input type="text" style="margin-left: -3px; width: 352px" class="form-control" id="ProductTitle" data-bind="value: productName" />
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="col-lg-2">
                                            <label data-bind="text: productCategoriesUi" style="margin-left:5px;"></label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-lg-4 text-right">
                                            <input type="text" class="form-control" id="txtTitle1" placeholder="Enter Title 1">
                                            <span class="label label-circle-question"></span>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="col-lg-8" style="padding-left: 0; padding-right: 0">
                                                <input type="text" class="form-control" data-bind="value: jobDescription1, click: $root.selectJobDescription" id="txtDescription1" placeholder="Enter Description 1" />
                                            </div>
                                            <div class="col-lg-2">
                                                <a id="P1" data-bind="visible: $root.selectedJobDescription() === 'txtDescription1', click: $root.openPhraseLibrary" style="display:none;" class="btn btn-primary pull-right">
                                                    <i class="fa fa-lg"></i>&nbsp;....
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-lg-4 text-right">
                                            <input type="text" class="form-control" id="txtTitle2" placeholder="Enter Title 2">
                                            <span class="label label-circle-question"></span>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="col-lg-8" style="padding-left: 0; padding-right: 0">
                                                <input type="text" class="form-control" data-bind="value: jobDescription2, click: $root.selectJobDescription" id="txtDescription2" placeholder="Enter Description 2" />
                                            </div>
                                            <div class="col-lg-2">
                                                <a id="P2" data-bind="visible: $root.selectedJobDescription() === 'txtDescription2', click: $root.openPhraseLibrary" style="display:none;" class="btn btn-primary pull-right">
                                                    <i class="fa fa-lg"></i>&nbsp;....
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-lg-4 text-right">
                                            <input type="text" class="form-control" id="txtTitle3" placeholder="Enter Title 3">
                                            <span class="label label-circle-question"></span>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="col-lg-8" style="padding-left: 0; padding-right: 0">
                                                <input type="text" class="form-control" data-bind="value: jobDescription3, click: $root.selectJobDescription" id="txtDescription3" placeholder="Enter Description 3">
                                            </div>
                                            <div class="col-lg-2">
                                                <a id="P3" data-bind="visible: $root.selectedJobDescription() === 'txtDescription3', click: $root.openPhraseLibrary" style="display:none;" class="btn btn-primary pull-right">
                                                    <i class="fa fa-lg"></i>&nbsp;....
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-lg-4 text-right">
                                            <input type="text" class="form-control" id="txtTitle4" placeholder="Enter Title 4">
                                            <span class="label label-circle-question"></span>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="col-lg-8" style="padding-left: 0; padding-right: 0">
                                                <input type="text" class="form-control" data-bind="value: jobDescription4, click: $root.selectJobDescription" id="txtDescription4" placeholder="Enter Description 4">
                                            </div>
                                            <div class="col-lg-2">
                                                <a id="P4" data-bind="visible: $root.selectedJobDescription() === 'txtDescription4', click: $root.openPhraseLibrary" style="display:none;" class="btn btn-primary pull-right">
                                                    <i class="fa fa-lg"></i>&nbsp;....
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-lg-4 text-right">
                                            <input type="text" class="form-control" id="txtTitle5" placeholder="Enter Title 5">
                                            <span class="label label-circle-question"></span>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="col-lg-8" style="padding-left: 0; padding-right: 0">
                                                <input type="text" class="form-control" data-bind="value: jobDescription5, click: $root.selectJobDescription" id="txtDescription5" placeholder="Enter Description 5">
                                            </div>
                                            <div class="col-lg-2">
                                                <a id="P5" data-bind="visible: $root.selectedJobDescription() === 'txtDescription5', click: $root.openPhraseLibrary" style="display:none;" class="btn btn-primary pull-right">
                                                    <i class="fa fa-lg"></i>&nbsp;....
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-lg-4 text-right">
                                            <input type="text" class="form-control" id="txtTitle6" placeholder="Enter Title 6">
                                            <span class="label label-circle-question"></span>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="col-lg-8" style="padding-left: 0; padding-right: 0">
                                                <input type="text" class="form-control" data-bind="value: jobDescription6, click: $root.selectJobDescription" id="txtDescription6" placeholder="Enter Description 6">
                                            </div>
                                            <div class="col-lg-2">
                                                <a id="P6" data-bind="visible: $root.selectedJobDescription() === 'txtDescription6', click: $root.openPhraseLibrary" style="display:none;" class="btn btn-primary pull-right">
                                                    <i class="fa fa-lg"></i>&nbsp;....
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-lg-4 text-right">
                                            <input type="text" class="form-control" id="txtTitle7" placeholder="Enter Title 7">
                                            <span class="label label-circle-question"></span>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="col-lg-8" style="padding-left: 0; padding-right: 0">
                                                <input type="text" class="form-control" data-bind="value: jobDescription7, click: $root.selectJobDescription" id="txtDescription7" placeholder="Enter Description 7">
                                            </div>
                                            <div class="col-lg-2">
                                                <a id="P7" data-bind="visible: $root.selectedJobDescription() === 'txtDescription7', click: $root.openPhraseLibrary" style="display:none;" class="btn btn-primary pull-right">
                                                    <i class="fa fa-lg"></i>&nbsp;....
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                            <div class="col-lg-2 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Nominal Code" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>

                                                <label class="control-label tooltip-float">
                                                    Nominal Code
                                                </label>
                                            </div>
                                            <div class="col-lg-4">
                                                <select class="form-control" data-bind="options: $root.nominalCodes, optionsText: 'Name', optionsId: 'Id', optionsCaption: 'Select...', value: nominalCodeId"></select>
                                            </div>

                                        </div>*@
                                    <div class="form-group">
                                        <div class="col-lg-2 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Invoice Description" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>

                                            <label class="control-label tooltip-float">Invoice Description</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" data-bind="value: invoiceDescription" id="txtInvoiceDescription" placeholder="Enter Invoice Description" style="background-color:#FCFBB6;">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Enter Invoice Description" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>

                                            <label class="control-label tooltip-float">User Notes</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" data-bind="value: itemNotes" id="txtNotes" placeholder="Enter Notes" style="background-color: #FCFBB6;">
                                        </div>
                                    </div>

                                    <div class="col-lg-12 form-horizontal">
                                        <div class="form-group">
                                            <div class="col-lg-2 text-right">
                                                <label class="control-label tooltip-float">&nbsp;</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <a href="#" class="btn btn-primary pull-left" data-bind="click:$root.copyJobCards">
                                                    <i class="fa fa-lg"></i>&nbsp;Copy Job Card
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-jobs">
                                <div class="col-lg-12 form-horizontal">


                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">

                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Job Code fro specific Product" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>

                                            </div>


                                            <label class="control-label tooltip-float">Job Code</label>

                                        </div>
                                        <div class="col-lg-6">
                                            <label class="control-label" data-bind="text: jobCode" style="margin-left:5px;"></label>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">

                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Creation Date for Specific Product " data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>

                                            </div>


                                            <label class="control-label tooltip-float">Order Date</label>

                                        </div>
                                        <div class="col-lg-6">
                                            <label class="control-label" data-bind="dateString: jobCreationDateTime" style="margin-left:5px;"></label>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">

                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Start time" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>

                                            </div>


                                            <label class="control-label tooltip-float">Start Time</label>

                                        </div>
                                        <div class="col-lg-6">
                                            <label class="control-label" style="margin-left:5px;">2014/06/14</label>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">

                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Shows Completion time" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>

                                            </div>


                                            <label class="control-label tooltip-float">Completion Time</label>

                                        </div>
                                        <div class="col-lg-6">
                                            <label class="control-label" style="margin-left:5px;">2014/06/14</label>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">

                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Job Status of Product" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>

                                            </div>
                                            <label class="control-label tooltip-float">
                                                Job Status
                                            </label>

                                        </div>
                                        <div class="col-lg-6">
                                            <select class="form-control" data-bind="options: $root.jobStatuses, optionsCaption: 'Select...', optionsText: 'StatusName', optionsValue: 'StatusId', value: jobStatusId"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">

                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Job Manager" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>

                                            </div>
                                            <label class="control-label tooltip-float">
                                                Job Manager
                                            </label>

                                        </div>
                                        <div class="col-lg-6">
                                            <select class="form-control" data-bind="options: $root.systemUsers, optionsText: 'name', optionsId: 'id', optionsCaption: 'Select...', value: jobManagerId"></select>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">

                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Progressed By for product" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>

                                            </div>


                                            <label class="control-label tooltip-float">Progressed By</label>

                                        </div>
                                        <div class="col-lg-6">
                                            <label class="control-label" style="margin-left:5px;">Gray McCutting</label>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">

                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Signed By" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>

                                            </div>


                                            <label class="control-label tooltip-float">
                                                Signed By
                                            </label>

                                        </div>
                                        <div class="col-lg-6">
                                            <select class="form-control" data-bind="options: $root.systemUsers, optionsText: 'name', optionsId: 'id', optionsCaption: 'Select...', value: jobSignedBy"></select>

                                        </div>
                                    </div>

                                </div>

                            </div>




                            <div class="tab-pane fade" id="tab-attachments">
                                <div class="col-lg-12 form-horizontal">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Upload Attachment files</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="col-lg-1">
                                                    <div class="fileUpload btn btn-primary">
                                                        <span>....</span>
                                                        <input type="file" class="upload" id="image_files" multiple data-bind="files: { onLoaded: $root.itemAttachmentFileLoadedCallback, fileFilter: 'image.*'}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="main-box-body">
                                            <div id="gallery-photos-lightbox">
                                                <ul class="clearfix gallery-photos">
                                                    <!-- ko template: { name: 'orderItemAttachmentTemplate' , foreach: itemAttachments  } -->
                                                    <!-- /ko -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script id="orderItemAttachmentTemplate" type="text/html">
    <li class="col-md-2 col-sm-3 col-xs-6">
        <div class="photo-box image-link" style="padding-top: 0; ">
            <img class="photo-box image-link" style="padding-top: 0;width: 169px !important;height:127px !important" data-bind="visible:fileSourcePath()===undefined,attr: { src: '@Url.Content("~/")' + folderPath() }" alt="" />
            <img class="photo-box image-link" style="padding-top: 0;width: 169px !important;height:127px !important" data-bind="visible:fileSourcePath()!==undefined,attr: { src: fileSourcePath }" />
        </div>
        <span class="thumb-meta-time"><i class="fa fa-clock-o"></i></span>
    </li>
</script>




@* Item Section Template *@

<script id="itemSectionItemTemplate" type="text/html">
    <tr>

        <td class="col-xs-4">

            <div>
                <a href="#" data-bind="text: name, click: $root.editSection"><span></span></a>
                <br />
                <span style="font-size: 13px;">4 Color</span>
            </div>
        </td>
        <td class="col-xs-2 text-right">
            <div>
                <span data-bind="text: qty1()==undefined ? 0 : qty1"></span>
                <br />
                <div><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:  baseCharge1()!=undefined ? parseFloat(baseCharge1())+parseFloat(qty1Profit()): 0" style="margin-right: 3px;"></span></div>
            </div>

        </td>

        <td class="col-xs-2 text-right">
            <div>
                <span data-bind="text: qty2()==undefined ? 0 : qty2"></span>
                <br />
                <div><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:  baseCharge2()!=undefined ? parseFloat(baseCharge2())+parseFloat(qty2Profit()): 0" style="margin-right: 3px;"></span></div>

            </div>

        </td>
        <td class="col-xs-2 text-right">
            <div>
                <span data-bind="text: qty3()==undefined ? 0 : qty3"></span>
                <br />
                <div><span data-bind="text:$root.currencySymbol"></span><span data-bind="text:  baseCharge3()!=undefined ? parseFloat(baseCharge3())+parseFloat(qty3Profit()): 0" style="margin-right: 3px;"></span></div>
            </div>
        </td>

        <td class="text-right">

            <div>
                <a href="#" class="table-link" data-bind="click: $root.editSection">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="table-link danger">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
        </td>

    </tr>

</script>
