

<div>
    <div class="col-lg-12 form-horizontal">
        <h3 class="group-header">Order Detail</h3>
        <div class="col-lg-6">
            <div class="form-group">
                <div class="col-lg-4 text-right">
                    @* ReSharper disable UnknownCssClass *@

                    <label class="control-label tooltip-float">Customer</label>

                </div>
                <div class="col-lg-6">
                    <div>
                        <input type="text" class="form-control OpenStockPopup-Class1" id="txtCompany" data-bind="value: companyName, enable: false" style="width:80%;" />
                        <a data-bind="click: $root.openCompanyDialog" href="#" class="btn btn-primary pull-right">
                            <i class="fa fa-lg"></i>&nbsp;....
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    <label class="control-label text-right tooltip-float">Attention</label>
                </div>

                <div class="col-lg-6">
                    <select class="form-control" data-bind="options: $root.companyContacts, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select...', value: contactId"></select>
                    <span class="help-block text-right"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    <label class="control-label text-right tooltip-float">Address Name</label>
                </div>
                <div class="col-lg-5">
                    <select class="form-control" data-bind="options: $root.companyAddresses, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select...', value: addressId"></select>
                    <span class="help-block text-right"></span>
                </div>
                <div class="col-lg-1"> 
                   
                    <a class="btn btn-primary pull-right" id="addresspull" onclick="addAddress()">
                        <i id="addresspullicon" class="fa fa-chevron-circle-right drop-icon"></i>
                    </a>
                </div>

            </div>
            <div id="popoveraddress" style="display:none;">
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        <label class="control-label tooltip-float">Address 1</label>
                    </div>
                    <div class="col-lg-6" data-bind="with: $root.selectedAddress">
                        <div>
                            <label id="address1" data-bind="text: address1" class="form-control" style="border:none"></label>
                            @*<input type="text" class="form-control" id="address1" data-bind="value: address1, enable: false" />*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        <label class="control-label tooltip-float">Tel</label>
                    </div>
                    <div class="col-lg-6" data-bind="with: $root.selectedAddress">
                        <div>
                            <label id="telephone" data-bind="text: telephone1" class="form-control" style="border:none"></label>
                            @*<input type="text" data-bind="value: telephone1, enable: false" class="form-control" id="telephone">*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        <label class="control-label tooltip-float">Email</label>
                    </div>
                    <div class="col-lg-6" data-bind="with: $root.selectedCompanyContact">
                        <div>
                            <label id="email" data-bind="text: email" class="form-control" style="border:none"></label>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    <label class="control-label tooltip-float">Order Title</label>
                </div>
                <div class="col-lg-6">
                    <div>
                        <input type="text" data-bind="value: name, validationTooltip: name, validationOnElement: name" placeholder="Enter Order Title" class="form-control" id="EstimateTitle" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <div class="col-lg-7 text-right">
                    <div class="col-lg-7">
                        <label class="control-label text-right tooltip-float">Order Source</label>
                    </div>
                    <div class="col-lg-5 text-left">
                        <span id="orderType" data-bind="text: isDirectSaleUi"></span>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="col-lg-8 text-left">
                        <div>
                            <label class="form-control" style="border:none" id="code" data-bind="text: code"></label>

                        </div>
                    </div>
                </div>

            </div>
            
            <div class="form-group">
                <div class="col-lg-7 text-right">
                    <div class="col-lg-7">
                        <label class="control-label text-right tooltip-float">Credit Approved</label>
                    </div>
                    <div class="col-lg-5 text-left">
                        <ul style="list-style: none; border:none" class="form-control">
                            <li class="product-has-nofeature" data-bind="css: { 'product-has-feature' : isCreditApproved, 'product-has-nofeature' : !isCreditApproved() }">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="col-lg-2">
                        <label class="control-label">P/O</label>
                    </div>
                    <div class="col-lg-6 text-left">
                        <ul style="list-style: none; border:none" class="form-control">
                            <li class="product-has-nofeature" data-bind="css: { 'product-has-feature' : isOfficialOrder, 'product-has-nofeature' : !isOfficialOrder() }">
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-lg-4 text-right">
                    <label class="control-label text-right tooltip-float">Order Flag</label>
                </div>

                <div class="col-lg-6">
                    <select class="form-control" data-bind="options: $root.sectionFlags, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select...', value: sectionFlagId"></select>
                    <span class="help-block text-right"></span>
                </div>

            </div>

            <div class="form-group">
                <div class="col-lg-4 text-right">

                    <label class="control-label text-right tooltip-float">Order Date</label>
                </div>
                <div class="col-lg-6">

                    <input type="text" class="form-control" id="orderDate" data-bind="datepicker: orderDate">
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-lg-4 text-right">

                    <label class="control-label text-right tooltip-float">First Shipping Date</label>
                </div>
                <div class="col-lg-6">

                    <input type="text" class="form-control" id="datepickerFinishDDate" data-bind="datepicker: finishDeliveryDate">

                </div>
            </div>
        </div>


    </div>
    <div class="col-lg-12 form-horizontal">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="col-lg-2 text-right">

                    <label class="control-label tooltip-float">Order Header</label>
                </div>
                <div class="col-lg-9">
                    <div>
                        <textarea class="form-control" placeholder="Enter Order Header" id="EstimateHeader" rows="3" data-bind="value: headNotes"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 form-horizontal">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="col-lg-2">
                    &nbsp;
                </div>
                <div class="col-lg-9">
                    <div style="background-color:gainsboro; border-radius:3px">
                        <header class="main-box-header clearfix">
                            <div style="float:left;"><span style="font-size:24px">Products / Services in this Order</span></div>
                        </header>
                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th><a href="#"><span>Product Name</span></a></th>
                                        <th><span>Qty 1</span></th>
                                        <th><span>Gross Total</span></th>
                                        <th style="width: 83px;">&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- ko template: { name: 'itemTemplate', foreach: items } -->
                                    <!-- /ko -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class=" btn-group" style="float:left;margin-top:10px">
                            <button type="button" class="btn btn-primary">Add New Item Line</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" data-bind="click : $root.onCreateNewProductFromRetailStore">From Retail Store</a></li>
                                <li><a href="#" data-bind="click: $root.onAddCostCenter">Cost Center</a></li>
                                <li><a href="#" data-bind="click: $root.onAddInventoryItem">Inventory Item</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 form-horizontal">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="col-lg-2 text-right">

                    <label class="control-label tooltip-float">Order Footer</label>
                </div>
                <div class="col-lg-9">
                    <div>
                        <textarea class="form-control" placeholder="Enter Order Footer" id="EstimateHeader" rows="3" data-bind="value: footNotes"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Item Template *@
    <script id="itemTemplate" type="text/html">
        <tr>
            <td>
                <a href="#" data-bind="text: productName, click: $root.editItem"><span></span></a>
            </td>
            <td>
                <span data-bind="text: qty1"></span>
            </td>
            <td>
                <span data-bind="text: '$' + qty1NetTotal()"></span>
            </td>
            <td class="text-right">
                <a href="#" class="table-link" data-bind="click: $root.editItem">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="table-link danger" data-bind="click: $root.deleteItem">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>

        </tr>

    </script>

    @Html.Partial("~/Areas/Orders/Views/Home/_ProductFromRetailStore.cshtml")
    @Html.Partial("~/Areas/Orders/Views/Shared/_AddCostCenters.cshtml")
    @Html.Partial("~/Areas/Orders/Views/Shared/_CostCenterQuantity.cshtml")
    @Html.Partial("~/Areas/Orders/Views/Shared/_AddInventoryItem.cshtml")



</div>

<script type="text/javascript" >
    
    function addAddress()
    {
        var e = document.getElementById("popoveraddress");
        var p = document.getElementById("addresspullicon");

        if (e.style.display == "none")
        {
            p.className = "fa fa-chevron-circle-down drop-icon";
            e.style.display = "block";
        }
        else if (e.style.display == "block")
        {
            p.className = "fa fa-chevron-circle-right drop-icon";
            e.style.display = "none";

        }
    }
        
   
    
</script>