<div>
    <div class="col-sm-12 form-horizontal">
        <div class="col-sm-12 form-horizontal">
            <div class="col-sm-2">
                &nbsp;
            </div>
            <div id="orderStatusSliderContainer" class="col-sm-9 form-horizontal">
                <div id="statusSliderSubContainer">
                    <center>
                        <div id="orderStatusSilderPanel" class="slider"></div>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-4 text-right">
                    &nbsp;
                </div>
                <div class="col-sm-6">
                    <div>
                        <input type="text" style="height: 60px;" data-bind="value: companyName, validationOnElement: companyId, click: !$root.selectedOrder().id() ? $root.openCompanyDialog : undefined" readonly placeholder="Select Customer" class="form-control font24px" id="txtCompany" />
                    </div>
                </div>
                <div class="col-sm-1" style="padding-top:10px;margin-left: 10px">
                    <button data-bind="click: $root.openCompanyDialog, enable: ($root.selectedOrder().id() <= 0) || ($root.selectedOrder().id()===undefined)" class="btn btn-primary pull-right">
                        <i class="fa fa-user"></i>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 text-right">
                    &nbsp;
                </div>
                <div class="col-sm-6" data-bind="if: $root.isCompanyBaseDataLoaded">
                    <select class="form-control" data-bind="options: $root.companyContacts, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select a contact', value: contactId"></select>
                    <span class="help-block text-right"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 text-right">
                    &nbsp;
                </div>
                <div class="col-sm-6" data-bind="if: $root.isCompanyBaseDataLoaded">
                    <select class="form-control" data-bind="options: $root.companyAddresses, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select an address', value: addressId"></select>
                    <span class="help-block text-right"></span>
                </div>
                <div class="col-sm-1" data-bind="if: $root.isCompanyBaseDataLoaded" style="margin-left: 10px">
                    <a class="btn btn-primary pull-right" id="addresspull" onclick="addAddress()">
                        <i id="addresspullicon" class="fa fa-chevron-circle-right drop-icon"></i>
                    </a>
                </div>
            </div>
            <div id="popoveraddress" style="display:none;">
                <!-- ko if: $root.selectedAddress()!==undefined && $root.selectedAddress().address1!=='' && $root.selectedAddress().address1!== undefined-->
                <div class="form-group">
                    <div class="col-sm-4 text-right">
                        <label class="control-label tooltip-float">&nbsp;</label>
                    </div>
                    <div class="col-sm-6" data-bind="with: $root.selectedAddress">
                        <div>
                            <label id="address1" data-bind="text: address1" class="form-control" style="border:none"></label>
                        </div>
                    </div>
                </div>
                <!--/ko-->
                <!-- ko if: $root.selectedAddress()!==undefined && $root.selectedAddress().telephone1!=='' && $root.selectedAddress().telephone1!== undefined-->
                <div class="form-group" style="margin-top: -20px;">
                    <div class="col-sm-4 text-right">
                        <label class="control-label tooltip-float">&nbsp;</label>
                    </div>
                    <div class="col-sm-6" data-bind="with: $root.selectedAddress">
                        <div>
                            <label id="telephone" data-bind="text: telephone1" class="form-control" style="border:none"></label>
                        </div>
                    </div>
                </div>
                <!--/ko-->
                <!-- ko if: $root.selectedCompanyContact()!==undefined && $root.selectedCompanyContact().email !=='' && $root.selectedCompanyContact().email !== undefined -->
                <div class="form-group" style="margin-top: -20px;">
                    <div class="col-sm-4 text-right">
                        <label class="control-label tooltip-float">&nbsp;</label>
                    </div>
                    <div class="col-sm-6" data-bind="with: $root.selectedCompanyContact">
                        <div>
                            <label id="email" data-bind="text: email" class="form-control" style="border:none"></label>
                        </div>
                    </div>
                </div>
                <!--/ko-->
            </div>
            <div class="form-group">
                <div class="col-sm-4 text-right">
                    &nbsp;
                </div>
                <div class="col-sm-6">
                    <div>
                        <input type="text" style="height: 60px;" data-bind="value: name, validationTooltip: name, validationOnElement: name" placeholder="Enter Order Title" class="form-control font24px" id="EstimateTitle" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-4 text-right" style="padding-top:10px;">
                    <label class="control-label" id="orderType" data-bind="text: isDirectSaleUi"></label>
                </div>
                <div class="col-sm-6">
                    <input type="text" style="height: 60px;" data-bind="value: orderCode" readonly class="form-control font24px" id="code" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 text-right">
                    &nbsp;
                </div>
                <div class="col-sm-6">
                    <select class="form-control" data-bind="options: $root.sectionFlags, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select a flag', value: sectionFlagId, validationOnElement: sectionFlagId"></select>
                    <span class="help-block text-right"></span>
                </div>
            </div>
            <div>
                <div class="row" style="margin-top: -15px;">
                    <div class=" col-sm-4 text-right">
                        <label class="control-label text-right">Credit Approved</label>
                    </div>
                    <div class="col-sm-6 text-left" style="margin-bottom: -8px;">
                        <ul style="list-style: none; border:none" class="form-control">
                            <li class="product-has-nofeature" data-bind="css: { 'product-has-feature' : isCreditApproved, 'product-has-nofeature' : !isCreditApproved() }">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right" style="margin-top:0">
                        <label class="control-label text-right">Purchase Order No.</label>
                    </div>
                    <div class="col-sm-6 text-left">
                        <ul style="list-style: none; border:none" class="form-control">
                            <li class="product-has-nofeature" data-bind="css: { 'product-has-feature' : isOfficialOrder, 'product-has-nofeature' : !isOfficialOrder() }">
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="form-group" style="margin-top:0">
                <div class="col-sm-4 text-right" style="padding-top: 10px;">
                    <label class="control-label text-right">Order Date</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" style="height: 60px;" class="form-control font24px" id="orderDate" data-bind="datepicker: orderDate">
                </div>
            </div>
            <div class="form-group" style="margin-top:0">
                <!--ko if: code() != undefined-->
                <div class="col-sm-4 text-right">
                    <label class="control-label text-right">Estimate Code</label>
                </div>
                <div class="col-sm-6">
                    <a class="store-user-link" data-bind="text: code, attr: {href:'/mis/Orders/Home/EstimatesList?id='+refEstimateId() },click: function() { return true;}, clickBubble: false" target="_blank"></a>
                </div>
                <!--/ko-->
            </div>
        </div>

    </div>
    <div class="col-sm-12 form-horizontal">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-2 text-right">
                    &nbsp;
                </div>
                <div class="col-sm-9">
                    <div>
                        <textarea class="form-control" placeholder="Enter order opening paragraph as it would appear on reports" id="EstimateHeader" rows="3" data-bind="value: headNotes"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 form-horizontal">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-2">
                    &nbsp;
                </div>
                <div class="col-sm-9">
                    <div id="orderHeaderProductsContainer">
                        <header class="main-box-header clearfix">
                            <div id="orderProducts" style="float:left;" data-bind="validationOnElement: items"><span style="font-size:24px">Products in this Order</span></div>
                        </header>
                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-8"><span></span></th>
                                            <th class="col-sm-2"><span>Qty</span></th>
                                            <th class="col-sm-2 text-right"><span>Price inc. Tax</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--ko if: nonDeliveryItems().length==0-->
                                        <tr>
                                            <td>
                                                <span data-bind="text: 'No Items found!'"></span>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <!-- /ko -->
                                        <!-- ko template: { name: 'itemTemplate', foreach: nonDeliveryItems } -->
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="btn-group" style="float: left; margin-top: 10px;">
                            <button type="button" class="btn btn-primary" data-bind="click : $root.onCreateNewProductFromRetailStore">Add Product from Store</button>
                        </div>
                        <div class="btn-group" style="float: left; margin-top: 10px; margin-left: 5px;">
                            <button type="button" class="btn btn-primary" data-bind="click : $root.onCreateNewBlankPrintProduct">Add Blank Print Product</button>
                        </div>
                        <div class="btn-group" style="float: left; margin-top: 10px; margin-left: 5px;">
                            <button type="button" class="btn btn-primary" data-bind="click: $root.openStockItemDialogForAddingProduct">Add Inventory Item</button>
                        </div>
                        <div class="btn-group" style="float: left; margin-top: 10px; margin-left: 5px;">
                            <button type="button" class="btn btn-primary" data-bind="click: $root.onCostCenterClick">Add a Cost Center</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 form-horizontal" style="margin-top: 20px;">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-2">
                    &nbsp;
                </div>
                <div class="col-sm-9">
                    <div id="orderHeaderShippingContainer">
                        <header class="main-box-header clearfix">
                            <div style="float:left;"><span style="font-size:24px">Shipping Charge</span></div>
                        </header>
                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-5"><span></span></th>
                                            <th class="col-sm-3"><span></span></th>
                                            <th class="col-sm-3 text-right"><span>Price inc. Tax</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--ko if: deliveryItems().length==0-->
                                        <tr>
                                            <td>
                                                <span data-bind="text: 'No Items found!'"></span>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <!-- /ko -->
                                        <!-- ko template: { name: 'deliveryItemTemplate', foreach: deliveryItems } -->
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 btn-group" id="orderHeaderAddShippingButton">
                        <button type="button" class="btn btn-primary" data-bind="click: $root.onShippingChargesClick">Add Shipping Charge</button>
                    </div>
                    <div class="col-sm-6" style="margin-top:10px">
                        <div class="col-sm-8 text-right">
                            <label class="control-label text-right">Gross Total:</label>
                        </div>
                        <div class="col-sm-4 text-right" style="margin-top:5px">
                            <span data-bind="text: $root.currencySymbol() " style="font-weight: bold; font-size:20px;"></span>
                            <span data-bind="numberInput: $root.grossTotal" style="font-weight: bold; font-size:20px;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 form-horizontal">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-2 text-right">
                    &nbsp;
                </div>
                <div class="col-sm-9">
                    <div>
                        <textarea class="form-control" placeholder="Enter order closing paragraph as it would appear on reports" id="EstimateHeader" rows="3" data-bind="value: footNotes"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 text-right">
                    <label class="control-label">
                        Signed By
                    </label>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" data-bind="options: $root.systemUsers, optionsText: 'fullName', optionsCaption: 'Select a system user', optionsValue: 'id', value: orderReportSignedBy"></select>
                </div>
            </div>
        </div>
    </div>
    @* Item Template *@
    <script id="itemTemplate" type="text/html">
        <tr data-bind="click:  $root.editItem, css: { errorFillRow: !isValid() }" style="cursor: pointer">
            <td>
                <a href="#" data-bind="text: productName, click: $root.editItem"><span></span></a>
            </td>
            <td>
                <span style="font-size:20px;" data-bind="text: qty1"></span>
            </td>
            <td style=" text-align: right;">
                <span style="font-size:20px;" data-bind="text: $root.currencySymbol()"></span>
                <span style="font-size:20px;" data-bind="numberInput: qty1GrossTotal()"></span>
            </td>
        </tr>
    </script>
    <script id="deliveryItemTemplate" type="text/html">
        <tr>
            <td>
                <span style="font-size:20px;" data-bind="text: productName"></span>
            </td>
            <td></td>
            <td style=" text-align: right;">
                <span style="font-size:20px;" data-bind="text: $root.currencySymbol()"></span>
                <span style="font-size:20px;" data-bind="numberInput: qty1GrossTotal()"></span>
            </td>
        </tr>
    </script>
    @Html.Partial("~/Areas/Orders/Views/Shared/_OrderCostCenterQuantity.cshtml")
    @Html.Partial("~/Areas/Orders/Views/Shared/_OrderStatusProgressToJob.cshtml")
</div>

<script type="text/javascript">
    function addAddress() {
        var e = document.getElementById("popoveraddress");
        var p = document.getElementById("addresspullicon");

        if (e.style.display == "none") {
            p.className = "fa fa-chevron-circle-down drop-icon";
            e.style.display = "block";
        }
        else if (e.style.display == "block") {
            p.className = "fa fa-chevron-circle-right drop-icon";
            e.style.display = "none";

        }
    }
</script>