<div>
    <div class="col-sm-12 form-horizontal">
        <div style="margin-bottom:15px;">
            <p class="group-header-description">Control and track who places which jobs into production and if the job has credit approval to proceed</p>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <div class="col-sm-3 text-right">
                    <label class="control-label text-right">Credit Approved</label>
                </div>

                <div class="col-sm-6">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchCreditApproved" data-bind="checked: isCreditApproved">
                        <label class="onoffswitch-label" for="switchCreditApproved">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>
                    </div>
                    <span class="help-block text-right"></span>
                </div>

            </div>
            
            <div class="form-group" data-bind="visible:isCreditApproved">
                <div class="col-sm-3 text-right">
                    <label class="control-label tooltip-float">Set By</label>

                </div>
                <div class="col-sm-6">
                    <div>
                        <label class="control-label" data-bind="text: creditLimitSetByUser() ? creditLimitSetByUser().fullName : ''"></label>
                    </div>
                </div>
            </div>


            <div class="form-group" data-bind="visible:isCreditApproved">
                <div class="col-sm-3 text-right">
                    <label class="control-label tooltip-float">On</label>
                </div>
                <div class="col-sm-6">
                    <div>
                        <label class="control-label" id="datepickerOnCreditApprove" data-bind="dateString: creditLimitSetOnDateTime"></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-3 text-right">
                    <label class="control-label text-right">Proceed without Credit Check</label>
                </div>

                <div class="col-sm-6">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchEnableCredit" data-bind="checked: isJobAllowedWoCreditCheck">
                        <label class="onoffswitch-label" for="switchEnableCredit">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>
                    </div>
                    <span class="help-block text-right"></span>
                </div>

            </div>

            <div class="form-group" data-bind="visible:isJobAllowedWoCreditCheck">
                <div class="col-sm-3 text-right">
                    <label class="control-label tooltip-float">Set By</label>
                </div>
                <div class="col-sm-6">
                    <div>
                        <label class="control-label" data-bind="text: allowJobWoCreditCheckSetByUser() ? allowJobWoCreditCheckSetByUser().fullName : ''"></label>

                    </div>

                </div>
            </div>

            <div class="form-group" data-bind="visible:isJobAllowedWoCreditCheck">
                <div class="col-sm-3 text-right">
                    <label class="control-label tooltip-float">On</label>
                </div>
                <div class="col-sm-6">
                    <div>
                        <label class="control-label" id="datepickerOnCreditApprove2" data-bind="dateString: allowJobWoCreditCheckSetOnDateTime"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 form-horizontal">
        <h3 class="group-header">Official Order</h3>
        <div class="col-sm-9">
            <div class="form-group">
                <div class="col-sm-3 text-right">
                    <label class="control-label text-right">Official Order received from customer</label>
                </div>

                <div class="col-sm-6">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchEnableProductOfficial" data-bind="checked: isOfficialOrder">
                        <label class="onoffswitch-label" for="switchEnableProductOfficial">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>
                    </div>
                    <span class="help-block text-right"></span>
                </div>

            </div>

            <div class="form-group" data-bind="visible:isOfficialOrder">
                <div class="col-sm-3 text-right">
                    <label class="control-label tooltip-float">Customer PO Ref</label>
                </div>
                <div class="col-sm-6">
                    <div>
                        <input type="text" class="form-control" id="customerPoRef" data-bind="value: customerPo, enable: isOfficialOrder" />
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="visible:isOfficialOrder">
                <div class="col-sm-3 text-right">
                    <label class="control-label tooltip-float">Set By</label>
                </div>
                <div class="col-sm-6">
                    <div>
                        <label class="control-label" data-bind="text: officialOrderSetByUser() ? officialOrderSetByUser().fullName : ''"></label>
                    </div>
                </div>
            </div>
            <div class="form-group" data-bind="visible:isOfficialOrder">
                <div class="col-sm-3 text-right">
                    <label class="control-label tooltip-float">On</label>
                </div>
                <div class="col-sm-6">
                    <div>
                        <label class="control-label" id="datepickerOnOfficialOrders" data-bind="dateString: officialOrderSetOnDateTime"></label>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

