<div class="row" style="display: none" data-bind="visible: $root.isEditorVisible()">
    <div class="row" style="">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12" id="topArea" style="padding-left:16px;margin-bottom: 5%;">
                    <ol class="breadcrumb">
                        <li><a href="/mis/Dashboard/Index" class="my-navigator">Home</a></li>
                        <li><a href="/mis/Orders/Home/PurchaseOrders/Index" class="my-navigator">Purchase Orders</a></li>
                        <li class="active"><span>Modify Purchase Orders</span></li>
                    </ol>
                    <div class="clearfix">

                    </div>

                    <div class="col-sm-12" id="filter" style="height:50px;margin-bottom:7px;">
                        <div>
                            <h1 style="padding-left: 0.5%;margin-bottom: 0px;font-weight: 500">
                                Purchase Orders
                            </h1>
                        </div>
                        <div>
                            <div style="padding-left: 0.5%;">Create and track Purchase Order to Suppliers</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row col-sm-6" style="float:left;padding-left: 1.7%;padding-top: 2%;">
            <div class="pull-left validationSummaryContainer">
                <a class="validationSummaryLink" data-bind="visible: $root.errorList().length > 0, bootstrapPopover: { html: true, title: 'Please fix following errors', elementNode: 'validationSummaryPopupForStore', popoverId: 'validationSummaryPopoverBodyForStore' }" style="display: none">Invalid data: Click here to see details.</a>
                <div class="well well-small validationSummaryModal" id="validationSummaryPopupForStore" style="display: none">
                    <div id="validationSummaryPopoverBodyForStore">
                        <ul data-bind="foreach: $root.errorList">
                            <li>
                                <a data-bind="click: $root.gotoElement.bind($data.element)"><span data-bind="text: name"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="btn-group" style="float:left;margin-bottom: 3px; margin-left:14px;margin-top:-11px;">
                    <button type="button" class="btn btn-primary">Actions</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-bind="click:$root.openExternalReportsPurchase">Print Purchase Order</a></li>
                        <li><a href="#" data-bind="click:$root.openExternalEmailPurchaseReport">Email Purchase Order</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="row" id="prefixesdata" style="float: right; padding-right: 1.1%; margin-top: 1%; ">

            <div class="input-group">
                @*<button class="btn btn-primary" data-bind="visible:$root.selectedPurchaseOrder().id()!==undefined,click: $root.openReport.bind($data, true) " style="margin-right:5px">
                    Print
                </button>*@
                <button data-bind="click:$root.onCloseEditor" class="btn btn-default" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;">&nbsp;Cancel</button>
                <button class="btn btn-primary" style="float: right;margin-right: 6px;display:inline;" id="saveBtn" data-bind="visible:$root.selectedPurchaseOrder().status()===31,click:$root.onSavePurchaseOrder, enable: $root.selectedPurchaseOrder().hasChanges(),css: { 'btn-warning': $root.selectedPurchaseOrder().hasChanges() }">
                    &nbsp;Save
                </button>
                <button class="btn  btn-danger" style="float: right;display: none;margin-right: 6px;display:inline;" id="saveBtn" data-bind="visible:$root.selectedPurchaseOrder().status()===31 && $root.selectedPurchaseOrder().id()!==undefined,click:$root.onDeletePurchase">&nbsp;Delete</button>
                <button class="btn btn-primary" style="float: right;display: none;margin-right: 6px;display:inline;" id="saveBtn" data-bind="visible:$root.selectedPurchaseOrder().status()===31 && $root.selectedPurchaseOrder().id()!==undefined,click:$root.onPostPurchaseOrder">&nbsp;Post PO</button>
                <button class="btn btn-primary" style="float: right;display: none;margin-right: 6px;display:inline;" id="saveBtn" data-bind="visible:$root.selectedPurchaseOrder().status()===31 && $root.selectedPurchaseOrder().id()!==undefined,click:$root.onCancelPurchaseOrder">&nbsp;Cancel PO</button>
                <button class="btn btn-primary" style="float: right;display: none;margin-right: 6px;display:inline;" id="saveBtn" data-bind="visible:$root.selectedPurchaseOrder().status()===32 && $root.selectedPurchaseOrder().id()!==undefined,click:$root.onCreateGRN">&nbsp;Create GRN</button>

            </div>
        </div>
    </div>
    <div class="row" id="user-profile" data-bind="with: selectedPurchaseOrder" style="padding-left: 18px; padding-right: 20px; margin-top: 5.5%; ">
        <div class="col-sm-12">
            <div class="main-box clearfix">
                <div class="col-sm-12 form-horizontal" style="margin-top: 3%;">
                    <h3 class="group-header">General Information</h3>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                <div class="bs-example-tooltips tooltip-float-width">

                                </div>

                                <label class="control-label tooltip-float">&nbsp;</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" style="height: 60px;" data-bind="value: companyName, validationOnElement: supplierId, click: !$root.selectedPurchaseOrder().id() ? $root.openCompanyDialog : undefined" readonly placeholder="Select Supplier" class="form-control font24px" id="txtCompany" />
                            </div>
                            <div class="col-sm-1" style="padding-top:10px;margin-left: 10px">
                                <button data-bind="click: $root.openCompanyDialog, enable: (id() <= 0) || (id()===undefined)" class="btn btn-primary pull-right">
                                    <i class="fa fa-user"></i>
                                </button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                &nbsp;
                            </div>
                            <div class="col-sm-6" data-bind="if: $root.isCompanyBaseDataLoaded">
                                <select class="form-control" data-bind="enable:$root.selectedPurchaseOrder().status()===31,options: $root.companyContacts, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select a contact', value: contactId"></select>
                                <span class="help-block text-right"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                &nbsp;
                            </div>
                            <div class="col-sm-6" data-bind="if: $root.isCompanyBaseDataLoaded">
                                <select class="form-control" data-bind="enable:$root.selectedPurchaseOrder().status()===31,options: $root.companyAddresses, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select an address', value: addressId"></select>
                                <span class="help-block text-right"></span>
                            </div>
                            <div class="col-sm-1" data-bind="if: $root.isCompanyBaseDataLoaded" style="margin-left: 10px">
                                <a class="btn btn-primary pull-right" id="addresspull" onclick="addAddress()">
                                    <i id="addresspullicon" class="fa fa-chevron-circle-right drop-icon"></i>
                                </a>
                            </div>
                        </div>
                        <div id="popoveraddress" style="display:none;">
                            <!-- ko if: $root.selectedAddress()!==undefined && $root.selectedAddress().address1!=='' && $root.selectedAddress().address1!== undefined-->
                            <div class="form-group">
                                <div class="col-sm-4 text-right">
                                    <label class="control-label tooltip-float">&nbsp;</label>
                                </div>
                                <div class="col-sm-6" data-bind="with: $root.selectedAddress">
                                    <div>
                                        <label id="address1" data-bind="text: address1" class="form-control" style="border:none"></label>
                                    </div>
                                </div>
                            </div>
                            <!--/ko-->
                            <!-- ko if: $root.selectedAddress()!==undefined && $root.selectedAddress().telephone1!=='' && $root.selectedAddress().telephone1!== undefined-->
                            <div class="form-group" style="margin-top: -20px;">
                                <div class="col-sm-4 text-right">
                                    <label class="control-label tooltip-float">&nbsp;</label>
                                </div>
                                <div class="col-sm-6" data-bind="with: $root.selectedAddress">
                                    <div>
                                        @*<label id="telephone" data-bind="text: telephone1" class="form-control" style="border:none"></label>*@
                                    </div>
                                </div>
                            </div>
                            <!--/ko-->
                            <!-- ko if: $root.selectedCompanyContact()!==undefined && $root.selectedCompanyContact().email !=='' && $root.selectedCompanyContact().email !== undefined -->
                            <div class="form-group" style="margin-top: -20px;">
                                <div class="col-sm-4 text-right">
                                    <label class="control-label tooltip-float">&nbsp;</label>
                                </div>
                                <div class="col-sm-6" data-bind="with: $root.selectedCompanyContact">
                                    <div>
                                        <label id="email" data-bind="text: email" class="form-control" style="border:none"></label>
                                    </div>
                                </div>
                            </div>
                            <!--/ko-->
                        </div>

                        <!--here it ends-->
                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                <label class="control-label text-right tooltip-float">My PO ref</label>
                            </div>

                            <div class="col-sm-6">
                                <div>
                                    <input type="text" value="Double-Sided A4" placeholder="Order Ref. No" class="form-control" data-bind="enable:$root.selectedPurchaseOrder().status()===31,value:reffNo" />

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                <div class="bs-example-tooltips tooltip-float-width">
                                    @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Created By" data-original-title="" title="">
                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                    </a>*@
                                </div>
                                @*<label class="control-label text-right tooltip-float">Created By</label>*@
                            </div>
                            <div class="col-sm-6" style="padding-right: 5px;">
                                <select class="form-control" data-bind="enable:$root.selectedPurchaseOrder().status()===31,options: $root.systemUsers, optionsText: 'fullName', optionsValue: 'id', optionsCaption: 'Select a system user',value:createdBy"></select>
                                <span class="help-block text-right"></span>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6">

                        <div class="form-group">
                            <div class="col-sm-4 text-right" style="padding-top:14px;">
                                @*<label class="control-label text-right tooltip-float">Status</label>*@
                            </div>
                            <div class="col-sm-6">
                                <input type="text" style="height: 60px;" id="customerName" placeholder="PO Number" data-bind="value:code" readonly class="form-control font24px" id="code" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 text-right" style="padding-top:14px;">
                                @*<label class="control-label text-right tooltip-float">Status</label>*@
                            </div>
                            <div class="col-sm-6">
                                <input type="text" style="height: 60px;" data-bind="value: status()===31 ? 'Open' :'Posted'" readonly class="form-control font24px" id="code" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                &nbsp;
                            </div>
                            <div class="col-sm-6">
                                @*<select class="form-control" data-bind="enable:$root.selectedPurchaseOrder().status()===31,options: $root.sectionFlags, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select a flag',value:flagId,validationOptions:flagId, validationOnElement:flagId"></select>
                                <span class="help-block text-right"></span>*@
                                <select style="width: 258px !important;" id="flag" data-bind="enable:$root.selectedPurchaseOrder().status()===31,select2: { formatResult: $root.formatResult,formatSelection: $root.formatSelection }, value: flagId, foreach: $root.sectionFlags">
                                    <option style="width: 258px !important;" data-bind="text: name, attr: { 'data-color': color, value: id }"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                @*<div class="bs-example-tooltips tooltip-float-width">
                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Type" data-original-title="" title="">
                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                    </a>
                                </div>*@
                                <label class="control-label text-right tooltip-float">Type</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" data-bind="enable:!(id()!==undefined || purchaseDetails().length >0),options: $root.purchaseOrderDetailTypes, optionsText: 'name', optionsValue: 'id',value:isproduct"></select>
                                <span class="help-block text-right"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 text-right">
                                @*<div class="bs-example-tooltips tooltip-float-width">
                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Purchase Date" data-original-title="" title="">
                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                    </a>
                                </div>*@
                                <label class="control-label text-right tooltip-float">Purchase Date</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" style="height:60px;" class="form-control" data-bind="enable:$root.selectedPurchaseOrder().status()===31,datepicker:purchaseDate">
                            </div>
                        </div>

                    </div>


                    @* <div class="col-sm-9 form-horizontal">*@

                    @*</div>*@
                </div>
                <div class="col-sm-12 form-horizontal">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                &nbsp;
                            </div>
                            <div class="col-sm-9">
                                <div id="orderHeaderProductsContainer" style=" background-color: gainsboro; border-radius: 3px;">
                                    <header class="main-box-header clearfix">
                                        <div id="orderProducts" style="float:left;"><span style="font-size:24px">Purchase Detail Items</span></div>
                                    </header>
                                    <div class="main-box-body clearfix">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <!--ko if: $root.selectedPurchaseOrder().isproduct()=== 2-->
                                                        <th class="col-sm-8"><span>Detail</span></th>
                                                        <th class="col-sm-2"><span>Packed Price</span></th>
                                                        <th class="col-sm-2"><span>Total Price</span></th>
                                                        <!-- /ko -->
                                                        <!--ko if: $root.selectedPurchaseOrder().isproduct()=== 1-->
                                                        <th class="col-sm-2"><span>Code</span></th>
                                                        <th class="col-sm-3"><span>Detail</span></th>
                                                        <th class="col-sm-2"><span>Packed In</span></th>
                                                        <th class="col-sm-2"><span>Packed Price</span></th>
                                                        <th class="col-sm-1"><span>Required</span></th>
                                                        <th class="col-sm-2"><span>Total Price</span></th>
                                                        <!-- /ko -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--ko if: purchaseDetails().length==0-->
                                                    <tr>
                                                        <td>
                                                            <span data-bind="text: 'No Items found!'"></span>
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <!-- /ko -->
                                                    <!--ko if: $root.selectedPurchaseOrder().isproduct()=== 2-->
                                                    <!-- ko template: { name: 'serviceItemTemplate', foreach: purchaseDetails } -->
                                                    <!-- /ko -->
                                                    <!-- /ko -->
                                                    <!--ko if: $root.selectedPurchaseOrder().isproduct()=== 1-->
                                                    <!-- ko template: { name: 'productItemTemplate', foreach: purchaseDetails } -->
                                                    <!-- /ko -->
                                                    <!-- /ko -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="btn-group" style="float: left; margin-top: 10px;">
                                        <button type="button" class="btn btn-primary" data-bind="enable:$root.selectedPurchaseOrder().status()===31,click:$root.addPurchaseDetail">Add Purchase Detail</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 form-horizontal main-box-body clearfix">
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            @*<div class="bs-example-tooltips tooltip-float-width">
                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Comments" data-original-title="" title="">
                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                </a>
                            </div>
                            <label class="control-label text-right tooltip-float">Comments</label>*@
                        </div>
                        <div class="col-sm-6" style="padding-left: 0px;">
                            <div class="col-sm-11" style="padding-right: 5px;padding-left: 5px;">
                                <textarea class="form-control" rows="3" placeholder="Enter Comments" data-bind="enable:$root.selectedPurchaseOrder().status()===31,value: comments"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="col-sm-6 text-right">
                                    <label class="control-label text-right tooltip-float" style="font-weight: 800;">Net Total</label>
                                </div>
                                <div class="col-sm-6" style="text-align: right;padding-top: 6px;">
                                    <span class="control-label" data-bind="text:$root.currencySymbol"></span><span class="control-label" data-bind="numberInput:netTotal"></span>
                                </div>
                            </div>
                            @*<div class="form-group">
                                    <div class="col-sm-3 text-right">
                                        <label class="control-label text-right tooltip-float">Discount</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" data-bind="enable:$root.selectedPurchaseOrder().status()===31,value:discount">
                                    </div>
                                    <div class="col-sm-5">
                                        <select class="form-control" data-bind="enable:$root.selectedPurchaseOrder().status()===31,options: $root.discountTypes, optionsText: 'name', optionsValue: 'id',value:discountType"></select>

                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="form-group">
                        @*<div class="col-sm-2 text-right">
                                <div class="bs-example-tooltips tooltip-float-width">
                                    <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer; border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Select estimate date." data-original-title="" title="">
                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                    </a>
                                </div>
                                <label class="control-label text-right tooltip-float">Foot Notes</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-11" style="padding-right: 5px;padding-left: 5px;">
                                    <textarea class="form-control" id="EstimateHeader" rows="4" data-bind="enable:$root.selectedPurchaseOrder().status()===31,value: footnote"></textarea>
                                </div>
                            </div>*@

                        <div class="col-sm-3">
                            @*<div class="form-group">
                                    <div class="col-sm-6 text-right">
                                        <label class="control-label text-right tooltip-float" style="font-weight: 800;">Net Total</label>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <span class="control-label" data-bind="text:$root.currencySymbol"></span><span class="control-label" data-bind="numberInput:netTotal"></span>
                                    </div>
                                </div>*@
                            @*<div class="form-group">
                                    <div class="col-sm-6 text-right">
                                        <label class="control-label text-right tooltip-float" style="font-weight: 800;">Total Tax</label>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <span class="control-label" data-bind="text:$root.currencySymbol"></span><span class="control-label" data-bind="numberInput:totalTax"></span>
                                    </div>

                                </div>*@
                        </div>
                    </div>

                    @*<div class="form-group">
                            <div class="col-sm-2 text-right">
                                <div class="bs-example-tooltips tooltip-float-width">
                                    <a class="input-group-addon" tabindex="-1" style="text-decoration: none; border: 0; cursor: pointer; border: 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Select Source for Estimate." data-original-title="" title="">
                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                    </a>
                                </div>
                                <label class="control-label text-right tooltip-float">Created By</label>
                            </div>
                            <div class="col-sm-3" style="padding-right: 5px;">
                                <select class="form-control" data-bind="enable:$root.selectedPurchaseOrder().status()===31,options: $root.systemUsers, optionsText: 'fullName', optionsValue: 'id', optionsCaption: 'Select a system user',value:createdBy"></select>
                                <span class="help-block text-right"></span>
                            </div>
                            <div class="col-sm-5 text-right">
                                <label class="control-label text-right tooltip-float" style="padding-right: 10%;font-weight: 800;">Grand Total</label>
                            </div>
                            <div class="col-sm-1 text-right" style="padding-right: 0px;">
                                <span class="control-label" data-bind="text:$root.currencySymbol"></span><span class="control-label" data-bind="numberInput:grandTotal"></span>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addAddress() {
        var e = document.getElementById("popoveraddress");
        var p = document.getElementById("addresspullicon");

        if (e.style.display == "none") {
            p.className = "fa fa-chevron-circle-down drop-icon";
            e.style.display = "block";
        }
        else if (e.style.display == "block") {
            p.className = "fa fa-chevron-circle-right drop-icon";
            e.style.display = "none";

        }
    }
</script>

<script id="productItemTemplate" type="text/html">
    <tr style="cursor: pointer">
        <td data-bind="text: itemCode,click:$root.editPurchaseDetail"></td>
        <td data-bind="text: serviceDetail,click:$root.editPurchaseDetail"></td>
        <td data-bind="text: packqty,click:$root.editPurchaseDetail"></td>
        <td>
            <span class="control-label" data-bind="text:$root.currencySymbol"></span><span class="control-label" data-bind="numberInput: price,click:$root.editPurchaseDetail"></span>
        </td>
        <td data-bind="text: quantity,click:$root.editPurchaseDetail"></td>
        <td>
            <span class="control-label" data-bind="text:$root.currencySymbol"></span><span class="control-label" data-bind="numberInput: totalPrice,click:$root.editPurchaseDetail"></span>
        </td>
        <td style="width: 5%">
            <!-- ko template: { name: 'deletePurchaseDetailTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
<script id="serviceItemTemplate" type="text/html">
    <tr style="cursor: pointer" data-bind="enable:$root.selectedPurchaseOrder().status()===31">
        <td data-bind="text: serviceDetail,click:$root.editPurchaseDetail"></td>
        <td data-bind="numberInput: price,click:$root.editPurchaseDetail"></td>
        <td data-bind="numberInput: totalPrice,click:$root.editPurchaseDetail"></td>
        <td style="width: 5%">
            <!-- ko template: { name: 'deletePurchaseDetailTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>

<script id="deletePurchaseDetailTemplate" type="text/html">
    <a href="#" class="table-link danger" data-bind="click: $root.onDeletePurchaseDetail" title="Delete">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</script>