<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><a href="#"><span>Code</span></a></th>
                <th style="text-align:center;"><span>Pack Detail</span></th>
                <th style="text-align:center;"><span>Packed In</span></th>
                <th style="text-align:center;"><span>Required</span></th>
                <th style="text-align:center;"><span>Pack Price</span></th>
                <th style="text-align:center;"><span>Total Price</span></th>
                <th style="text-align:center;width:200px;"><span>VAT</span></th>
                <th style="text-align:center;"><span>Net Tax</span></th>
                <th style="text-align:center;"><span>Free Items</span></th>
                <th style="text-align:center;"><span>Discount %</span></th>
                <th style="width:83px;">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:100px;">
                    <a href="~/Estimate/ItemDetail"><span>ITM-01-01-7878</span></a>
                </td>
                <td style="text-align:center;width:150px;">
                    <input type="text" class="form-control" id="datepickerDate">
                </td>
                <td class="text-center">
                    $ 10
                </td>
                <td class="text-center" style="width:80px;">
                    <input type="text" class="form-control" id="datepickerDate">
                </td>
                <td class="text-center">
                    <input type="text" class="form-control" id="datepickerDate">
                </td>
                <td class="text-center">
                    $ 10
                </td>
                <td class="text-center" style="width:200px;">
                    <div class="col-lg-12">
                        <select class="form-control">
                            <option>GST FREE</option>
                            <option>GST 10% </option>
                            <option>Smit Jones</option>
                            <option>Stephen</option>
                            <option>Gary McCutting</option>
                        </select>
                        <span class="help-block text-right"></span>
                    </div>
                </td>
                <td class="text-center">
                    $ 10
                </td>
                <td style="text-align:center;">
                    <input type="text" class="form-control" id="datepickerDate">
                </td>
                <td style="text-align:center;">
                    $ 0
                </td>

                <td class="text-right">
                    <a href="#" class="table-link">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="#" class="table-link danger">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </td>
            </tr>


        </tbody>
    </table>
</div>
