

<div class="modal fade" id="sheetPlanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width:838px;" class="modal-dialog">
        <div class="modal-content">
            @*data-bind="with: $root.selectedRaveReview"*@
            <div class="modal-header" id="dialgHeaderPadding">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sheet Plan</h4>
            </div>
            <div class="col-lg-12 outerDiv-Padding form-horizontal">

                <div id="dialgHeaderPadding">
                    <h4 class="modal-title">Section Layout</h4>
                </div>
                <div class="form-group">
                    <div class="col-lg-2" id="SectionDetailButtons">
                        <input type="button" class="btn btn-primary" value="Side1" data-bind="click: $root.side1ButtonClick" />
                        <!-- ko if : $root.side2Image() != undefined -->
                        <input type="button" class="btn btn-primary" value="Side2" data-bind="click: $root.side2ButtonClick" />
                        <!-- /ko -->
                    </div>
                </div>
                <div class="form-group">
                    <div class="row" id="SectionDetailImage">
                        <!-- ko if : $root.showSide1Image -->
                        <div class="center-block"><img data-bind="attr:{src: $root.side1Image}" alt="" src="" style="max-width: 90%"></div>
                        <!-- /ko -->
                        <!-- ko if : !$root.showSide1Image() -->
                        <div class="center-block"><img data-bind="attr:{src: $root.side2Image}" alt="" src="" style="max-width: 90%"></div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <hr />
            </div>
        </div>
    </div>
</div>
