

<div class="modal fade" id="smartFormDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; max-height: 700px; overflow-y: auto;">
    <div style="width:1150px;" class="modal-dialog" data-bind="with:$root.selectedSmartForm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Smart form builder</h4>
                
            </div>
            <div class="col-lg-12">
                <div class="col-lg-12 clearfix">

                    <div class="col-lg-7">
                        <p class="group-header-description" style="margin-top:20px;"> <b>Smart Form Layout </b>  </p>
                    </div>
                    <div class="col-lg-5 form horizontal">
                        <div class="form-group" style="padding-top:11px;">
                            <div class="col-lg-5 text-right">
                                <div class="bs-example-tooltips tooltip-float-width" style="margin-right:20px;">
                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="This list below displays system custom variables can be created from custom crm fields to be used in smartform. Variable scope refers to where the data originates from i.e. contact or store level. All variables can be used in a smartform to collect and merge data in designer tool. Information collected by smartform is persisted against the current user, or address as well as store according to variable scope." data-original-title="" title="">
                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                    </a>
                                </div>
                                @*style="width:35%;"*@
                                <label for="txtCCode" style="margin-top:9px;" class="control-label text-right tooltip-float">Available Variables</label>
                            </div>
                            <div class="col-lg-2">
                                @*<input type="number" class="form-control" id="txtCCode" data-bind="value: $root.calculateCyanValue, validationTooltip: colorC" min="0" max="200">*@
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-7 smartFormArea">

                        <div>
                            <div class="col-lg-12 form-horizontal outerDiv-Padding">
                                <div class="form-group">
                                    <div class="col-lg-4 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            @*<a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Smart Form Name" data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>*@
                                        </div>
                                        <label for="name" class="control-label text-right tooltip-float">
                                            Smart Form Name
                                        </label>
                                    </div>
                                    <div class="col-lg-5" style="padding-left:13px;">
                                        <input type="text" style="padding-left:13px;" class="form-control" id="name" data-bind="value:name, validationTooltip: name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-4 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="The main title/heading which is displayed on top of smart form fields in Template Designer." data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>
                                        </div>
                                        <label for="heading" class="control-label text-right tooltip-float">
                                            Heading
                                        </label>
                                    </div>
                                    <div class="col-lg-5" style="padding-left:13px;">
                                        <input type="text" class="form-control" id="heading" data-bind="value:heading">
                                    </div>
                                </div>
                                <hr />
                            </div>

                        </div>
                        <div class="col-lg-12 form-horizontal">
                            <div data-bind="drop: $root.droppedSmartFormArea" style="min-height: 100px;">
                                <ul style="list-style: none;padding: 15px;cursor:move;" data-bind="sortable: { template: 'smartFormDetailItemTemplate', data: smartFormDetails }"></ul>
                            </div>


                        </div>
                    </div>



                    <div class="col-lg-4 smartFormVariableArea">

                       

                            <div class="dd-item dd-item-list" data-id="15">
                                <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                <div class="dd-handle">
                                    <span data-bind="text:$root.groupCaption,drag: $root.draggedGroupCaption" style="cursor: move;z-index: 10000"></span>
                                    <div class="nested-links">
                                        <a href="#" class="nested-link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="dd-item dd-item-list" data-id="15">
                                <div class="dd-handle-list"><i class="fa fa-bars"></i></div>
                                <div class="dd-handle">
                                    <span data-bind="text:$root.lineSeperator,drag: $root.draggedLineSeperator" style="cursor: move;z-index: 10000"></span>
                                    <div class="nested-links">
                                        <a href="#" class="nested-link"></a>
                                    </div>
                                </div>
                            </div>


                        <div class="clearfix" id="tabsHeader" style="margin-bottom:10px;">
                            <div class="tabs-wrapper profile-tabs">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab-storesVariable" data-toggle="tab">Stores</a></li>
                                    <li><a href="#tab-contactsVariable" data-toggle="tab">Contacts</a></li>
                                    <li ><a href="#tab-addressVariable" data-toggle="tab">Addresses</a></li>
                                    <li><a href="#tab-territoriesVariable" data-toggle="tab">Territories</a></li>

                                    @*<li data-bind="visible: itemProductDetail().isQtyLimit"><a href="#tab-supplier2" data-toggle="tab">Supplier 2 Price Table</a></li>*@
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="tab-storesVariable">
                                        <div class="table-responsive smartFormVariableTableArea">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th><span>Variables</span></th>
                                                        <th><span>Variable Type</span></th>
                                                        <th><span>Type</span></th>
                                                        <th><span>Tag</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- ko template: { name: 'fieldVariableForSmartFormItemTemplate', foreach: $root.fieldVariablesForSmartForm }-->
                                                    <!-- /ko -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-contactsVariable">
                                        <div class="table-responsive smartFormVariableTableArea">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th><span>Variables</span></th>
                                                        <th><span>Variable Type</span></th>
                                                        <th><span>Type</span></th>
                                                        <th><span>Tag</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- ko template: { name: 'fieldVariableForSmartFormItemTemplateContact', foreach: $root.fieldVariablesForSmartForm }-->
                                                    <!-- /ko -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="tab-addressVariable">
                                        <div class="table-responsive smartFormVariableTableArea">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th><span>Variables</span></th>
                                                        <th><span>Variable Type</span></th>
                                                        <th><span>Type</span></th>
                                                        <th><span>Tag</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- ko template: { name: 'fieldVariableForSmartFormItemTemplateAddress', foreach: $root.fieldVariablesForSmartForm }-->
                                                    <!-- /ko -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-territoriesVariable">
                                        <div class="table-responsive smartFormVariableTableArea">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th><span>Variables</span></th>
                                                        <th><span>Variable Type</span></th>
                                                        <th><span>Type</span></th>
                                                        <th><span>Tag</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- ko template: { name: 'fieldVariableForSmartFormItemTemplateTerritory', foreach: $root.fieldVariablesForSmartForm }-->
                                                    <!-- /ko -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                        @*<div class="tab-pane fade" id="tab-supplier2" data-bind="visible: itemProductDetail().isQtyLimit">
                                            <div class="col-lg-12 form-horizontal">
                                                <div class="form-group">
                                                    <div class="col-lg-3 text-right">
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="clearfix">
                                                            <div class="table-responsive">
                                                                <div class="table-responsive">
                                                                    <table class="table table-striped table-hover pricetable-itemPriceMatrix">
                                                                        <thead>
                                                                            <!-- ko template: { name: 'headerPriceMatrixTemplate' } -->
                                                                            <!-- /ko -->
                                                                        </thead>
                                                                        <tbody>
                                                                            <!-- ko template: { name: chooseTemplateForSupplier2PriceMatrix, foreach: itemPriceMatricesForSupplierId2 } -->
                                                                            <!-- /ko -->
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                    </div>
                            </div>
                        </div>



















                          
                        

                    </div>



                    @*<p class="group-header-description"> <b>Available Variables </b> <br /> This list below displays system custom variables can be created from custom crm fields to be used in smartform. Variable scope refers to where the data originates from i.e. contact or store level. All variables can be used in a smartform to collect and merge data in designer tool. Information collected by smartform is persisted against the current user, or address as well as store according to variable scope. </p>*@

                </div>
            </div>

            <div class="modal-footer" style="padding-right:8px;">
                <br />
                <hr />
                <button type="button" class="btn btn-primary" data-bind="click:$root.onSaveSmartForm, enable: hasChanges, css: { 'btn-warning': hasChanges }">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:0px;">Close</button>
              
            </div>
        </div>
    </div>

</div>


@* Wizard Popup ends here*@

<script id="fieldvariableCommon" type="text/html">
    <tr data-bind="drag: $root.draggedVariableField" style="cursor: move;z-index: 10000" title="Drag variable to add to the left panel">
        <td data-bind="text:variableName"></td>
        @*<td data-bind="text:scopeName"></td>*@
    
        <!-- ko if: scope()=== 7 || scope() === 8  || scope() === 9 || scope() === 10 -->
        <td>System Defined</td>
        <!-- /ko -->
        <!-- ko if: scope()=== 1 || scope() === 2  || scope() === 3 || scope() === 4 -->
      
        <td>User Defined</td>
        <!-- /ko -->
        <td data-bind="text:typeName"></td>
        <td data-bind="text:variableTag"></td>
    </tr>
    </script>

    <script id="fieldVariableForSmartFormItemTemplate" type="text/html">

        <!-- ko if: scope()=== 1 || scope() === 7 -->
                <!-- ko template: { name: 'fieldvariableCommon' }-->
                <!-- /ko -->
        <!-- /ko -->
      
      
    </script>
<script id="fieldVariableForSmartFormItemTemplateContact" type="text/html">

    <!-- ko if: scope()=== 2 || scope() === 8 -->
        <!-- ko template: { name: 'fieldvariableCommon' }-->
        <!-- /ko -->
    <!-- /ko -->


</script>
<script id="fieldVariableForSmartFormItemTemplateAddress" type="text/html">

    <!-- ko if: scope()=== 3 || scope() === 9 -->
        <!-- ko template: { name: 'fieldvariableCommon' }-->
        <!-- /ko -->
    <!-- /ko -->


</script>
<script id="fieldVariableForSmartFormItemTemplateTerritory" type="text/html">

    <!-- ko if: scope()=== 4 || scope() === 10 -->
    <!-- ko template: { name: 'fieldvariableCommon' }-->
    <!-- /ko -->
    <!-- /ko -->


</script>

    <script id="smartFormDetailItemTemplate" type="text/html">
        <!-- ko if: objectType()===1 -->
        <li style="margin-top: 10px;">
            <div class="form-group ">
                <div class="col-lg-11">
                    <div><input type="text" class="form-control" data-bind="value:captionValue" /></div>
                </div>
                <div class="col-lg-1">
                    <a href="#" class="table-link danger" data-bind="click : $root.deleteSmartFormItem" style="float: right;color:#e74c3c;">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
        </li>
        <!-- /ko -->
        <!-- ko if: objectType()===2-->
        <li style="margin-top: 10px;">
            <div class="form-group ">
                <div class="col-lg-11">
                    <div data-bind="html:html"></div>
                </div>
                <div class="col-lg-1">
                    <a href="#" class="table-link danger" data-bind="click : $root.deleteSmartFormItem" style="float: right;color:#e74c3c;">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
        </li>
        <!-- /ko -->
        <!-- ko if: objectType()===3-->
        <li style="margin-top: 10px;">
            <div class="form-group ">

                <div class="col-lg-4">
                    <div class="col-lg-7">
                        <div class="col-lg-12">Mandatory</div>
                        <div class="col-lg-7">
                            <div class="radio">
                                <input type="radio" value="1" data-bind="checked:isRequired,attr: { id: 'yes' + $index(),name:'mandatory'+ $index() }" />
                                <label data-bind="attr: { for: 'yes' + $index() }">Yes</label>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="radio">
                                <input type="radio" value="0" data-bind="checked:isRequired,attr: { id: 'no' + $index()+1 ,name:'mandatory'+ $index()}" />
                                <label data-bind="attr: { for: 'no' + $index()+1 }">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div data-bind="html:html"></div>
                </div>

                <div class="col-lg-1">
                    <a href="#" class="table-link danger" data-bind="click : $root.deleteSmartFormItem" style="float: right;color:#e74c3c;">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
        </li>
        <!-- /ko -->
    </script>

    <script id="smartFormDetailItemTemplate11" type="text/html">

        <li style="margin-top: 10px;">
            <div class="form-group ">
                <div class="col-lg-7">
                    <div><input type="text" class="form-control" data-bind="value:captionValue" /></div>
                </div>
                <div class="col-lg-4">
                    <div class="col-lg-7">
                        <div class="col-lg-12">Mandatory</div>
                        <div class="col-lg-5">
                            <div class="radio">
                                <input type="radio" name="mandatory" value="1" id="yes" />
                                <label for="yes">Yes</label>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="radio">
                                <input type="radio" name="mandatory" value=2 id="no" />
                                <label for="no">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">
                    <a href="#" class="table-link danger" data-bind="click : $root.deleteSmartFormItem" style="float: right;color:#e74c3c;">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
        </li>


    </script>

    @*<script id="smartFormDetailItemTemplate1" type="text/html">
            <li style="margin-top: 10px;">
                <div data-bind="html:html"></div>
                <div><input type="button" data-bind="click:$root.deleteSmartFormItem" value="Remove" /></div>
            </li>
        </script>*@


