
<div class="modal fade my-modal" id="editStoreCssModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width: 900px;" class="modal-dialog" data-bind="with:$root.selectedStoreCss">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit CSS</h4>
            </div>
            <div class="col-lg-12 form-horizontal outerDiv-Padding">
                <div class="col-md-12">
                    <div style="height: 520px;background: #d0d1d7;">
                        <div id="editor" style="height: 500px;margin :8px 16px 0 16px;" data-bind="ace: customCss, aceOptions: { mode: 'css', theme: 'twilight' }"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding-left:0;padding-right:0px;">
                <hr style="margin-bottom:15px;" />
                <div style="padding-left:4px;padding-right:8px;">
                    <button type="button" class="btn btn-primary" data-bind="click:$root.onSaveCompanyCss, enable: hasChanges, css: { 'btn-warning': hasChanges }">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left: 0;">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>


@* Wizard Popup ends here*@
