
<div class="modal fade my-modal" id="itemsForWidgetsDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width:838px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="headingPF" class="modal-title" data-bind="text:$root.productsFilterHeading"></h4>
            </div>
            <div class="col-lg-12 outerDiv-Padding form-horizontal">

                <div class="col-lg-12" id="itemGrid">
                    <div class="col-xs-6" style="padding-left: 30px;padding-right: 2px;">

                        <h4 id="headingPF" class="modal-title" style="margin-bottom:5px;" data-bind="text:$root.productsFilterSubHeadingAll"></h4>
                        <div class="main-box-body clearfix">
                            <div class="table-responsive" style="border:groove;border-width:1px;margin-right:10px; height: 300px; overflow-y: auto">
                                <table class="table table-striped table-hover">
                                    @*<thead>
                                            <tr>
                                                <th><a href="#"><span>Stock Name</span></a></th>
                                                <th><a href="#"><span>Category</span></a></th>
                                                <th><a href="#" class="asc"><span>Location</span></a></th>
                                                <th>Weight</th>
                                            </tr>
                                        </thead>*@
                                    <tbody>
                                        <!-- ko template: { name: 'itemForWidgetsTemplate' , foreach: $root.itemsForWidgets } -->
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-2" style="padding-top:135px;width:7%;">
                        <a href="#" class="btn btn-primary" style="vertical-align: top;margin-bottom:10px;" data-bind="click:$root.addItemToWidgetList">
                            <i class="fa fa-lg"></i>&nbsp;>
                        </a>
                        <a href="#" class="btn btn-primary" style="vertical-align: top;margin-bottom:10px;" data-bind="click:$root.removeItemToWidgetList">
                            <i class="fa fa-lg"></i>&nbsp;<
                        </a>

                    </div>

                    <div class="col-xs-5">
                        <h4 id="headingPF" class="modal-title" style="margin-bottom:5px;" data-bind="text:$root.productsFilterSubHeadingSelected"></h4>
                        <div class="main-box-body clearfix">
                            <div class="table-responsive" style="border:groove;border-width:1px;margin-right:10px;height: 300px; overflow-y: auto">
                                <table class="table table-striped table-hover">
                                    @*<thead>
                                            <tr>
                                                <th><a href="#"><span>Stock Name</span></a></th>
                                                <th><a href="#"><span>Category</span></a></th>
                                                <th><a href="#" class="asc"><span>Location</span></a></th>
                                                <th>Weight</th>
                                            </tr>
                                        </thead>*@

                                    <tbody>
                                        <!-- ko template: { name: 'itemsForSelectedOffer' , foreach: $root.selectedItemsForOfferList} -->
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style="padding-left:0px;padding-right:0px;">
                <hr />
                <div style="padding-right:8px;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script id="itemForWidgetsTemplate" type="text/html">
    <!-- ko if: (!isInSelectedList() && $root.productPriorityRadioOption()=== "1") -->
    <tr data-bind="click: $root.selectAddItem, css: { selectedItemRow: $data === $root.selectedItemForAdd() }">
        <td data-bind="text:productName"></td>
    </tr>
    <!-- /ko -->
</script>

<script id="itemsForSelectedOffer" type="text/html">
    <!-- ko if: $root.selectedOfferType() ===offerType() -->
    <tr data-bind="click: $root.selectRemoveItem">
        <td data-bind="text:itemName"></td>
    </tr>
    <!-- /ko -->
</script>
@* Wizard Popup ends here*@