<div class="row">

    <div class="col-sm-12">
        <div style="border:1px solid #eeeeee;padding-right:5px;padding-left:3px; padding-bottom:20px;min-height:250px; max-height:400px;overflow-y:scroll;">
            <div class="main-box-body main-box clearfix">
                <div class="table-responsive" style="padding-left:20px; padding-right:20px;" id="tblTemplatesList">
                    <table id="templatesListtbl" class="table user-list table-striped table-hover" style="border: 1px;">
                        <thead>
                            <tr>
                                <th class="col-sm-3"><span>Parent Category</span></th>
                                <th class="col-sm-2"><span>Category</span></th>
                                <th class="col-sm-2"><span>Product Code</span></th>
                                <th class="col-sm-3"><span>Product Name</span></th>
                                <th class="col-sm-2"><span>Thumbnail</span></th>

                            </tr>
                        </thead>
                        <tbody>

                            <!-- ko template: { name: 'templateList', foreach: productTemplatesList } -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="templateList" type="text/html">
    <tr>
        <td>
            <span data-bind="text: ParentCategory"></span>
        </td>
        <td>
            <span data-bind="text: CategoryName"></span>
        </td>
        <td>
            <span data-bind="text: ProductCode"></span>
        </td>
        <td>
            <span data-bind="text: ProductName"></span>
        </td>

        <td>
            <img data-bind="attr: { src: '@Url.Content("~/")' + TemplatePath }" alt=""></img>

        </td>
    </tr>
</script>
