<div class="modal fade" id="myreadonlyStoreLayoutWidgetCss" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; max-height: 700px; overflow-y: auto;">
    <div style="width:500px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Widget Css</h4>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12 clearfix" style="margin:11px;">
                        <textarea style="width:95%;height:200px;border-radius:7px;background-color:#efefef;font-family:Arial;font-size:12px;padding:10px;" data-bind="value:$root.widgetCss" readonly="readonly"></textarea>
                    </div>
                </div>
            </div>


            <div class="modal-footer" style="padding-right:0;padding-left:0;">
                <div style="padding-left:8px;padding-right:8px;">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:0px;">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>





    





    

    

   


