@{
    ViewBag.Title = "Stores";
}
@section leftmenue {

}
<div class="row" id="storesBinding">
    <div class="col-lg-12" data-bind="visible: !$root.isEditorVisible()">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="~/Dashboard/Index">Home</a></li>
                    <li class="active"><span>Stores</span></li>
                </ol>
                <div class="clearfix">
                    <h1 class="pull-left">Stores</h1>
                    <div class="pull-right top-page-ui">
                        <a href="~/CRM/AddStore" class="btn btn-primary">
                            <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add Store
                        </a>

                    </div>
                    <div class="filter-block ">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box no-header clearfix">
                                    <h1 class="pull-left">
                                        Search Store
                                        <input type="text" data-bind="value: $root.searchFilter" />
                                    </h1>
                                    <span class="pull-right">
                                        <button type="submit" class="btn btn-primary" data-bind="click: $root.getStores">Search</button>
                                        <button type="reset" class="btn btn-default" data-bind="click: $root.resetFilterSection">Reset</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box no-header clearfix">
                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                <table class="table user-list">
                                    <thead>
                                        <tr>
                                            <th><span>All Stores</span></th>
                                            <th><span>Type</span></th>
                                            <th><span>Status</span></th>

                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <!-- ko template: { name: $root.templateToUse , foreach: $root.stores } -->
                                        <!-- /ko -->

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                    <div id="pagerDiv">
                        <!-- ko with: pager -->
                        @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                        <!-- /ko -->
                    </div>

                </div>
            </div>
        </div>
        <script id="actionsTemplate" type="text/html">
            <a class="table-link" data-bind="click : $root.onEditItem">
                <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="#" class="table-link danger" data-bind="click : $root.deleteStore">
                <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </script>
        <script id="itemStoreTemplate" type="text/html">
            <tr data-bind="click: $root.selectStore, css: { selectedRow: $data === $root.selectedStore}">
                <td>
                    <img src="~/Content/themes/Centaurus/img/samples/logos/1.jpg" alt="" />
                    <a href="#" class="user-link" data-bind="text: name"></a>
                    <a href="#" style="font-size: 0.875em; color: black;" data-bind="text: url"><i class="fa fa-external-link-square"></i></a>
                </td>

                <td data-bind="text: type"></td>

                <td>
                    <!-- ko if: status() == 1 -->
                    <span class="label label-success">Active</span>
                    <!-- /ko -->
                    <!-- ko if: status() != 1 -->
                    <span class="label label-danger">DeActive</span>
                    <!-- /ko -->
                </td>

                <td id="actionColumn">
                    <!-- ko template: { name: "actionsTemplate",templateEngine: new ko.nativeTemplateEngine() } -->
                    <!-- /ko -->
                </td>
            </tr>
        </script>

    </div>
    @Html.Partial("~/Areas/Stores/Views/Stores/ContactCompanyDetail.cshtml")
    <div class="col-lg-12">
        <div class=" form-horizontal clearfix">
            <div class="main-box-body clearfix">
                <div id="alerts"></div>
                <div class="btn-toolbar editor-toolbar" data-role="editor-toolbar" data-target="#editor">
                    <div class="btn-group">
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a data-edit="fontName Serif" style="font-family: 'Serif'">Serif</a></li>
                            <li><a data-edit="fontName Sans" style="font-family: 'Sans'">Sans</a></li>
                            <li><a data-edit="fontName Arial" style="font-family: 'Arial'">Arial</a></li>
                            <li><a data-edit="fontName Arial Black" style="font-family: 'Arial Black'">Arial Black</a></li>
                            <li><a data-edit="fontName Courier" style="font-family: 'Courier'">Courier</a></li>
                            <li><a data-edit="fontName Courier New" style="font-family: 'Courier New'">Courier New</a></li>
                            <li><a data-edit="fontName Comic Sans MS" style="font-family: 'Comic Sans MS'">Comic Sans MS</a></li>
                            <li><a data-edit="fontName Helvetica" style="font-family: 'Helvetica'">Helvetica</a></li>
                            <li><a data-edit="fontName Impact" style="font-family: 'Impact'">Impact</a></li>
                            <li><a data-edit="fontName Lucida Grande" style="font-family: 'Lucida Grande'">Lucida Grande</a></li>
                            <li><a data-edit="fontName Lucida Sans" style="font-family: 'Lucida Sans'">Lucida Sans</a></li>
                            <li><a data-edit="fontName Tahoma" style="font-family: 'Tahoma'">Tahoma</a></li>
                            <li><a data-edit="fontName Times" style="font-family: 'Times'">Times</a></li>
                            <li><a data-edit="fontName Times New Roman" style="font-family: 'Times New Roman'">Times New Roman</a></li>
                            <li><a data-edit="fontName Verdana" style="font-family: 'Verdana'">Verdana</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                            <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                            <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                        <a class="btn btn-default" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                        <a class="btn btn-default" data-edit="strikethrough" title="" data-original-title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                        <a class="btn btn-default" data-edit="underline" title="" data-original-title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default" data-edit="insertunorderedlist" title="" data-original-title="Bullet list"><i class="fa fa-list-ul"></i></a>
                        <a class="btn btn-default" data-edit="insertorderedlist" title="" data-original-title="Number list"><i class="fa fa-list-ol"></i></a>
                        <a class="btn btn-default" data-edit="outdent" title="" data-original-title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                        <a class="btn btn-default" data-edit="indent" title="" data-original-title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default btn-info" data-edit="justifyleft" title="" data-original-title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                        <a class="btn btn-default" data-edit="justifycenter" title="" data-original-title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                        <a class="btn btn-default" data-edit="justifyright" title="" data-original-title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                        <a class="btn btn-default" data-edit="justifyfull" title="" data-original-title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Hyperlink"><i class="fa fa-link"></i></a>
                        <div class="dropdown-menu input-append">
                            <input class="span2" placeholder="URL" type="text" data-edit="createLink">
                            <button class="btn" type="button">Add</button>
                        </div>
                        <a class="btn btn-default" data-edit="unlink" title="" data-original-title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default" title="" id="pictureBtn" data-original-title="Insert picture (or just drag &amp; drop)"><i class="fa fa-picture-o"></i></a>
                        <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" style="opacity: 0; position: absolute; top: 0px; left: 0px; width: 39px; height: 36px;">
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default" data-edit="undo" title="" data-original-title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                        <a class="btn btn-default" data-edit="redo" title="" data-original-title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                    </div>
                    <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="" style="display: none;">
                </div>
                <div id="editor" class="wysiwyg-editor" contenteditable="true">
                    Go ahead…
                </div>

            </div>
        </div>
    </div>
</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section Scripts{
    <link href="~/Content/colorpicker.css" rel="stylesheet" />
    <link href="~/RichTextEditor/skins/moono/editor.css" rel="stylesheet" />
    <script src="~/Content/themes/Centaurus/js/wizard.js"></script>
    <script src="~/Content/themes/Centaurus/js/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/Ace/ace.js"></script>
    <script src="~/Scripts/Ace/colorpicker.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Content/themes/Centaurus/js/ckeditor/ckeditor.js"></script>
    <script>

        require(["stores/stores.view", "common/confirmation.view"]);
        //$(document).ready(function () {
        //    // This call can be placed at any point after the
        //    // <textarea>, or inside a <head><script> in a
        //    // window.onload event handler.

        //    // Replace the <textarea id="editor"> with an CKEditor
        //    // instance, using default configurations.

        //    CKEDITOR.replace("editor");
        //});

        //alert(CKEDITOR.basePath);
        $(function () {
            $('#lisettings').addClass('active');
            $('#ligeneralsettings').addClass('active');
            $('#listore').addClass('active');
        });
        $('#colorPick1').ColorPicker({
            color: '',
            onShow: function (colpkr) {
                $(colpkr).fadeIn(500);
                return false;
            },
            onHide: function (colpkr) {
                $(colpkr).fadeOut(500);
                return false;
            },
            onChange: function (hsb, hex, rgb) {
                $("#colorPick1").css("background-color", "#" + hex);
                $("#colorPick1").text('#' + hex);
            }
        });
    </script>
}
