
<div class="modal fade" id="phraseLibraryDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; max-height: 700px; overflow-y: auto;">
    <div style="width:838px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Phrase Library</h4>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-12 clearfix">
                    <div class="col-lg-5" style="margin-top:44px;">
                        <div class="table-responsive">
                            <table class="table" id="phrase-section-table">
                                <thead>
                                    <tr>
                                        <th><span>Module</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="category" id="nestable2">
                                                <ol class="dd-list" id="child-phrase">
                                                    <!-- ko template: { name: 'sectionIemTemplate', foreach: $root.sections }-->
                                                    <!-- /ko -->
                                                </ol>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="table-responsive" >
                            <div class="filter-block pull-right" title="Add Phrase" data-bind="click:$root.addPhrase,visible:$root.isOpenFromPhraseLibrary">
                                <a href="#" class="btn btn-primary">
                                    Add New Phrase
                                </a>
                                <button type="button" class="btn btn-primary" data-bind="click:$root.savePhraseLibrary,visible:$root.isOpenFromPhraseLibrary">Save</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                
                            </div>

                            <table class="table table-striped table-hover" id="phrase-records">
                                <thead>
                                    <tr>
                                        <th><span id="phrase-header-phrase">Phrases</span><span id="phrase-header-phraselibrary">Description to Phrase Library</span></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-phrase-records">
                                    <tr style="text-align:center;" id="phrase-null-span">
                                        <td>
                                            <span>No Phrases Exsist for Headers</span>
                                        </td>
                                    </tr>
                                    <!-- ko template: { name: $root.templateToUse , foreach: $root.phrases } -->
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/Common/Views/Shared/_EditJobTitlePhraseLibrary.cshtml")
</div>


@* Wizard Popup ends here*@

<script id="sectionIemTemplate" type="text/html">
    <li class="dd-item dd-item-list" data-id="15">
        <div class="dd-handle-list"  data-bind="click: $root.selectSection, css: { selectedRow: $root.selectedSection() === $data }" style="cursor: pointer"><i class="fa fa-chevron-circle-right"></i></div>
        <div class="dd-handle" id="SectionName" data-bind="click: $root.selectSection, css: { selectedRow: $root.selectedSection() === $data }" style="cursor: pointer">
            <span id="SectionNameSpan" data-bind="text: name"></span>
            <div class="nested-links">
                <a href="#" class="nested-link" title="Edit Category"></a>
            </div>
        </div>
        <ol class="dd-list" data-bind="visible:isExpanded()">
            <!-- ko template: { name: 'childSectionIemTemplate', foreach: phrasesFields }-->
            <!-- /ko -->
        </ol>
    </li>
</script>

<script id="childSectionIemTemplate" type="text/html">
    <li class="dd-item dd-item-list" data-bind="click: $root.selectPhraseField, css: { selectedRow: $root.selectedPhraseField() === $data }" data-id="16" style="cursor:pointer;">
        <div class="dd-handle-list"><i class="fa fa-minus-square"></i></div>
        <div class="dd-handle txt-blue-hover">
            <span data-bind="text: fieldName"></span>
            <div class="nested-links">
            </div>
        </div>
    </li>
</script>

<script id="phraseEditItemTemplate" type="text/html">
    <tr class="phrase-rows" data-bind="visible:!isDeleted()">
        <td>
            <input type="text" class="form-control" placeholder="Enter Phrase String" data-bind="value:phraseText">
        </td>
        <td class="text-right" style="width:50px;">
            <a href="#" class="table-link danger" data-bind="click:$root.deletePhrase">
                <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </td>
    </tr>
</script>

<script id="phraseItemTemplate" type="text/html">
    <tr  data-bind="visible:!isDeleted(),click: $root.selectPhrase, css: { selectedRow: $data === $root.selectedPhrase() }">
        <td>
            <input type="checkbox" style="width:50px;" data-bind="checked:isPhraseChecked" />
        </td>
        <td>
            <input type="text" class="form-control" placeholder="Enter Phrase Name" data-bind="value:phraseText">
        </td>
        <td class="text-right">
            <a href="#" class="table-link danger" data-bind="click:$root.deletePhrase">
                <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </td>
    </tr>
</script>

<script>
    $(document).ready(function ()
    {
        $("#phrase-null-span").hide();
        $("#phrase-header-phraselibrary").hide();

        setTimeout(function ()
        {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            $.unblockUI(spinner);
        }, 1000);

        $("#child-phrase").click(function ()
        {
         
            $("#phrase-header-phraselibrary").hide();
            $("#phrase-header-phrase").show();

            $("#phrase-null-span").hide();
            setTimeout(Countingphraserows, 1000);
        });
    });

    function Countingphraserows()
    {
        var rows = $('#phrase-records tbody tr.phrase-rows').length;
        
        if(rows == 0)
        {
            $("#phrase-null-span").show();
            $("#phrase-header-phrase").show();
        }
        else if(rows != 0)
        {
            $("#phrase-header-phraselibrary").show();
            $("#phrase-header-phrase").hide();

            $("#phrase-null-span").hide();
        }
    }

    
</script>