<div id="reportEmailView" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 814px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Report Email</h4>
            </div>
            <div class="col-lg-12 main-box clearfix col-padding">
                <div class="main-box-body">
                    <div class=" form-horizontal col-padding" style="padding-top:20px ">
                        <div class="form-group ">
                            <div class="col-lg-1 text-right">

                                <label for="txtEmail" class="control-label text-right tooltip-float">To</label>
                            </div>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="txtEmail" >
                                @*<input type="text" class="form-control" id="txtEmail" data-bind="value: $root.To()">*@
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-lg-1 text-right">

                                <label for="txtEmail" class="control-label text-right tooltip-float">Cc</label>
                            </div>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="txtEmail" >
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-lg-1 text-right">

                                <label for="txtEmail" class="control-label text-right tooltip-float">Subject</label>
                            </div>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="txtEmail" >
                            </div>
                            <div class="col-lg-1">
                                <button class="btn btn-primary">Send</button>
                            </div>
                        </div>

                      
                        @*<div class="form-group ">
                            <div class="col-lg-1 text-right">

                                
                            </div>
                            <div class="col-lg-7">

                                <img src="#" />
                            
                                <a data-bind="href: $root.AttacmentPath" target="_blank"></a>
                              
                             </div>
                            <div class="col-lg-1">

                                </div>
                         </div>*@

                            <div class="form-group">
                                <div class="col-lg-1 text-right"></div>
                                <div class="col-lg-11">
                                    <textarea name="html_link_content" id="content" data-bind="editor: hTmlMessageA,drop: $root.droppedEmailSection,openFrom:$root.ckEditorOpenFrom"></textarea>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click:$root.hideEmailView"> Close</button>
            </div>
        </div>
    </div>
</div>
