<div id="divReportManager" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Report(s)</h4>
            </div>
            <div class="col-lg-12 main-box clearfix col-padding">
                <div class="validationSummaryContainer" style="text-align: center;">
                    <a class="validationSummaryLink" data-bind="visible: $root.errorList().length > 0" style="display: none; text-decoration: none; ">Report not selected!</a>
                
                </div>
                <div class="main-box-body">
                    
                    <div class=" form-horizontal col-padding" style="padding-top:30px;padding-bottom:40px; ">
                        <h5>Please select a report below to execute</h5>
                        <div class="col-md-3" style="overflow-y: auto; width: auto; border-right: 1px solid #e5e5e5; margin-right: 14px; height: 355px; max-height: 355px; ">


                            <div style="display:inline;position:relative;">
                                <ol class="dd-list">
                                    <!-- ko template: { name: 'reportCategoriesTemplate' , foreach: reportcategoriesList } -->
                                    <!-- /ko -->
                                </ol>
                            </div>
                        </div>
                        <div style="display:inline;width:50% !important;" class="col-md-8">
                            <div class="treeviewClickCharge-partial">
                                <div class="form-group" data-bind="visible:IsExternalReport">
                                    <div class="col-lg-5 text-right" style="padding-right: 5px;">
                                        <label style="padding-top: 5px;" class="control-label text-right tooltip-float">Title: </label>
                                    </div>
                                    <div class="col-lg-7" style="margin-top: 4px;">
                                        <span data-bind="text:selectedItemTitle" style="margin-left: 5px;"></span>

                                    </div>
                                </div>
                                <div class="form-group" data-bind="visible:IsExternalReport">
                                    <div class="col-lg-5 text-right" style="padding-right: 0px;">
                                        <label style="padding-top: 5px;" class="control-label text-right tooltip-float">Code: </label>
                                    </div>
                                    <div class="col-lg-5" style="margin-top: 4px;">
                                        <span data-bind="text:selectedItemCode" style="margin-left: 5px;"> </span>

                                    </div>
                                </div>
                                <div class="form-group" data-bind="visible:IsExternalReport">
                                    <div class="col-lg-5 text-right" style="width: 43.3%; padding-right: 0px; ">
                                        <label style="padding-top: 5px;" class="control-label text-right tooltip-float">Name: </label>
                                    </div>
                                    <div class="col-lg-5" style="margin-top: 4px;">
                                        <span data-bind="text:selectedItemName"> </span>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <div>
                                        <span>Report output to :</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-7 radio">
                                        <input id="chkpreview" type="radio" value="preview" data-bind="checked: outputTo" />
                                        <label for="chkpreview">Preview</label>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-7 radio">
                                        <input id="chkemail" type="radio" value="email" data-bind="checked: outputTo" />
                                        <label for="chkemail">Email</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-7 radio">
                                        <input id="chkpdf" type="radio" value="pdf" data-bind="checked: outputTo" />
                                        <label for="chkpdf">Acrobat Reader (PDF)</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-7 radio">
                                        <input type="radio" id="chkexcel" value="excel" data-bind="checked: outputTo" />
                                        <label for="chkexcel">Microsoft Excel</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:$root.OpenReport" style="margin-left: 0px;">
                        ok
                </button>
                <button type="button" class="btn btn-default" data-bind="click:$root.hide"> Cancel</button>
            </div>
        </div>


    </div>


@Html.Partial("~/Areas/Common/Views/Shared/_ReportViaEmail.cshtml")

</div>
<div id="idReportViewerHtml" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 902px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Report Viewer</h4>
            </div>
            <iframe id="ReportViewerIframid" src="@Url.Action("Viewer", "Home", new { area = ""})" width="900" height="700" seamless="" frameborder="0"></iframe>
        </div>
    </div>
</div>

<div id="idReportParams" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 902px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Report Parameters</h4>
            </div>
            <!--ko if:ControlType()== 1-->
            <select id="ddlbCostCenterType" class="form-control" data-bind="options: $root.costCenterTypes, optionsText: 'TypeName', optionsValue: 'TypeId',value:calculationMethodType, enable :isCalculationMethodEnable"></select>
            
            <!--/ko-->
            <!--ko if:ControlType()== 2-->
            DatePicker
            <!--/ko-->
            <!--ko if:ControlType()== 3-->
            TextBox
            <!--/ko-->

            <!--ko if:ControlType()== 4-->
            ExternalID
            <!--/ko-->
            <!--ko if:ControlType()== 5-->
            CheckBox
            <!--/ko-->
            <!--ko if:ControlType()== 6-->
            EmptyString
            <!--/ko-->

        </div>
    </div>
</div>

<script id="reportCategoriesTemplate" type="text/html">
    <li class="dd-item dd-item-list" id="treeviewClickCharge">
        @*<div class="dd-handle-list"><i class="fa fa-bars"></i></div>
    <div class="dd-handle" data-bind="text:CategoryName">
    </div>*@
        <!-- ko template: { name: 'reportTemplate' , foreach: reports } -->
        <!-- /ko -->

    </li>

</script>

<script id="reportTemplate" type="text/html">
    <ol class="dd-list my-navigator" id="treeviewClickCharge">
        <li class="dd-item dd-item-list my-navigator">
            <div class="dd-handle-list my-navigator"><i class="fa fa-bars"></i></div>
            <a class="my-navigator"> <div class="dd-handle" style="cursor: pointer;" data-bind="text:Name, click:$root.SelectReportById, attr:{id:ReportId}"></div></a>
        </li>
    </ol>

</script>



