

<div class="row" id="supplierEditor" data-bind="visible: $root.isSupplierEditorVisible" style="display: none;margin-top: -31px;">
    <form class="form-horizontal" method="post" enctype="multipart/form-data" id="fileUploadForm">
        <div class="col-lg-12" data-bind="with:$root.addSupplier">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal-header">
                            <h4 class="modal-title">Supplier Detail</h4>
                        </div>
                        <br />
                        <div class="pull-left validationSummaryContainer">
                            <a class="validationSummaryLink" data-bind="visible: $root.supplierErrorList().length > 0, bootstrapPopover: { html: true, title: 'Please fix following errors', elementNode: 'validationSummaryPopupForSupplier', popoverId: 'validationSummaryPopoverBodyForSupplier' }" style="display: none">Validation Errors</a>
                            <div class="well well-small validationSummaryModal" id="validationSummaryPopupForSupplier" style="display: none">
                                <div id="validationSummaryPopoverBodyForSupplier">
                                    <ul data-bind="foreach: $root.supplierErrorList">
                                        <li>
                                            <a data-bind="click: $root.gotoElement.bind($data.element)"><span data-bind="text: name"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                    </div>
                    <div class="col-md-12">
                        <div class="col-lg-6">
                            <div class="form-group ">
                                <div class="col-lg-5 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Status" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtEmail" class="control-label text-right tooltip-float">Status</label>
                                </div>

                                <div class="col-lg-7">
                                    <input type="text" class="form-control" data-bind="value:status,disable:true" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-lg-5 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter First Name" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtFName" class="control-label text-right tooltip-float">First Name</label>
                                </div>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" id="txtFName" data-bind="value:name, validationTooltip: name, validationOnElement:name">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-lg-5 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Account Number" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="accNUmber" class="control-label text-right tooltip-float">Account Number</label>
                                </div>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" id="accNUmber" data-bind="value:accountNumber,disable:true">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-lg-5 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Company Type" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="cType" class="control-label text-right tooltip-float">Company Type</label>
                                </div>
                                <div class="col-lg-7">
                                    <select class="form-control" id="cType" data-bind="options: $root.companyTypes, optionsText: 'TypeName', optionsValue: 'TypeId',value:typeId"></select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-lg-5 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Flag" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="flag" class="control-label text-right tooltip-float">Flag</label>
                                </div>
                                <div class="col-lg-7">
                                    <select class="form-control" id="flag" data-bind="options: $root.flags, optionsText: 'FlagName', optionsValue: 'SectionFlagId',value:flagId"></select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-lg-5 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Price Flags" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="pFlag" class="control-label text-right tooltip-float">Prices Flags</label>
                                </div>
                                <div class="col-lg-7">
                                    <select class="form-control" id="pFlag" data-bind="options: $root.priceFlags, optionsText: 'FlagName', optionsValue: 'SectionFlagId',value:priceFlagId"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-3 text-right"></div>
                                <div class="col-lg-7">
                                    <div id="" class="">
                                        <img id="companyLogo" style="min-height:190px; width: 230px;" data-bind="attr: { src: logoSource }" />
                                    </div>

                                </div>
                                <div class="col-lg-1">
                                    <div class="fileUpload btn btn-primary">
                                        <span>....</span>
                                        <input type="file" class="upload" id="orgLogo" name="file" data-bind="files: { onLoaded: $root.supplierLogoLoadedCallback, fileFilter: 'image.*'}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-9">
                                    <label class="control-label text-right tooltip-float">Company logo for web segment</label>
                                </div>
                            </div>
                            <input type="hidden" id="supplierId" name="supplierId" data-bind="value:id" />
                        </div>

                        <hr />
                    </div>
                </div>
            </div>
            <div class="row" style="margin-right: 15px;margin-left: 15px;margin-top: 25px; ">
                <div class="main-box clearfix">
                    <div class="tabs-wrapper profile-tabs" style="border: 1px solid silver;box-shadow: 1px 1px 1px silver;">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#tab-CompanyDetail" data-toggle="tab">Company Detail</a></li>
                            <li><a href="#tab-AccountDetail" data-toggle="tab">Account Detail</a></li>
                            <li><a href="#tab-AddressDetail" data-toggle="tab">Address Detail</a></li>
                            <li><a href="#tab-ContactDetail" data-toggle="tab">Contact Detail</a></li>
                        </ul>
                        <div class="tab-content" style="margin-bottom: 0px;">
                            <div class="tab-pane fade in active" id="tab-CompanyDetail">
                                <div class="main-box-body clearfix">
                                    <div class="col-md-12 form-horizontal">
                                        <h3>Company Detail</h3>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="col-lg-3 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Url" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="url" class="control-label text-right tooltip-float">Url</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" id="url" data-bind="value:url" />
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <div class="col-lg-3 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Account Status" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="aStatus" class="control-label text-right tooltip-float">Account Status</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <select class="form-control" id="aStatus" data-bind="options: $root.accountStatusList, optionsText: 'Text', optionsValue: 'Id',value:accountStatusId"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-3 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Notes" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="notes" class="control-label text-right tooltip-float">Notes</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <textarea id="notes" class="form-control" rows="4" data-bind="value:notes,valueUpdate: 'keyup'"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-AccountDetail">
                                <div class="main-box-body clearfix">
                                    <div class="col-md-12 form-horizontal">
                                        <h3>Account Detail</h3>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="col-lg-6 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Credit Reference" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="cRef" class="control-label text-right tooltip-float">Credit Reference</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" id="cRef" class="form-control" data-bind="value:creditReference" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-6 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Default Nominal Code" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label class="control-label text-right tooltip-float">Default Nominal Code</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select class="form-control" data-bind="options: $root.nominalCodes, optionsText: 'Name', optionsValue: 'Id',value:defaultNominalCode"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-6 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Tax Reg. No" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label class="control-label text-right tooltip-float">TAX Reg. No</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" data-bind="value:vATRegNumber" />

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-6 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Tax Reg. Ref" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label class="control-label text-right tooltip-float">TAX Reg. Ref</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" data-bind="value:vATRegReference" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="col-lg-6 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Default Markup" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="dMArkup" class="control-label text-right tooltip-float">Default Markup</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select class="form-control" id="dMArkup" data-bind="options: $root.markups, optionsText: 'MarkUpName', optionsValue: 'MarkUpId',value:defaultMarkUpId"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-6 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Credit Limit" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="dMArkup" class="control-label text-right tooltip-float">Credit Limit <span data-bind="text:$root.currencySymbol"></span></label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" style="text-align: right"class="form-control" data-bind="numberValue:creditLimit" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-6 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Account Opened Date" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="dMArkup" class="control-label text-right tooltip-float">A/C Opened</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" data-bind="datepicker:accountOpenDate" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-6 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Default Manager" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label class="control-label text-right tooltip-float">Default Manager</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select class="form-control" data-bind="options: $root.systemUsers, optionsText: 'FullName', optionsValue: 'SystemUserId',value:accountManagerId"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-3 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Terms" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label class="control-label text-right tooltip-float">Terms</label>
                                            </div>
                                            <div class="col-md-6">
                                                <textarea class="form-control" rows="4" id="description" data-bind="valueUpdate: 'keyup',value:terms"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-AddressDetail" data-bind="with:addressInSupplier">
                                <div class="main-box-body clearfix">
                                    <div class="col-md-12 form-horizontal">
                                        <h3>Address Detail</h3>

                                        <div class="col-lg-5">

                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Address 1" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtAdd1" class="control-label text-right tooltip-float">Address 1</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtAdd1" data-bind="value: address1, validationTooltip: address1, validationOnElement:address1">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Address 2" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtAdd2" class="control-label text-right tooltip-float">Address 2</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtAdd2" data-bind="value: address2">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Address 3" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtAdd3" class="control-label text-right tooltip-float">Address 3</label>
                                                </div>

                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtAdd3" data-bind="value: address3">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter City" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtCity" class="control-label text-right tooltip-float">City</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtCity" data-bind="value: city, validationTooltip: city, validationOnElement:city">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select State" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtState" class="control-label text-right tooltip-float">State</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtState" data-bind="value: state">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Country" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtCountry" class="control-label text-right tooltip-float">Country</label>
                                                </div>

                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtCountry" data-bind="value: country">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Postal Code" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtPostalCode" class="control-label text-right tooltip-float">Postal Code</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtPostalCode" data-bind="value: postCode">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Email" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtEmail" class="control-label text-right tooltip-float">Email</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtEmail" data-bind="value: email, validationTooltip: email, validationOnElement:email">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Telephone 1" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtTel1" class="control-label text-right tooltip-float">Tel 1</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtTel1" data-bind="value: tel1">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Telephone 2" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtTel2" class="control-label text-right tooltip-float">Tel 2</label>
                                                </div>

                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtTel2" data-bind="value: tel2">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Extension 1" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtExt1" class="control-label text-right tooltip-float">Ext 1</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtExt1" data-bind="value: extension1">
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Extension 2" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtExt1" class="control-label text-right tooltip-float">Ext 2</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtExt2" data-bind="value: extension2">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">

                                                    <div class="bs-example-tooltips tooltip-float-width">

                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Reference" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>

                                                    </div>


                                                    <label for="txtReference" class="control-label text-right tooltip-float">Reference</label>

                                                </div>

                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtReference" data-bind="value: reference">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">

                                                    <div class="bs-example-tooltips tooltip-float-width">

                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Fax" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>

                                                    </div>


                                                    <label for="txtFax" class="control-label text-right tooltip-float">Fax</label>

                                                </div>

                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtFax" data-bind="value: fax">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">

                                                    <div class="bs-example-tooltips tooltip-float-width">

                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Url" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>

                                                    </div>


                                                    <label for="url" class="control-label text-right tooltip-float">URL</label>

                                                </div>

                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="url" data-bind="value: url">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter FAO" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtFAQ" class="control-label text-right tooltip-float">FAO</label>
                                                </div>

                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtFAQ" data-bind="value: fao">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div class="col-lg-3 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">

                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Address Name" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>

                                                </div>
                                                <label for="txtAddressName" class="control-label text-right tooltip-float">Address Name</label>
                                            </div>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control" id="txtAddressName" data-bind="value: addressName, validationTooltip: addressName, validationOnElement:addressName">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-ContactDetail" data-bind="with:companyContact">
                                <div class="main-box-body clearfix">
                                    <div class="col-md-12 form-horizontal">
                                        <h3>Contact Detail</h3>

                                        <div class="col-lg-5">
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">

                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter First Name" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>

                                                    </div>
                                                    <label for="txtAddressName" class="control-label text-right tooltip-float">First Name</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" data-bind="value:firstName,validationTooltip: firstName , validationOnElement:firstName" />
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Last Name" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtAdd1" class="control-label text-right tooltip-float">Last Name</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" data-bind="value:lastName" />
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Email" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtAdd2" class="control-label text-right tooltip-float">Email</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" data-bind="value:email, validationTooltip: email, validationTooltip: email, validationOnElement:email" />
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Mobile" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>

                                                    </div>
                                                    <label for="txtReference" class="control-label text-right tooltip-float">Mobile</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtReference" data-bind="value: mobile">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Home City" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtAdd3" class="control-label text-right tooltip-float">Home City</label>
                                                </div>

                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtAdd3" data-bind="value: homeCity">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Password" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtCity" class="control-label text-right tooltip-float">Password</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="password" class="form-control" data-bind="value:password, validationTooltip: password, validationTooltip: password, validationOnElement:password" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Home Telepone 1" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="htxtTel1" class="control-label text-right tooltip-float">Home Tel 1</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" id="htxtTel1" class="form-control" data-bind="value:homeTel1" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Home Telephone 2" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtTel2" class="control-label text-right tooltip-float">Home Tel 2</label>
                                                </div>

                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtTel2" data-bind="value: homeTel2">
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Home Extension 1" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtExt1" class="control-label text-right tooltip-float">Ext 1</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtExt1" data-bind="value: homeExtension1">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Home Extension 2" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtExt2" class="control-label text-right tooltip-float">Ext 2</label>
                                                </div>

                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtExt2" data-bind="value: homeExtension2">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Home State" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtCountry" class="control-label text-right tooltip-float">Home State</label>
                                                </div>

                                                <div class="col-lg-7">
                                                    <input type="text" class="form-control" id="txtCountry" data-bind="value: homeState">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="col-lg-5 text-right">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Confirm Password" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>
                                                    </div>
                                                    <label for="txtState" class="control-label text-right tooltip-float">Confirm Password</label>
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="password" class="form-control" data-bind="value:password1, validationTooltip: password1" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Select Secret Question" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtPostalCode" class="control-label text-right tooltip-float">Secret Question</label>
                                            </div>
                                            <div class="col-lg-7">
                                                <select class="form-control" data-bind="options: $root.registrationQuestions, optionsText: 'Question', optionsValue: 'Question',value:secretQuestion"></select>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Secret Answer" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtPostalCode" class="control-label text-right tooltip-float">Secret Answer</label>
                                            </div>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control" data-bind="value:secretAnswer" />
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Choose Mail Subscription" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>

                                                </div>
                                                <label for="txtReference" class="control-label text-right tooltip-float">Mail Subscription</label>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="checkbox-nice">
                                                    <input type="checkbox" data-bind="checked: isEmailSubscription" id="isEmailSubscription">
                                                    <label for="isEmailSubscription"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Choose Newsletter Subscription" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>

                                                </div>
                                                <label for="txtReference" class="control-label text-right tooltip-float">Newsletters Subscription</label>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="checkbox-nice">
                                                    <input type="checkbox" data-bind="checked: isNewsLetterSubscription" id="isNewsLetterSubscription">
                                                    <label for="isNewsLetterSubscription"></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Home Address" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>

                                                </div>
                                                <label for="hAddress" class="control-label text-right tooltip-float">Home Address</label>
                                            </div>
                                            <div class="col-md-6">
                                                <textarea class="form-control" rows="4" id="hAddress" data-bind="valueUpdate: 'keyup',value:homeAddress1"></textarea>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-content="Enter Notes" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>

                                                </div>
                                                <label for="hAddress" class="control-label text-right tooltip-float">Notes</label>
                                            </div>
                                            <div class="col-md-6">
                                                <textarea class="form-control" rows="4" id="notes" data-bind="valueUpdate: 'keyup',value:contactNotes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div>
                <div class="pull-right top-page-ui" style="margin-bottom: 20px;margin-right: 13px">
                    <button class="btn  btn-info" id="saveBtn" data-bind="click:$root.onSaveSupplier">Save</button>
                    <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeSupplierEditor">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
@**Error Template*@
<script id="itemErrorTemplate" type="text/html">
    <tr>
        <td><a data-bind="text: name,click: $root.selectTab" class="errorMsgText"></a></td>
    </tr>
</script>