<wpdisplay file=header.html>
<table class="container" cellpadding="<wpdisplay disp=wp.container.border.width>" cellspacing="0" align="center">
  <tr>
    <td>
      <!-- the main content table -->
      <table class="containercell" cellspacing="<wpdisplay disp=wp.container.cellSpacing>" cellpadding="<wpdisplay disp=wp.container.cellPadding>">
        <tr>
          <td class="title">
            <!-- page title -->MPCCCCCCCCCCCCCCCC
            <h1><wpdisplay msg=resultC.name></h1>
            <!--  end page title -->
          </td>
        </tr>
        <tr>
          <td valign="top" align="left"><wpdisplay item=banner default=""></td>
        </tr>
<wpdisplay file=tableFoot.html default="</table></td></tr></table>">
<wpdisplay file=footer.html default="</td></tr></table></td></tr></table></td></tr></table></body>">
</html>